<span *ngIf="invalidGame;else result">{{ 'invalidDrawResult' | translate}}</span>

<ng-template #result>
    <div class="col-md-12">
        <div [ngClass]="className" class="row" *ngIf="pokerResult">
            <div class="col pl-0">
                <span class="badge blue">{{ 'poker.player' | translate }}</span>
                <span class="suit">
                    <ng-container *ngIf="aiDetect ? pokerResult?.player_detect.length : pokerResult?.player.length">
                        {{ calcPoint(aiDetect ? pokerResult?.player_detect : pokerResult?.player) }}
                        {{ 'poker.point'|translate }}
                        <div *ngFor="let item of aiDetect ? pokerResult?.player_detect : pokerResult?.player"
                            class="card">
                            <div class="poker d-inline-block" [ngClass]="item.suit"></div>
                            <span>{{ numToStr(item.number) }}</span>
                        </div>
                    </ng-container>

                </span>
            </div>
            <div *ngIf="showItemType" class="col my-auto text-left pl-0" [innerHTML]="itemTypeStr">
            </div>
            <div class="col pl-0">
                <span class="badge red">{{ 'poker.banker' | translate }}</span>
                <span class="suit">
                    <ng-container *ngIf="aiDetect ? pokerResult?.banker_detect.length : pokerResult?.banker.length">
                        {{ calcPoint(aiDetect ? pokerResult?.banker_detect : pokerResult?.banker) }}
                        {{ 'poker.point'|translate }}
                        <div *ngFor="let item of aiDetect ? pokerResult?.banker_detect : pokerResult?.banker"
                            class="card">
                            <div class="poker d-inline-block" [ngClass]="item.suit"></div>
                            <span>{{ numToStr(item.number) }}</span>
                        </div>
                    </ng-container>
                </span>
            </div>
        </div>
    </div>
</ng-template>