<form [formGroup]="form">
    <div [formArrayName]="FORM_CONTROL_NAME" class="d-flex">
        <ng-container *ngFor="let item of getFormControls();let i=index">
            <div [formGroupName]="i" class="col-md-3 text-center">
                <label>{{ getTranslatedGameTypeByID(getFormArryCtrl(i, 'game_types_id').value) }}</label>
                <div>
                    <!-- <label class="switch switch-sm switch-3d switch-primary"> -->
                    <input formControlName="status" type="checkbox">
                    <!-- <span class="switch-slider" data-checked="開" data-unchecked="關"></span> -->
                    <!-- </label> -->
                </div>
            </div>
        </ng-container>
    </div>
</form>