<div class="animated fadeIn">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong>{{ 'common.edit' | translate }}</strong>
            </div>
            <div class="card-body">
                <form [formGroup]="myForm" class="form-horizontal">

                    <div class="form-group row">
                        <label class="col-md-4 text-sm-right col-form-label">
                            {{ 'login.form.account' | translate }}</label>
                        <div class="col-md-4">
                            <input formControlName="account" type="text" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 text-sm-right col-form-label">
                            {{ 'login.form.username' | translate }}</label>
                        <div class="col-md-4">
                            <input
                                [ngClass]="{'is-invalid': myForm.controls['name'].errors && myForm.controls['name'].touched}"
                                formControlName="name" type="text" class="form-control"
                                placeholder="{{ 'common.inputName' | translate }}">
                            <div class="invalid-feedback">
                                {{ 'common.required' | translate }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 text-sm-right col-form-label">
                            {{ 'login.form.password' | translate }}</label>
                        <div class="col-md-4">
                            <input
                                [ngClass]="{'is-invalid': myForm.controls['password'].errors && myForm.controls['password'].touched}"
                                formControlName="password" type="password" class="form-control"
                                placeholder="{{ 'authority.inputPassword' | translate }}">
                            <div class="invalid-feedback">
                                <ng-container *ngIf="myForm.controls['password'].hasError('required')">
                                    {{ 'common.required' | translate }}
                                </ng-container>
                                <ng-container *ngIf="myForm.controls['password'].hasError('minlength')">
                                    {{ 'login.form.lengthMustBe' | translate: { length: 6 } }}
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 text-sm-right col-form-label">
                            {{ 'login.form.checkPassword' | translate }}</label>
                        <div class="col-md-4">
                            <input
                                [ngClass]="{'is-invalid': myForm.controls['re_password'].value != myForm.controls['password'].value && myForm.controls['re_password'].touched}"
                                formControlName="re_password" type="password" class="form-control"
                                placeholder="{{ 'login.form.checkPasswordPlaceholder' | translate }}">
                            <div class="invalid-feedback">
                                {{ 'common.passwordInconsistent' | translate }}
                            </div>
                        </div>
                    </div>


                    <div class="form-group row mt-3">
                        <label class="col-md-4 text-sm-right col-form-label" for="date-input">
                            {{ 'common.status' | translate }}
                            ({{ 'common.inActive' | translate }}/{{ 'common.active' | translate }})
                        </label>
                        <div class="col-md-4">
                            <label class="switch switch-3d switch-primary">
                                <input formControlName="status" class="switch-input" type="checkbox">
                                <span class="switch-slider"></span>
                            </label>
                        </div>
                    </div>

                </form>
            </div>
            <div class="card-footer">
                <button (click)="submitForm(myForm.value)" type="submit" class="btn btn-sm btn-golden"><i
                        class="fa fa-dot-circle-o"></i>
                    {{ 'common.confirm' | translate }}</button>
                <button (click)="cancel()" type="reset" class="btn btn-sm btn-danger ml-1"><i class="fa fa-ban"></i>
                    {{ 'common.cancel' | translate }}</button>
            </div>
        </div>
    </div>
</div>