<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>其他設置</strong>
                </div>
                <div class="card-body">
                    <form [formGroup]="myForm" class="form-horizontal">

                        <div class="form-group row">
                            <label class="col-md-2 text-sm-right col-form-label">洗碼量(%)</label>
                            <div class="col-md-8">
                                <input
                                    [ngClass]="{'is-invalid': myForm.controls['wash_code_amount'].hasError('required') && myForm.controls['wash_code_amount'].touched}"
                                    [formControl]="myForm.controls['wash_code_amount']" type="text" class="form-control"
                                    placeholder="輸入名稱">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 text-sm-right col-form-label">開獎秒數</label>
                            <div class="col-md-8">
                                <input
                                    [ngClass]="{'is-invalid': myForm.controls['draw_seconds'].hasError('required') && myForm.controls['draw_seconds'].touched}"
                                    [formControl]="myForm.controls['draw_seconds']" type="text" class="form-control"
                                    placeholder="輸入名稱">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 text-sm-right col-form-label">開獎結果</label>
                            <div class="col-md-8">
                                <input
                                    [ngClass]="{'is-invalid': myForm.controls['draw_result'].hasError('required') && myForm.controls['draw_result'].touched}"
                                    [formControl]="myForm.controls['draw_result']" type="text" class="form-control"
                                    placeholder="輸入名稱">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="card-footer">
                    <button (click)="submit(myForm.value)" type="submit" class="btn btn-sm btn-golden"><i
                            class="fa fa-dot-circle-o"></i>
                        確定</button>
                    <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> 取消</button>
                </div>
            </div>
        </div>
    </div>
</div>