<form *ngIf="!readonly" [formGroup]="form">
    <input #commission list="range" class="form-control" type="number" formControlName="commission"
        [ngClass]="{'is-invalid': isFormCtrlInvalid(form.get('commission'))}"
        placeholder="{{ 'pleaseInputNumber' | translate }}" (mousedown)="commission.value=''"
        (blur)="commission.value = form.get('commission').value">
    <datalist id="range">
        <option value="0">0</option>
        <option [value]="item" *ngFor="let item of range" [disabled]="item > parentValue">
            {{ item }}
        </option>
    </datalist>
    <div class="text-danger my-auto" *ngIf="isFormCtrlInvalid(form.get('commission'))">
        {{ 'manageAgent.form.rangeMustBe' | translate }} 0% ~ {{ MAX_VALUE }}%
    </div>
</form>

<span *ngIf="readonly">{{ currentValue }}</span>