<div class="animated fadeIn">
    <div class="card">
        <div class="card-header my-auto">
            <label class="col-form-label">
                <i class="icon-menu"></i> 線上付款
            </label>
        </div>
        <div class="card-body">
            <div class="col-md-6 mx-auto text-center my-5">
                <ng-container *ngIf="!result">
                    <img class="mb-3" src="./assets/img/brand/credit.png" style="max-width: 160px;">
                    <input class="form-control w-auto mx-auto" type="number" placeholder="請輸入付款金額"
                        [(ngModel)]="payAmount">
                    <button class="btn btn-primary px-5 mt-3" [disabled]="loading" (click)="submit()">線上付款</button>
                    <app-spinner *ngIf="loading"></app-spinner>
                </ng-container>

                <ng-container *ngIf="result">
                    <ng-container *ngIf="success">
                        <img src="./assets/img/brand/done.png">
                        <h1>付款成功</h1>

                        <div class="box">
                            <div>
                                <div class="mb-2">訂單編號</div>

                                <span class="text-muted">{{ result?.lidm }}</span>
                            </div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="!success">
                        <img src="./assets/img/brand/cancel.png">
                        <h1>付款失敗</h1>
                    </ng-container>

                    <button class="btn btn-primary px-5 mt-3" (click)="reset()">返回</button>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<div class="animated fadeIn">
    <div class="card">
        <div class="card-header my-auto">
            <label class="col-form-label">
                <i class="icon-menu"></i> 付款紀錄
            </label>
        </div>
        <div class="card-body">
            <div class="table-responsive my-3">
                <table mat-table [dataSource]="dataSource" class="col-md-12 table-striped" matSort
                    matSortActive="created_at" matSortDirection="desc">

                    <ng-container matColumnDef="created_at">
                        <th mat-header-cell *matHeaderCellDef> 時間 </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.created_at | date:'yyyy-MM-dd HH:mm'}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="index">
                        <th mat-header-cell *matHeaderCellDef>
                            {{ 'common.index' | translate }}
                        </th>
                        <td class="text-center" *matCellDef="let element;let i=index">{{ i+1 }}</td>
                    </ng-container>

                    <ng-container matColumnDef="order_number">
                        <th mat-header-cell *matHeaderCellDef>
                            訂單號碼
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.order_number }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="pay_amount">
                        <th mat-header-cell *matHeaderCellDef>
                            金額
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.pay_amount }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="is_payment">
                        <th mat-header-cell *matHeaderCellDef>
                            付款狀態
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span *ngIf="element.is_payment">已付款</span>
                            <span *ngIf="!element.is_payment" class="text-danger">未付款</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="payment_at">
                        <th mat-header-cell *matHeaderCellDef>
                            付款時間
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.payment_at | date:'yyyy-MM-dd HH:mm'}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>
                            訂單狀態
                        </th>
                        <td mat-cell *matCellDef="let element"
                            [ngClass]="{'text-danger': element.status==OrderStatus.Failed}">
                            {{ element.status | enumValueToEnumKey: OrderStatusText }}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div *ngIf="loaded && !dataSource.filteredData.length" class="text-center m-5">
                    {{ 'common.noData' | translate }}
                </div>
                <app-spinner *ngIf="!loaded"></app-spinner>
            </div>
        </div>
    </div>
</div>


<form #payment [action]="catUrl+'/api/v1/ccat-payment'" method="POST" hidden>
    <input name="cust_order_no" [(ngModel)]="customOrderNo">
    <input name="order_amount" [(ngModel)]="payAmount">
    <input name="order_detail" [value]="'線上付款'">
    <input name="product_name" [value]="'線上付款'">
    <input name="payer_name" [value]="'線上付款'">
    <input name="payer_address" [value]="'線上付款'">
    <input name="payer_mobile" [value]="'0912345678'">
    <input name="payer_email" [value]="'service@example.com'">
    <input name="success_url" [value]="returnUrl">
</form>