<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row px-3">
                        <strong class="my-auto">
                            <span *ngIf="loginUser?.identity==UserRole.admin">{{ 'nav.cloneAgentAdmin' | translate }}</span>
                            <span *ngIf="loginUser?.identity!=UserRole.admin">{{ 'nav.cloneAgent' | translate }}</span>
                        </strong>
                    </div>

                </div>
                <div class="card-body">
                    <form [formGroup]="myForm" class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-sm-right">
                                {{ 'manageAgent.name' | translate }}</label>
                            <div class="col-md-4">
                                <input
                                    [ngClass]="{'is-invalid': myForm.controls['real_name'].hasError('required') && myForm.controls['real_name'].touched}"
                                    [formControl]="myForm.controls['real_name']" type="text" class="form-control"
                                    placeholder="{{ 'common.inputName' | translate }}">
                                <div class="invalid-feedback">
                                    {{ 'common.required' | translate }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-sm-right">
                                {{ 'manageAgent.account' | translate }}</label>
                            <div class="col-md-4 my-auto">
                                <input
                                    [ngClass]="{'is-invalid': myForm.controls['name'].errors && myForm.controls['name'].touched}"
                                    [formControl]="myForm.controls['name']" type="text" class="form-control"
                                    placeholder="{{ 'login.form.englishAndNumbers' | translate }}">
                                <div class="invalid-feedback">
                                    <ng-container *ngIf="myForm.controls['name'].hasError('required')">
                                        {{ 'common.required' | translate }}
                                    </ng-container>
                                    <ng-container *ngIf="myForm.controls['name'].hasError('minlength')">
                                        {{ 'login.form.lengthMustBe' | translate: { length: 6 } }}
                                    </ng-container>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-sm-right">
                                {{ 'manageAgent.password' | translate }}</label>
                            <div class="form-group col-sm-4">
                                <input
                                    [ngClass]="{'is-invalid': myForm.controls['password'].errors && myForm.controls['password'].touched}"
                                    [formControl]="myForm.controls['password']" type="password" class="form-control"
                                    placeholder="{{ 'inputPassword' | translate }}">
                                <!-- <span class="text-danger">
                                    {{ 'manageAgent.form.editWithin24Hours' | translate }}
                                </span> -->
                                <span class="text-danger" *ngIf="myForm.controls['password'].hasError('pattern')">
                                    {{ 'login.form.englishAndNumbers' | translate }}
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-sm-right">
                                {{ 'login.form.checkPassword' | translate }}</label>
                            <div class="form-group col-sm-4">
                                <input
                                    [ngClass]="{'is-invalid': myForm.controls['re_password'].value!=myForm.controls['password'].value && myForm.controls['re_password'].touched}"
                                    [formControl]="myForm.controls['re_password']" type="password" class="form-control"
                                    placeholder="{{ 'login.form.checkPasswordPlaceholder' | translate }}">
                                <div class="invalid-feedback">
                                    {{ 'common.passwordInconsistent' | translate }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 text-sm-right col-form-label" for="date-input">{{
                                'manageAgent.form.searchingAuthority' | translate }}</label>
                            <div class="col-md-4 my-auto">
                                <label class="radio-inline mx-1">
                                    <input [checked]="getChecked(AgentAuthority.OperationItemReportRecordList)"
                                        [value]="AgentAuthority.OperationItemReportRecordList" type="checkbox"
                                        (change)="onCheckboxChange($event)"> {{ 'nav.reportRecordList' | translate }}
                                </label>

                                <label class="radio-inline mx-1">
                                    <input [checked]="getChecked(AgentAuthority.OperationItemDonateList)"
                                        [value]="AgentAuthority.OperationItemDonateList" type="checkbox"
                                        (change)="onCheckboxChange($event)"> {{ 'nav.donateRecordList' | translate }}
                                </label>

                                <label class="radio-inline mx-1">
                                    <input [checked]="getChecked(AgentAuthority.OperationItemcalcItemResultList)"
                                        [value]="AgentAuthority.OperationItemcalcItemResultList" type="checkbox"
                                        (change)="onCheckboxChange($event)"> {{ 'nav.gameRecordList' | translate }}
                                </label>

                                <label class="radio-inline mx-1">
                                    <input [checked]="getChecked(AgentAuthority.OperationItemDrawSettings)"
                                        [value]="AgentAuthority.OperationItemDrawSettings" type="checkbox"
                                        (change)="onCheckboxChange($event)"> {{ 'nav.drawSettings' | translate }}
                                </label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-sm-right">
                                {{ 'form.accountStatus' | translate }}</label>
                            <div class="form-group col-sm-4">
                                <label class="switch switch-3d switch-primary">
                                    <input formControlName="status" class="switch-input" type="checkbox">
                                    <span class="switch-slider"></span>
                                </label>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="card-footer">
                    <button (click)="submitForm(myForm.value)" type="submit" class="btn btn-sm btn-golden"><i
                            class="fa fa-dot-circle-o"></i>
                        {{ 'common.confirm' | translate }}</button>
                    <button (click)="cancel()" type="reset" class="btn btn-sm btn-danger ml-1"><i class="fa fa-ban"></i>
                        {{ 'common.cancel' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>