<div class="col-md-12">
    <div class="row">
        <div class="col-md-10 col-sm-12 my-auto text-md-left">
            <label class="mr-3 my-auto">搜尋日期</label>
            <input class="form-control col-12 col-md-3 col-lg-3 d-inline mb-2 mr-1" type="date" [(ngModel)]="startDate"
                (change)="onSearched()">
            <input class="form-control col-12 col-md-3 col-lg-3 d-inline mb-2 mr-1" type="date" [(ngModel)]="endDate"
                (change)="onSearched()">
        </div>
    </div>
</div>
<div class="my-2">
    <div class="row my-auto">
        <div class="col-md-10 text-center text-md-left mb-2">
            <div class="btn-group">
                <button class="btn btn-sm btn-success ml-md-1" (click)="getToday()">
                    今日
                </button>
                <button class="btn btn-sm btn-primary ml-md-1" (click)="getYesterday()">
                    昨日
                </button>
                <button class="btn btn-sm btn-secondary ml-md-1" (click)="getThisWeek()">
                    本週
                </button>
                <button class="btn btn-sm btn-info ml-md-1" (click)="getLastWeek()">
                    上週
                </button>
                <button class="btn btn-sm btn-warning ml-md-1" (click)="getThisMonth()">
                    本月
                </button>
                <button class="btn btn-sm btn-dark ml-md-1" (click)="getLastMonth()">
                    上月
                </button>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 table-responsive">
    <table mat-table [dataSource]="dataSource" class="col-md-12 table-striped">

        <ng-container matColumnDef="updated_at">
            <th mat-header-cell *matHeaderCellDef> 時間 </th>
            <td mat-cell *matCellDef="let element">
                {{element.updated_at | date:'yyyy-MM-dd HH:mm'}}
            </td>
        </ng-container>

        <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef>
                {{ 'common.index' | translate }}
            </th>
            <td class="text-center" *matCellDef="let element;let i=index">{{ i+1 }}</td>
        </ng-container>

        <ng-container matColumnDef="game_type">
            <th mat-header-cell *matHeaderCellDef>
                遊戲
            </th>
            <td mat-cell *matCellDef="let element">
                {{ ChangeLogColumnText[element.column_name] }}
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
                操作人
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.user?.name }}/{{ element.user?.real_name }}
            </td>
        </ng-container>

        <ng-container matColumnDef="events">
            <th mat-header-cell *matHeaderCellDef>
                操作
            </th>
            <td mat-cell *matCellDef="let element">
                <span>{{ getEventText(element) }}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="game_result">
            <th mat-header-cell *matHeaderCellDef>
                輸贏金額
                <br>
                <span [ngClass]="changeColor(totalGameResult)"> {{ totalGameResult }} </span>
            </th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="element.column_name==ChangeLogColumn.AutoBet && element.new_value==Status.InActive"
                    [ngClass]="changeColor(element.game_result_amount)">
                    {{ element.game_result_amount }}
                </span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div *ngIf="loaded && !dataSource.data.length" class="text-center m-5">
        {{ 'common.noData' | translate }}
    </div>
    <app-spinner *ngIf="!loaded"></app-spinner>
</div>