:host::ng-deep video {
    width: 100%;
    height: auto;
    /* max-height: 260px; */
}

.webcam {
    position: relative;
}

.grid {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: url('assets/img/uploads/baccarat-grid.png') no-repeat center center;
    background-size: 90%;
    pointer-events: none;
    /* max-height: 260px; */
}

.external {
    position: absolute;
    z-index: 999;
    opacity: 0.3;
    transition: 0.3s;
}

.external:hover {
    opacity: 1;
}