<div class="mx-auto">
    <h2 *ngIf="showWebcam && !deviceId" class="text-center">
        <b>未偵測到設備</b>
    </h2>
    <div *ngIf="showWebcam" class="webcam">
        <a *ngIf="!external" class="btn btn-link external" [routerLink]="['/dealers/external-webcam']"
            routerLinkActive="router-link-active" target="_blank">
            <i class="fa fa-external-link fa-lg"></i>
        </a>
        <div *ngIf="deviceId" class="grid"></div>
        <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
            [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions"
            [imageQuality]="1" (cameraSwitched)="cameraWasSwitched($event)" (initError)="handleInitError($event)">
        </webcam>
    </div>
    <!-- <br />
    <button class="actionBtn" (click)="triggerSnapshot();">Take A Snapshot</button>
    <button class="actionBtn" (click)="toggleWebcam();">Toggle Webcam</button>
    <br />
    <button class="actionBtn" (click)="showNextWebcam(true);" [disabled]="!multipleWebcamsAvailable">Next
        Webcam</button>
    <input id="cameraSwitchCheckbox" type="checkbox" [(ngModel)]="allowCameraSwitch"><label
        for="cameraSwitchCheckbox">Allow Camera Switch</label>
    <br />
    DeviceId: <input id="deviceId" type="text" [(ngModel)]="deviceId" style="width: 500px">
    <button (click)="showNextWebcam(deviceId);">Activate</button> -->
</div>
<!-- <div class="snapshot" *ngIf="webcamImage">
    <h2>Nice one!</h2>
    <img [src]="webcamImage.imageAsDataUrl" />
</div>

<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
    <li>{{error | json}}</li>
</ul> -->