<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row px-3">
                        <strong>{{ 'nav.botSettings' | translate }}</strong>
                        <div class="ml-auto">
                            <button (click)="submit(myForm.value)" type="submit" class="btn btn-sm btn-golden">
                                <i class="fa fa-dot-circle-o"></i>{{ 'common.confirm' | translate }}
                            </button>
                            <button (click)="cancel()" type="reset" class="btn btn-sm btn-danger ml-1">
                                <i class="fa fa-ban"></i>{{ 'common.cancel' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-md-12 mx-auto">
                        <form [formGroup]="myForm" class="row">
                            <div class="col form-group">
                                <label class="col-form-label text-md-right">{{ 'gameType' | translate }}</label>
                                <div class="my-auto">
                                    <select formControlName="game_types_id" class="form-control w-auto">
                                        <option [value]="item.id" [disabled]="i!=0"
                                            *ngFor="let item of gameTypes;let i = index">
                                            {{ getTranslatedGameType(item.en_name) }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col form-group">
                                <label class="col-form-label text-md-right">
                                    {{ 'botSettings.timePeriod' | translate }}
                                </label>
                                <div class="row px-3">
                                    <select formControlName="start_time" class="form-control w-auto"
                                        [ngClass]="{'is-invalid': myForm.get('start_time').errors && myForm.get('start_time').touched}"
                                        (change)="onStartTimeChange()">
                                        <option value="" disabled hidden>{{ 'botSettings.pleaseSelect' | translate }}
                                        </option>
                                        <option [value]="item" *ngFor="let item of period">
                                            {{ item }}
                                        </option>
                                    </select>
                                    <span class="mx-1 my-auto">～</span>
                                    <select formControlName="end_time" class="form-control w-auto"
                                        [ngClass]="{'is-invalid': myForm.get('end_time').errors && myForm.get('end_time').touched}">
                                        <option value="" disabled hidden>{{ 'botSettings.pleaseSelect' | translate }}
                                        </option>
                                        <option [value]="item" *ngFor="let item of period">
                                            {{ item }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col form-group">
                                <label class="col-form-label text-md-right">
                                    {{ 'botSettings.botNumber' | translate }}
                                </label>
                                <input
                                    [ngClass]="{'is-invalid': myForm.controls['count_of_member'].errors && myForm.controls['count_of_member'].touched}"
                                    formControlName="count_of_member" type="text" class="form-control w-auto"
                                    placeholder="{{ 'botSettings.pleaseInput' | translate }}">
                            </div>

                            <!-- <div *ngIf="!id" class="col form-group">
                                <label class="col-form-label text-md-right">{{ 'botSettings.botNumber' | translate
                                    }}</label>
                                <input [(ngModel)]="botNumber" [ngModelOptions]="{standalone: true}" type="text"
                                    class="form-control w-auto"
                                    placeholder="{{ 'botSettings.pleaseInput' | translate }}">
                            </div> -->

                            <div class="col form-group">
                                <label class="col-form-label text-md-right">{{ 'common.status' | translate }}</label>
                                <div>
                                    <label class="switch switch-3d switch-primary">
                                        <input formControlName="status" class="switch-input" type="checkbox">
                                        <span class="switch-slider"></span>
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- <div [ngStyle]="{'display': id ? '' : 'none'}">
                        <hr>
                        <div class="col-md-12 mb-3">
                            <div class="px-3 row">
                                <span class="my-auto">{{ 'botSettings.botNumber' | translate }} :
                                    {{ dataSource.data.length }}</span>
                                <div class="ml-auto row">
                                    <input [(ngModel)]="botNumber" type="text" class="form-control col"
                                        placeholder="{{ 'botSettings.pleaseInput' | translate }}">

                                    <app-loading class="mx-3" *ngIf="isAdding"></app-loading>
                                    <button *ngIf="!isAdding" class="btn btn-golden ml-3" (click)="addBots()">{{
                                        'common.add' | translate }}</button>

                                    <button class="btn btn-danger ml-3" (click)="deleteAllBots()">{{
                                        'botSettings.deleteAll' | translate }}</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 mb-3">
                            <table class="col-md-12 table-striped" mat-table matSort [dataSource]="dataSource"
                                matSortActive="index" matSortDirection="asc">

                                <ng-container matColumnDef="index">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        {{ 'common.index' | translate }}
                                    </th>
                                    <td class="text-center" *matCellDef="let element">{{ element.index }}</td>
                                </ng-container>

                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        {{ 'manageAgent.account' | translate }}
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span *ngIf="!element.edit">{{ element.name }}</span>
                                        <ng-container *ngIf="element.edit">
                                            <div class="input-group">
                                                <input [(ngModel)]="element.name" class="form-control">
                                                <div class="input-group-append">
                                                    <button class="btn btn-sm btn-success" (click)="onEdit(element)">
                                                        <i class="cui-check icons"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="function">
                                    <th mat-header-cell *matHeaderCellDef class="text-center">
                                        {{ 'common.edit' | translate }}/{{ 'common.delete' | translate }} </th>
                                    <td mat-cell *matCellDef="let element" class="text-center">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <button class="btn btn-sm d-flex align-items-center btn-golden ml-1"
                                                (click)="onEdit(element)">
                                                <i class="cui-note icons font-l d-block"></i>
                                                {{ 'common.edit' | translate }}
                                            </button>
                                            <button class="btn btn-sm d-flex align-items-center btn-danger ml-1"
                                                type="button" (click)="deleteBot(element.id)"><i
                                                    class="cui-trash icons font-l d-block"></i>
                                                {{ 'common.delete' | translate }}
                                            </button>
                                        </div>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                            </table>
                            <h4 *ngIf="isFetched && !dataSource.data.length" class="text-center my-5">
                                {{ 'common.noData' | translate }}</h4>
                            <mat-paginator [pageSize]="50" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                            </mat-paginator>
                        </div>
                    </div> -->
                </div>
                <div class="card-footer">
                    <button (click)="submit(myForm.value)" type="submit" class="btn btn-sm btn-golden">
                        <i class="fa fa-dot-circle-o"></i>{{ 'common.confirm' | translate }}
                    </button>
                    <button (click)="cancel()" type="reset" class="btn btn-sm btn-danger ml-1">
                        <i class="fa fa-ban"></i>{{ 'common.cancel' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>