img {
    max-width: 45px;
    width: 42%;
}

table {
    background-color: #ffe8a7b5;
}

table td {
    font-weight: bolder;
    text-align: center;
}

table td span {
    font-size: 25px;
}

table td div:nth-child(2) {
    color: #f86c6b;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0) !important;
}

.table-striped tbody tr:hover {
    background-color: #ffe8a700 !important;
}