<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <!-- <div class="card-header">
                    <div class="row px-3">
                        <strong class="my-auto">{{ 'nav.myAccount' | translate }}</strong>
                        <span class="ml-1">
                            ({{ 'manageAgent.lastLogin' | translate }}{{ 'manageAgent.date' | translate }}:
                            {{ lastLoginAt }})
                        </span>
                    </div>

                </div> -->
                <div class="card-body">
                    <form [formGroup]="myForm" class="form-horizontal">
                        <!-- <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">
                                {{ 'login.form.username' | translate }}
                            </label>
                            <div class="col-sm-3">
                                <input
                                    [ngClass]="{'is-invalid': myForm.controls['real_name'].hasError('required') && myForm.controls['real_name'].touched}"
                                    [formControl]="myForm.controls['real_name']" type="text" class="form-control"
                                    placeholder="輸入名稱">
                                <div class="invalid-feedback">
                                    {{ 'common.required' | translate }}
                                </div>
                            </div>
                        </div> -->

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right" for="text-input">
                                登入帳號
                            </label>
                            <label class="col-md-3 col-form-label" for="text-input">
                                {{ myForm.controls['name'].value }}</label>
                        </div>

                        <div *ngIf="userLogin?.is_first_change_password" class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">
                                舊密碼
                            </label>
                            <div class="form-group col-md-3">
                                <input
                                    [ngClass]="{'is-invalid': myForm.controls['old_password'].errors && myForm.controls['old_password'].touched}"
                                    [formControl]="myForm.controls['old_password']" type="password" class="form-control"
                                    placeholder="請填寫舊密碼">
                                <div class="invalid-feedback">
                                    {{ 'login.form.lengthMustBe' | translate: { length: 6 } }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">
                                新密碼
                            </label>
                            <div class="form-group col-sm-3">
                                <input
                                    [ngClass]="{'is-invalid': myForm.controls['password'].errors && myForm.controls['password'].touched}"
                                    [formControl]="myForm.controls['password']" type="password" class="form-control"
                                    placeholder="{{ 'login.form.password' | translate }}">
                                <div class="invalid-feedback">
                                    {{ 'login.form.lengthMustBe' | translate: { length: 6 } }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">
                                {{ 'login.form.checkPassword' | translate }}</label>
                            <div class="form-group col-sm-3">
                                <input
                                    [ngClass]="{'is-invalid': myForm.controls['re_password'].value!=myForm.controls['password'].value && myForm.controls['re_password'].touched}"
                                    [formControl]="myForm.controls['re_password']" type="password" class="form-control"
                                    placeholder="{{ 'login.form.checkPasswordPlaceholder' | translate }}">
                                <div class="invalid-feedback">
                                    {{ 'common.passwordInconsistent' | translate }}
                                </div>
                            </div>
                        </div>

                        <ng-container *ngIf="isAgent && !isClone">
                            <!-- <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right">
                                    {{ 'game.defaultBalance' | translate }}</label>
                                <label class="col-md-3 col-form-label" for="text-input">
                                    {{ userWallet?.sic_bo_credit }}
                                </label>
                            </div> -->

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right">
                                    {{ 'game.availableBalance' | translate }}</label>
                                <label class="col-md-3 col-form-label text-golden" for="text-input">
                                    {{ userWallet?.sic_bo_wallet }}
                                </label>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right">
                                    洗碼(%)</label>
                                <label class="col-md-3 col-form-label" for="text-input">
                                    {{ myForm.controls['wash_code_commission_percent'].value }}</label>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right">
                                    佔成(%)</label>
                                <label class="col-md-3 col-form-label" for="text-input">
                                    {{ myForm.controls['revenue_share'].value }}</label>
                            </div>
                        </ng-container>

                    </form>
                    <!-- <ng-container *ngIf="isAgent">
                        <app-single-bet-panel [readonly]="true" [self]="user"></app-single-bet-panel>
                    </ng-container> -->
                </div>
                <div class="card-footer">
                    <button (click)="submitForm(myForm.getRawValue())" type="submit" class="btn btn-sm btn-golden"><i
                            class="fa fa-dot-circle-o"></i>
                        {{ 'common.confirm' | translate }}</button>
                    <button (click)="cancel()" type="reset" class="btn btn-sm btn-danger ml-1"><i class="fa fa-ban"></i>
                        {{ 'common.cancel' | translate }}</button>
                    <button (click)="logout()" class="btn btn-sm ml-1 px-3 btn-secondary pull-right">
                        {{ 'login.action.logout' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>