<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row px-3">
                        <strong>{{ 'nav.botAccounts' | translate }}</strong>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-md-12 mb-3">
                        <div class="mt-3 px-3 row">
                            <b class="my-auto">
                                {{ 'botSettings.botNumber' | translate }} : {{ dataSource.data.length }}
                            </b>
                            <div class="ml-auto row">
                                <input #botName type="text" class="form-control col"
                                    placeholder="{{ 'common.inputName' | translate }}">

                                <button class="btn btn-golden ml-3" (click)="addBots(botName.value);botName.value=''">
                                    {{ 'common.add' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 mb-3 table-responsive">
                        <table class="col-md-12 table-striped" mat-table matSort [dataSource]="dataSource"
                            matSortActive="index" matSortDirection="asc">

                            <ng-container matColumnDef="index">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'common.index' | translate }}
                                </th>
                                <td class="text-center" *matCellDef="let element">{{ element.index }}</td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'manageAgent.account' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <span *ngIf="!element.edit">{{ element.name }}</span>
                                    <ng-container *ngIf="element.edit">
                                        <div class="input-group">
                                            <input [(ngModel)]="element.name" class="form-control">
                                            <div class="input-group-append">
                                                <button class="btn btn-sm btn-success" (click)="onEdit(element)">
                                                    <i class="cui-check icons"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </ng-container>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="function">
                                <th mat-header-cell *matHeaderCellDef class="text-center">
                                    {{ 'common.edit' | translate }}/{{ 'common.delete' | translate }} </th>
                                <td mat-cell *matCellDef="let element" class="text-center">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <button class="btn btn-sm d-flex align-items-center btn-golden ml-1"
                                            (click)="onEdit(element)">
                                            <i class="cui-note icons font-l d-block"></i>
                                            {{ 'common.edit' | translate }}
                                        </button>
                                        <button class="btn btn-sm d-flex align-items-center btn-danger ml-1"
                                            type="button" (click)="deleteBot(element.id)"><i
                                                class="cui-trash icons font-l d-block"></i>
                                            {{ 'common.delete' | translate }}
                                        </button>
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        </table>
                        <h4 *ngIf="isFetched && !dataSource.data.length" class="text-center my-5">
                            {{ 'common.noData' | translate }}</h4>
                        <mat-paginator [pageSize]="50" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>