<div class="animated fadeIn">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <ng-container *ngIf="data">
                    <div class="allow-btn d-inline">
                        <span>遊戲狀態</span>
                        <button class="btn btn-sm btn-golden mr-2" [ngClass]="{'checked': data.is_allow_play}"
                            (click)="changeMemberAllowGame(data)">
                            開
                        </button>
                        <button class="btn btn-sm btn-danger" [ngClass]="{'checked': !data.is_allow_play}"
                            (click)="changeMemberAllowGame(data)">
                            關
                        </button>
                    </div>
                    <button class="btn btn-sm btn-danger float-right" (click)="deleteMember(data.id)">
                        帳號刪除
                    </button>
                </ng-container>
            </div>
            <div class="card-body">
                <form [formGroup]="myForm" class="form-horizontal">

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">
                            {{ 'manageAgent.name' | translate }}</label>
                        <div class="col-md-4 my-auto">
                            <input
                                [ngClass]="{'is-invalid': myForm.controls['name'].errors && myForm.controls['name'].touched}"
                                [formControl]="myForm.controls['name']" type="text" class="form-control"
                                placeholder="{{ 'common.inputName' | translate }}">
                            <div class="invalid-feedback">
                                <ng-container *ngIf="myForm.controls['name'].hasError('required')">
                                    {{ 'common.required' | translate }}</ng-container>
                                <ng-container *ngIf="myForm.controls['name'].hasError('maxlength')">
                                    {{ 'login.form.lengthLessThan' | translate: { length: 5 } }}
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">
                            {{ 'manageAgent.account' | translate }}</label>
                        <div class="col-md-4 my-auto">
                            <input
                                [ngClass]="{'is-invalid': myForm.controls['account'].hasError('required') && myForm.controls['account'].touched}"
                                [formControl]="myForm.controls['account']" type="text" class="form-control"
                                placeholder="輸入帳號">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">
                            {{ 'manageAgent.password' | translate }}
                        </label>
                        <div class="col-md-4 my-auto">
                            <!-- {{ myForm.controls['password'].value }} -->
                            <input
                                [ngClass]="{'is-invalid': myForm.controls['password'].errors && myForm.controls['password'].touched}"
                                [formControl]="myForm.controls['password']"
                                [type]="identity===UserRole.admin? 'text':'password'" class="form-control"
                                placeholder="請輸入6~12位英文及數字">
                            <div class="invalid-feedback">
                                <span *ngIf="myForm.controls['password'].hasError('minlength')">
                                    {{ 'login.form.lengthMustBe' | translate: { length: 6 } }}
                                </span>
                                <span *ngIf="myForm.controls['password'].hasError('maxlength')">
                                    {{ 'login.form.lengthLessThan' | translate: { length: 12 } }}
                                </span>
                            </div>
                            <!-- <span class="text-danger">
                                {{ 'manageAgent.form.editWithin24Hours' | translate }}
                            </span> -->
                        </div>
                    </div>


                    <!-- <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">
                            {{ 'manageAgent.nickname' | translate }}
                        </label>
                        <div class="col-md-4 my-auto">
                            {{ myForm.controls['nickname'].value }}
                            <div class="invalid-feedback">
                                <span *ngIf="myForm.controls['nickname'].hasError('required')">
                                    {{ 'common.required' | translate }}
                                </span>
                                <span *ngIf="myForm.controls['nickname'].hasError('maxlength')">
                                    {{ 'login.form.lengthLessThan' | translate: { length: 6 } }}
                                </span>
                            </div>
                        </div>
                    </div> -->

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right text-golden">
                            {{ 'manageAgent.balance' | translate }}
                            <span>{{ memberWallet }}</span>
                        </label>
                        <div class="col-md-4 my-auto">
                            <input #creditAmount type="text" class="form-control" formControlName="wallet"
                                [ngClass]="{'is-invalid': myForm.controls['wallet'].errors && myForm.controls['wallet'].touched}"
                                placeholder="{{ 'manageAgent.form.enterCredit' | translate }}">
                            <div class="invalid-feedback">
                                {{ getFormCtrlErrDesc(myForm.get('wallet')) }}
                            </div>

                            <div class="mt-1">
                                <button (click)="modifySicboCreditAndWallet(creditAmount.value); creditAmount.value='';"
                                    type="submit" class="btn btn-sm btn-golden mr-1">
                                    {{ 'manageAgent.form.increaseCredit' | translate }}
                                </button>
                                <button
                                    (click)="modifySicboCreditAndWallet(creditAmount.value,true); creditAmount.value='';"
                                    type="submit" class="btn btn-sm btn-danger mr-1">
                                    {{ 'manageAgent.form.decreaseCredit' | translate }}
                                </button>
                                <!-- <button (click)="clearSicboCreditAndWallet()" class="btn btn-sm btn-danger mt-1">
                                    {{ 'manageAgent.form.clearBalance' | translate }}
                                </button> -->
                                <span class="my-auto text-left" style="color:#eebf16">
                                    {{ 'manageAgent.form.remainingBalance' | translate }} {{ userWallet }}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">洗碼(%)</label>
                        <div class="col-md-4">
                            <select class="form-control" formControlName="wash_code_commission_percent">
                                <option value="0" selected>0</option>
                                <option [value]="item" *ngFor="let item of washCodeRange"
                                    [hidden]="item > parentWashCodePercent">{{ item }}</option>
                            </select>
                            <div class="row col-md-12 mt-1">
                                <!-- <button class="btn btn-golden btn-sm" (click)="updateMemberWashCode()">
                                    <span>{{ 'common.update' | translate }}</span>
                                </button> -->
                                <div class="text-danger my-auto ml-3"
                                    *ngIf="myForm.controls['wash_code_commission_percent'].hasError('max') || myForm.controls['wash_code_commission_percent'].hasError('min')">
                                    {{ 'manageAgent.form.rangeMustBe' | translate }} 0.1 ~ 1
                                </div>
                                <span class="ml-1 my-auto" *ngIf="SystemSetting" style="color: #000">
                                    {{ 'manageAgent.form.editTime' | translate }}
                                    {{ getTranslatedWeek(updateRebateTimeDate[0][0].week) }}
                                    {{ updateRebateTimeDate[0][0].start_time }}~{{ updateRebateTimeDate[0][0].end_time
                                    }}
                                </span>
                            </div>

                        </div>
                        <div class="invalid-feedback">
                            {{ 'common.required' | translate }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">
                            {{ 'walletLimit' | translate }}</label>
                        <div class="col">
                            <div class="row">
                                <div class="col-6">
                                    <div class="input-group">
                                        <input class="form-control"
                                            formControlName="dragon_tiger_win_total_amount_limit" type="number"
                                            [ngClass]="{'is-invalid': myForm.controls['dragon_tiger_win_total_amount_limit'].errors && myForm.controls['dragon_tiger_win_total_amount_limit'].touched}">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button"
                                                (click)="updateBaccaratWalletLimit()">更新</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 my-auto">
                                    <span *ngIf="newMemberWallet">
                                        目前輸贏
                                        <span [ngClass]="changeColor(newMemberWallet.dragon_tiger_game_result_amount)">
                                            {{ newMemberWallet.dragon_tiger_game_result_amount }}
                                        </span>
                                    </span>
                                    <button class="btn btn-sm btn-primary mr-1"
                                        (click)="resetBaccaratWalletLimit()">重新計算</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ng-container *ngIf="identity==UserRole.admin">
                        <div class="form-group special mb-0">
                            <div class="row">
                                <label class="col-md-4 col-form-label text-md-right text-danger">
                                    {{ 'autoBet' | translate }}
                                </label>
                                <div class="col my-auto">
                                    <div class="row">
                                        <div class="col-6">
                                            <span class="mr-3 align-top"> {{ 'autoBetResult' | translate }} </span>

                                            <div class="input-group">
                                                <input formControlName="auto_bet_result" class="form-control"
                                                    type="number">
                                                <div class="input-group-append">
                                                    <button class="btn btn-golden" type="button"
                                                        (click)="updateMemberAutoBet()">更新</button>
                                                </div>
                                            </div>

                                            <small class="text-danger"> {{ 'autoBetTip' | translate }} </small>
                                        </div>
                                        <div class="col-6">
                                            <div class="row col">
                                                <div>
                                                    <span class="mr-3">{{ 'autoBet' | translate }}</span>
                                                    <div class="mt-2">
                                                        <label
                                                            class="switch switch-sm switch-label switch-pill switch-primary align-middle">
                                                            <input formControlName="auto_bet" class="switch-input"
                                                                type="checkbox" (change)="updateMemberAutoBet()">
                                                            <span class="switch-slider" data-checked="開"
                                                                data-unchecked="關"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <span class="mr-3">輸贏金額</span>
                                                    <div class="mt-2" [ngClass]="changeColor(autoBetGameResult)">
                                                        {{ autoBetGameResult }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="form-group special mb-0">
                            <div class="row">
                                <label class="col-4 col-form-label text-md-right text-danger">
                                    項目設置
                                </label>
                                <div class="col my-auto">
                                    <ng-container *ngFor="let item of AutoBetItemType | enumToArray">
                                        <label *ngIf="AutoBetItemType[item]!=AutoBetItemType.Single"
                                            class="radio-inline mx-1 my-auto">
                                            <input type="checkbox" [value]="AutoBetItemType[item]"
                                                [checked]="isBetItemChecked(AutoBetItemType[item])"
                                                (change)="onAutoBetItemChecked(AutoBetItemType[item], $event.target.checked)">
                                            {{ AutoBetItemType[item] | enumValueToEnumKey: AutoBetItemTypeText }}
                                        </label>
                                    </ng-container>
                                </div>
                            </div>
                        </div> -->
                        <div class="form-group special">
                            <div class="row">
                                <label class="col-md-4 col-form-label text-md-right text-danger">
                                    籌碼設置
                                </label>
                                <div class="col my-auto">
                                    <label *ngFor="let item of betamounts" class="radio-inline mx-1 my-auto">
                                        <input [value]="item.amount" type="radio" formControlName="auto_bet_amount">
                                        {{ item.amount }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <!-- <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">{{ 'manageAgent.form.remark' | translate
                            }}</label>
                        <div class="col-md-4 my-auto">
                            <textarea cols="30" rows="10"
                                [ngClass]="{'is-invalid': myForm.controls['remark'].hasError('required') && myForm.controls['remark'].touched}"
                                [formControl]="myForm.controls['remark']" type="number" class="form-control">
                                </textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">{{ 'manageAgent.form.bank' | translate
                            }}</label>
                        <div class="col-md-4 my-auto">
                            <textarea cols="30" rows="10"
                                [ngClass]="{'is-invalid': myForm.controls['bank_account'].hasError('required') && myForm.controls['bank_account'].touched}"
                                [formControl]="myForm.controls['bank_account']" type="number" class="form-control">
                                </textarea>
                        </div>
                    </div> -->

                    <!-- <div class="form-group row mt-3">
                        <label class="col-md-4 col-form-label text-md-right" for="date-input">
                            {{ 'manageAgent.accountStatus' | translate }}({{ 'common.inActive' | translate }}/{{
                            'common.active' | translate }})
                        </label>
                        <div class="col-md-4">
                            <label class="switch switch-3d switch-primary">
                                <input [formControl]="myForm.controls['status']" class="switch-input" type="checkbox">
                                <span class="switch-slider"></span>
                            </label>
                        </div>
                    </div>

                    <div class="form-group row mt-3">
                        <label class="col-md-4 col-form-label text-md-right" for="date-input">
                            {{ 'manageAgent.memberStatus' | translate }}({{ 'common.inActive' | translate }}/{{
                            'common.active' | translate }})
                        </label>
                        <div class="col-md-4">
                            <label class="switch switch-3d switch-primary">
                                <input [formControl]="myForm.controls['is_allow_play']" class="switch-input"
                                    type="checkbox">
                                <span class="switch-slider"></span>
                            </label>
                        </div>
                    </div> -->

                    <!-- <div class="col-md-3 mb-3">
                        <small>{{ 'walletLimit' | translate }}</small>
                        <input formControlName="wallet_limit" type="text" class="form-control"
                            [ngClass]="{'is-invalid': myForm.controls['wallet_limit'].errors && myForm.controls['wallet_limit'].touched}">
                    </div> -->

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">
                            單注限額
                        </label>
                        <div class="col-md-4 my-auto">
                            <app-single-bet-panel #singlePanel [isMember]="true" [self]="data" [parent]="parent">
                            </app-single-bet-panel>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button (click)="submitForm(myForm.getRawValue())" type="submit" class="btn btn-sm btn-golden"><i
                        class="fa fa-dot-circle-o"></i>
                    {{ 'common.confirm' | translate }}</button>
                <button (click)="cancel()" type="reset" class="btn btn-sm btn-danger ml-1"><i class="fa fa-ban"></i>
                    {{ 'common.cancel' | translate }}</button>
            </div>
        </div>
    </div>
</div>