img {
    width: 25%;
    height: 20%;
}

table {
    background-color: #ffe8a7b5;
}

table td {
    font-weight: bolder;
    text-align: center;
}

table td span {
    font-size: 25px;
}

table input {
    text-align: center;
    max-width: 100px;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0) !important;
}

.table-striped tbody tr:hover {
    background-color: #ffe8a700 !important;
}

.special {
    background: #dbdbdb;
}

.allow-btn button:not(.checked) {
    filter: grayscale(1);
}