<div [hidden]="!gameNumber" class="modal-header">
    <h2>{{ 'searching.gameNumber' | translate }} {{ gameNumber }}</h2>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="myForm" [hidden]="gameTypesID!=GameTypeEnum.GameTypeSicBo">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td colspan="2" [formGroup]="myForm.get('1')">
                        <span>
                            <small>11~17</small>
                            <br>
                            <br>
                            <span class="title">{{ 'bet.Big' | translate }}</span>
                        </span>
                        <div class="row">
                            <div class="mx-auto">
                                <div class="highColor" (click)="showBetRecordsByItmeTypeID(1)">
                                    {{ getValue('1','amount') }}
                                </div>
                            </div>
                        </div>
                    </td>
                    <td colspan="2" rowspan="2" [formGroup]="myForm.get('17')">
                        <span class="title">{{ 'bet.AnyTriple' | translate }}</span>
                        <div class="row mt-md-5">
                            <div class="mx-auto">
                                <div class="highColor" (click)="showBetRecordsByItmeTypeID(17)">
                                    {{ getValue('17','amount') }}
                                </div>
                            </div>
                        </div>
                    </td>
                    <td colspan="2" [formGroup]="myForm.get('2')">
                        <span>
                            <small>4~10</small>
                            <br>
                            <br>
                            <span class="title">{{ 'bet.Small' | translate }}</span>
                        </span>
                        <div class="row">
                            <div class="mx-auto">
                                <div class="highColor" (click)="showBetRecordsByItmeTypeID(2)">
                                    {{ getValue('2','amount') }}
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" [formGroup]="myForm.get('3')">
                        <span class="title">{{ 'bet.Odd' | translate }}</span>
                        <div class="row">
                            <div class="mx-auto">
                                <div class="highColor" (click)="showBetRecordsByItmeTypeID(3)">
                                    {{ getValue('3','amount') }}
                                </div>
                            </div>
                        </div>
                    </td>
                    <td colspan="2" [formGroup]="myForm.get('4')">
                        <span class="title">{{ 'bet.Even' | translate }}</span>
                        <div class="row">
                            <div class="mx-auto">
                                <div class="highColor" (click)="showBetRecordsByItmeTypeID(4)">
                                    {{ getValue('4','amount') }}
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <!-- <tr>
                    <td [formGroup]="myForm.get('5')">
                        <p>
                            <img src="../../../assets/img/brand/img_dice_one.png" alt="">
                            <img src="../../../assets/img/brand/img_dice_one.png" alt="">
                        </p>
                        <div class="row">
                            <div class="mx-auto">
                                <div class="highColor" (click)="showBetRecordsByItmeTypeID(5)">
                                    {{ getValue('5','amount') }}
                                </div>
                            </div>
                        </div>
                    </td>
                    <td [formGroup]="myForm.get('6')">
                        <p>
                            <img src="../../../assets/img/brand/icon_full_screen (3).png" alt="">
                            <img src="../../../assets/img/brand/icon_full_screen (3).png" alt="">
                        </p>
                        <div class="row">
                            <div class="mx-auto">
                                <div class="highColor" (click)="showBetRecordsByItmeTypeID(6)">
                                    {{ getValue('6','amount') }}
                                </div>
                            </div>
                        </div>
                    </td>
                    <td [formGroup]="myForm.get('7')">
                        <p>
                            <img src="../../../assets/img/brand/img_dice_three.png" alt="">
                            <img src="../../../assets/img/brand/img_dice_three.png" alt="">
                        </p>
                        <div class="row">
                            <div class="mx-auto">
                                <div class="highColor" (click)="showBetRecordsByItmeTypeID(7)">
                                    {{ getValue('7','amount') }}
                                </div>
                            </div>
                        </div>
                    </td>
                    <td [formGroup]="myForm.get('8')">
                        <p>
                            <img src="../../../assets/img/brand/img_dice_four.png" alt="">
                            <img src="../../../assets/img/brand/img_dice_four.png" alt="">
                        </p>
                        <div class="row">
                            <div class="mx-auto">
                                <div class="highColor" (click)="showBetRecordsByItmeTypeID(8)">
                                    {{ getValue('8','amount') }}
                                </div>
                            </div>
                        </div>
                    </td>
                    <td [formGroup]="myForm.get('9')">
                        <p>
                            <img src="../../../assets/img/brand/icon_full_screen (2).png" alt="">
                            <img src="../../../assets/img/brand/icon_full_screen (2).png" alt="">
                        </p>
                        <div class="row">
                            <div class="mx-auto">
                                <div class="highColor" (click)="showBetRecordsByItmeTypeID(9)">
                                    {{ getValue('9','amount') }}
                                </div>
                            </div>
                        </div>
                    </td>
                    <td [formGroup]="myForm.get('10')">
                        <p>
                            <img src="../../../assets/img/brand/img_dice_six.png" alt="">
                            <img src="../../../assets/img/brand/img_dice_six.png" alt="">
                        </p>
                        <div class="row">
                            <div class="mx-auto">
                                <div class="highColor" (click)="showBetRecordsByItmeTypeID(10)">
                                    {{ getValue('10','amount') }}
                                </div>
                            </div>
                        </div>
                    </td>
                </tr> -->
                <tr>
                    <td [formGroup]="myForm.get('11')">
                        <p>
                            <img src="../../../assets/img/brand/img_dice_one.png" alt="">
                        </p>
                        <div class="row">
                            <div class="mx-auto">
                                <div class="highColor" (click)="showBetRecordsByItmeTypeID(11)">
                                    {{ getValue('11','amount') }}
                                </div>
                            </div>
                        </div>
                    </td>
                    <td [formGroup]="myForm.get('12')">
                        <p>
                            <img src="../../../assets/img/brand/icon_full_screen (3).png" alt="">
                        </p>
                        <div class="row">
                            <div class="mx-auto">
                                <div class="highColor" (click)="showBetRecordsByItmeTypeID(12)">
                                    {{ getValue('12','amount') }}
                                </div>
                            </div>
                        </div>
                    </td>
                    <td [formGroup]="myForm.get('13')">
                        <p>
                            <img src="../../../assets/img/brand/img_dice_three.png" alt="">
                        </p>
                        <div class="row">
                            <div class="mx-auto">
                                <div class="highColor" (click)="showBetRecordsByItmeTypeID(13)">
                                    {{ getValue('13','amount') }}
                                </div>
                            </div>
                        </div>
                    </td>
                    <td [formGroup]="myForm.get('14')">
                        <p>
                            <img src="../../../assets/img/brand/img_dice_four.png" alt="">
                        </p>
                        <div class="row">
                            <div class="mx-auto">
                                <div class="highColor" (click)="showBetRecordsByItmeTypeID(14)">
                                    {{ getValue('14','amount') }}
                                </div>
                            </div>
                        </div>
                    </td>
                    <td [formGroup]="myForm.get('15')">
                        <p>
                            <img src="../../../assets/img/brand/icon_full_screen (2).png" alt="">
                        </p>
                        <div class="row">
                            <div class="mx-auto">
                                <div class="highColor" (click)="showBetRecordsByItmeTypeID(15)">
                                    {{ getValue('15','amount') }}
                                </div>
                            </div>
                        </div>
                    </td>
                    <td [formGroup]="myForm.get('16')">
                        <p>
                            <img src="../../../assets/img/brand/img_dice_six.png" alt="">
                        </p>
                        <div class="row">
                            <div class="mx-auto">
                                <div class="highColor" (click)="showBetRecordsByItmeTypeID(16)">
                                    {{ getValue('16','amount') }}
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

    <app-baccarat-panel #baccaratPanel [hidden]="gameTypesID!=GameTypeEnum.GameTypeBaccarat"
        (onItemTypeClick)="showBetRecordsByItmeTypeID($event)"></app-baccarat-panel>

    <app-dragon-tiger-panel #dragonTigerPanel [hidden]="gameTypesID!=GameTypeEnum.GameTypeDragonTiger"
        (onItemTypeClick)="showBetRecordsByItmeTypeID($event)">
    </app-dragon-tiger-panel>

    <div [hidden]="!gameNumber" class="table-responsive">
        <table class="col-md-12 table-striped" mat-table matSort [dataSource]="dataSource" matSortActive="created_at"
            matSortDirection="desc">

            <ng-container matColumnDef="account">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'manageAgent.account' | translate }} / {{ 'manageAgent.name' | translate }}
                </th>
                <td mat-cell *matCellDef="let element">
                    <span>{{element.member.account}} / {{element.member.name}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="item_types_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'itemType' | translate }} </th>
                <td mat-cell *matCellDef="let element">
                    <span>
                        {{ getItemTypeName(element.item_types_id) }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'searching.action' | translate }} </th>
                <td mat-cell *matCellDef="let element">
                    <span>
                        {{ getGameActionTypeName(element.action) }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'betAmount' | translate }} </th>
                <td mat-cell *matCellDef="let element">
                    <span>
                        {{ element.amount }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="created_at">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'betTime' | translate }} </th>
                <td mat-cell *matCellDef="let element">
                    <span>
                        {{ element.created_at | date:'yyyy-MM-dd HH:mm'}}
                    </span>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div *ngIf="!dataSource.data.length" class="text-center m-5">
            {{ 'common.noData' | translate }}
        </div>
        <mat-paginator [pageSize]="50" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>