<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> {{ 'nav.authority' | translate }}
                    <a [routerLink]="['/system/agent-authority-add']" class="btn btn-golden float-right"
                        role="button">{{ 'common.add' | translate }}</a>
                </div>
                <div class="card-body">
                    <div class="col-md-12">
                        <div class="row px-3">
                            <mat-form-field class="col-md-3">
                                <mat-label>
                                    {{ 'manageAgent.searchAccount' | translate }}/{{ 'manageAgent.name' | translate }}
                                </mat-label>
                                <input matInput (keyup)="applyFilter($event)">
                            </mat-form-field>

                            <select class="form-control ml-auto w-auto" [(ngModel)]="selectedRole"
                                (change)="onRoleSelect($event.target.value)">
                                <option [value]="UserRole.admin">{{ 'system.admin' | translate }}</option>
                                <option [value]="UserRole.management">{{ 'system.management' | translate }}</option>
                                <option [value]="UserRole.dealers">{{ 'system.dealers' | translate }}</option>
                                <option [value]="UserRole.streamer">{{ 'system.streamer' | translate }}</option>
                                <!-- <option [value]="UserRole.gametester">{{ 'system.gametester' | translate }}</option>
                                <option [value]="UserRole.staff">{{ 'system.staff' | translate }}</option>
                                <option [value]="UserRole.managementDemo">{{ 'system.managementDemo' | translate }}</option> -->
                            </select>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="col-md-12 table-striped" mat-table matSort [dataSource]="dataSource"
                            matSortActive="index" matSortDirection="asc">

                            <ng-container matColumnDef="index">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'common.index' | translate }}
                                </th>
                                <td class="text-center" *matCellDef="let element">{{ element.index }}</td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'manageAgent.account' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span *ngIf="element.identity != UserRole.gametester">{{ element.name }}</span>
                                    <span *ngIf="element.identity == UserRole.gametester">{{ element.account }}</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="real_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'authority.realName' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span *ngIf="element.identity != UserRole.gametester">{{ element.real_name }}</span>
                                    <span *ngIf="element.identity == UserRole.gametester">{{ element.name }}</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="identity">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'authority.authority' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ getTranslatedReceiptType(element) }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'form.accountStatus' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <label class="switch switch-label switch-pill switch-primary align-middle my-auto">
                                        <input [(ngModel)]="element.status" class="switch-input" type="checkbox"
                                            (change)="onStatusChanged(element)">
                                        <span class="switch-slider" data-checked="開" data-unchecked="關"></span>
                                    </label>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="created_at">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'common.createdAt' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.created_at | date: 'yyyy-MM-dd HH:mm:ss'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="function">
                                <th mat-header-cell *matHeaderCellDef class="text-center">
                                    {{ 'common.edit' | translate }}/{{ 'common.delete' | translate }} </th>
                                <td mat-cell *matCellDef="let element" class="text-center">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <a *ngIf="element.identity != UserRole.gametester"
                                            [routerLink]="['/system/agent-authority-edit',element.id]"
                                            class="btn btn-sm d-flex align-items-center btn-golden ml-1" role="button">
                                            <i class="cui-note icons font-l d-block"></i>
                                            {{ 'common.edit' | translate }}
                                        </a>

                                        <a *ngIf="element.identity == UserRole.gametester"
                                            [routerLink]="['/system/game-tester-edit',element.id]"
                                            class="btn btn-sm d-flex align-items-center btn-golden ml-1" role="button">
                                            <i class="cui-note icons font-l d-block"></i>
                                            {{ 'common.edit' | translate }}
                                        </a>
                                        <button title="{{ 'authority.deleteUser' | translate }}"
                                            class="btn btn-sm btn-danger d-flex align-items-center ml-1" type="button"
                                            (click)="deleteUser(element.id, element)"><i
                                                class="cui-trash icons font-l d-block"></i>
                                            {{ 'common.delete' | translate }}
                                        </button>
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>

                    <mat-paginator [pageSize]="50" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>