<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>押注記錄設置</strong>
                </div>
                <div class="card-body">
                    <form [formGroup]="myForm" class="form-horizontal">

                        <div class="form-group row">
                            <label class="col-md-2 text-sm-right col-form-label">關鍵字</label>
                            <div class="col-md-8">
                                <input
                                    [ngClass]="{'is-invalid': myForm.controls['message'].hasError('required') && myForm.controls['message'].touched}"
                                    [formControl]="myForm.controls['message']" type="text" class="form-control"
                                    placeholder="輸入訊息">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="card-footer">
                    <button (click)="submit(myForm.value)" type="submit" class="btn btn-sm btn-golden">
                        <i class="fa fa-dot-circle-o"></i>確定
                    </button>
                    <button (click)="cancel()" type="reset" class="btn btn-sm btn-danger ml-1">
                        <i class="fa fa-ban"></i>取消
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>