<div class="app-body" [ngClass]="{'no-bg': easyLogin}">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 p-0 mx-auto">
          <div class="card-group">
            <div *ngIf="!easyLogin" class="col-md-8 mx-auto text-center mb-3">
              <img class="img-fluid brand" src="assets/img/login/title_the_big_battle.png">
            </div>
            <div class="card mx-auto login">
              <div class="card-body">
                <form class="mx-auto">
                  <div class="row">
                    <div class="col-6 px-2">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="{{ 'login.form.account' | translate }}"
                          autocomplete="username" required [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                    <div class="col-6 px-2">
                      <div class="input-group">
                        <input type="password" class="form-control"
                          placeholder="{{ 'login.form.password' | translate }}" autocomplete="current-password" required
                          [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                  </div>

                  <!-- <div class="input-group mb-4">
                    <input type="text" [(ngModel)]="inputValue" [ngModelOptions]="{standalone: true}"
                      class="form-control" placeholder="{{ 'login.verify.code' | translate }}">
                  </div> -->
                  <!-- <div class="input-group mb-4">
                    <canvas id="captcha1" class="mx-auto" width="180" height="40"></canvas>
                  </div> -->
                  <div class="row login-btn">
                    <div class="col-12">
                      <button class="btn btn-block px-4" (click)="login()" [disabled]="isLogging">
                        {{ easyLogin ? '登入' : '管理端登入' }}
                        <!-- <span *ngIf="easyLogin">登入</span> -->
                      </button>
                    </div>
                  </div>

                  <div *ngIf="!easyLogin" class="row download mt-2">
                    <div class="col-6 px-2">
                      <a href="https://xn--27v152d7jr.cc/a/123.apk">
                        <img width="100%" src="assets/img/login/btn_android.png">
                      </a>
                    </div>
                    <div class="col-6 px-2">
                      <a href="https://appkey.boyi8899.com/moxHTU">
                        <img width="100%" src="assets/img/login/btn_ios.png">
                      </a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>