@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.card {
  flex: none;

  width: 50%;

  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

.app-body {
  // background: linear-gradient(135deg, rgb(245, 245, 248) 22px, #0000000a 22px, #0000000a 24px, transparent 24px, transparent 67px, #0000000a 67px, #0000000a 69px, transparent 69px), linear-gradient(225deg, rgb(245, 245, 248) 22px, #0000000a 22px, #0000000a 24px, transparent 24px, transparent 67px, #0000000a 67px, #0000000a 69px, transparent 69px) 0 64px;
  // background-size: 64px 128px;
  background: url('../../../assets/img/login/bg_web_login.jpg') no-repeat center center;
  // background-color: #141414;
  // background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(33, 33, 33, 1) 30%, rgba(43, 43, 43, 1) 50%, rgba(33, 33, 33, 1) 70%, rgba(0, 0, 0, 1) 100%);
  background-size: cover;
  margin-top: 0;

  @include media-breakpoint-down(sm) {
    background: url('../../../assets/img/login/bg_login.jpg') no-repeat;
    background-size: cover;
    background-position: center;
  }

  .brand {
    width: 60%;

    @include media-breakpoint-down(sm) {
      width: 90%;
    }
  }
}

.no-bg {
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(33, 33, 33, 1) 30%, rgba(43, 43, 43, 1) 50%, rgba(33, 33, 33, 1) 70%, rgba(0, 0, 0, 1) 100%);
}

.login {
  background-color: transparent;
  border: none;

  form {
    @include media-breakpoint-down(sm) {
      width: 85%;
    }

    input {
      border: 1px solid #ada06f;
      background: #000;
      // background: linear-gradient(0deg, rgba(56, 56, 56, 1) 0%, rgba(20, 20, 20, 1) 35%, rgba(0, 0, 0, 1) 100%);
      color: #E6E6E6;
      height: 40px;
    }

    input::placeholder {
      color: #acacac;
    }

    input::-webkit-input-placeholder {
      color: #acacac;
    }

    button {
      // background: url("../../../assets/img/brand/btn_login.png") no-repeat center center;
      // background-size: cover;
      // background-color: transparent;
      background-color: #F7DE7D;
      color: #000;
      border-radius: 35px;
      width: 165px;
      height: 36px;
      margin: auto;
      font-weight: bold;
      font-size: 20px;
      line-height: 10px;
    }

    // .agent {
    //   background: url("../../../assets/img/brand/btn_proxy_login.png") no-repeat center center;
    //   background-size: cover;
    //   background-color: transparent;
    // }

    .g-recaptcha {
      transform: scale(0.97);
      -webkit-transform: scale(0.99);
      transform-origin: 0 0;
      -webkit-transform-origin: 0 0;
      margin-bottom: 10px;

      @media screen and (max-width: 1280px) {
        transform: scale(0.79);
      }

      @media screen and (max-width: 991px) {
        transform: scale(1.18);
        margin-bottom: 25px;
      }

      @media screen and (max-width: 768px) {
        transform: scale(1.27);
        margin-bottom: 45px;
      }

      @media screen and (max-width: 575px) {
        transform: scale(1.05);
      }

      @media screen and (max-width: 414px) {
        transform: scale(0.92);
      }

      @media screen and (max-width: 375px) {
        transform: scale(0.84);
      }
    }
  }
}

.g-recaptcha {
  transform: scale(0.91);
  -webkit-transform: scale(0.91);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}

.captcha {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  input {
    width: 100px;
    height: 30px;

    @media screen and (max-width:992px) {
      width: 170px;
    }

    @media screen and (max-width:768px) {
      width: 200px;
    }

    @media screen and (max-width:414px) {
      width: 120px;
    }
  }

  canvas {
    width: 160px;

    @media screen and (max-width:1196px) {
      width: 105px;
    }

    @media screen and (max-width:992px) {
      width: 170px;
    }

    @media screen and (max-width:414px) {
      width: 190px;
    }

    @media screen and (max-width:375px) {
      width: 130px;
    }
  }
}

// @media screen and (max-width: 768px) {
//   .g-recaptcha {
//     transform: scale(0.97);
//     -webkit-transform: scale(0.97);
//     transform-origin: 0 0;
//     -webkit-transform-origin: 0 0;
//   }
// }

:host ::ng-deep {
  .re-captcha {
    width: 300px;
  }

  .rc-anchor {
    transform: scale(0.8);
  }
}

#captcha1 {
  width: 100%;
}

.container {
  position: relative;
  transform: translateY(-30%);

  .login-btn {
    margin: 30px 0;
  }

  @media screen and (min-height: 701px) and (max-height: 896px) {
    transform: translateY(-40%);

    .login-btn {
      margin: 30px 0 70px 0;
    }
  }

  @media screen and (min-height: 300px) and (max-height: 700px) {
    transform: translateY(-20%);
  }
}