<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <strong>基本設置</strong>
                </div>
                <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">網站名稱(title)</label>
                            <div class="col-md-9">
                                <input type="text" id="text-input" name="text-input" class="form-control"
                                    placeholder="輸入訂單編號" value="{{ data.title }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">關鍵字(keywords)</label>
                            <div class="col-md-9">
                                <input type="text" id="text-input" name="text-input" class="form-control"
                                    placeholder="輸入訂單編號" value="{{ data.keywords }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">網站描述(description)</label>
                            <div class="col-md-9">
                                <input type="text" id="text-input" name="text-input" class="form-control"
                                    placeholder="輸入訂單編號" value="{{ data.description }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">首頁標題文字(不填則顯示預設文字)</label>
                            <div class="col-md-9">
                                <input type="text" id="text-input" name="text-input" class="form-control"
                                    placeholder="輸入訂單編號" value="{{ data.indexTitle }}">
                            </div>
                        </div>
                        <div class="form-group row my-5">
                            <label class="col-md-3 col-form-label" for="email-input">首頁圖片</label>
                            <div class="col-md-3">
                                <label class="switch switch-3d switch-primary">
                                    <input checked="" class="switch-input" type="checkbox">
                                    <span class="switch-slider"></span>
                                </label>
                            </div>
                            <div class="col-md-6">
                                <input id="file-input" name="file-input" type="file">
                                <div><small>(建議尺寸:200x79)</small></div>
                            </div>
                            <div class="col-md-3">
                                <img width="100" src="assets/img/uploads/{{ data.indexPic }}">
                            </div>
                        </div>
                        <div class="form-group row my-5">
                            <label class="col-md-3 col-form-label" for="email-input">Favicon圖片</label>
                            <div class="col-md-3">
                                <label class="switch switch-3d switch-primary">
                                    <input checked="" class="switch-input" type="checkbox">
                                    <span class="switch-slider"></span>
                                </label>
                            </div>

                            <div class="col-md-6">
                                <input id="file-input" name="file-input" type="file">
                                <div><small>(建議尺寸:50*50)</small></div>
                            </div>
                            <div class="col-md-3">
                                <img width="100" src="assets/img/uploads/{{ data.faviconPic }}">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-golden"><i class="fa fa-dot-circle-o"></i>
                        確定</button>
                    <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> 取消</button>
                </div>
            </div>
        </div>
    </div>
</div>