<div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
    <div class="text-muted text-center align-items-center my-5">
        <i class="cui-cloud-upload icons font-5xl d-block"></i>
        <h4>托曳檔案到此或點擊上傳</h4>
        <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)" accept="image/*" multiple>
    </div>
</div>
<div>
    <div class="row">
        <div class="col my-2" *ngFor="let file of files;let i=index" style="max-width: 150px;min-width: 120px;">
            <img class="img-thumbnail" src="{{getFullPath(file)}}">
            <button (click)="deleteAttachment(i)" class="btn position-absolute text-danger"
                style="padding:0;right: 0px;top:-15px;" type="button"><i class="fa fa-close fa-2x"></i></button>
        </div>
    </div>
</div>