<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i>
                    <span *ngIf="loginIdentity==UserRole.admin">{{ 'nav.cloneAgentAdmin' | translate }}</span>
                    <span *ngIf="loginIdentity!=UserRole.admin">{{ 'nav.cloneAgent' | translate }}</span>

                    <a *ngIf="loginIdentity==UserRole.topAgent || loginIdentity==UserRole.agent"
                        [routerLink]="['/system/clone-agent-add']" class="btn btn-golden float-right" role="button">{{
                        'common.add' | translate }}</a>
                </div>
                <div class="card-body">
                    <div class="col-md-12">
                        <div class="row px-3">
                            <mat-form-field class="col-md-3">
                                <mat-label>
                                    {{ 'manageAgent.searchAccount' | translate }}/{{ 'manageAgent.name' | translate }}
                                </mat-label>
                                <input matInput (keyup)="applyFilter($event)">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="col-md-12 table-striped" mat-table matSort [dataSource]="dataSource"
                            matSortActive="index" matSortDirection="asc">

                            <ng-container matColumnDef="index">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'common.index' | translate }}
                                </th>
                                <td class="text-center" *matCellDef="let element">{{ element.index }}</td>
                            </ng-container>

                            <ng-container matColumnDef="clone_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'mainAccount' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span>{{ getCloneName(element.clone_id) }}</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'subAccount' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span>{{ element.name }}</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="real_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'authority.realName' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span>{{ element.real_name }}</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="lastLogin">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'manageAgent.lastLogin' | translate }}{{ 'manageAgent.date' |
                                    translate }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <span>
                                        {{ element.last_login_at }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'form.accountStatus' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="badge badge-danger" *ngIf=" element.status==Status.InActive">{{
                                        'common.inActive' | translate }}</span>
                                    <span class="badge badge-success" *ngIf="element.status==Status.Active">{{
                                        'common.active' | translate }}</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="created_at">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'common.createdAt' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.created_at | date: 'yyyy-MM-dd HH:mm:ss'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="function">
                                <th mat-header-cell *matHeaderCellDef class="text-center">
                                    {{ 'common.edit' | translate }}/{{ 'common.delete' | translate }} </th>
                                <td mat-cell *matCellDef="let element" class="text-center">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <a [routerLink]="['/system/clone-agent-edit',element.id]"
                                            class="btn btn-sm d-flex align-items-center btn-golden ml-1" role="button">
                                            <i class="cui-note icons font-l d-block"></i>
                                            {{ 'common.edit' | translate }}
                                        </a>

                                        <button title="{{ 'authority.deleteUser' | translate }}"
                                            class="btn btn-sm btn-danger d-flex align-items-center ml-1" type="button"
                                            (click)="deleteAgent(element.id)"><i
                                                class="cui-trash icons font-l d-block"></i>
                                            {{ 'common.delete' | translate }}
                                        </button>
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>

                    <mat-paginator [pageSize]="50" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>