<div class="animated fadeIn">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong *ngIf="!id;else elseTmpl">{{ 'common.add' | translate }}</strong>
                <ng-template #elseTmpl>
                    <ng-container *ngIf="data">
                        <div class="allow-btn d-inline">
                            <span>遊戲狀態</span>
                            <button class="btn btn-sm btn-golden mr-2" [ngClass]="{'checked': data.is_allow_play}"
                                (click)="changeAgentAllowGame(data)">
                                開
                            </button>
                            <button class="btn btn-sm btn-danger" [ngClass]="{'checked': !data.is_allow_play}"
                                (click)="changeAgentAllowGame(data)">
                                關
                            </button>
                        </div>
                        <button class="btn btn-sm btn-danger float-right" (click)="deleteAgent(data.id)">
                            帳號刪除
                        </button>
                    </ng-container>
                </ng-template>
            </div>
            <div class="card-body">
                <form [formGroup]="myForm" class="form-horizontal">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">{{ 'manageAgent.name' | translate
                            }}</label>
                        <div class="col-md-4">
                            <input
                                [ngClass]="{'is-invalid': myForm.controls['real_name'].errors && myForm.controls['real_name'].touched}"
                                [formControl]="myForm.controls['real_name']" type="text" class="form-control"
                                placeholder="{{ 'common.inputName' | translate }}">
                            <div class="invalid-feedback">
                                <span *ngIf="myForm.controls['real_name'].hasError('required')">
                                    {{ 'common.required' | translate }}
                                </span>
                                <span *ngIf="myForm.controls['real_name'].hasError('maxlength')">
                                    {{ 'login.form.lengthLessThan' | translate: { length: 10 } }}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">{{ 'manageAgent.account' | translate
                            }}</label>
                        <div class="col-md-4 my-auto">
                            <input
                                [ngClass]="{'is-invalid': myForm.controls['name'].errors && myForm.controls['name'].touched}"
                                [formControl]="myForm.controls['name']" type="text" class="form-control"
                                placeholder="請輸入6~12位英文及數字">
                            <div class="invalid-feedback">
                                <ng-container *ngIf="myForm.controls['name'].hasError('required')">
                                    {{ 'common.required' | translate }}
                                </ng-container>
                                <ng-container *ngIf="myForm.controls['name'].hasError('pattern')">
                                    {{ 'login.form.englishAndNumbers' | translate }}
                                </ng-container>
                                <ng-container *ngIf="myForm.controls['name'].hasError('minlength')">
                                    {{ 'login.form.lengthMustBe' | translate: { length: 6 } }}
                                </ng-container>
                                <ng-container *ngIf="myForm.controls['name'].hasError('maxlength')">
                                    {{ 'login.form.lengthLessThan' | translate: { length: 12 } }}
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">{{ 'manageAgent.password' | translate
                            }}</label>
                        <div class="form-group col-sm-4">
                            <!-- {{ myForm.controls['password'].value }} -->
                            <input
                                [ngClass]="{'is-invalid': myForm.controls['password'].errors && myForm.controls['password'].touched}"
                                [formControl]="myForm.controls['password']"
                                [type]="id&&loginUserIndentity===UserRole.admin  ? 'text' : 'password'"
                                class="form-control" placeholder="請輸入6~12位英文及數字">
                            <div class="invalid-feedback">
                                <span class="text-danger" *ngIf="myForm.controls['password'].hasError('pattern')">
                                    {{ 'login.form.englishAndNumbers' | translate }}
                                </span>
                                <span *ngIf="myForm.controls['password'].hasError('required')">
                                    {{ 'common.required' | translate }}
                                </span>
                                <span *ngIf="myForm.controls['password'].hasError('minlength')">
                                    {{ 'login.form.lengthMustBe' | translate: { length: 6 } }}
                                </span>
                                <span *ngIf="myForm.controls['password'].hasError('maxlength')">
                                    {{ 'login.form.lengthLessThan' | translate: { length: 12 } }}
                                </span>
                            </div>
                            <!-- <span class="text-danger">
                                {{ 'manageAgent.form.editWithin24Hours' | translate }}
                            </span> -->

                        </div>
                    </div>



                    <!-- <div class="form-group row" *ngIf="id !== 0">
                        <label class="col-md-4 col-form-label text-md-right">{{ 'manageAgent.authority' | translate
                            }}</label>
                        <div class="col-md-4 d-flex align-items-center">
                            {{ getTranslatedReceiptType(myForm.controls['identity'].value) }}
                        </div>
                    </div> -->

                    <!-- <div *ngIf="id" class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">
                            {{ 'game.defaultBalance' | translate }}</label>
                        <div class="col-md-4 my-auto">
                            {{ myForm.controls['credit'].value  }}
                            <button *ngIf="loginUserIndentity === UserRole.admin" class="btn btn-sm btn-warning ml-2"
                                (click)="clearUserCredit()">
                                {{ 'manageAgent.form.clearCredit' | translate }}
                            </button>
                        </div>
                    </div> -->

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right" [ngClass]="{'text-golden': id}">
                            {{ 'agentCredit' | translate }}
                            <span *ngIf="id">{{ agentWallet }}</span>
                        </label>
                        <div class="col-md-4">
                            <input #walletInput
                                [ngClass]="{'is-invalid': myForm.controls['wallet'].errors && myForm.controls['wallet'].touched}"
                                [formControl]="myForm.controls['wallet']" type="number" class="form-control"
                                placeholder="{{ 'manageAgent.form.enterCredit' | translate }}">
                            <div class="invalid-feedback">
                                {{ getFormCtrlErrDesc(myForm.get('wallet')) }}
                            </div>
                            <div *ngIf="id" class="mt-1">
                                <button class="btn btn-sm btn-golden"
                                    (click)="modifyUserSicboCredit(walletInput.value);walletInput.value = ''">
                                    {{ 'manageAgent.form.increaseCredit' | translate }}
                                </button>
                                <button class="btn btn-sm btn-danger ml-1"
                                    (click)="modifyUserSicboCredit(walletInput.value, true);walletInput.value = ''">
                                    {{ 'manageAgent.form.decreaseCredit' | translate }}
                                </button>
                                <!-- <button *ngIf="loginUserIndentity === UserRole.admin"
                                    class="btn btn-sm btn-warning ml-1" (click)="clearUserSicboCreditAndWallet()">
                                    {{ 'manageAgent.form.clearCredit' | translate }}
                                </button> -->
                                <span
                                    *ngIf="parent && parent.identity !== UserRole.admin && parent.identity !== UserRole.management"
                                    style="color: #eebf16">{{
                                    'manageAgent.form.remainingCredit' | translate }}
                                    {{ parentWallet }}
                                </span>
                            </div>
                            <span
                                *ngIf="!id  && loginUserIndentity !== UserRole.admin && loginUserIndentity !== UserRole.management"
                                style="color: #eebf16">{{
                                'manageAgent.form.remainingCredit' | translate }}
                                {{ loginParentWallet }}
                            </span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">
                            洗碼(%)
                        </label>
                        <div class="col-md-4">
                            <select class="form-control" formControlName="wash_code_commission_percent">
                                <option value="0" selected>0</option>
                                <option [value]="item" *ngFor="let item of washCodeRange"
                                    [hidden]="item > parentWashCodePercent">{{ item }}</option>
                            </select>
                            <div class="row col-md-12 mt-1">
                                <div class="text-danger my-auto ml-3"
                                    *ngIf="myForm.controls['wash_code_commission_percent'].hasError('max') || myForm.controls['wash_code_commission_percent'].hasError('min')">
                                    {{ 'manageAgent.form.rangeMustBe' | translate }} 0 ~ 1
                                </div>
                            </div>
                        </div>
                        <div class="invalid-feedback">
                            {{ 'common.required' | translate }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">{{ 'manageAgent.form.revenueShare' |
                            translate }}(%)
                        </label>
                        <div class="col-md-4">
                            <input #revenue
                                [ngClass]="{'is-invalid': myForm.controls['revenue_share'].errors && myForm.controls['revenue_share'].touched}"
                                list="revenueShare" class="form-control" type="text" formControlName="revenue_share"
                                placeholder="{{ 'pleaseInputNumber' | translate }}" (mousedown)="revenue.value=''"
                                (blur)="revenue.value = myForm.controls['revenue_share'].value">
                            <datalist id="revenueShare" (change)="revenueShare($event.target.value)">
                                <option value="0">0</option>
                                <option [value]="item" *ngFor="let item of revenueShareRange"
                                    [disabled]="item > parentRevenueShare">
                                    {{ item }}
                                </option>
                            </datalist>
                            <div *ngIf="id" class="mt-1">
                                <!-- <button class="btn btn-golden btn-sm" (click)="updateAgentWashCode()">
                                    {{ 'common.update' | translate }}
                                </button> -->
                                <span class="badge" *ngIf="SystemSetting && id" style="color: #000">{{
                                    'manageAgent.form.editTime' | translate }}
                                    {{ getTranslatedWeek(updateRebateTimeDate[0][0].week) }}
                                    {{ updateRebateTimeDate[0][0].start_time }}~{{ updateRebateTimeDate[0][0].end_time
                                    }}
                                </span>
                            </div>

                            <div class="text-danger my-auto ml-3"
                                *ngIf="myForm.controls['revenue_share'].hasError('max') || myForm.controls['revenue_share'].hasError('min')">
                                {{ 'manageAgent.form.rangeMustBe' | translate }} 0% ~ 100%</div>
                        </div>
                    </div>

                    <!-- <div class="form-group row">
                        <label class="col-md-4 text-md-right col-form-label" for="date-input">{{
                            'manageAgent.form.searchingAuthority' | translate }}</label>
                        <div class="col-md-4 my-auto">
                            <label *ngIf="isParentOperationEmpty()">{{ 'noPermissionsAvailable' | translate }}</label>

                            <label *ngIf="isExistOperation(AgentAuthority.OperationItemReportRecordList)"
                                class="radio-inline mx-1">
                                <input [checked]="getChecked(AgentAuthority.OperationItemReportRecordList)"
                                    [value]="AgentAuthority.OperationItemReportRecordList" type="checkbox"
                                    (change)="onCheckboxChange($event)"> {{ 'nav.reportRecordList' | translate }}
                            </label>

                            <label *ngIf="isExistOperation(AgentAuthority.OperationItemDonateList)"
                                class="radio-inline mx-1">
                                <input [checked]="getChecked(AgentAuthority.OperationItemDonateList)"
                                    [value]="AgentAuthority.OperationItemDonateList" type="checkbox"
                                    (change)="onCheckboxChange($event)"> {{ 'nav.donateRecordList' | translate }}
                            </label>

                            <label *ngIf="isExistOperation(AgentAuthority.OperationItemcalcItemResultList)"
                                class="radio-inline mx-1">
                                <input [checked]="getChecked(AgentAuthority.OperationItemcalcItemResultList)"
                                    [value]="AgentAuthority.OperationItemcalcItemResultList" type="checkbox"
                                    (change)="onCheckboxChange($event)"> {{ 'nav.gameRecordList' | translate }}
                            </label>

                            <label *ngIf="isExistOperation(AgentAuthority.OperationItemDrawSettings)"
                                class="radio-inline mx-1">
                                <input [checked]="getChecked(AgentAuthority.OperationItemDrawSettings)"
                                    [value]="AgentAuthority.OperationItemDrawSettings" type="checkbox"
                                    (change)="onCheckboxChange($event)"> {{ 'nav.drawSettings' | translate }}
                            </label>
                        </div>
                    </div> -->

                    <!-- <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">{{ 'manageAgent.form.remark' | translate
                            }}</label>
                        <div class="col-md-4 my-auto">
                            <textarea rows="5"
                                [ngClass]="{'is-invalid': myForm.controls['remark'].hasError('required') && myForm.controls['remark'].touched}"
                                [formControl]="myForm.controls['remark']" type="number" class="form-control">
                                </textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">{{ 'manageAgent.form.bank' | translate
                            }}</label>
                        <div class="col-md-4 my-auto">
                            <textarea rows="5"
                                [ngClass]="{'is-invalid': myForm.controls['bank_account'].hasError('required') && myForm.controls['bank_account'].touched}"
                                [formControl]="myForm.controls['bank_account']" type="number" class="form-control">
                                </textarea>
                        </div>
                    </div> -->

                    <!-- <div class="form-group row mt-3">
                        <label class="col-md-4 col-form-label text-md-right" for="date-input">
                            {{ 'manageAgent.accountStatus' | translate }}({{ 'common.inActive' | translate }}/{{
                            'common.active' | translate }})
                        </label>
                        <div class="col-md-4">
                            <label class="switch switch-3d switch-primary">
                                <input [formControl]="myForm.controls['status']" class="switch-input" type="checkbox">
                                <span class="switch-slider"></span>
                            </label>
                        </div>
                    </div> -->

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">
                            單注限額
                        </label>
                        <div class="col-md-4">
                            <app-single-bet-panel #singlePanel [isCreating]="!id" [self]="user" [parent]="parent">
                            </app-single-bet-panel>
                        </div>
                    </div>

                </form>
            </div>
            <div class="card-footer">
                <button appDebounceClick (debounceClick)="submitForm(myForm.getRawValue())" type="submit"
                    class="btn btn-sm btn-golden"><i class="fa fa-dot-circle-o"></i>
                    {{ 'common.confirm' | translate }}</button>
                <button (click)="cancel()" type="reset" class="btn btn-sm btn-danger ml-1"><i class="fa fa-ban"></i>
                    {{ 'common.cancel' | translate }}</button>
            </div>
        </div>
    </div>
</div>

<app-allow-game [hidden]="true" #allowGame></app-allow-game>
<app-commission-setting [hidden]="true" #commissionSetting></app-commission-setting>