<div class="table-responsive">

    <table #sortByBetRecord="matSort" class="col-md-12 table-striped" mat-table matSort
        [dataSource]="dataSourceOfBetRecord" matSortActive="created_at" matSortDirection="desc">

        <ng-container matColumnDef="key">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'searching.gameNumber' | translate }} </th>
            <td mat-cell *matCellDef="let element">
                <span>
                    {{ element.key }}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="amount_total">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'report.totalAmount' | translate }} </th>
            <td mat-cell *matCellDef="let element">
                <span>
                    {{ element.amount_total }}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="game_result_amount_total">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'report.gameResultAmount' | translate }} </th>
            <td mat-cell *matCellDef="let element">
                <span>
                    {{ element.game_result_amount_total }}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="item_types_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'searching.betItem' | translate }} </th>
            <td mat-cell *matCellDef="let element">
                <span>
                    {{ element.item_types_ids }}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="item_type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'drawResult' | translate }} </th>
            <td mat-cell *matCellDef="let element">
                <span>
                    {{ element.item_type }}
                </span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsOfBetRecord"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsOfBetRecord;"></tr>
    </table>
    <div *ngIf="checkValueByKeys()" class="text-center m-3">
        {{ 'common.noData' | translate }}</div>
    <div *ngIf="!dataOfResultAmountTotal" class="text-center my-5">
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <mat-paginator #paginatorOfBetRecord [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
</div>