<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    會員
                    <a *ngIf="addMember" [routerLink]="['/agant-add-member', 0]" class="btn btn-golden float-right">
                        <svg-icon src="./assets/img/svg/icon_member.svg"></svg-icon>
                        {{ 'common.add' | translate }}
                    </a>
                </div>
                <div class="card-body">
                    <ng-container *ngIf="showMember">

                        <div class="table-responsive col-md-12 mb-5 mt-5">
                            <!-- <a *ngIf="addMember" [routerLink]="['/agant-add-member', 0]" class="btn btn-golden">
                                <svg-icon src="./assets/img/svg/icon_member.svg"></svg-icon>
                                {{ 'common.add' | translate }}會員
                            </a>
                            <button *ngIf="!addMember" class="btn btn-golden">
                                <svg-icon src="./assets/img/svg/icon_member.svg"></svg-icon>會員
                            </button> -->

                            <table class="col-md-12 table-striped" mat-table [dataSource]="dataSource">
                                <ng-container matColumnDef="index">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'common.index' | translate }}
                                    </th>
                                    <td class="text-center" *matCellDef="let element;let i=index">{{ i+1 }}</td>
                                </ng-container>

                                <ng-container matColumnDef="account">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'manageAgent.account' | translate }} </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span *ngIf="!addMember">{{ element.account }}</span>
                                        <a *ngIf="addMember" [routerLink]="['/member-edit',element.id]">
                                            {{ element.account }}
                                        </a>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'manageAgent.name' | translate }} </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.name }} </td>
                                </ng-container>

                                <ng-container matColumnDef="wallet">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'manageAgent.balance' | translate }} </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.member_wallet.dragon_tiger_wallet }} </td>
                                </ng-container>

                                <ng-container matColumnDef="wash_code_commission_percent">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'manageAgent.washCode' | translate }}(%) </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.wash_code_commission_percent }}% </td>
                                </ng-container>

                                <ng-container matColumnDef="is_online">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'manageAgent.online' | translate }} </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span *ngIf="element.is_online == Status.Active" class="badge badge-success">{{
                                            'manageAgent.yes' | translate
                                            }}</span>
                                        <span *ngIf="element.is_online == Status.InActive" class="badge badge-danger">{{
                                            'manageAgent.no' | translate }}</span>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="is_play_game">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'game.gaming' | translate }} </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span *ngIf="element.is_play_game==Status.Active" class="badge badge-success">{{
                                            'manageAgent.yes' | translate
                                            }}</span>
                                        <span *ngIf="element.is_play_game==Status.InActive"
                                            class="badge badge-danger">{{
                                            'manageAgent.no' | translate }}</span>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="is_allow_play">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'manageAgent.memberStatus' | translate }} </th>
                                    <td class="text-center align-bottom" mat-cell *matCellDef="let element">
                                        <label class="switch switch-sm switch-label switch-pill switch-primary">
                                            <input (change)="changeMemberAllowGame(element)"
                                                [checked]="element.is_allow_play==Status.Active" class="switch-input"
                                                type="checkbox">
                                            <span class="switch-slider" data-checked="開" data-unchecked="關"></span>
                                        </label>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'manageAgent.accountStatus' | translate }} </th>
                                    <td class="text-center align-bottom" mat-cell *matCellDef="let element">
                                        <label class="switch switch-sm switch-label switch-pill switch-primary">
                                            <input (change)="changeMemberStatus(element)"
                                                [checked]="element.status==Status.Active" class="switch-input"
                                                type="checkbox">
                                            <span class="switch-slider" data-checked="開" data-unchecked="關"></span>
                                        </label>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="function">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'common.edit' | translate }}/{{ 'common.delete' | translate }} </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="d-flex align-items-center">
                                            <a title="{{ 'manageAgent.editAccount' | translate }}"
                                                [routerLink]="['/member-edit',element.id]"
                                                class="btn btn-sm d-flex align-items-center btn-golden ml-1"
                                                role="button"><i class="cui-note icons font-l d-block"></i>
                                                {{ 'common.edit' | translate }}
                                            </a>
                                            <button title="{{ 'manageAgent.deleteAccount' | translate }}"
                                                class="btn btn-sm d-flex align-items-center btn-danger ml-1"
                                                type="button" (click)="deleteMember(element.id)"><i
                                                    class="cui-trash icons font-l d-block"></i>
                                                {{ 'common.delete' | translate }}
                                            </button>
                                        </div>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator [hidden]="1" [pageSize]="50" [pageSizeOptions]="[5, 10, 20]"
                                showFirstLastButtons>
                            </mat-paginator>
                            <div *ngIf="loaded && !dataSource.data.length" class="text-center m-3">
                                {{ 'common.noData' | translate }}</div>

                            <div *ngIf="!loaded" class="text-center my-5">
                                <div class="lds-roller">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                </div>
            </div>
        </div>
    </div>
</div>