<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> 最新消息
                    <a [routerLink]="['/news-add']" class="btn btn-golden float-right" role="button">新增</a>
                </div>
                <div class="card-body">
                    <mat-form-field class="col-md-3">
                        <mat-label>搜尋</mat-label>
                        <input matInput (keyup)="applyFilter($event)">
                    </mat-form-field>

                    <div class="table-responsive">
                        <table class="col-md-12 table-striped" mat-table matSort [dataSource]="dataSource"
                            matSortActive="created_at" matSortDirection="desc">

                            <ng-container matColumnDef="title">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 標題 </th>
                                <td mat-cell *matCellDef="let element"> {{ element.title }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="src">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 圖片 </th>
                                <td mat-cell *matCellDef="let element">
                                    <img src="{{ element.pic | imgFullPath }}" width="100">
                                </td>
                            </ng-container>

                            <!-- <ng-container matColumnDef="body">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> 內容 </th>
                            <td mat-cell *matCellDef="let element"> {{ element.body }}
                            </td>
                        </ng-container> -->

                            <ng-container matColumnDef="audience">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 受眾 </th>
                                <td mat-cell *matCellDef="let element"> {{ getAudienceName(element.audience) }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="edit">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 編輯/刪除 </th>
                                <td mat-cell *matCellDef="let element">
                                    <button class="btn btn-golden " type="button"
                                        [routerLink]="['/news-edit',element.id]"><i
                                            class="cui-note icons font-l d-block"></i></button>
                                    <button class="btn btn-danger ml-1" type="button" (click)="delete(element.id)"><i
                                            class="cui-trash icons font-l d-block"></i></button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        </table>
                    </div>

                    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                    </mat-paginator>

                </div>
            </div>
        </div>
    </div>
</div>