.panel {
    background: linear-gradient(#6c6c6c, #636363, #303030);
}

.box {
    text-shadow: 1px 3px 3px #3c3c3c;
    border: 1px solid #ccaf6b;
    font-size: 5vmin;
    font-weight: bold;
    height: 200px;
}

.blue {
    color: #1596e7;
}

.red {
    color: #e74445;
}

.green {
    color: #49c03a;
}

.yellow {
    color: #ffe4a3;
}

input {
    text-align: center;
    max-width: 100px;
    font-weight: bolder;
}