<div class="panel">
  <form [formGroup]="form">
    <div class="col-md-12">
      <div class="row text-center">
        <!-- <div class="col-3 box blue">
          <label class="col-form-label"> 小 </label>
          <div class="mt-1 yellow">
            <label class="col-form-label">
              <input formControlName="30" type="text" class="form-control"
                [ngClass]="{'is-invalid': isFormControlInvalid(30)}">
            </label>
          </div>
        </div> -->
        <div class="col-6 box blue">
          <label class="col-form-label"> {{ 'bet.PlayerPair' | translate }} </label>
          <div class="mt-1 yellow">
            <label class="col-form-label">
              <input formControlName="27" type="text" class="form-control"
                [ngClass]="{'is-invalid': isFormControlInvalid(27)}">
            </label>
          </div>
        </div>
        <div class="col-6 box red">
          <label class="col-form-label"> {{ 'bet.BankerPair' | translate }} </label>
          <div class="mt-1 yellow">
            <label class="col-form-label">
              <input formControlName="28" type="text" class="form-control"
                [ngClass]="{'is-invalid': isFormControlInvalid(28)}">
            </label>
          </div>
        </div>
        <!-- <div class="col-3 box red">
          <label class="col-form-label"> 大 </label>
          <div class="mt-1 yellow">
            <label class="col-form-label">
              <input formControlName="29" type="text" class="form-control"
                [ngClass]="{'is-invalid': isFormControlInvalid(29)}">
            </label>
          </div>
        </div> -->
      </div>
    </div>
    <div class="col-md-12">
      <div class="row text-center">
        <div class="col-4 box blue">
          <label class="col-form-label"> {{ 'bet.PlayerShort' | translate }} </label>
          <div class="mt-1 yellow">
            <label class="col-form-label">
              <input formControlName="24" type="text" class="form-control"
                [ngClass]="{'is-invalid': isFormControlInvalid(24)}">
            </label>
          </div>
        </div>
        <div class="col-4 box green">
          <label class="col-form-label"> {{ 'bet.Tie' | translate }} </label>
          <div class="mt-1 yellow">
            <label class="col-form-label">
              <input formControlName="26" type="text" class="form-control"
                [ngClass]="{'is-invalid': isFormControlInvalid(26)}">
            </label>
          </div>
        </div>
        <div class="col-4 box red">
          <label class="col-form-label"> {{ 'bet.BankerShort' | translate }} </label>
          <div class="mt-1 yellow">
            <label class="col-form-label">
              <input formControlName="25" type="text" class="form-control"
                [ngClass]="{'is-invalid': isFormControlInvalid(25)}">
            </label>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>