<div class="table-responsive">
    <table class="table my-auto">
        <tr>
            <td>
                <b class="px-2">龍</b>
                {{ dragonAmount }}
            </td>
            <td>
                <b class="px-2">和</b>
                {{ tieAmount }}
            </td>
            <td>
                <b class="px-2">虎</b>
                {{ tigerAmount }}
            </td>
        </tr>
    </table>
</div>