 table {
     table-layout: fixed;

     tr {
         background-color: transparent;
     }
 }

 td {
     width: 100px;
     border-left: transparent;
     border-top: transparent;
     border-bottom: transparent;

     &:last-child {
         border-right: transparent;
     }

     img {
         width: 28px;
         margin-right: 5px;
         box-shadow: 0 0 0;
     }

     span,
     img {
         margin-right: 5px;
     }
 }