<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title ">最新消息</h4>
          </div>
          <div class="card-body">

            <div class="form-row align-items-end">
              <div class="col-md-2 mb-3">
                <label>Title</label>
                <input class="form-control" #newsTitle />
              </div>
              <div class="col-md-4 mb-3">
                <button class="btn btn-golden mb-0"
                  (click)="addNews(newsTitle.value); newsTitle.value=''">快速新增</button>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th *ngFor="let title of newsHeads">
                    {{title}}
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor="let item of news">
                    <td>{{ item.title }}</td>
                    <td><img src="{{ item.pic }}" width="100px" /></td>
                    <td>{{ item.body }}</td>
                    <td>{{ getAudienceName(item.audience) }}</td>
                    <a routerLink="/news/{{item.id}}">
                      <td>修改</td>
                    </a>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
