<app-header [fixed]="true" [navbarBrandFull]="{src: 'assets/img/brand/admin.png', width: 110, alt: 'SP Logo'}"
    [navbarBrandMinimized]="{src: 'assets/img/brand/admin.png', width: 40, height: 40, alt: 'CoreUI Logo'}"
    [sidebarToggler]="'lg'" [asideMenuToggler]="''">
    <ul class="nav navbar-nav ml-auto">
        <!-- <li class="gaming">
            <div [hidden]="loginUser && (loginUser.identity === UserRole.staff || loginUser.clone_id)">
                <span class="in-game">{{ 'manageAgent.member' | translate }}{{ memberOnlineNum }}</span>
                <span>
                    <button class="btn btn-light" type="button" (click)="openTimelyBetModal(playingMember)"><i
                            class="cui-magnifying-glass icons font-l d-block"></i></button>
                </span>
                <span class="in-hall">{{ 'manageAgent.agent' | translate }}{{ agentOnlineNum }}</span>
                <span>
                    <button class="btn btn-light" type="button" (click)="openLogginedAgent(logginedAgent)"><i
                            class="cui-magnifying-glass icons font-l d-block"></i></button>
                </span>
            </div>

            <span class="text-muted my-auto">{{ loginUser?.name }}</span>
            <button (click)="logout()" class="btn btn-secondary logout" type="button">
                {{ 'login.action.logout' | translate }}
            </button>
            <select id="pci18n" class="form-control w-auto ml-2" (change)="useLanguage($event.target.value)"
                [(ngModel)]="currentLanguage">
                <option value="zh-tw">{{ 'menu.languageList.taiwanese' | translate }}</option>
                <option value="zh-cn">{{ 'menu.languageList.simplifiedchinese' | translate }}</option>
                <option value="en">{{ 'menu.languageList.english' | translate }}</option>
            </select>
        </li> -->
        <!-- <button (click)="logout()" class="btn btn-secondary logout mr-2 btn-golden" type="button">
            {{ 'login.action.logout' | translate }}
        </button> -->
    </ul>
</app-header>
<div class="app-body">
    <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized"
        (minimizedChange)="toggleMinimize($event)">
        <!-- <div class="info"
            *ngIf="loginUser && loginUser.identity !== UserRole.admin && loginUser.identity !== UserRole.management && loginUser.identity !== UserRole.staff && !loginUser.clone_id">
            <li class="nav-item mt-auto" style="list-style: none;">
                <svg-icon src="../../assets/img/svg/product-menu/game_betting.svg"></svg-icon>
                <span class="balance">{{ 'game.availableBalance' | translate }}</span>
                <span class="balance-number">{{ loginUser.user_wallet.sic_bo_wallet }}</span>
            </li>
        </div> -->
        <app-sidebar-nav class="animated fadeIn" [hidden]="!navItems" [navItems]="navItems" [perfectScrollbar]
            [disabled]="appSidebar.minimized" (click)="checkSameUrl()">
        </app-sidebar-nav>

        <!-- <li class="nav-item mt-auto" style="list-style: none;">
            <a class="nav-link" ng-reflect-ng-class="nav-link" ng-reflect-router-link-active="active" href="logout"
                (click)="logout()">
                <i class="nav-icon icon-logout"></i> 登出
            </a>
        </li> -->
        <!-- <select id="mobilei18n" class="form-control w-auto mx-3 mb-3" (change)="useLanguage($event.target.value)"
            [(ngModel)]="currentLanguage">
            <option value="zh-tw">{{ 'menu.languageList.taiwanese' | translate }}</option>
            <option value="zh-cn">{{ 'menu.languageList.simplifiedchinese' | translate }}</option>
            <option value="en">{{ 'menu.languageList.english' | translate }}</option>
        </select> -->
        <app-sidebar-minimizer class="animated fadeIn"></app-sidebar-minimizer>
    </app-sidebar>

    <!-- Main content -->
    <main class="main">

        <!-- deprecation warning for 'app-breadcrumb' -->
        <!--<ol class="breadcrumb">-->
        <!--<app-breadcrumb></app-breadcrumb>-->
        <!--&lt;!&ndash; Breadcrumb Menu&ndash;&gt;-->
        <!--<li class="breadcrumb-menu d-md-down-none">-->
        <!--<div class="btn-group" role="group" aria-label="Button group with nested dropdown">-->
        <!--<a class="btn" href="#"><i class="icon-speech"></i></a>-->
        <!--<a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>-->
        <!--<a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>-->
        <!--</div>-->
        <!--</li>-->
        <!--</ol>-->
        <div class="container-fluid px-1 px-md-3">
            <router-outlet></router-outlet>
        </div><!-- /.container-fluid -->
    </main>

</div>

<ng-template #InHalltemplate class="template">
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{ 'common.viewData' | translate }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide();clearInterval()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body template-modal">

        <mat-form-field class="col-md-4">
            <mat-label>{{ 'common.search' | translate }}</mat-label>
            <input matInput (keyup)="applyFilter($event)">
        </mat-form-field>

        <div class="table-responsive">
            <table #memberInHallsort="matSort" class="col-md-12 table-striped default" mat-table matSort
                [dataSource]="dataSource" matSortActive="created_at" matSortDirection="desc">

                <ng-container matColumnDef="account">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{ 'manageAgent.account' | translate }} / {{ 'manageAgent.name' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{element.account}} / {{element.name}} </td>
                </ng-container>

                <!-- <ng-container matColumnDef="nickname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> 暱稱 </th>
                    <td mat-cell *matCellDef="let element"> {{element.nickname}} </td>
                </ng-container> -->

                <ng-container matColumnDef="ip">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'manageAgent.ipLocation' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.ip_address}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="is_allow_play">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'manageAgent.memberStatus' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="status-group">
                            <span *ngIf="element.status === Status.Active" class="badge badge-success">{{
                                'common.active' | translate }}</span>
                            <span *ngIf="element.status === Status.InActive" class="badge badge-danger">{{
                                'common.inActive' | translate }}</span>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="function">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'nav.timelyBet' | translate }} </th>
                    <td mat-cell *matCellDef="let element">
                        <button title="{{ getAllowGameStatus(element.is_allow_play) }}"
                            [ngClass]="changeBtnColor(element.is_allow_play)" class="btn btn-sm ml-1" type="button"
                            (click)="allowGameToggle(element.id, element.is_allow_play)">
                            <span class="badge" *ngIf="element.is_allow_play==Status.InActive">{{ 'common.active' |
                                translate }}</span>
                            <span class="badge" *ngIf="element.is_allow_play==Status.Active">{{ 'common.inActive' |
                                translate }}</span>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div *ngIf="!dataSource.data.length" class="text-center m-3">{{ 'common.noData' | translate }}</div>
            <div *ngIf="!dataOfHall" class="text-center my-5">
                <div class="lds-roller">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</ng-template>

<ng-template #InGametemplate class="InGametemplate">
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{ 'common.viewData' | translate }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide();clearInterval()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body template-modal">

        <div class="row px-3">
            <mat-form-field class="col-md-4">
                <mat-label>{{ 'common.search' | translate }}</mat-label>
                <input matInput (keyup)="applyFilter($event)">
            </mat-form-field>

            <!-- <div *ngIf="identity!==UserRole.admin" class="ml-auto">
                <button class="btn btn-success" (click)="openTimelyBetModal(loginUserID)">{{ 'manageAgent.showAgents' | translate }}</button>
            </div> -->
        </div>


        <div class="table-responsive">
            <table #memberInGameSort="matSort" class="col-md-12 table-striped default" mat-table matSort
                [dataSource]="InGamedataSource" matSortActive="created_at" matSortDirection="desc">

                <ng-container matColumnDef="InGameAccount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'manageAgent.account' | translate }} /
                        {{ 'manageAgent.name' | translate }} </th>
                    <td mat-cell *matCellDef="let element" (click)="openModal(template, element)">
                        <span>{{element.account}} / {{element.name}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="ip">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'manageAgent.ipLocation' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.ip_address}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="is_allow_play">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{ 'manageAgent.memberStatus' | translate }} </th>
                    <td class="text-center align-bottom" mat-cell *matCellDef="let element">
                        <label class="switch switch-sm switch-3d switch-primary">
                            <input (change)="changeMemberAllowGame(element)"
                                [checked]="element.is_allow_play==Status.Active" class="switch-input" type="checkbox">
                            <span class="switch-slider"></span>
                        </label>
                    </td>
                </ng-container>

                <ng-container matColumnDef="modal">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'nav.drawSettings' | translate }} </th>
                    <td mat-cell *matCellDef="let element">
                        <button type="button" class="btn btn-sm btn-golden" (click)="openModal(template, element)">
                            <span class="badge">{{ 'common.view' | translate }}</span>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="InGamedisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: InGamedisplayedColumns;"></tr>
            </table>
            <div *ngIf="!InGamedataSource.data.length" class="text-center m-3">{{ 'common.noData' | translate }}</div>
            <div *ngIf="!dataOfGame" class="text-center my-5">
                <div class="lds-roller">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <!-- <button class="btn btn-golden" (click)="AllowMembersPlayGame()">{{ 'game.resumeAll' | translate }}</button>
        <button class="btn btn-danger" (click)="kickAllMembers()">{{ 'game.kickAll' | translate }}</button> -->
    </div>
</ng-template>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{ 'memberTimelyBet' | translate }} ({{ memberInfo?.name }})</h4>
        <button class="btn btn-sm btn-danger d-flex align-items-center mx-3" (click)="kickMember()">
            <i class="cui-circle-x icons font-l d-block"></i>{{ 'game.kick' | translate }}</button>
        <button type="button" class="close pull-right" aria-label="Close"
            (click)="modalRefMemberBet.hide();clearInterval()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body template-modal">
        <div class="table-responsive">
            <table #memberBetsort="matSort" class="col-md-12 table-striped default" mat-table matSort
                [dataSource]="memberBetDataSource" matSortActive="created_at" matSortDirection="desc">

                <ng-container matColumnDef="game_types_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'gameType' | translate }} </th>
                    <td mat-cell *matCellDef="let element">
                        <span>
                            {{ getGameTypeName(element.game_types_id) }}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="game_number">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'searching.gameNumber' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <span>
                            {{ element.game_number }}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="item_types_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'itemType' | translate }} </th>
                    <td mat-cell *matCellDef="let element">
                        <span>
                            {{ getItemTypeName(element.item_types_id) }}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'searching.action' | translate }} </th>
                    <td mat-cell *matCellDef="let element">
                        <span>
                            {{ getGameActionTypeByID(element.action) }}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'betAmount' | translate }} </th>
                    <td mat-cell *matCellDef="let element">
                        <span>
                            {{ element.amount }}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="created_at">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'betTime' | translate }} </th>
                    <td mat-cell *matCellDef="let element">
                        <span>
                            {{ element.created_at | date:'yyyy-MM-dd HH:mm:ss'}}
                        </span>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="memberBetDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: memberBetDisplayedColumns;"></tr>
            </table>
            <div *ngIf="!memberBetDataSource.data.length" class="text-center m-3">{{ 'common.noData' | translate }}
            </div>
            <div *ngIf="!dataOfBet" class="text-center my-5">
                <div class="lds-roller">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">

    </div>
</ng-template>

<ng-template #playingMember class="template">
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{ 'common.viewData' | translate }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide();clearInterval()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body template-modal">
        <app-timely-bet-modal (memberNum)="setMemberOnlineNum($event)" [userID]="loginUserID"></app-timely-bet-modal>
    </div>
    <div class="modal-footer">
    </div>
</ng-template>

<ng-template #logginedAgent class="template">
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{ 'common.viewData' | translate }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide();clearInterval()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body template-modal">
        <app-agent-online (agentNum)="setAgentOnlineNum($event)"></app-agent-online>
    </div>
    <div class="modal-footer">
    </div>
</ng-template>