<h2 *ngIf="!this.betTotalAmountValid" class="mb-2 text-danger text-center">
    <b>{{ 'betTotalExceeded' | translate }}</b>
</h2>

<!-- <div *ngIf="!readonly" class="form-group row">
    <div class="col-md-3">
        <small>{{ 'singleBetSetting' | translate }}</small>
        <input #amount type="text" class="form-control">
    </div>
    <div [hidden]="true" class="col-md-3">
        <small>{{ 'singleBetTotal' | translate }}</small>
        <input #total type="text" class="form-control">
    </div>
    <div class="col-md-3 mt-auto">
        <button class="btn btn-golden btn-md"
            (click)="applyAll(amount.value, total.value);amount.value='';total.value=''">
            {{ 'applyAll' | translate }}
        </button>
    </div>
</div> -->

<!-- <div class="form-group">
    <label class="text-md-right col-form-label" for="game-type">
        {{ 'gameType' | translate }}
    </label>
    <select class="form-control w-auto" [(ngModel)]="gameTypeID">
        <option *ngFor="let item of gameTypes" [value]="item.id">
            {{ getTranslatedGameName(item.en_name) }}
        </option>
    </select>
</div> -->

<form [formGroup]="myForm">
    <table class="table table-striped" [hidden]="gameTypeID!=GameTypeEnum.GameTypeSicBo">
        <tbody>
            <tr>
                <td colspan="2" formGroupName="1">
                    <span>{{ 'bet.Big' | translate }}</span>
                    <div class="row">
                        <div class="mx-auto">
                            <small>{{ 'singleBetSetting' | translate }}</small>
                            <input *ngIf="!readonly" formControlName="amount" type="text" class="form-control"
                                [class.is-invalid]="isInvalid('1','amount')">
                            <div *ngIf="readonly" class="highColor">{{ getValue('1','amount') }}</div>
                            <h2 class="invalid-feedback mb-0">
                                <b *ngIf="hasError('1','amount')">
                                    {{ 'exceedTheLimit' | translate }}
                                    <br>
                                    {{ maxValue('1','amount') }}
                                </b>
                                <b *ngIf="hasError('1','amount','exceed')">
                                    {{ 'betLimitExceeded' | translate }}
                                </b>
                            </h2>
                        </div>
                        <div *ngIf="false" class="mx-auto">
                            <small>{{ 'singleBetTotal' | translate}}</small>
                            <input *ngIf="!readonly" formControlName="total" type="text" class="form-control"
                                [class.is-invalid]="isInvalid('1','total')">
                            <div *ngIf="readonly" class="highColor">{{ getValue('1','total') }}</div>
                            <h2 *ngIf="hasError('1','total')" class="invalid-feedback mb-0">
                                <b>
                                    {{ 'exceedTheLimit' | translate }}
                                    <br>
                                    {{ maxValue('1','total') }}
                                </b>
                            </h2>
                        </div>
                    </div>
                </td>
                <td colspan="2" rowspan="2" formGroupName="17">
                    <span>{{ 'bet.AnyTriple' | translate }}</span>
                    <div class="row mt-md-5">
                        <div class="mx-auto">
                            <small>{{ 'singleBetSetting' | translate }}</small>
                            <input *ngIf="!readonly" formControlName="amount" type="text" class="form-control"
                                [class.is-invalid]="isInvalid('17','amount')">
                            <div *ngIf="readonly" class="highColor">{{ getValue('17','amount') }}</div>
                            <h2 class="invalid-feedback mb-0">
                                <b *ngIf="hasError('17','amount')">
                                    {{ 'exceedTheLimit' | translate }}
                                    <br>
                                    {{ maxValue('17','amount') }}
                                </b>
                                <b *ngIf="hasError('17','amount','exceed')">
                                    {{ 'betLimitExceeded' | translate }}
                                </b>
                            </h2>
                        </div>
                        <div *ngIf="false" class="mx-auto">
                            <small>{{ 'singleBetTotal' | translate}}</small>
                            <input *ngIf="!readonly" formControlName="total" type="text" class="form-control"
                                [class.is-invalid]="isInvalid('17','total')">
                            <div *ngIf="readonly" class="highColor">{{ getValue('17','total') }}</div>
                            <h2 *ngIf="hasError('17','total')" class="invalid-feedback mb-0">
                                <b>
                                    {{ 'exceedTheLimit' | translate }}
                                    <br>
                                    {{ maxValue('17','total') }}
                                </b>
                            </h2>
                        </div>
                    </div>
                </td>
                <td colspan="2" formGroupName="2">
                    <span>{{ 'bet.Small' | translate }}</span>
                    <div class="row">
                        <div class="mx-auto">
                            <small>{{ 'singleBetSetting' | translate }}</small>
                            <input *ngIf="!readonly" formControlName="amount" type="text" class="form-control"
                                [class.is-invalid]="isInvalid('2','amount')">
                            <div *ngIf="readonly" class="highColor">{{ getValue('2','amount') }}</div>
                            <h2 class="invalid-feedback mb-0">
                                <b *ngIf="hasError('2','amount')">
                                    {{ 'exceedTheLimit' | translate }}
                                    <br>
                                    {{ maxValue('2','amount') }}
                                </b>
                                <b *ngIf="hasError('2','amount','exceed')">
                                    {{ 'betLimitExceeded' | translate }}
                                </b>
                            </h2>
                        </div>
                        <div *ngIf="false" class="mx-auto">
                            <small>{{ 'singleBetTotal' | translate}}</small>
                            <input *ngIf="!readonly" formControlName="total" type="text" class="form-control"
                                [class.is-invalid]="isInvalid('2','total')">
                            <div *ngIf="readonly" class="highColor">{{ getValue('2','total') }}</div>
                            <h2 *ngIf="hasError('2','total')" class="invalid-feedback mb-0">
                                <b>
                                    {{ 'exceedTheLimit' | translate }}
                                    <br>
                                    {{ maxValue('2','total') }}
                                </b>
                            </h2>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" formGroupName="3">
                    <span>{{ 'bet.Odd' | translate }}</span>
                    <div class="row">
                        <div class="mx-auto">
                            <small>{{ 'singleBetSetting' | translate }}</small>
                            <input *ngIf="!readonly" formControlName="amount" type="text" class="form-control"
                                [class.is-invalid]="isInvalid('3','amount')">
                            <div *ngIf="readonly" class="highColor">{{ getValue('3','amount') }}</div>
                            <h2 class="invalid-feedback mb-0">
                                <b *ngIf="hasError('3','amount')">
                                    {{ 'exceedTheLimit' | translate }}
                                    <br>
                                    {{ maxValue('3','amount') }}
                                </b>
                                <b *ngIf="hasError('3','amount','exceed')">
                                    {{ 'betLimitExceeded' | translate }}
                                </b>
                            </h2>
                        </div>
                        <div *ngIf="false" class="mx-auto">
                            <small>{{ 'singleBetTotal' | translate}}</small>
                            <input *ngIf="!readonly" formControlName="total" type="text" class="form-control"
                                [class.is-invalid]="isInvalid('3','total')">
                            <div *ngIf="readonly" class="highColor">{{ getValue('3','total') }}</div>
                            <h2 *ngIf="hasError('3','total')" class="invalid-feedback mb-0">
                                <b>
                                    {{ 'exceedTheLimit' | translate }}
                                    <br>
                                    {{ maxValue('3','total') }}
                                </b>
                            </h2>
                        </div>
                    </div>
                </td>
                <td colspan="2" formGroupName="4">
                    <span>{{ 'bet.Even' | translate }}</span>
                    <div class="row">
                        <div class="mx-auto">
                            <small>{{ 'singleBetSetting' | translate }}</small>
                            <input *ngIf="!readonly" formControlName="amount" type="text" class="form-control"
                                [class.is-invalid]="isInvalid('4','amount')">
                            <div *ngIf="readonly" class="highColor">{{ getValue('4','amount') }}</div>
                            <h2 class="invalid-feedback mb-0">
                                <b *ngIf="hasError('4','amount')">
                                    {{ 'exceedTheLimit' | translate }}
                                    <br>
                                    {{ maxValue('4','amount') }}
                                </b>
                                <b *ngIf="hasError('4','amount','exceed')">
                                    {{ 'betLimitExceeded' | translate }}
                                </b>
                            </h2>
                        </div>
                        <div *ngIf="false" class="mx-auto">
                            <small>{{ 'singleBetTotal' | translate}}</small>
                            <input *ngIf="!readonly" formControlName="total" type="text" class="form-control"
                                [class.is-invalid]="isInvalid('4','total')">
                            <div *ngIf="readonly" class="highColor">{{ getValue('4','total') }}</div>
                            <h2 *ngIf="hasError('4','total')" class="invalid-feedback mb-0">
                                <b>
                                    {{ 'exceedTheLimit' | translate }}
                                    <br>
                                    {{ maxValue('4','total') }}
                                </b>
                            </h2>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td formGroupName="5">
                    <p>
                        <img src="./assets/img/brand/img_dice_one.png" alt="">
                        <img src="./assets/img/brand/img_dice_one.png" alt="">
                    </p>
                    <div class="row">
                        <div class="mx-auto">
                            <small>{{ 'singleBetSetting' | translate }}</small>
                            <input *ngIf="!readonly" formControlName="amount" type="text" class="form-control"
                                [class.is-invalid]="isInvalid('5','amount')">
                            <div *ngIf="readonly" class="highColor">{{ getValue('5','amount') }}</div>
                            <h2 class="invalid-feedback mb-0">
                                <b *ngIf="hasError('5','amount')">
                                    {{ 'exceedTheLimit' | translate }}
                                    <br>
                                    {{ maxValue('5','amount') }}
                                </b>
                                <b *ngIf="hasError('5','amount','exceed')">
                                    {{ 'betLimitExceeded' | translate }}
                                </b>
                            </h2>
                        </div>
                        <div *ngIf="false" class="mx-auto">
                            <small>{{ 'singleBetTotal' | translate}}</small>
                            <input *ngIf="!readonly" formControlName="total" type="text" class="form-control"
                                [class.is-invalid]="isInvalid('5','total')">
                            <div *ngIf="readonly" class="highColor">{{ getValue('5','total') }}</div>
                            <h2 *ngIf="hasError('5','total')" class="invalid-feedback mb-0">
                                <b>
                                    {{ 'exceedTheLimit' | translate }}
                                    <br>
                                    {{ maxValue('5','total') }}
                                </b>
                            </h2>
                        </div>
                    </div>
                </td>
                <td formGroupName="6">
                    <p>
                        <img src="./assets/img/brand/icon_full_screen (3).png" alt="">
                        <img src="./assets/img/brand/icon_full_screen (3).png" alt="">
                    </p>
                    <div class="row">
                        <div class="mx-auto">
                            <small>{{ 'singleBetSetting' | translate }}</small>
                            <input *ngIf="!readonly" formControlName="amount" type="text" class="form-control"
                                [class.is-invalid]="isInvalid('6','amount')">
                            <div *ngIf="readonly" class="highColor">{{ getValue('6','amount') }}</div>
                            <h2 class="invalid-feedback mb-0">
                                <b *ngIf="hasError('6','amount')">
                                    {{ 'exceedTheLimit' | translate }}
                                    <br>
                                    {{ maxValue('6','amount') }}
                                </b>
                                <b *ngIf="hasError('6','amount','exceed')">
                                    {{ 'betLimitExceeded' | translate }}
                                </b>
                            </h2>
                        </div>
                        <div *ngIf="false" class="mx-auto">
                            <small>{{ 'singleBetTotal' | translate}}</small>
                            <input *ngIf="!readonly" formControlName="total" type="text" class="form-control"
                                [class.is-invalid]="isInvalid('6','total')">
                            <div *ngIf="readonly" class="highColor">{{ getValue('6','total') }}</div>
                            <h2 *ngIf="hasError('6','total')" class="invalid-feedback mb-0">
                                <b>
                                    {{ 'exceedTheLimit' | translate }}
                                    <br>
                                    {{ maxValue('6','total') }}
                                </b>
                            </h2>
                        </div>
                    </div>
                </td>
                <td formGroupName="7">
                    <p>
                        <img src="./assets/img/brand/img_dice_three.png" alt="">
                        <img src="./assets/img/brand/img_dice_three.png" alt="">
                    </p>
                    <div class="row">
                        <div class="mx-auto">
                            <small>{{ 'singleBetSetting' | translate }}</small>
                            <input *ngIf="!readonly" formControlName="amount" type="text" class="form-control"
                                [class.is-invalid]="isInvalid('7','amount')">
                            <div *ngIf="readonly" class="highColor">{{ getValue('7','amount') }}</div>
                            <h2 class="invalid-feedback mb-0">
                                <b *ngIf="hasError('7','amount')">
                                    {{ 'exceedTheLimit' | translate }}
                                    <br>
                                    {{ maxValue('7','amount') }}
                                </b>
                                <b *ngIf="hasError('7','amount','exceed')">
                                    {{ 'betLimitExceeded' | translate }}
                                </b>
                            </h2>
                        </div>
                        <div *ngIf="false" class="mx-auto">
                            <small>{{ 'singleBetTotal' | translate}}</small>
                            <input *ngIf="!readonly" formControlName="total" type="text" class="form-control"
                                [class.is-invalid]="isInvalid('7','total')">
                            <div *ngIf="readonly" class="highColor">{{ getValue('7','total') }}</div>
                            <h2 *ngIf="hasError('7','total')" class="invalid-feedback mb-0">
                                <b>
                                    {{ 'exceedTheLimit' | translate }}
                                    <br>
                                    {{ maxValue('7','total') }}
                                </b>
                            </h2>
                        </div>
                    </div>
                </td>
                <td formGroupName="8">
                    <p>
                        <img src="./assets/img/brand/img_dice_four.png" alt="">
                        <img src="./assets/img/brand/img_dice_four.png" alt="">
                    </p>
                    <div class="row">
                        <div class="mx-auto">
                            <small>{{ 'singleBetSetting' | translate }}</small>
                            <input *ngIf="!readonly" formControlName="amount" type="text" class="form-control"
                                [class.is-invalid]="isInvalid('8','amount')">
                            <div *ngIf="readonly" class="highColor">{{ getValue('8','amount') }}</div>
                            <h2 class="invalid-feedback mb-0">
                                <b *ngIf="hasError('8','amount')">
                                    {{ 'exceedTheLimit' | translate }}
                                    <br>
                                    {{ maxValue('8','amount') }}
                                </b>
                                <b *ngIf="hasError('8','amount','exceed')">
                                    {{ 'betLimitExceeded' | translate }}
                                </b>
                            </h2>
                        </div>
                        <div *ngIf="false" class="mx-auto">
                            <small>{{ 'singleBetTotal' | translate}}</small>
                            <input *ngIf="!readonly" formControlName="total" type="text" class="form-control"
                                [class.is-invalid]="isInvalid('8','total')">
                            <div *ngIf="readonly" class="highColor">{{ getValue('8','total') }}</div>
                            <h2 *ngIf="hasError('8','total')" class="invalid-feedback mb-0">
                                <b>
                                    {{ 'exceedTheLimit' | translate }}
                                    <br>
                                    {{ maxValue('8','total') }}
                                </b>
                            </h2>
                        </div>
                    </div>
                </td>
                <td formGroupName="9">
                    <p>
                        <img src="./assets/img/brand/icon_full_screen (2).png" alt="">
                        <img src="./assets/img/brand/icon_full_screen (2).png" alt="">
                    </p>
                    <div class="row">
                        <div class="mx-auto">
                            <small>{{ 'singleBetSetting' | translate }}</small>
                            <input *ngIf="!readonly" formControlName="amount" type="text" class="form-control"
                                [class.is-invalid]="isInvalid('9','amount')">
                            <div *ngIf="readonly" class="highColor">{{ getValue('9','amount') }}</div>
                            <h2 class="invalid-feedback mb-0">
                                <b *ngIf="hasError('9','amount')">
                                    {{ 'exceedTheLimit' | translate }}
                                    <br>
                                    {{ maxValue('9','amount') }}
                                </b>
                                <b *ngIf="hasError('9','amount','exceed')">
                                    {{ 'betLimitExceeded' | translate }}
                                </b>
                            </h2>
                        </div>
                        <div *ngIf="false" class="mx-auto">
                            <small>{{ 'singleBetTotal' | translate}}</small>
                            <input *ngIf="!readonly" formControlName="total" type="text" class="form-control"
                                [class.is-invalid]="isInvalid('9','total')">
                            <div *ngIf="readonly" class="highColor">{{ getValue('9','total') }}</div>
                            <h2 *ngIf="hasError('9','total')" class="invalid-feedback mb-0">
                                <b>
                                    {{ 'exceedTheLimit' | translate }}
                                    <br>
                                    {{ maxValue('9','total') }}
                                </b>
                            </h2>
                        </div>
                    </div>
                </td>
                <td formGroupName="10">
                    <p>
                        <img src="./assets/img/brand/img_dice_six.png" alt="">
                        <img src="./assets/img/brand/img_dice_six.png" alt="">
                    </p>
                    <div class="row">
                        <div class="mx-auto">
                            <small>{{ 'singleBetSetting' | translate }}</small>
                            <input *ngIf="!readonly" formControlName="amount" type="text" class="form-control"
                                [class.is-invalid]="isInvalid('10','amount')">
                            <div *ngIf="readonly" class="highColor">{{ getValue('10','amount') }}</div>
                            <h2 class="invalid-feedback mb-0">
                                <b *ngIf="hasError('10','amount')">
                                    {{ 'exceedTheLimit' | translate }}
                                    <br>
                                    {{ maxValue('10','amount') }}
                                </b>
                                <b *ngIf="hasError('10','amount','exceed')">
                                    {{ 'betLimitExceeded' | translate }}
                                </b>
                            </h2>
                        </div>
                        <div *ngIf="false" class="mx-auto">
                            <small>{{ 'singleBetTotal' | translate}}</small>
                            <input *ngIf="!readonly" formControlName="total" type="text" class="form-control"
                                [class.is-invalid]="isInvalid('10','total')">
                            <div *ngIf="readonly" class="highColor">{{ getValue('10','total') }}</div>
                            <h2 *ngIf="hasError('10','total')" class="invalid-feedback mb-0">
                                <b>
                                    {{ 'exceedTheLimit' | translate }}
                                    <br>
                                    {{ maxValue('10','total') }}
                                </b>
                            </h2>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td formGroupName="11">
                    <p>
                        <img src="./assets/img/brand/img_dice_one.png" alt="">
                    </p>
                    <div class="row">
                        <div class="mx-auto">
                            <small>{{ 'singleBetSetting' | translate }}</small>
                            <input *ngIf="!readonly" formControlName="amount" type="text" class="form-control"
                                [class.is-invalid]="isInvalid('11','amount')">
                            <div *ngIf="readonly" class="highColor">{{ getValue('11','amount') }}</div>
                            <h2 class="invalid-feedback mb-0">
                                <b *ngIf="hasError('11','amount')">
                                    {{ 'exceedTheLimit' | translate }}
                                    <br>
                                    {{ maxValue('11','amount') }}
                                </b>
                                <b *ngIf="hasError('11','amount','exceed')">
                                    {{ 'betLimitExceeded' | translate }}
                                </b>
                            </h2>
                        </div>
                        <div *ngIf="false" class="mx-auto">
                            <small>{{ 'singleBetTotal' | translate}}</small>
                            <input *ngIf="!readonly" formControlName="total" type="text" class="form-control"
                                [class.is-invalid]="isInvalid('11','total')">
                            <div *ngIf="readonly" class="highColor">{{ getValue('11','total') }}</div>
                            <h2 *ngIf="hasError('11','total')" class="invalid-feedback mb-0">
                                <b>
                                    {{ 'exceedTheLimit' | translate }}
                                    <br>
                                    {{ maxValue('11','total') }}
                                </b>
                            </h2>
                        </div>
                    </div>
                </td>
                <td formGroupName="12">
                    <p>
                        <img src="./assets/img/brand/icon_full_screen (3).png" alt="">
                    </p>
                    <div class="row">
                        <div class="mx-auto">
                            <small>{{ 'singleBetSetting' | translate }}</small>
                            <input *ngIf="!readonly" formControlName="amount" type="text" class="form-control"
                                [class.is-invalid]="isInvalid('12','amount')">
                            <div *ngIf="readonly" class="highColor">{{ getValue('12','amount') }}</div>
                            <h2 class="invalid-feedback mb-0">
                                <b *ngIf="hasError('12','amount')">
                                    {{ 'exceedTheLimit' | translate }}
                                    <br>
                                    {{ maxValue('12','amount') }}
                                </b>
                                <b *ngIf="hasError('12','amount','exceed')">
                                    {{ 'betLimitExceeded' | translate }}
                                </b>
                            </h2>
                        </div>
                        <div *ngIf="false" class="mx-auto">
                            <small>{{ 'singleBetTotal' | translate}}</small>
                            <input *ngIf="!readonly" formControlName="total" type="text" class="form-control"
                                [class.is-invalid]="isInvalid('12','total')">
                            <div *ngIf="readonly" class="highColor">{{ getValue('12','total') }}</div>
                            <h2 *ngIf="hasError('12','total')" class="invalid-feedback mb-0">
                                <b>
                                    {{ 'exceedTheLimit' | translate }}
                                    <br>
                                    {{ maxValue('12','total') }}
                                </b>
                            </h2>
                        </div>
                    </div>
                </td>
                <td formGroupName="13">
                    <p>
                        <img src="./assets/img/brand/img_dice_three.png" alt="">
                    </p>
                    <div class="row">
                        <div class="mx-auto">
                            <small>{{ 'singleBetSetting' | translate }}</small>
                            <input *ngIf="!readonly" formControlName="amount" type="text" class="form-control"
                                [class.is-invalid]="isInvalid('13','amount')">
                            <div *ngIf="readonly" class="highColor">{{ getValue('13','amount') }}</div>
                            <h2 class="invalid-feedback mb-0">
                                <b *ngIf="hasError('13','amount')">
                                    {{ 'exceedTheLimit' | translate }}
                                    <br>
                                    {{ maxValue('13','amount') }}
                                </b>
                                <b *ngIf="hasError('13','amount','exceed')">
                                    {{ 'betLimitExceeded' | translate }}
                                </b>
                            </h2>
                        </div>
                        <div *ngIf="false" class="mx-auto">
                            <small>{{ 'singleBetTotal' | translate}}</small>
                            <input *ngIf="!readonly" formControlName="total" type="text" class="form-control"
                                [class.is-invalid]="isInvalid('13','total')">
                            <div *ngIf="readonly" class="highColor">{{ getValue('13','total') }}</div>
                            <h2 *ngIf="hasError('13','total')" class="invalid-feedback mb-0">
                                <b>
                                    {{ 'exceedTheLimit' | translate }}
                                    <br>
                                    {{ maxValue('13','total') }}
                                </b>
                            </h2>
                        </div>
                    </div>
                </td>
                <td formGroupName="14">
                    <p>
                        <img src="./assets/img/brand/img_dice_four.png" alt="">
                    </p>
                    <div class="row">
                        <div class="mx-auto">
                            <small>{{ 'singleBetSetting' | translate }}</small>
                            <input *ngIf="!readonly" formControlName="amount" type="text" class="form-control"
                                [class.is-invalid]="isInvalid('14','amount')">
                            <div *ngIf="readonly" class="highColor">{{ getValue('14','amount') }}</div>
                            <h2 class="invalid-feedback mb-0">
                                <b *ngIf="hasError('14','amount')">
                                    {{ 'exceedTheLimit' | translate }}
                                    <br>
                                    {{ maxValue('14','amount') }}
                                </b>
                                <b *ngIf="hasError('14','amount','exceed')">
                                    {{ 'betLimitExceeded' | translate }}
                                </b>
                            </h2>
                        </div>
                        <div *ngIf="false" class="mx-auto">
                            <small>{{ 'singleBetTotal' | translate}}</small>
                            <input *ngIf="!readonly" formControlName="total" type="text" class="form-control"
                                [class.is-invalid]="isInvalid('14','total')">
                            <div *ngIf="readonly" class="highColor">{{ getValue('14','total') }}</div>
                            <h2 *ngIf="hasError('14','total')" class="invalid-feedback mb-0">
                                <b>
                                    {{ 'exceedTheLimit' | translate }}
                                    <br>
                                    {{ maxValue('14','total') }}
                                </b>
                            </h2>
                        </div>
                    </div>
                </td>
                <td formGroupName="15">
                    <p>
                        <img src="./assets/img/brand/icon_full_screen (2).png" alt="">
                    </p>
                    <div class="row">
                        <div class="mx-auto">
                            <small>{{ 'singleBetSetting' | translate }}</small>
                            <input *ngIf="!readonly" formControlName="amount" type="text" class="form-control"
                                [class.is-invalid]="isInvalid('15','amount')">
                            <div *ngIf="readonly" class="highColor">{{ getValue('15','amount') }}</div>
                            <h2 class="invalid-feedback mb-0">
                                <b *ngIf="hasError('15','amount')">
                                    {{ 'exceedTheLimit' | translate }}
                                    <br>
                                    {{ maxValue('15','amount') }}
                                </b>
                                <b *ngIf="hasError('15','amount','exceed')">
                                    {{ 'betLimitExceeded' | translate }}
                                </b>
                            </h2>
                        </div>
                        <div *ngIf="false" class="mx-auto">
                            <small>{{ 'singleBetTotal' | translate}}</small>
                            <input *ngIf="!readonly" formControlName="total" type="text" class="form-control"
                                [class.is-invalid]="isInvalid('15','total')">
                            <div *ngIf="readonly" class="highColor">{{ getValue('15','total') }}</div>
                            <h2 *ngIf="hasError('15','total')" class="invalid-feedback mb-0">
                                <b>
                                    {{ 'exceedTheLimit' | translate }}
                                    <br>
                                    {{ maxValue('15','total') }}
                                </b>
                            </h2>
                        </div>
                    </div>
                </td>
                <td formGroupName="16">
                    <p>
                        <img src="./assets/img/brand/img_dice_six.png" alt="">
                    </p>
                    <div class="row">
                        <div class="mx-auto">
                            <small>{{ 'singleBetSetting' | translate }}</small>
                            <input *ngIf="!readonly" formControlName="amount" type="text" class="form-control"
                                [class.is-invalid]="isInvalid('16','amount')">
                            <div *ngIf="readonly" class="highColor">{{ getValue('16','amount') }}</div>
                            <h2 class="invalid-feedback mb-0">
                                <b *ngIf="hasError('16','amount')">
                                    {{ 'exceedTheLimit' | translate }}
                                    <br>
                                    {{ maxValue('16','amount') }}
                                </b>
                                <b *ngIf="hasError('16','amount','exceed')">
                                    {{ 'betLimitExceeded' | translate }}
                                </b>
                            </h2>
                        </div>
                        <div *ngIf="false" class="mx-auto">
                            <small>{{ 'singleBetTotal' | translate}}</small>
                            <input *ngIf="!readonly" formControlName="total" type="text" class="form-control"
                                [class.is-invalid]="isInvalid('16','total')">
                            <div *ngIf="readonly" class="highColor">{{ getValue('16','total') }}</div>
                            <h2 *ngIf="hasError('16','total')" class="invalid-feedback mb-0">
                                <b>
                                    {{ 'exceedTheLimit' | translate }}
                                    <br>
                                    {{ maxValue('16','total') }}
                                </b>
                            </h2>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="baccarat-panel" [hidden]="gameTypeID!=GameTypeEnum.GameTypeBaccarat">
        <div class="col-md-12">
            <div class="row text-center">
                <div class="col-6 box blue">
                    <label class="col-form-label"> {{ 'bet.PlayerPair' | translate }} </label>
                    <div class="yellow" formGroupName="27">
                        <small>{{ 'singleBetSetting' | translate }}</small>
                        <div *ngIf="readonly">{{ getValue('27','amount') }}</div>
                        <input *ngIf="!readonly" formControlName="amount" type="text" class="form-control mx-auto"
                            [class.is-invalid]="isInvalid('27','amount')">
                        <h2 class="invalid-feedback mb-0">
                            <b *ngIf="hasError('27','amount')">
                                {{ 'exceedTheLimit' | translate }}
                                <br>
                                {{ maxValue('27','amount') }}
                            </b>
                            <b *ngIf="hasError('27','amount','exceed')">
                                {{ 'betLimitExceeded' | translate }}
                            </b>
                        </h2>
                    </div>
                </div>
                <div class="col-6 box red">
                    <label class="col-form-label"> {{ 'bet.BankerPair' | translate }} </label>
                    <div class="yellow" formGroupName="28">
                        <small>{{ 'singleBetSetting' | translate }}</small>
                        <div *ngIf="readonly">{{ getValue('28','amount') }}</div>
                        <input *ngIf="!readonly" formControlName="amount" type="text" class="form-control mx-auto"
                            [class.is-invalid]="isInvalid('28','amount')">
                        <h2 class="invalid-feedback mb-0">
                            <b *ngIf="hasError('28','amount')">
                                {{ 'exceedTheLimit' | translate }}
                                <br>
                                {{ maxValue('28','amount') }}
                            </b>
                            <b *ngIf="hasError('28','amount','exceed')">
                                {{ 'betLimitExceeded' | translate }}
                            </b>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row text-center">
                <div class="col-4 box blue">
                    <label class="col-form-label"> {{ 'bet.PlayerShort' | translate }} </label>
                    <div class="yellow" formGroupName="24">
                        <small>{{ 'singleBetSetting' | translate }}</small>
                        <div *ngIf="readonly">{{ getValue('24','amount') }}</div>
                        <input *ngIf="!readonly" formControlName="amount" type="text" class="form-control mx-auto"
                            [class.is-invalid]="isInvalid('24','amount')">
                        <h2 class="invalid-feedback mb-0">
                            <b *ngIf="hasError('24','amount')">
                                {{ 'exceedTheLimit' | translate }}
                                <br>
                                {{ maxValue('24','amount') }}
                            </b>
                            <b *ngIf="hasError('24','amount','exceed')">
                                {{ 'betLimitExceeded' | translate }}
                            </b>
                        </h2>
                    </div>
                </div>
                <div class="col-4 box green">
                    <label class="col-form-label"> {{ 'bet.Tie' | translate }} </label>
                    <div class="yellow" formGroupName="26">
                        <small>{{ 'singleBetSetting' | translate }}</small>
                        <div *ngIf="readonly">{{ getValue('26','amount') }}</div>
                        <input *ngIf="!readonly" formControlName="amount" type="text" class="form-control mx-auto"
                            [class.is-invalid]="isInvalid('26','amount')">
                        <h2 class="invalid-feedback mb-0">
                            <b *ngIf="hasError('26','amount')">
                                {{ 'exceedTheLimit' | translate }}
                                <br>
                                {{ maxValue('26','amount') }}
                            </b>
                            <b *ngIf="hasError('26','amount','exceed')">
                                {{ 'betLimitExceeded' | translate }}
                            </b>
                        </h2>
                    </div>
                </div>
                <div class="col-4 box red">
                    <label class="col-form-label"> {{ 'bet.BankerShort' | translate }} </label>
                    <div class="yellow" formGroupName="25">
                        <small>{{ 'singleBetSetting' | translate }}</small>
                        <div *ngIf="readonly">{{ getValue('25','amount') }}</div>
                        <input *ngIf="!readonly" formControlName="amount" type="text" class="form-control mx-auto"
                            [class.is-invalid]="isInvalid('25','amount')">
                        <h2 class="invalid-feedback mb-0">
                            <b *ngIf="hasError('25','amount')">
                                {{ 'exceedTheLimit' | translate }}
                                <br>
                                {{ maxValue('25','amount') }}
                            </b>
                            <b *ngIf="hasError('25','amount','exceed')">
                                {{ 'betLimitExceeded' | translate }}
                            </b>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div [hidden]="gameTypeID!=GameTypeEnum.GameTypeDragonTiger" class="table-responsive">
        <table class="table">
            <tr class="text-center">
                <!-- <th><small>{{ 'singleBetSetting' | translate }}</small></th> -->
                <th class="blue">龍</th>
                <th class="text-left" formGroupName="35">
                    <div *ngIf="readonly">{{ getValue('35','amount') }}</div>
                    <input *ngIf="!readonly" formControlName="amount" type="text" class="form-control mx-auto"
                        [class.is-invalid]="isInvalid('35','amount')">
                    <h3 class="invalid-feedback mb-0">
                        <b *ngIf="hasError('35','amount')">
                            {{ 'exceedTheLimit' | translate }}
                            <br>
                            {{ maxValue('35','amount') }}
                        </b>
                        <b *ngIf="hasError('35','amount','exceed')">
                            {{ 'betLimitExceeded' | translate }}
                        </b>
                        <b *ngIf="hasError('35','amount','required')">
                            {{ 'common.required' | translate }}
                        </b>
                    </h3>
                </th>
                <th class="green">和</th>
                <th class="text-left" formGroupName="37">
                    <div *ngIf="readonly">{{ getValue('37','amount') }}</div>
                    <input *ngIf="!readonly" formControlName="amount" type="text" class="form-control mx-auto"
                        [class.is-invalid]="isInvalid('37','amount')">
                    <h3 class="invalid-feedback mb-0">
                        <b *ngIf="hasError('37','amount')">
                            {{ 'exceedTheLimit' | translate }}
                            <br>
                            {{ maxValue('37','amount') }}
                        </b>
                        <b *ngIf="hasError('37','amount','exceed')">
                            {{ 'betLimitExceeded' | translate }}
                        </b>
                        <b *ngIf="hasError('37','amount','required')">
                            {{ 'common.required' | translate }}
                        </b>
                    </h3>
                </th>
                <th class="red">虎</th>
                <th class="text-left" formGroupName="36">
                    <div *ngIf="readonly">{{ getValue('36','amount') }}</div>
                    <input *ngIf="!readonly" formControlName="amount" type="text" class="form-control mx-auto"
                        [class.is-invalid]="isInvalid('36','amount')">
                    <h3 class="invalid-feedback mb-0">
                        <b *ngIf="hasError('36','amount')">
                            {{ 'exceedTheLimit' | translate }}
                            <br>
                            {{ maxValue('36','amount') }}
                        </b>
                        <b *ngIf="hasError('36','amount','exceed')">
                            {{ 'betLimitExceeded' | translate }}
                        </b>
                        <b *ngIf="hasError('36','amount','required')">
                            {{ 'common.required' | translate }}
                        </b>
                    </h3>
                </th>
            </tr>
        </table>
    </div>
</form>