img {
    max-width: 45px;
    width: 42%;
}

h3 {
    text-align: center;
}

table th {
    white-space: nowrap;
    vertical-align: middle;
    border: none;
}

table td {
    font-weight: bolder;
    text-align: center;
}

table input {
    text-align: center;
    min-width: 100px;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
}

table td span {
    font-size: 25px;
}

.highColor {
    color: #f86c6b;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0) !important;
}

.table-striped tbody tr:hover {
    background-color: #ffe8a700 !important;
}

.baccarat-panel {
    background: linear-gradient(#6c6c6c, #636363, #303030);
}

.baccarat-panel input {
    text-align: center;
    max-width: 100px;
    font-weight: bolder;
}

.box {
    text-shadow: 1px 3px 3px #3c3c3c;
    border: 1px solid #ccaf6b;
    font-size: 5vmin;
    font-weight: bold;
    height: 200px;
}

.box small {
    font-size: medium;
}

.blue {
    color: #1596e7;
}

.red {
    color: #e74445;
}

.green {
    color: #49c03a;
}

.yellow {
    color: #ffe4a3;
}

.yellow div {
    margin-top: 10px;
    font-size: xx-large;
}