<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>{{ 'nav.virtualOnlineMembers' | translate }}</strong>
                    <a *ngIf="isSettingInLimited()" [routerLink]="['/system/virtual-online-form']"
                        class="btn btn-golden float-right" role="button">{{ 'common.add' | translate }}</a>
                </div>
                <div class="card-body mb-3">
                    <div class="col-md-12 table-responsive">
                        <table #sortByAgent="matSort" class="col-md-12 table-striped" mat-table matSort
                            [dataSource]="dataSource" matSortActive="created_at" matSortDirection="desc">

                            <ng-container matColumnDef="index">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'common.index' | translate }}
                                </th>
                                <td class="text-center" *matCellDef="let element">{{ element.index }}</td>
                            </ng-container>

                            <ng-container matColumnDef="game_types_id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'gameType' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <span>
                                        {{ getTranslatedGameTypeByID(element.game_types_id) }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="start_time">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'botSettings.period' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span>
                                        {{ element.start_time }} ～ {{ element.end_time }}
                                    </span>
                                </td>
                            </ng-container>


                            <ng-container matColumnDef="number_of_member">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'botSettings.botNumber' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span>
                                        {{ element.number_of_member }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'common.status' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="badge badge-success" *ngIf="element.status==Status.Active">{{
                                        'common.active' | translate }}</span>
                                    <span class="badge badge-danger" *ngIf="element.status==Status.InActive">{{
                                        'common.inActive' | translate }}</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="function">
                                <th mat-header-cell *matHeaderCellDef class="text-center">
                                    {{ 'common.edit' | translate }}/{{ 'common.delete' | translate }} </th>
                                <td mat-cell *matCellDef="let element" class="text-center">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <a [routerLink]="['/system/virtual-online-form',element.id]"
                                            class="btn btn-sm d-flex align-items-center btn-golden ml-1"
                                            role="button"><i class="cui-note icons font-l d-block"></i>
                                            {{ 'common.edit' | translate }}
                                        </a>
                                        <button class="btn btn-sm d-flex align-items-center btn-danger ml-1"
                                            type="button" (click)="delete(element.id)"><i
                                                class="cui-trash icons font-l d-block"></i>
                                            {{ 'common.delete' | translate }}
                                        </button>
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <h4 *ngIf="isFetched && !dataSource.data.length" class="text-center my-5">
                            {{ 'common.noData' | translate }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>