<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <strong>聯絡信箱</strong>
                </div>
                <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="textarea-input">聯絡信箱</label>
                            <div class="col-md-9">
                                <textarea class="form-control" id="textarea-input" name="textarea-input"
                                    placeholder='如果有多個聯絡信箱，請以"，"區隔' rows="9"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="textarea-input">主網域聯絡信箱</label>
                            <div class="col-md-9">
                                <textarea class="form-control" id="textarea-input" name="textarea-input"
                                    placeholder='如果有多個聯絡信箱，請以"，"區隔' rows="9"></textarea>
                            </div>
                        </div>
                        <div class="form-group row my-5">
                            <label class="col-md-3 col-form-label" for="email-input">啟用</label>
                            <div class="col-md-3">
                                <label class="switch switch-3d switch-primary">
                                    <input checked="" class="switch-input" type="checkbox">
                                    <span class="switch-slider"></span>
                                </label>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-golden"><i class="fa fa-dot-circle-o"></i>
                        確定</button>
                    <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> 取消</button>
                </div>
            </div>
        </div>
    </div>
</div>