<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> {{ 'nav.messagBlackList' | translate }}
                </div>
                <div class="card-body">
                    <mat-form-field class="col-md-3">
                        <mat-label>{{ 'common.search' | translate }}</mat-label>
                        <input matInput (keyup)="applyFilter($event)">
                    </mat-form-field>

                    <div>
                        <mat-form-field class="col-md-3">
                            <mat-label>{{ 'form.keyword' | translate }}</mat-label>
                            <input matInput type="text" #inputMessage />
                        </mat-form-field>
                        <button mat-button class="btn btn-golden"
                            (click)="addMessageBlacklist(inputMessage.value); inputMessage.value='';">{{ 'form.quicklyAdd' | translate }}</button>
                    </div>
                    <div class="table-responsive">
                        <table class="col-md-12 table-striped" mat-table matSort [dataSource]="dataSource"
                            matSortActive="id" matSortDirection="asc">

                            <ng-container matColumnDef="index">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'common.index' | translate }}
                                </th>
                                <td class="text-center" *matCellDef="let element">{{ element.index }}</td>
                            </ng-container>

                            <ng-container matColumnDef="message">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'form.keyword' | translate }} </th>
                                <td mat-cell *matCellDef="let element"> {{ element.message }} </td>
                            </ng-container>

                            <ng-container matColumnDef="created_at">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'common.createdAt' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.created_at | date:'yyyy-MM-dd HH:mm:ss'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="updated_at">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'common.updatedAt' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.updated_at | date:'yyyy-MM-dd HH:mm:ss'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="function">
                                <th mat-header-cell *matHeaderCellDef class="text-center"> {{ 'common.edit' | translate }}/{{ 'common.delete' | translate }} </th>
                                <td mat-cell *matCellDef="let element" class="text-center">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <a [routerLink]="['/system/message-blacklists',element.id]"
                                            class="btn btn-sm d-flex align-items-center btn-golden ml-1"
                                            role="button"><i class="cui-note icons font-l d-block"></i>
                                            {{ 'common.edit' | translate }}
                                        </a>
                                        <button class="btn btn-sm d-flex align-items-center btn-danger ml-1"
                                            type="button" (click)="delMessageBlacklist(element.id)"><i
                                                class="cui-trash icons font-l d-block"></i>
                                            {{ 'common.delete' | translate }}
                                        </button>
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>

                    <mat-paginator [pageSize]="50" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

                    <div *ngIf="!data" class="text-center my-5">
                        <div class="lds-roller">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>