<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> {{ 'nav.reCalcReport' | translate }}
                </div>
                <div class="card-body">
                    <div class="col-md-6 mx-auto">
                        <div class="form-group row justify-content-center">
                            <label class="col-form-label mr-1">{{ 'reCalcReport.checkoutDate' | translate }}</label>
                            <input #date class="form-control w-auto" type="date" [min]="weekFirstDay"
                                [max]="lastCalcDay">
                            <button (click)="submit(date.value)" class="btn btn-success mx-3" [disabled]="submitted">
                                {{ 'reCalcReport.correction' | translate }}
                            </button>
                        </div>
                    </div>

                    <div class="table-responsive col-md-12">
                        <table class="col-md-12 table-striped" mat-table matSort [dataSource]="dataSource"
                            matSortActive="updated_at" matSortDirection="desc">

                            <ng-container matColumnDef="users_id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'manageAgent.account' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.user?.name }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="value">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'reCalcReport.correction' | translate }}{{ 'report.closingDate' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.value.closing_day }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="updated_at">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'common.updatedAt' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.updated_at | date: 'yyyy-MM-dd HH:mm:ss' }}
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>

                    <div *ngIf="!dataSource.data.length" class="text-center m-3">
                        {{ 'common.noData' | translate }}</div>
                    <mat-paginator [pageSize]="50" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>