<div class="table-responsive col-md-12">
    <!-- <div class="select-group d-flex mb-2 col-12 mt-1">
        <select class="form-control col-12 col-md-2" (change)="onGameTypeChanged($event.target.value)"
            [(ngModel)]="currentType">
            <option *ngFor="let item of gameTypes;" [value]="item.id" [disabled]="item.id!=2">
                {{ getTranslatedGameName(item.en_name) }}
            </option>
        </select>
    </div> -->
    <table class="col-md-12 table-striped" mat-table matSort [dataSource]="dataSource" matSortActive="updated_at"
        matSortDirection="desc">

        <ng-container matColumnDef="game_number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ 'searching.gameNumber' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
                <span>
                    {{ element.game_number }}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="old_draw_result">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ 'oldDrawResult' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
                <ng-container [ngSwitch]="element.game_types_id">
                    <span *ngSwitchCase="GameTypeEnum.GameTypeSicBo">
                        {{ element.old_draw_result }}
                    </span>
                    <span *ngSwitchCase="GameTypeEnum.GameTypeBaccarat">
                        <app-baccarat-poker-result [drawResult]="element.old_draw_result">
                        </app-baccarat-poker-result>
                    </span>
                    <span *ngSwitchCase="GameTypeEnum.GameTypeDragonTiger">
                        <app-dragon-tiger-poker-result [drawResult]="element.old_draw_result">
                        </app-dragon-tiger-poker-result>
                    </span>
                </ng-container>
            </td>
        </ng-container>

        <ng-container matColumnDef="new_draw_result">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ 'newDrawResult' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
                <ng-container [ngSwitch]="element.game_types_id">
                    <span *ngSwitchCase="GameTypeEnum.GameTypeSicBo">
                        {{ element.new_draw_result }}
                    </span>
                    <span *ngSwitchCase="GameTypeEnum.GameTypeBaccarat">
                        <app-baccarat-poker-result [drawResult]="element.new_draw_result">
                        </app-baccarat-poker-result>
                    </span>
                    <span *ngSwitchCase="GameTypeEnum.GameTypeDragonTiger">
                        <app-dragon-tiger-poker-result [drawResult]="element.new_draw_result">
                        </app-dragon-tiger-poker-result>
                    </span>
                </ng-container>
            </td>
        </ng-container>

        <ng-container matColumnDef="updated_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ 'common.updatedAt' | translate }} </th>
            <td mat-cell *matCellDef="let element">
                <span>
                    {{ element.updated_at | date: 'yyyy-MM-dd HH:mm:ss' }}
                </span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<div *ngIf="!dataSource.data.length" class="text-center m-3">
    {{ 'common.noData' | translate }}</div>
<mat-paginator [pageSize]="50" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
</mat-paginator>