<mat-tab-group #tabGroupAgent>
    <mat-tab label="{{ 'manageAgent.agent' | translate }}">
        <table #sortOfAgent="matSort" class="col-md-12 table-striped" mat-table matSort [dataSource]="dataSourceOfAgent"
            matSortActive="updated_at" matSortDirection="desc">

            <ng-container matColumnDef="parent">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'parentAgent' | translate }}
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ getParent(element) }}
                </td>
            </ng-container>

            <ng-container matColumnDef="account">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'manageAgent.account' | translate }} / {{ 'manageAgent.name' | translate }} </th>
                <td mat-cell *matCellDef="let element">
                    <span class="clickable" (click)="getAgentPath(element,true)">
                        {{ element.name }} / {{ element.real_name }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'common.view' | translate }}
                </th>
                <td mat-cell *matCellDef="let element">
                    <button class="btn btn-sm btn-golden" (click)="getAgentPath(element)">
                        {{ 'common.viewData' | translate }}
                    </button>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumnsOfAgent"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsOfAgent;"></tr>
        </table>
        <div *ngIf="!dataSourceOfAgent.data.length" class="text-center m-5">
            {{ 'common.noData' | translate }}
        </div>
        <mat-paginator #paginatorOfAgent [pageSize]="50" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
        </mat-paginator>
    </mat-tab>
</mat-tab-group>
<mat-tab-group #tabGroupMember>
    <mat-tab label="{{ 'manageAgent.member' | translate }}">
        <table #sortOfMember="matSort" class="col-md-12 table-striped" mat-table matSort
            [dataSource]="dataSourceOfMember" matSortActive="updated_at" matSortDirection="desc">

            <ng-container matColumnDef="parent">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'parentAgent' | translate }}
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ getParent(element) }}
                </td>
            </ng-container>

            <ng-container matColumnDef="account">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'manageAgent.account' | translate }} / {{ 'manageAgent.nickname' | translate }}
                </th>
                <td mat-cell *matCellDef="let element">
                    <span class="clickable" (click)="getMemberPath(element,true)">
                        {{element.account}} / {{element.nickname}}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'common.view' | translate }}
                </th>
                <td mat-cell *matCellDef="let element">
                    <button class="btn btn-sm btn-golden" (click)="getMemberPath(element)">
                        {{ 'common.viewData' | translate }}
                    </button>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumnsOfMember"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsOfMember;"></tr>
        </table>
        <div *ngIf="!dataSourceOfMember.data.length" class="text-center m-5">
            {{ 'common.noData' | translate }}
        </div>
        <mat-paginator #paginatorOfMember [pageSize]="50" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
        </mat-paginator>
    </mat-tab>
</mat-tab-group>