<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> {{ 'nav.donateRecordList' | translate }}
                </div>
                <div class="card-body">
                    <mat-form-field class="col-md-3">
                        <mat-label>
                            {{ 'manageAgent.searchAccount' | translate }}/{{ 'manageAgent.name' | translate }}
                        </mat-label>
                        <input matInput (keyup)="applyFilter($event)">
                    </mat-form-field>

                    <!-- <div class="col my-1">
                        <select class="col-md-2 text-sm-right form-control" id="game-type"
                            (change)="gameTypeOnChange($event.target.value)" [ngModel]="gameTypesID">
                            <option *ngFor="let t of gameTypes" [value]="t.id" [disabled]="t.id!=2">
                                {{ getTranslatedGameName(t.en_name) }}
                            </option>
                        </select>
                    </div> -->

                    <div class="table-responsive col-md-12">
                        <table class="col-md-12 table-striped" mat-table matSort [dataSource]="dataSource"
                            matSortActive="index" matSortDirection="asc">

                            <ng-container matColumnDef="index">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'common.index' | translate }}
                                </th>
                                <td class="text-center" *matCellDef="let element;let i=index">{{ i+1 }}</td>
                            </ng-container>

                            <ng-container matColumnDef="game_type">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'gameType' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element"> {{ getGameTypeByID(element.game_types_id) }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="game_number">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'searching.gameNumber' | translate }} </th>
                                <td mat-cell *matCellDef="let element"> {{ element.game_number }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="amount">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'report.totalDonate' | translate }} </th>
                                <td mat-cell *matCellDef="let element"> {{element.amount }} </td>
                            </ng-container>

                            <ng-container matColumnDef="members_id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'manageAgent.account' | translate }} / {{ 'manageAgent.nickname' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.member.account}} /
                                    {{element.member.nickname}} </td>
                            </ng-container>

                            <ng-container matColumnDef="created_at">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'common.createdAt' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.created_at | date:'yyyy-MM-dd HH:mm:ss'}}
                                </td>
                            </ng-container>

                            <!--
                            <ng-container matColumnDef="updated_at">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 修改日期 </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.updated_at | date:'yyyy-MM-dd HH:mm:ss'}}
                                </td>
                            </ng-container>
                            -->

                            <ng-container matColumnDef="records">
                                <th mat-header-cell *matHeaderCellDef class="text-center">
                                    {{ 'common.searchRecord' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <button class="btn btn-sm d-flex align-items-center btn-success ml-1"
                                            (click)="openModal(element)">
                                            <i class="cui-magnifying-glass icons font-l d-block"></i>
                                            {{ 'common.searchRecord' | translate }}
                                        </button>
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>

                    <mat-paginator [pageSize]="50" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

                    <div *ngIf="!data" class="text-center my-5">
                        <div class="lds-roller">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{ 'common.viewData' | translate }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">{{ 'gameType' | translate }}</label>
            <div class="col-md-9 my-auto">
                {{ getGameTypeByID(modal.game_types_id) }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">{{ 'searching.gameNumber' | translate
                }}</label>
            <div class="col-md-9 my-auto">
                {{ modal.game_number }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">{{ 'report.totalDonate' | translate
                }}</label>
            <div class="col-md-9 my-auto">
                {{ modal.amount }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">{{ 'manageAgent.account' | translate
                }} /
                {{ 'manageAgent.nickname' | translate }}</label>
            <div class="col-md-9 my-auto">
                {{ modal.member.account }} / {{ modal.member.nickname }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">{{ 'common.createdAt' | translate
                }}</label>
            <div class="col-md-9 my-auto">
                {{ modal.created_at | date:'yyyy-MM-dd HH:mm:ss' }}
            </div>
        </div>
    </div>
</ng-template>