<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>{{ 'nav.proclamations' | translate }}</strong>
                </div>
                <div class="card-body">
                    <form [formGroup]="myForm" class="form-horizontal">

                        <div class="form-group row">
                            <label class="col-md-2 text-sm-right col-form-label">{{ 'form.title' | translate }}</label>
                            <div class="col-md-8">
                                <input
                                    [ngClass]="{'is-invalid': myForm.controls['title'].hasError('required') && myForm.controls['title'].touched}"
                                    [formControl]="myForm.controls['title']" type="text" class="form-control"
                                    placeholder="{{ 'form.inputTitle' | translate }}">
                            </div>
                        </div>

                        <!-- <div class="form-group row">
                            <label class="col-md-2 text-sm-right col-form-label">圖片連結</label>
                            <div class="col-md-8">
                                <input
                                    [ngClass]="{'is-invalid': myForm.controls['pic'].hasError('required') && myForm.controls['pic'].touched}"
                                    [formControl]="myForm.controls['pic']" type="text" class="form-control"
                                    placeholder="輸入圖片連結">
                            </div>
                        </div> -->

                        <!-- <div class="form-group row">
                            <label class="col-md-2 col-form-label text-sm-right"
                                for="text-input">{{ 'form.pic' | translate }}</label>
                            <div class="col-md-8">
                                <button class="btn btn-golden"
                                    (click)="openCropper(Croppertemplate)">{{ 'form.imgUpload' | translate }}</button>
                                <img *ngIf="avatarUrl" width="80" src="{{ avatarUrl }}" class="mx-5" />
                            </div>
                        </div> -->

                        <!-- <div class="form-group row">
                            <label
                                class="col-md-2 col-form-label text-sm-right">{{ 'form.content' | translate }}</label>
                            <div class="col-md-8">
                                <ckeditor [formControl]="myForm.controls['body']" [config]="config"
                                    (fileUploadRequest)="fileUploadRequest($event)"></ckeditor>
                            </div>
                        </div> -->

                        <div class="form-group row">
                            <label class="col-md-2 col-form-label text-sm-right" for="date-input">
                                {{ 'common.status' | translate }}({{ 'common.inActive' | translate }}/{{ 'common.active' | translate }})
                            </label>
                            <div class="col-md-3">
                                <label class="switch switch-3d switch-primary">
                                    <input [formControl]="myForm.controls['status']" class="switch-input"
                                        type="checkbox">
                                    <span class="switch-slider"></span>
                                </label>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="card-footer">
                    <button (click)="submit(myForm.value)" type="submit" class="btn btn-sm btn-golden">
                        <i class="fa fa-dot-circle-o"></i>
                        {{ 'common.confirm' | translate }}
                    </button>
                    <button (click)="cancel()" type="reset" class="btn btn-sm btn-danger ml-1">
                        <i class="fa fa-ban"></i>
                        {{ 'common.cancel' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #Croppertemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{ 'form.imgUpload' | translate }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="overflow: auto;">
        <app-image-cropper [roundCropper]="false" [aspectRatio]="1/1" [containWithinAspectRatio]="false"
            [maintainAspectRatio]="false" (avatarUrl)="getImageCropperUrl($event)"></app-image-cropper>
    </div>
</ng-template>