<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>{{ 'nav.betAmounts' | translate }}</strong>
                </div>
                <div class="card-body">
                    <div class="table-responsive col-md-12">

                        <!-- <div class="col my-3">
                            <div class="row">
                                <span class="mr-3 my-auto">{{ 'betAmounts.betType' | translate }}</span>
                                <select class="form-control w-auto" id="game-type"
                                    (change)="actionTypeOnChange($event.target.value)">
                                    <option value=0>{{ 'searching.bet' | translate }}</option>
                                    <option value=2>{{ 'searching.donate' | translate }}</option>
                                </select>
                            </div>
                        </div> -->

                        <table class="col-md-12 table-striped" mat-table matSort [dataSource]="dataSource"
                            matSortActive="amount" matSortDirection="asc">

                            <ng-container matColumnDef="index">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'common.index' | translate }}
                                </th>
                                <td class="text-center" *matCellDef="let element;let i=index">{{ i+1 }}</td>
                            </ng-container>

                            <ng-container matColumnDef="amount">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'betAmounts.defaultAmount' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.amount}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="updated_at">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'common.updatedAt' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.updated_at | date: 'yyyy-MM-dd HH:mm:ss'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="is_auto_bet">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'autoBet' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <label class="switch switch-3d switch-primary align-middle">
                                        <input (click)="updateBetAmountIsAutoBet(element, $event)" class="switch-input"
                                            type="checkbox" [checked]="element.is_auto_bet==Status.Active"
                                            [disabled]="element.type!==GameActionType.Bet">
                                        <span class="switch-slider"></span>
                                    </label>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'betAmounts.betStatus' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <label class="switch switch-3d switch-primary align-middle">
                                        <input (click)="updateBetAmountStatus(element)" class="switch-input"
                                            type="checkbox" [checked]="element.status==Status.Active">
                                        <span class="switch-slider"></span>
                                    </label>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="function">
                                <th mat-header-cell *matHeaderCellDef class="text-center">
                                    {{ 'common.edit' | translate }} </th>
                                <td mat-cell *matCellDef="let element" class="text-center">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <a [routerLink]="['/system/bet-amounts-edit',element.id]"
                                            class="btn btn-sm d-flex align-items-center btn-golden ml-1"
                                            role="button"><i class="cui-note icons font-l d-block"></i>
                                            {{ 'common.edit' | translate }}
                                        </a>
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>


                    <div *ngIf="!dataSource.data.length" class="text-center m-3">{{ 'common.noData' | translate }}</div>
                    <div *ngIf="!data" class="text-center my-5">
                        <div class="lds-roller">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>