<div class="animated fadeIn">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong *ngIf="newsId">修改</strong>
                <strong *ngIf="!newsId">新增</strong>
            </div>
            <div class="card-body">
                <form [formGroup]="myForm" class="form-horizontal">

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label text-sm-right" for="date-input">受眾</label>
                        <div class="col-md-8 my-auto">
                            <label class="radio-inline mx-1">
                                <input [formControl]="myForm.controls['audience']" [value]="1" type="radio"
                                    name="gender">
                                會員
                            </label>
                            <label class="radio-inline mx-1">
                                <input [formControl]="myForm.controls['audience']" [value]="3" type="radio"
                                    name="gender">
                                兩者都有
                            </label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label text-sm-right">標題</label>
                        <div class="col-md-8">
                            <input
                                [ngClass]="{'is-invalid': myForm.controls['title'].hasError('required') && myForm.controls['title'].touched}"
                                [formControl]="myForm.controls['title']" type="text" class="form-control"
                                placeholder="輸入名稱">
                        </div>
                    </div>

                    <!-- <div class="form-group row">
                        <label class="col-md-3 col-form-label">圖片位址</label>
                        <div class="col-md-9">
                            <input
                                [ngClass]="{'is-invalid': myForm.controls['pic'].hasError('required') && myForm.controls['pic'].touched}"
                                [formControl]="myForm.controls['pic']" type="text" class="form-control"
                                placeholder="輸入名稱" readonly>
                        </div>
                    </div> -->

                    <!-- <div class="form-group row">
                        <label class="col-md-3 col-form-label text-sm-right">內容</label>
                        <div class="col-md-6">
                            <input
                                [ngClass]="{'is-invalid': myForm.controls['body'].hasError('required') && myForm.controls['body'].touched}"
                                [formControl]="myForm.controls['body']" type="text" class="form-control"
                                placeholder="輸入名稱">
                        </div>
                    </div> -->

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label text-sm-right" for="text-input">圖片</label>
                        <div class="col-md-8">
                            <button class="btn btn-golden" (click)="openCropper(Croppertemplate)">上傳圖片</button>
                            <img *ngIf="avatarUrl" width="80" src="{{ avatarUrl | imgFullPath }}" class="mx-5" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label text-sm-right">修改內容</label>
                        <div class="col-md-8">
                            <ckeditor [formControl]="myForm.controls['body']" [config]="config"
                                (fileUploadRequest)="fileUploadRequest($event)"></ckeditor>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label text-sm-right">是否推播</label>
                        <div class="col-md-8">
                            <label class="switch switch-3d switch-primary">
                                <input [formControl]="myForm.controls['is_push_notify']" class="switch-input"
                                    type="checkbox">
                                <span class="switch-slider"></span>
                            </label>
                        </div>
                    </div>

                    <!-- <div class="form-group row">
                        <label class="col-md-2 text-center col-form-label">商品敘述1</label>
                        <div class="col-md-10">
                            <label class="col-form-label">標題</label>
                            <input
                                [ngClass]="{'is-invalid': myForm.controls['description_title1'].hasError('required') && myForm.controls['description_title1'].touched}"
                                [formControl]="myForm.controls['description_title1']" type="text" class="form-control"
                                placeholder="輸入名稱">
                            <div class="invalid-feedback">
                                必填
                            </div>
                            <label class="col-form-label">內容</label>
                            <ckeditor [formControl]="myForm.controls['description1']" [config]="config"
                                (fileUploadRequest)="fileUploadRequest($event)"></ckeditor>
                        </div>
                    </div> -->

                </form>
            </div>
            <div class="card-footer">
                <button (click)="submitForm(myForm.value)" type="submit" class="btn btn-sm btn-golden"><i
                        class="fa fa-dot-circle-o"></i>
                    確定</button>
                <button (click)="cancel()" type="reset" class="btn btn-sm btn-danger ml-1"><i class="fa fa-ban"></i>
                    取消</button>
            </div>
        </div>
    </div>
</div>

<ng-template #Croppertemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">圖片上傳</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="overflow: auto;">
        <app-image-cropper [roundCropper]="false" [aspectRatio]="1/1" [containWithinAspectRatio]="true"
            [maintainAspectRatio]="false" (avatarUrl)="getImageCropperUrl($event)"></app-image-cropper>
    </div>
</ng-template>