<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> {{ 'nav.singleItems' | translate }}
                </div>
                <div class="card-body">
                    <mat-form-field class="col-md-3">
                        <mat-label>{{ 'common.search' | translate }}</mat-label>
                        <input matInput (keyup)="applyFilter($event)">
                    </mat-form-field>

                    <div class="form col-12 d-lg-flex">
                        <select name="" id="" class="col-12 col-md-3 mb-1 form-control" [(ngModel)]="userId"
                            (change)="selectUser($event.target.value)">
                            <option [value]="null" disabled>--{{ 'singleItem.pleaseSelectAgent' | translate }}--
                            </option>
                            <option [value]="item.id" *ngFor="let item of User">{{ item.real_name }}</option>
                        </select>
                        <select name="" id="" class="col-12 col-md-3 mb-1 ml-lg-1 form-control" [(ngModel)]="itemTypeId"
                            (change)="itemTypes($event.target.value)" [disabled]="updateItemType === true">
                            <option [value]="null" disabled>--{{ 'singleItem.pleaseSelectItem' | translate }}--</option>
                            <option [value]="item.id" *ngFor="let item of ItemTypes">{{ getTranslatedBetItem(item.en_name) }}</option>
                        </select>
                        <input type="text" class="form-control col-12 col-md-3 mb-1 ml-lg-1"
                            placeholder="{{ 'singleItem.pleaseEnterAmount' | translate }}" [(ngModel)]="amount">
                        <button class="btn btn-golden ml-1"
                            (click)="submit()">{{ 'common.submit' | translate }}</button>
                    </div>

                    <div class="table-responsive">
                        <table class="col-md-12 table-striped" mat-table matSort [dataSource]="dataSource"
                            matSortActive="id" matSortDirection="asc">

                            <ng-container matColumnDef="agents_id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'manageAgent.agent' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span *ngIf="User">
                                        {{ getUserName(element.agents_id) }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="item_types_id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'itemType' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element"> {{ getItemTypeName(element.item_types_id) }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="amount">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'singleItem.amount' | translate }} </th>
                                <td mat-cell *matCellDef="let element"> {{ element.amount }} </td>
                            </ng-container>

                            <ng-container matColumnDef="created_at">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'common.createdAt' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.created_at | date: 'yyyy-MM-dd HH:mm:ss'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'common.status' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <span>
                                        <span *ngIf="element.status === Status.Active"
                                            class="badge badge-success">{{ 'common.active' | translate }}</span>
                                        <span *ngIf="element.status === Status.InActive"
                                            class="badge badge-danger">{{ 'common.inActive' | translate }}</span>
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="status-setting">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'singleItem.statusEdit' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <button title="{{ 'singleItem.statusTitle' | translate }}"
                                        [ngClass]="changeBtnColor(element.status)"
                                        class="btn btn-sm ml-1 d-flex justify-content-center" type="button"
                                        (click)="updateStatus(element.id, element.status)">
                                        <span class="badge"
                                            *ngIf=" element.status==Status.Active">{{ 'common.inActive' | translate }}</span>
                                        <span class="badge"
                                            *ngIf="element.status==Status.InActive">{{ 'common.active' | translate }}</span>
                                    </button>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="function">
                                <th mat-header-cell *matHeaderCellDef class="text-center">
                                    {{ 'common.edit' | translate }}/{{ 'common.delete' | translate }} </th>
                                <td mat-cell *matCellDef="let element" class="text-center">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <button class="btn btn-sm btn-golden d-flex align-items-center ml-l"
                                            (click)="update(element.id)"><i
                                                class="cui-note icons font-l d-block"></i>{{ 'common.edit' | translate }}</button>
                                        <button class="btn btn-sm d-flex align-items-center btn-danger ml-1"
                                            type="button" (click)="delete(element.id)"><i
                                                class="cui-trash icons font-l d-block"></i>{{ 'common.delete' | translate }}
                                        </button>
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>

                    <mat-paginator [pageSize]="50" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

                    <!-- <div *ngIf="!data" class="text-center my-5">
                        <div class="lds-roller">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>