table tr td {
    white-space: nowrap;
}

th.mat-header-cell,
.mat-table tr td {
    text-align: center;
}

.card-header {
    display: flex;
    align-items: center;
    padding: 15px 20px;
}

:host ::ng-deep {

    .mat-paginator-range-label {
        display: none !important;
    }
}

.bread {
    cursor: pointer;
    text-decoration: underline;
    color: #e1b137;
}

svg {
    width: 15px;
    height: 15px;
    fill: #fff;
}