<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i>
                    子帳號
                    <a [routerLink]="['form']" class="btn btn-golden float-right">
                        {{ 'common.add' | translate }}
                    </a>
                </div>
                <div class="card-body">
                    <div class="table-responsive col-md-12 mb-5">
                        <table class="col-md-12 table-striped" mat-table [dataSource]="dataSource">
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'manageAgent.account' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <a [routerLink]="['form', element.id]">
                                        {{ element.name }}
                                    </a>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="real_name">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'manageAgent.name' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.real_name }} </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'common.status' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <label class="switch switch-sm switch-label switch-pill switch-primary">
                                        <input (change)="changeAgentStatus(element)"
                                            [checked]="element.status==Status.Active" class="switch-input"
                                            type="checkbox">
                                        <span class="switch-slider" data-checked="開" data-unchecked="關"></span>
                                    </label>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="last_login_at">
                                <th mat-header-cell *matHeaderCellDef>
                                    最後登入日期 </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.last_login_at }}
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator [hidden]="1" [pageSize]="50" [pageSizeOptions]="[5, 10, 20]"
                            showFirstLastButtons>
                        </mat-paginator>
                        <div *ngIf="loaded && !dataSource.data.length" class="text-center m-3">
                            {{ 'common.noData' | translate }}</div>

                        <div *ngIf="!loaded" class="text-center my-5">
                            <div class="lds-roller">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>