table tr td {
    white-space: nowrap;
}

th.mat-header-cell,
.mat-table tr td {
    text-align: center;
}

.card-header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 7px 20px;
}

:host ::ng-deep {
    .breadcrumb {
        background-color: rgba(0, 0, 0, 0);
        border-bottom: none !important;
        margin: 0;
    }

    .mat-paginator-range-label {
        display: none !important;
    }
}

svg {
    width: 15px;
    height: 15px;
    fill: #fff;
}