<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    {{ 'nav.manageAgent' | translate }}
                    <div class="link-group ml-auto">
                        <a *ngIf="identityID !== 1 && identityID !== 2" [routerLink]="['/agant-add-member', parent_id]"
                            class="btn btn-golden mr-2" role="button">{{ 'manageAgent.addMember' | translate }}</a>
                        <a [routerLink]="['/top-agent']" class="btn btn-golden" role="button">
                            <svg-icon src="./assets/img/svg/icon_proxy_login.svg"></svg-icon>新增
                        </a>
                        <!-- <a *ngIf="identityID !== 1 && identityID !== 2" [routerLink]="['/top-agent']"
                            class="btn btn-golden" role="button">{{ 'manageAgent.addAgent' | translate }}</a> -->
                    </div>
                </div>
                <div class="card-body">
                    <mat-form-field [hidden]="1" class="col-md-3">
                        <mat-label>
                            {{ 'manageAgent.searchAccount' | translate }}/{{ 'manageAgent.name' | translate }}
                        </mat-label>
                        <input #filter matInput (keyup)="applyFilterOfAgent($event)"
                            placeholder="{{ 'common.search' | translate }}">
                    </mat-form-field>
                    <div [hidden]="!filter.value || isTopAgentClicked" class="col-md-12">
                        <app-advanced-searching [filterValue]="filter.value" (isTopAgent)="isTopAgentSearched($event)">
                        </app-advanced-searching>
                    </div>

                    <div class="col-md-12" [hidden]="filter.value && !isTopAgentClicked">
                        <div class="table-responsive col-md-12 mb-5">
                            <table #sortByAgent="matSort" class="col-md-12 table-striped" mat-table matSort
                                [dataSource]="dataSourceOfAgent" matSortActive="created_at" matSortDirection="desc">

                                <ng-container matColumnDef="index">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'common.index' | translate }}
                                    </th>
                                    <td class="text-center" *matCellDef="let element;let i=index;">
                                        {{ i+1 }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'manageAgent.account' | translate }} </th>
                                    <td mat-cell *matCellDef="let element">
                                        <a [routerLink]="['/top-agent-edit',element.id, element.parent_id]">
                                            {{ element.name }}
                                        </a>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="real_name">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'manageAgent.name' | translate }} </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.real_name }} </td>
                                </ng-container>

                                <!-- <ng-container matColumnDef="credit">
                                            <th mat-header-cell *matHeaderCellDef> 信用額度 </th>
                                            <td mat-cell *matCellDef="let element">
                                                {{ element.credit }} </td>
                                        </ng-container> -->

                                <ng-container matColumnDef="wallet">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'agentCredit' | translate }} </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.user_wallet?.dragon_tiger_wallet }} </td>
                                </ng-container>

                                <ng-container matColumnDef="revenue_share">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'manageAgent.revenueShare' | translate }}(%) </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.revenue_share }}% </td>
                                </ng-container>

                                <ng-container matColumnDef="wash_code_commission_percent">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'manageAgent.washCode' | translate }}(%) </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.wash_code_commission_percent }}% </td>
                                </ng-container>

                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'manageAgent.agent' | translate }}
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ agentAndMemberCount(element.id) }} </td>
                                </ng-container>

                                <ng-container matColumnDef="is_allow_play">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'manageAgent.memberStatus' | translate }} </th>
                                    <td class="text-center align-bottom" mat-cell *matCellDef="let element">
                                        <label class="switch switch-sm switch-label switch-pill switch-primary">
                                            <input (change)="changeAgentAllowGame(element)"
                                                [checked]="element.is_allow_play==Status.Active" class="switch-input"
                                                type="checkbox">
                                            <span class="switch-slider" data-checked="開" data-unchecked="關"></span>
                                        </label>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'manageAgent.accountStatus' | translate }} </th>
                                    <td class="text-center align-bottom" mat-cell *matCellDef="let element">
                                        <label class="switch switch-sm switch-label switch-pill switch-primary">
                                            <input (change)="changeAgentStatus(element)"
                                                [checked]="element.status==Status.Active" class="switch-input"
                                                type="checkbox">
                                            <span class="switch-slider" data-checked="開" data-unchecked="關"></span>
                                        </label>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="ip">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'manageAgent.lastLogin' | translate }}{{ 'manageAgent.date' |
                                        translate }}
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <!-- {{ element.ip_address }} -->
                                        <span>
                                            {{ element.last_login_at }}
                                        </span>
                                    </td>
                                </ng-container>

                                <!-- <ng-container matColumnDef="btn-function">
                                            <th mat-header-cell *matHeaderCellDef> 帳號設置 </th>
                                            <td mat-cell *matCellDef="let element">
                                                <button title="修改代理帳號狀態" [ngClass]="changeBtnColor(element.status)"
                                                    class="btn btn-sm ml-1 d-flex justify-content-center" type="button"
                                                    (click)="changeAgentStatus(element)">
                                                    <span class="badge" *ngIf=" element.status==Status.Active">停用</span>
                                                    <span class="badge" *ngIf="element.status==Status.InActive">啟用</span>
                                                </button>
                                            </td>
                                        </ng-container> -->

                                <ng-container matColumnDef="function">
                                    <th mat-header-cell *matHeaderCellDef class="text-center">
                                        查看
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <button class="btn btn-sm btn-golden mr-2"
                                                [routerLink]="['/agent-members', element.id]">
                                                <svg-icon src="./assets/img/svg/icon_proxy_login.svg"></svg-icon>
                                                <span class="mr-1">{{ agentAndMemberCount(element.id) }}</span>
                                                <svg-icon src="./assets/img/svg/icon_member.svg"></svg-icon> {{
                                                agentAndMemberCount(element.id, true) }}
                                            </button>
                                            <!-- <button class="btn btn-sm btn-golden"
                                                [routerLink]="['/agent-members', element.id]" [queryParams]="{m: true}">
                                                會員 {{ agentAndMemberCount(element.id, true) }}
                                            </button> -->
                                            <!-- <a title="{{ 'common.view' | translate }}({{ agentAndMemberCount(element.id) }})"
                                                        [routerLink]="['/agent-members', element.id]"
                                                        class="btn btn-sm btn-success d-flex align-items-center ml-1"
                                                        role="button"><i class="cui-people icons font-l d-block"></i>
                                                        {{ 'manageAgent.showAgents' | translate }}
                                                    </a> -->
                                            <!-- <a title="{{ 'manageAgent.editAccount' | translate }}"
                                                        [routerLink]="['/top-agent-edit',element.id, element.parent_id]"
                                                        class="btn btn-sm btn-golden d-flex align-items-center ml-1"
                                                        role="button"><i class="cui-note icons font-l d-block"></i>
                                                        {{ 'common.edit' | translate }}
                                                    </a> -->
                                            <!-- <button title="修改代理帳號狀態" [ngClass]="changeBtnColor(element.status)"
                                                        class="btn btn-sm ml-1 d-flex align-items-center" type="button"
                                                        (click)="changeAgentStatus(element)">
                                                        <i class="cui-circle-check icons font-l d-block"></i>
                                                        <span class="badge" *ngIf=" element.status==Status.Active">停用</span>
                                                        <span class="badge"
                                                            *ngIf="element.status==Status.InActive">啟用</span>
                                                    </button> -->
                                            <!-- <button title="{{ 'manageAgent.deleteAccount' | translate }}"
                                                        class="btn btn-sm btn-danger d-flex align-items-center ml-1"
                                                        type="button" (click)="deleteAgent(element.id)"><i
                                                            class="cui-trash icons font-l d-block"></i>
                                                        {{ 'common.delete' | translate }}
                                                    </button> -->
                                        </div>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumnsOfAgent"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsOfAgent;"></tr>
                            </table>
                            <div *ngIf="!dataSourceOfAgent.data.length" class="text-center m-3">
                                {{ 'common.noData' | translate }}</div>
                            <!-- <mat-paginator #paginatorOfAgent [pageSize]="50" [pageSizeOptions]="[5, 10, 20]"
                                        showFirstLastButtons>
                                    </mat-paginator> -->
                            <div *ngIf="!agent" class="text-center my-5">
                                <div class="lds-roller">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="0" class="table-responsive col-md-12 mb-5">
                            <table #sortByMember="matSort" class="col-md-12 table-striped" mat-table matSort
                                #SortByPhysical [dataSource]="dataSourceOfMember" matSortActive="created_at"
                                matSortDirection="desc">

                                <ng-container matColumnDef="index">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'common.index' | translate }}
                                    </th>
                                    <td class="text-center" *matCellDef="let element;let i=index">{{ i+1 }}</td>
                                </ng-container>

                                <ng-container matColumnDef="account">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'manageAgent.account' | translate }} </th>
                                    <td mat-cell *matCellDef="let element">
                                        <a [routerLink]="['/member-edit',element.id]">
                                            {{ element.account }}
                                        </a>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'manageAgent.name' | translate }} </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.name }} </td>
                                </ng-container>

                                <ng-container matColumnDef="nickname">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'manageAgent.nickname' | translate }} </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.nickname }} </td>
                                </ng-container>

                                <ng-container matColumnDef="wallet">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'manageAgent.balance' | translate }} </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.member_wallet.dragon_tiger_wallet }} </td>
                                </ng-container>

                                <ng-container matColumnDef="wash_code_commission_percent">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'manageAgent.washCode' | translate }}(%) </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.wash_code_commission_percent }}% </td>
                                </ng-container>

                                <ng-container matColumnDef="is_online">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'manageAgent.online' | translate }} </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span *ngIf="element.is_online == Status.Active" class="badge badge-success">{{
                                            'manageAgent.yes' | translate
                                            }}</span>
                                        <span *ngIf="element.is_online == Status.InActive" class="badge badge-danger">{{
                                            'manageAgent.no' | translate }}</span>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="is_play_game">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'game.gaming' | translate }} </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span *ngIf="element.is_play_game==Status.Active" class="badge badge-success">{{
                                            'manageAgent.yes' | translate
                                            }}</span>
                                        <span *ngIf="element.is_play_game==Status.InActive"
                                            class="badge badge-danger">{{
                                            'manageAgent.no' | translate }}</span>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="is_allow_play">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'manageAgent.memberStatus' | translate }} </th>
                                    <td class="text-center align-bottom" mat-cell *matCellDef="let element">
                                        <label class="switch switch-sm switch-label switch-pill switch-primary">
                                            <input (change)="changeMemberAllowGame(element)"
                                                [checked]="element.is_allow_play==Status.Active" class="switch-input"
                                                type="checkbox">
                                            <span class="switch-slider" data-checked="開" data-unchecked="關"></span>
                                        </label>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'manageAgent.accountStatus' | translate }} </th>
                                    <td class="text-center align-bottom" mat-cell *matCellDef="let element">
                                        <label class="switch switch-sm switch-label switch-pill switch-primary">
                                            <input (change)="changeMemberStatus(element)"
                                                [checked]="element.status==Status.Active" class="switch-input"
                                                type="checkbox">
                                            <span class="switch-slider" data-checked="開" data-unchecked="關"></span>
                                        </label>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="ip">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'manageAgent.lastLogin' | translate }}{{ 'manageAgent.date' |
                                        translate }}
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <!-- {{ element.ip_address }} -->
                                        <span>
                                            {{ element.last_login_at }}
                                        </span>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="function">
                                    <th mat-header-cell *matHeaderCellDef> 功能 </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="d-flex align-items-center">
                                            <!-- <a title="{{ 'manageAgent.editAccount' | translate }}"
                                                        [routerLink]="['/member-edit',element.id]"
                                                        class="btn btn-sm d-flex align-items-center btn-golden ml-1"
                                                        role="button"><i class="cui-note icons font-l d-block"></i>
                                                        {{ 'common.edit' | translate }}
                                                    </a>
                                                    <button title="{{ 'manageAgent.deleteAccount' | translate }}"
                                                        class="btn btn-sm d-flex align-items-center btn-danger ml-1"
                                                        type="button" (click)="deleteMember(element.id)"><i
                                                            class="cui-trash icons font-l d-block"></i>
                                                        {{ 'common.delete' | translate }}
                                                    </button> -->
                                        </div>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumnsOfMember"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsOfMember;"></tr>
                            </table>
                            <div *ngIf="!dataSourceOfMember.data.length" class="text-center m-3">
                                {{ 'common.noData' | translate }}</div>
                            <!-- <mat-paginator #paginatorOfMember [pageSize]="50" [pageSizeOptions]="[5, 10, 20]"
                                        showFirstLastButtons>
                                    </mat-paginator> -->
                            <div *ngIf="!dataMember" class="text-center my-5">
                                <div class="lds-roller">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>