<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> 項目設置
                </div>
                <div class="card-body">
                    <mat-form-field class="col-md-3">
                        <mat-label>搜尋</mat-label>
                        <input matInput (keyup)="applyFilter($event)">
                    </mat-form-field>

                    <div class="game-types">
                        <select name="" id="" class="form-control col-md-2"
                            (change)="selectGameType($event.target.value)">
                            <option *ngFor="let item of GameType" value="{{ item.id }}">{{ item.cht_name }}</option>
                        </select>
                    </div>

                    <div class="table-responsive">
                        <table class="col-md-12 table-striped" mat-table matSort [dataSource]="dataSource"
                            matSortActive="id" matSortDirection="asc">

                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 排序號碼 </th>
                                <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
                            </ng-container>

                            <ng-container matColumnDef="game_type">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 遊戲類型 </th>
                                <td mat-cell *matCellDef="let element"> {{ getGameTypeByID(element.game_type) }} </td>
                            </ng-container>

                            <ng-container matColumnDef="item_type">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 項目類型 </th>
                                <td mat-cell *matCellDef="let element"> {{ getItemTypeByID(element.item_type) }} </td>
                            </ng-container>

                            <ng-container matColumnDef="limit_type">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 限制類型 </th>
                                <td mat-cell *matCellDef="let element"> {{ getLimitTypeByID(element.limit_type) }} </td>
                            </ng-container>

                            <ng-container matColumnDef="amount">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 下注金額 </th>
                                <td mat-cell *matCellDef="let element"> {{ element.amount  }} </td>
                            </ng-container>

                            <!--
                            <ng-container matColumnDef="created_at">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 建立日期 </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.created_at | date:'yyyy-MM-dd HH:mm:ss'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="updated_at">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 修改日期 </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.updated_at | date:'yyyy-MM-dd HH:mm:ss'}}
                                </td>
                            </ng-container>
                            -->

                            <ng-container matColumnDef="function">
                                <th mat-header-cell *matHeaderCellDef class="text-center"> 檢視/編輯 </th>
                                <td mat-cell *matCellDef="let element" class="text-center">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <button class="btn btn-sm d-flex align-items-center btn-success" type="button"
                                            (click)="openModal(template,element.id)"><i
                                                class="cui-magnifying-glass icons font-l d-block"></i>
                                            檢視
                                        </button>
                                        <a [routerLink]="['/system/game-settings',element.id]" class="btn btn-sm d-flex align-items-center btn-golden ml-1"
                                            role="button"><i class="cui-note icons font-l d-block"></i>
                                            編輯
                                        </a>
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>

                    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

                    <div *ngIf="!data" class="text-center my-5">
                        <div class="lds-roller">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">檢視資料</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">遊戲類型</label>
            <div class="col-md-9 my-auto">
                {{ getGameTypeByID(modal.game_type) }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">項目類型</label>
            <div class="col-md-9 my-auto">
                {{ getItemTypeByID(modal.item_type) }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">限制類型</label>
            <div class="col-md-9 my-auto">
                {{ getLimitTypeByID(modal.limit_type) }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">下注金額</label>
            <div class="col-md-9 my-auto">
                {{ modal.amount  }}
            </div>
        </div>
        <!--
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">建立日期</label>
            <div class="col-md-9 my-auto">
                {{ modal.created_at | date:'yyyy-MM-dd HH:mm:ss' }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">修改日期</label>
            <div class="col-md-9 my-auto">
                {{ modal.updated_at | date:'yyyy-MM-dd HH:mm:ss' }}
            </div>
        </div>
        -->
    </div>
</ng-template>