<div class="animated fadeIn">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong>子帳號</strong>
                <button *ngIf="id" class="btn btn-sm btn-danger float-right" (click)="deleteAgent(id)">
                    帳號刪除
                </button>
            </div>
            <div class="card-body">
                <form [formGroup]="myForm" class="form-horizontal">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">
                            {{ 'manageAgent.name' | translate }}</label>
                        <div class="col-md-4">
                            <input
                                [ngClass]="{'is-invalid': myForm.controls['real_name'].errors && myForm.controls['real_name'].touched}"
                                [formControl]="myForm.controls['real_name']" type="text" class="form-control"
                                placeholder="{{ 'common.inputName' | translate }}">
                            <div class="invalid-feedback">
                                <span *ngIf="myForm.controls['real_name'].hasError('required')">
                                    {{ 'common.required' | translate }}
                                </span>
                                <span *ngIf="myForm.controls['real_name'].hasError('maxlength')">
                                    {{ 'login.form.lengthLessThan' | translate: { length: 10 } }}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">
                            {{ 'manageAgent.account' | translate }}</label>
                        <div class="col-md-4 my-auto">
                            <input
                                [ngClass]="{'is-invalid': myForm.controls['name'].errors && myForm.controls['name'].touched}"
                                [formControl]="myForm.controls['name']" type="text" class="form-control"
                                placeholder="請輸入6~12位英文及數字">
                            <div class="invalid-feedback">
                                <ng-container *ngIf="myForm.controls['name'].hasError('required')">
                                    {{ 'common.required' | translate }}
                                </ng-container>
                                <ng-container *ngIf="myForm.controls['name'].hasError('pattern')">
                                    {{ 'login.form.englishAndNumbers' | translate }}
                                </ng-container>
                                <ng-container *ngIf="myForm.controls['name'].hasError('minlength')">
                                    {{ 'login.form.lengthMustBe' | translate: { length: 6 } }}
                                </ng-container>
                                <ng-container *ngIf="myForm.controls['name'].hasError('maxlength')">
                                    {{ 'login.form.lengthLessThan' | translate: { length: 12 } }}
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">
                            {{ 'manageAgent.password' | translate }}</label>
                        <div class="form-group col-sm-4">
                            <input
                                [ngClass]="{'is-invalid': myForm.controls['password'].errors && myForm.controls['password'].touched}"
                                [formControl]="myForm.controls['password']" type="password" class="form-control"
                                placeholder="請輸入6~12位密碼">
                            <div class="invalid-feedback">
                                <span class="text-danger" *ngIf="myForm.controls['password'].hasError('pattern')">
                                    {{ 'login.form.englishAndNumbers' | translate }}
                                </span>
                                <span *ngIf="myForm.controls['password'].hasError('required')">
                                    {{ 'common.required' | translate }}
                                </span>
                                <span *ngIf="myForm.controls['password'].hasError('minlength')">
                                    {{ 'login.form.lengthMustBe' | translate: { length: 6 } }}
                                </span>
                                <span *ngIf="myForm.controls['password'].hasError('maxlength')">
                                    {{ 'login.form.lengthLessThan' | translate: { length: 12 } }}
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button appDebounceClick (debounceClick)="submitForm(myForm.getRawValue())" type="submit"
                    class="btn btn-sm btn-golden"><i class="fa fa-dot-circle-o"></i>
                    {{ 'common.confirm' | translate }}</button>
                <button (click)="cancel()" type="reset" class="btn btn-sm btn-danger ml-1"><i class="fa fa-ban"></i>
                    {{ 'common.cancel' | translate }}</button>
            </div>
        </div>
    </div>
</div>