<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> {{ 'game.gamingMembers' | translate }}
                </div>
                <div class="card-body">
                    <!-- <select class="form-control col-md-2 mb-3" (change)="onGameTypeChanged($event.target.value)"
                        [(ngModel)]="gameTypeID">
                        <option *ngFor="let item of gameTypes;" [value]="item.id" [disabled]="item.id!=2">
                            {{ getTranslatedGameName(item.en_name) }}
                        </option>
                    </select> -->
                    <!-- <mat-form-field class="col-md-3">
                        <mat-label>
                            {{ 'manageAgent.searchAccount' | translate }}/{{ 'manageAgent.name' | translate }}
                        </mat-label>
                        <input matInput (keyup)="applyFilter($event)">
                    </mat-form-field> -->
                    <div class="col-md-12">
                        <div class="table-responsive col-md-12">
                            <table class="col-md-12 table-striped" mat-table matSort [dataSource]="dataSource">

                                <ng-container matColumnDef="index">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'common.index' | translate }}
                                    </th>
                                    <td class="text-center" *matCellDef="let element">{{ element.index }}</td>
                                </ng-container>

                                <ng-container matColumnDef="account">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'manageAgent.account' | translate }} / {{ 'manageAgent.name' | translate }}
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{element.account}} / {{element.name}}
                                        <!-- <span class="clickable" (click)="selectedMember = element">
                                        {{element.account}} / {{element.name}}
                                    </span> -->
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="bet_item">
                                    <th mat-header-cell *matHeaderCellDef>
                                        下注項目
                                    </th>
                                    <td mat-cell *matCellDef="let element" style="padding: 0 !important">
                                        <app-timely-bet-item [records]="getMemberData(element.id)">
                                        </app-timely-bet-item>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="ip">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'manageAgent.lastLogin' | translate }}{{ 'manageAgent.date' | translate }}
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.last_login_at }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="is_allow_play">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{ 'manageAgent.memberStatus' | translate }} </th>
                                    <td class="text-center align-bottom" mat-cell *matCellDef="let element">
                                        <label class="switch switch-sm switch-3d switch-primary">
                                            <input (change)="changeMemberAllowGame(element)"
                                                [checked]="element.is_allow_play==Status.Active" class="switch-input"
                                                type="checkbox" [disabled]="!checkAllowChange(element) || isAdminDemo">
                                            <span class="switch-slider"></span>
                                        </label>
                                    </td>
                                </ng-container>


                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>

                        <div *ngIf="dataSource.data && !dataSource.data.length" class="text-center m-3">
                            {{ 'common.noData' | translate }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-total-bet #totalBet [hidden]="1" [members]="currentMembers" [user]="user" [trackMember]="selectedMember"
    [gameStatus]="gameType?.status" [gameTypeID]="gameTypeID" (cancelTrack)="selectedMember = null"
    (betRecords)="setBetRecords($event)" (betMembers)="setMemberToTable($event)">
</app-total-bet>