<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>{{ 'nav.croupierOperation' | translate }}</strong>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <form class="form-horizontal mt-3">
                            <div class="form-group row">
                                <label class="col-md-2 text-sm-right col-form-label"
                                    for="game-type">{{ 'gameType' | translate }}</label>
                                <div class="col-md-3">
                                    <select class="form-control input-lg" id="game-type"
                                        (change)="gameTypeOnChange($event.target.value)">
                                        <option *ngFor="let t of GameType" value={{t.id}}>{{t.cht_name}}</option>
                                    </select>
                                </div>

                                <h1 class="my-auto" *ngIf="countDownTimer">
                                    <span>{{ 'drawCountDown' | translate }}</span>
                                    <span style="color: red;">{{ countDownTimer | async }}</span>
                                </h1>
                            </div>

                            <!-- <div class="form-group row">
                                <label class="col-md-2 text-sm-right col-form-label">開獎秒數</label>
                                <div class="col-md-5">
                                    <input
                                        [ngClass]="{'is-invalid': myForm.controls['draw_seconds'].hasError('required') && myForm.controls['draw_seconds'].touched}"
                                        [formControl]="myForm.controls['draw_seconds']" type="text"
                                        class="form-control input-lg" placeholder="輸入秒數">
                                </div>
                            </div> -->

                            <div class="form-group row">
                                <label
                                    class="col-md-2 text-sm-right col-form-label">{{ 'drawResult' | translate }}</label>
                                <div class="col-md-5">
                                    <input [formControl]="myForm.controls['draw_result']" type="text" maxlength="3"
                                        class="form-control input-lg"
                                        placeholder="{{ 'enterThe3DigitDrawResult' | translate }}"
                                        (keypress)="checkNumber($event, myForm.controls['draw_result'].value)">
                                    <!-- <div class="invalid-feedback">
                                        <ng-container *ngIf="myForm.controls['draw_result'].hasError('pattern')">
                                            請輸入6以下的數字
                                        </ng-container>
                                    </div> -->
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2"></label>
                                <div class="col-md-5">
                                    <button (click)="updateDrawResult(myForm.value)" type="submit"
                                        class="btn btn-lg btn-golden ml-1">{{ 'draw' | translate }}</button>
                                    <button (click)="newGame(myForm.value)" type="submit"
                                        class="btn btn-lg btn-success ml-1">{{ 'openNewGame' | translate }}</button>
                                    <button (click)="invalidDrawResult()" type="submit"
                                        class="btn btn-lg btn-danger ml-1">{{ 'invalidDrawResult' | translate }}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>留言板</strong>
                </div>
                <div class="card-body">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam harum quaerat, id quia optio, corrupti laboriosam eos repellendus rerum, nobis totam sit. Reprehenderit quidem ad omnis fugit iste accusamus possimus?
                </div>
                <div class="card-footer">
                    <form action="">
                        <input type="text">
                        <button type="submit">送出</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->