.animated {
    .card {
        .card-header {}

        .card-body {}

        .card-footer {
            display: flex;
            justify-content: flex-end;

            form {
                display: flex;
                border-radius: 100px;
                border: 1px solid #000;
                width: 300px;

                input {
                    border: none;
                    padding: 5px 10px;
                    width: 230px;
                    background-color: transparent;
                    color: #000;

                    &:focus {
                        outline: none;
                    }
                }

                button {
                    border: none;
                    padding: 5px 10px;
                    width: 50px;
                    background-color: transparent;
                    color: #000;

                    &:hover {
                        background-color: #ccc;
                        color: #fff;
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}

label {
    font-size: x-large;
}

.input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}