.bread {
    cursor: pointer;
    text-decoration: underline;
    color: #e1b137;
}

.agent-detail th {
    white-space: nowrap;
}

.self-row {
    background-color: #D4E1FE !important;
}

table tr td {
    white-space: nowrap;
}