<div class="col mt-3">
    <!-- <div class="form-group row">
        <label class="col-md-2 text-sm-right col-form-label" for="game-type">
            {{ 'gameType' | translate }}
        </label>
        <div class="col-md-8">
            <select class="text-sm-right form-control" [ngModel]="gameTypeID"
                (change)="onGameTypeChanged($event.target.value)">
                <option *ngFor="let t of gameTypes" [value]="t.id">
                    {{ getTranslatedGameName(t.en_name) }}
                </option>
            </select>
        </div>
    </div> -->

    <div class="form-group row">
        <label class="col-md-2 text-sm-right col-form-label">
            {{ 'gameInstructions' | translate }}
        </label>
        <div class="col-md-8">
            <ckeditor *ngIf="currentGameType" [(ngModel)]="currentGameType.instruction" [config]="config"
                (fileUploadRequest)="fileUploadRequest($event)">
            </ckeditor>
        </div>
    </div>

    <div class="text-center my-2">
        <button class="btn btn-golden" appDebounceClick (debounceClick)="updateGameType()">
            {{ 'common.update' | translate }}
        </button>
    </div>
</div>