<div class="header col-md-12 my-3">
    <div class="row text-center">
        <div class="col-6 blue">龍</div>
        <div class="col-6 red">虎</div>
    </div>
</div>
<div class="panel">
    <form [formGroup]="form">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6" formGroupName="player">
                    <div class="row text-center">
                        <div class="col-12 p-0 box" formArrayName="0">
                            <div class="mt-3">
                                <div class="form-group row d-flex justify-content-center">
                                    <ng-container *ngFor="let item of POKER_SUITS;let i=index">
                                        <span class="poker" [ngClass]="getSuitClass(form.get('player'), 0, i)"
                                            (click)="onSuitClick(form.get('player'), 0, i)"></span>
                                    </ng-container>
                                </div>
                                <div class="form-group mt-1">
                                    <select class="form-control mx-auto w-auto" formControlName="number">
                                        <option *ngFor="let item of POKER_NUMS;let i=index" [value]="i">
                                            {{ item }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" formGroupName="banker">
                    <div class="row text-center">
                        <div class="col-12 p-0 box" formArrayName="0">
                            <div class="mt-3">
                                <div class="form-group row d-flex justify-content-center">
                                    <ng-container *ngFor="let item of POKER_SUITS;let i=index">
                                        <span class="poker" [ngClass]="getSuitClass(form.get('banker'), 0, i)"
                                            (click)="onSuitClick(form.get('banker'), 0, i)"></span>
                                    </ng-container>

                                </div>
                                <div class="form-group mt-1">
                                    <select class="form-control mx-auto w-auto" formControlName="number">
                                        <option *ngFor="let item of POKER_NUMS;let i=index" [value]="i">
                                            {{ item }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>