<div class="animated fadeIn">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong *ngIf="!id">{{ 'common.add' | translate }}</strong>
                <strong *ngIf="id">{{ 'common.edit' | translate }}</strong>
            </div>
            <div class="card-body">
                <form [formGroup]="myForm" class="form-horizontal">

                    <div class="form-group row">
                        <label class="col-md-4 text-sm-right col-form-label">
                            {{ 'login.form.account' | translate }}
                        </label>
                        <div class="col-md-4">
                            <ng-container
                                *ngIf="myForm.controls['identity'].value !== UserRole.gametester;else gameTester">
                                <input
                                    [ngClass]="{'is-invalid': myForm.controls['name'].errors && myForm.controls['name'].touched}"
                                    [formControl]="myForm.controls['name']" type="text" minlength="6"
                                    class="form-control" placeholder="{{ 'login.form.englishAndNumbers' | translate }}">
                                <div class="invalid-feedback">
                                    <ng-container *ngIf="myForm.controls['name'].hasError('required')">
                                        {{ 'common.required' | translate }}</ng-container>
                                    <ng-container *ngIf="myForm.controls['name'].hasError('pattern')">
                                        {{ 'login.form.englishAndNumbers' | translate }}
                                    </ng-container>
                                    <ng-container *ngIf="myForm.controls['name'].hasError('minlength')">
                                        {{ 'login.form.lengthMustBe' | translate: { length: 6 } }}
                                    </ng-container>
                                </div>
                            </ng-container>

                            <ng-template #gameTester>
                                <input
                                    [ngClass]="{'is-invalid': myForm.controls['game_account'].errors && myForm.controls['game_account'].touched}"
                                    [formControl]="myForm.controls['game_account']" type="text" minlength="6"
                                    class="form-control" placeholder="{{ 'login.form.englishAndNumbers' | translate }}">
                                <div class="invalid-feedback">
                                    <ng-container *ngIf="myForm.controls['game_account'].hasError('required')">
                                        {{ 'common.required' | translate }}
                                    </ng-container>
                                    <ng-container *ngIf="myForm.controls['game_account'].hasError('pattern')">
                                        {{ 'login.form.englishAndNumbers' | translate }}
                                    </ng-container>
                                    <ng-container *ngIf="myForm.controls['game_account'].hasError('minlength')">
                                        {{ 'login.form.lengthMustBe' | translate: { length: 6 } }}
                                    </ng-container>
                                </div>
                            </ng-template>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 text-sm-right col-form-label">{{ 'login.form.username' | translate
                            }}</label>
                        <div class="col-md-4">
                            <input
                                [ngClass]="{'is-invalid': myForm.controls['real_name'].errors && myForm.controls['real_name'].touched}"
                                [formControl]="myForm.controls['real_name']" type="text" class="form-control"
                                placeholder="{{ 'common.inputName' | translate }}">
                            <div class="invalid-feedback">
                                {{ 'common.required' | translate }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 text-sm-right col-form-label">
                            {{ 'login.form.password' | translate }}</label>
                        <div class="col-md-4">
                            <input
                                [ngClass]="{'is-invalid': myForm.controls['password'].errors && myForm.controls['password'].touched}"
                                [formControl]="myForm.controls['password']" type="password" class="form-control"
                                placeholder="{{ 'authority.inputPassword' | translate }}">
                            <div class="invalid-feedback">
                                <ng-container *ngIf="myForm.controls['password'].hasError('required')">
                                    {{ 'common.required' | translate }}
                                </ng-container>
                                <ng-container *ngIf="myForm.controls['password'].hasError('minlength')">
                                    {{ 'login.form.lengthMustBe' | translate: { length: 6 } }}
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 text-sm-right col-form-label">{{ 'login.form.checkPassword' | translate
                            }}</label>
                        <div class="col-md-4">
                            <input
                                [ngClass]="{'is-invalid': myForm.controls['re_password'].value != myForm.controls['password'].value && myForm.controls['re_password'].touched}"
                                [formControl]="myForm.controls['re_password']" type="password" class="form-control"
                                placeholder="{{ 'login.form.checkPasswordPlaceholder' | translate }}">
                            <div class="invalid-feedback">
                                {{ 'common.passwordInconsistent' | translate }}
                            </div>
                        </div>
                    </div>

                    <!-- <div class="form-group row"
                        *ngIf="myForm.controls['identity'].value === UserRole.management">
                        <label class="col-md-4 text-sm-right col-form-label">
                            {{ 'agentCredit' | translate }}
                        </label>
                        <div class="col-md-4">
                            <input
                                [ngClass]="{'is-invalid': myForm.controls['wallet'].errors && myForm.controls['wallet'].touched}"
                                [formControl]="myForm.controls['wallet']" type="number" class="form-control"
                                placeholder="{{ 'manageAgent.form.enterCredit' | translate }}">
                            <div class="invalid-feedback">
                                {{ 'common.required' | translate }}
                            </div>
                        </div>
                    </div> -->

                    <div class="form-group row">
                        <label class="col-md-4 text-sm-right col-form-label" for="date-input">{{
                            'authority.userAuthority' | translate }}</label>
                        <div class="col-md-4 my-auto">
                            <ng-container>
                                <label class="radio-inline mx-1">
                                    <input [formControl]="myForm.controls['identity']" [value]="UserRole.admin"
                                        type="radio"
                                        [ngClass]="{'is-invalid': myForm.controls['identity'].errors && myForm.controls['identity'].touched}">
                                    {{ 'system.admin' | translate }}
                                </label>
                                <label class="radio-inline mx-1">
                                    <input [formControl]="myForm.controls['identity']" [value]="UserRole.management"
                                        type="radio"
                                        [ngClass]="{'is-invalid': myForm.controls['identity'].errors && myForm.controls['identity'].touched}">
                                    {{ 'system.management' | translate }}
                                </label>
                                <label class="radio-inline mx-1">
                                    <input [formControl]="myForm.controls['identity']" [value]="UserRole.dealers"
                                        type="radio"
                                        [ngClass]="{'is-invalid': myForm.controls['identity'].errors && myForm.controls['identity'].touched}">
                                    {{ 'system.dealers' | translate }}
                                </label>
                                <label class="radio-inline mx-1">
                                    <input [formControl]="myForm.controls['identity']" [value]="UserRole.streamer"
                                        type="radio"
                                        [ngClass]="{'is-invalid': myForm.controls['identity'].errors && myForm.controls['identity'].touched}">
                                    {{ 'system.streamer' | translate }}
                                </label>
                                <!-- <label class="radio-inline mx-1">
                                    <input [formControl]="myForm.controls['identity']" [value]="UserRole.gametester"
                                        type="radio"
                                        [ngClass]="{'is-invalid': myForm.controls['identity'].errors && myForm.controls['identity'].touched}">
                                    {{ 'system.gametester' | translate }}
                                </label>
                                <label class="radio-inline mx-1">
                                    <input [formControl]="myForm.controls['identity']" [value]="UserRole.staff"
                                        type="radio"
                                        [ngClass]="{'is-invalid': myForm.controls['identity'].errors && myForm.controls['identity'].touched}">
                                    {{ 'system.staff' | translate }}
                                </label>
                                <label class="radio-inline mx-1">
                                    <input [formControl]="myForm.controls['identity']" [value]="UserRole.managementDemo"
                                        type="radio"
                                        [ngClass]="{'is-invalid': myForm.controls['identity'].errors && myForm.controls['identity'].touched}">
                                    {{ 'system.managementDemo' | translate }}
                                </label> -->
                            </ng-container>
                            <div class="invalid-feedback">
                                <ng-container *ngIf="myForm.controls['identity'].hasError('required')">
                                    {{ 'common.required' | translate }}</ng-container>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="form-group row" *ngIf="myForm.controls['identity'].value === UserRole.management">
                        <label class="col-md-4 text-sm-right col-form-label" for="date-input">{{ 'nav.manageAgent' |
                            translate }}</label>
                        <div class="col-md-4 my-auto">
                            <label class="radio-inline mx-1">
                                <input [checked]="getChecked(AgentAuthority.OperationItemUser)"
                                    [value]="AgentAuthority.OperationItemUser" type="checkbox"
                                    (change)="onCheckboxChange($event)"> {{ 'nav.manageAgent' | translate }}
                            </label>
                        </div>
                    </div>

                    <div class="form-group row"
                        *ngIf="myForm.controls['identity'].value === UserRole.management || myForm.controls['identity'].value === UserRole.managementDemo">
                        <label class="col-md-4 text-sm-right col-form-label" for="date-input">{{ 'nav.recordSearching' |
                            translate }}</label>
                        <div class="col-md-4 my-auto">
                            <!-- <label class="radio-inline mx-1">
                                <input [checked]="getChecked(AgentAuthority.OperationItemDonateList)"
                                    [value]="AgentAuthority.OperationItemDonateList" type="checkbox"
                                    (change)="onCheckboxChange($event)"> {{ 'nav.donateRecordList' | translate }}
                            </label> -->
                            <label class="radio-inline mx-1">
                                <input [checked]="getChecked(AgentAuthority.OperationItemReportRecordList)"
                                    [value]="AgentAuthority.OperationItemReportRecordList" type="checkbox"
                                    (change)="onCheckboxChange($event)"> {{ 'nav.reportRecordList' | translate }}
                            </label>
                            <label class="radio-inline mx-1">
                                <input [checked]="getChecked(AgentAuthority.OperationItemcalcItemResultList)"
                                    [value]="AgentAuthority.OperationItemcalcItemResultList" type="checkbox"
                                    (change)="onCheckboxChange($event)"> {{ 'nav.gameRecordList' | translate }}
                            </label>
                            <label class="radio-inline mx-1">
                                <input [checked]="getChecked(AgentAuthority.OperationItemRenewDrawResultRecord)"
                                    [value]="AgentAuthority.OperationItemRenewDrawResultRecord" type="checkbox"
                                    (change)="onCheckboxChange($event)"> {{ 'nav.renewDrawRecord' | translate }}
                            </label>
                            <label class="radio-inline mx-1">
                                <input [checked]="getChecked(AgentAuthority.OperationItemLotteryStatistics)"
                                    [value]="AgentAuthority.OperationItemLotteryStatistics" type="checkbox"
                                    (change)="onCheckboxChange($event)"> {{ 'nav.lotteryStatistics' | translate }}
                            </label>
                            <label *ngIf="myForm.controls['identity'].value === UserRole.managementDemo"
                                class="radio-inline mx-1">
                                <input [checked]="getChecked(AgentAuthority.OperationItemDrawSettings)"
                                    [value]="AgentAuthority.OperationItemDrawSettings" type="checkbox"
                                    (change)="onCheckboxChange($event)"> {{ 'nav.drawSettings' | translate }}
                            </label>
                        </div>
                    </div>

                    <ng-container *ngIf="myForm.controls['identity'].value !== UserRole.managementDemo">
                        <div class="form-group row" *ngIf="myForm.controls['identity'].value === UserRole.management">
                            <label class="col-md-4 text-sm-right col-form-label" for="date-input">
                                {{ 'nav.systemSetting' | translate }}
                            </label>
                            <div class="col-md-4 my-auto">
                                <label class="radio-inline mx-1">
                                    <input [checked]="getChecked(AgentAuthority.OperationItemDrawSettings)"
                                        [value]="AgentAuthority.OperationItemDrawSettings" type="checkbox"
                                        (change)="onCheckboxChange($event)"> {{ 'nav.drawSettings' | translate }}
                                </label>
                                <label class="radio-inline mx-1">
                                    <input [checked]="getChecked(AgentAuthority.OperationItemTimelyBet)"
                                        [value]="AgentAuthority.OperationItemTimelyBet" type="checkbox"
                                        (change)="onCheckboxChange($event)"> {{ 'nav.timelyBet' | translate }}
                                </label>

                                <!-- <label class="radio-inline mx-1">
                                    <input [checked]="getChecked(AgentAuthority.OperationItemSingleItems)"
                                        [value]="AgentAuthority.OperationItemSingleItems" type="checkbox"
                                        (change)="onCheckboxChange($event)"> {{ 'nav.singleItems' | translate }}
                                </label> -->
                                <label class="radio-inline mx-1">
                                    <input [checked]="getChecked(AgentAuthority.OperationItemBetAmounts)"
                                        [value]="AgentAuthority.OperationItemBetAmounts" type="checkbox"
                                        (change)="onCheckboxChange($event)"> {{ 'nav.betAmounts' | translate }}
                                </label>
                                <label class="radio-inline mx-1">
                                    <input [checked]="getChecked(AgentAuthority.OperationItemOtherSettings)"
                                        [value]="AgentAuthority.OperationItemOtherSettings" type="checkbox"
                                        (change)="onCheckboxChange($event)"> {{ 'nav.otherSettings' | translate }}
                                </label>
                                <!--  <label class="radio-inline mx-1">
                                    <input [checked]="getChecked(AgentAuthority.OperationItemVirtualOnlineMembers)"
                                        [value]="AgentAuthority.OperationItemVirtualOnlineMembers" type="checkbox"
                                        (change)="onCheckboxChange($event)"> {{ 'nav.virtualOnlineMembers' | translate
                                    }}
                                </label>
                                <label class="radio-inline mx-1">
                                    <input [checked]="getChecked(AgentAuthority.OperationItemBotSettings)"
                                        [value]="AgentAuthority.OperationItemBotSettings" type="checkbox"
                                        (change)="onCheckboxChange($event)"> {{ 'nav.botSettings' | translate }}
                                </label>
                                <label class="radio-inline mx-1">
                                    <input [checked]="getChecked(AgentAuthority.OperationItemBotAccounts)"
                                        [value]="AgentAuthority.OperationItemBotAccounts" type="checkbox"
                                        (change)="onCheckboxChange($event)"> {{ 'nav.botAccounts' | translate }}
                                </label>
                                <label class="radio-inline mx-1">
                                    <input [checked]="getChecked(AgentAuthority.OperationItemMessageBlacklists)"
                                        [value]="AgentAuthority.OperationItemMessageBlacklists" type="checkbox"
                                        (change)="onCheckboxChange($event)"> {{ 'nav.messagBlackList' | translate }}
                                </label> -->
                            </div>
                        </div>

                        <div class="form-group row" *ngIf="myForm.controls['identity'].value === UserRole.management">
                            <label class="col-md-4 text-sm-right col-form-label" for="date-input">{{ 'nav.messages' |
                                translate }}</label>
                            <div class="col-md-4 my-auto">
                                <!-- <label class="radio-inline mx-1">
                                    <input [checked]="getChecked(AgentAuthority.OperationItemProclamations)"
                                        [value]="AgentAuthority.OperationItemProclamations" type="checkbox"
                                        (change)="onCheckboxChange($event)"> {{ 'nav.proclamations' | translate }}
                                </label> -->
                                <label class="radio-inline mx-1">
                                    <input [checked]="getChecked(AgentAuthority.OperationItemNormalProclamations)"
                                        [value]="AgentAuthority.OperationItemNormalProclamations" type="checkbox"
                                        (change)="onCheckboxChange($event)"> {{ 'nav.normalProclamations' | translate }}
                                </label>
                                <!-- <label class="radio-inline mx-1">
                                    <input [checked]="getChecked(AgentAuthority.OperationItemInsiteProclamations)"
                                        [value]="AgentAuthority.OperationItemInsiteProclamations" type="checkbox"
                                        (change)="onCheckboxChange($event)"> {{ 'nav.insiteProclamations' | translate }}
                                </label> -->
                                <!-- <label class="radio-inline mx-1">
                                    <input [checked]="getChecked(AgentAuthority.OperationItemAdProclamationsSetting)"
                                        [value]="AgentAuthority.OperationItemAdProclamationsSetting" type="checkbox"
                                        (change)="onCheckboxChange($event)"> {{ 'nav.adProclamations' | translate }}
                                </label> -->
                                <!-- <label class="radio-inline mx-1">
                                    <input [checked]="getChecked(AgentAuthority.OperationItemProclamationsSetting)"
                                        [value]="AgentAuthority.OperationItemProclamationsSetting" type="checkbox"
                                        (change)="onCheckboxChange($event)"> {{ 'nav.messageEdit' | translate }}
                                </label> -->
                            </div>
                        </div>
                    </ng-container>



                    <div class="form-group row" *ngIf="myForm.controls['identity'].value === UserRole.dealers">
                        <label class="col-md-4 text-sm-right col-form-label" for="date-input">{{ 'authority.chooseGame'
                            | translate }}</label>
                        <div class="col-md-4 my-auto">
                            <label class="radio-inline mx-1">
                                <input [checked]="getChecked(GameTypeEnum.GameTypeDragonTiger)"
                                    [value]="GameTypeEnum.GameTypeDragonTiger" type="radio" name="gameType"
                                    (change)="changeRadio($event)">
                                {{ 'game.dragonTiger' | translate }}
                            </label>
                            <!-- <label class="radio-inline mx-1">
                                <input [checked]="getChecked(1)" [value]="1" type="radio" name="gameType"
                                    (change)="changeRadio($event)">
                                {{ 'game.sicBo' | translate }}
                            </label>
                            <label class="radio-inline mx-1">
                                <input [checked]="getChecked(2)" [value]="2" type="radio" name="gameType"
                                    (change)="changeRadio($event)">
                                {{ 'game.baccarat' | translate }}
                            </label>
                            <label class="radio-inline mx-1">
                                <input [checked]="getChecked(3)" [value]="3" type="radio" name="gameType"
                                    (change)="changeRadio($event)" [disabled]=true>
                                {{ 'game.roulette' | translate }}
                            </label> -->
                        </div>
                    </div>

                    <!-- <div class="form-group row" *ngIf="myForm.controls['identity'].value === 2">
                        <label class="col-md-4 text-sm-right col-form-label" for="date-input">帳戶權限</label>
                        <div class="col-md-4 my-auto">
                            <label class="radio-inline mx-1">
                                <input [checked]="getChecked(AgentAuthority.OperationItemAuthority)"
                                    [value]="AgentAuthority.OperationItemAuthority" type="checkbox"
                                    (change)="onCheckboxChange($event)"> 帳戶權限
                            </label>
                        </div>
                    </div> -->

                    <div class="form-group row mt-3">
                        <label class="col-md-4 text-sm-right col-form-label" for="date-input">
                            {{ 'common.status' | translate }}({{ 'common.inActive' | translate }}/{{ 'common.active' |
                            translate }})
                        </label>
                        <div class="col-md-4">
                            <label class="switch switch-3d switch-primary">
                                <input [formControl]="myForm.controls['status']" class="switch-input" type="checkbox">
                                <span class="switch-slider"></span>
                            </label>
                        </div>
                    </div>

                </form>
            </div>
            <div class="card-footer">
                <button (click)="submitForm(myForm.getRawValue())" type="submit" class="btn btn-sm btn-golden"><i
                        class="fa fa-dot-circle-o"></i>
                    {{ 'common.confirm' | translate }}</button>
                <button (click)="cancel()" type="reset" class="btn btn-sm btn-danger ml-1"><i class="fa fa-ban"></i>
                    {{ 'common.cancel' | translate }}</button>
            </div>
        </div>
    </div>
</div>