<div class="modal-header">
    <h4 class="modal-title pull-left">{{ 'common.searchRecord' | translate }} ({{ user.real_name }})</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="table-responsive">

        <table class="col-md-12 table-striped" mat-table matSort [dataSource]="dataSource" matSortActive="closing_date"
            matSortDirection="desc">

            <ng-container matColumnDef="closing_date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'report.closingDate' | translate }} </th>
                <td mat-cell *matCellDef="let element">
                    <span>
                        {{ element.closing_date | date: 'yyyy-MM-dd' }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'manageAgent.name' | translate }} </th>
                <td mat-cell *matCellDef="let element">
                    <span>
                        {{ element.name }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="account">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'manageAgent.account' | translate }} </th>
                <td mat-cell *matCellDef="let element">
                    <span>
                        {{ element.account }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="total_amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'report.totalAmount' | translate }} </th>
                <td mat-cell *matCellDef="let element">
                    <span>
                        {{ element.total_amount }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="active_total_amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'report.activeTotalAmount' | translate }} </th>
                <td mat-cell *matCellDef="let element">
                    <span>
                        {{ element.active_total_amount }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="number_of_game">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'report.numberOfGame' | translate }} </th>
                <td mat-cell *matCellDef="let element">
                    <span>
                        {{ element.number_of_game }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="game_result_amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'report.gameResultAmount' | translate }} </th>
                <td mat-cell *matCellDef="let element">
                    <span>
                        {{ element.game_result_amount }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="wash_code_commission_percent">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'manageAgent.washCode' | translate }}% </th>
                <td mat-cell *matCellDef="let element">
                    <span>
                        {{ element.wash_code_commission_percent }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="wash_code_commission">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'manageAgent.form.washCode' | translate }} </th>
                <td mat-cell *matCellDef="let element">
                    <span class="text-success">
                        {{ element.wash_code_commission | fixed }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="revenue_share">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'manageAgent.revenueShare' | translate }} </th>
                <td mat-cell *matCellDef="let element">
                    <span>
                        {{ element.revenue_share }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="total_donate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'report.totalDonate' | translate }} </th>
                <td mat-cell *matCellDef="let element">
                    <span class="text-danger">
                        {{ element.total_donate }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="settlement_amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'report.settlementAmount' | translate }} </th>
                <td mat-cell *matCellDef="let element">
                    <span>
                        {{ element.settlement_amount }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="settlement_amount_from_child">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'report.childSA' | translate }} </th>
                <td mat-cell *matCellDef="let element">
                    <span>
                        {{ element.settlement_amount_from_child }}
                    </span>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div *ngIf="!dataSource.data.length" class="text-center m-3">
            {{ 'common.noData' | translate }}</div>
        <!-- <div *ngIf="!loopCircle" class="text-center my-5">
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div> -->
        <mat-paginator [pageSize]="50" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>