<div class="animated fadeIn">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong>{{ 'common.add' | translate }}</strong>
            </div>
            <div class="card-body">
                <form [formGroup]="myForm" class="form-horizontal">

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">
                            {{ 'manageAgent.name' | translate }}
                        </label>
                        <div class="col-md-4 my-auto">
                            <input
                                [ngClass]="{'is-invalid': myForm.controls['name'].errors && myForm.controls['name'].touched}"
                                [formControl]="myForm.controls['name']" type="text" class="form-control"
                                placeholder="{{ 'common.inputName' | translate }}">
                            <div class="invalid-feedback">
                                <ng-container *ngIf="myForm.controls['name'].hasError('required')">
                                    {{ 'common.required' | translate }}</ng-container>
                                <ng-container *ngIf="myForm.controls['name'].hasError('maxlength')">
                                    {{ 'login.form.lengthLessThan' | translate: { length: 5 } }}
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">
                            {{ 'manageAgent.account' | translate }}
                        </label>
                        <div class="col-md-4 my-auto">
                            <input
                                [ngClass]="{'is-invalid': myForm.controls['account'].errors && myForm.controls['account'].touched}"
                                [formControl]="myForm.controls['account']" type="text" minlength="6"
                                class="form-control" placeholder="請輸入6~12位英文及數字">
                            <div class="invalid-feedback">
                                <ng-container *ngIf="myForm.controls['account'].hasError('required')">
                                    {{ 'common.required' | translate }}</ng-container>
                                <ng-container *ngIf="myForm.controls['account'].hasError('pattern')">
                                    {{ 'login.form.englishAndNumbers' | translate }}
                                </ng-container>
                                <ng-container *ngIf="myForm.controls['account'].hasError('minlength')">
                                    {{ 'login.form.lengthMustBe' | translate: { length: 6 } }}
                                </ng-container>
                                <ng-container *ngIf="myForm.controls['account'].hasError('maxlength')">
                                    {{ 'login.form.lengthLessThan' | translate: { length: 12 } }}
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">
                            {{ 'manageAgent.password' | translate }}
                        </label>
                        <div class="col-md-4 my-auto">
                            <input
                                [ngClass]="{'is-invalid': myForm.controls['password'].errors && myForm.controls['password'].touched}"
                                [formControl]="myForm.controls['password']" type="password" class="form-control"
                                placeholder="請輸入6~12位英文及數字">
                            <div class="invalid-feedback">
                                <span class="text-danger" *ngIf="myForm.controls['password'].hasError('required')">
                                    {{ 'common.required' | translate }}
                                </span>
                                <span *ngIf="myForm.controls['password'].hasError('minlength')">
                                    {{ 'login.form.lengthMustBe' | translate: { length: 6 } }}
                                </span>
                                <span *ngIf="myForm.controls['password'].hasError('maxlength')">
                                    {{ 'login.form.lengthLessThan' | translate: { length: 12 } }}
                                </span>
                            </div>
                        </div>
                        <!-- <div *ngIf="loginUserIdentity===UserRole.admin" class="col-md-4">
                            <span class="mr-3 align-top"> {{ 'autoBetResult' | translate }} </span>
                            <div class="col-md-6 d-inline-block">
                                <input formControlName="auto_bet_result" class="form-control" type="number">
                                <span class="text-danger"> {{ 'autoBetTip' | translate }} </span>
                            </div>
                        </div> -->
                    </div>

                    <!-- <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">
                            {{ 'manageAgent.nickname' | translate }}
                        </label>
                        <div class="col-md-4 my-auto">
                            <input
                                [ngClass]="{'is-invalid': myForm.controls['nickname'].errors && myForm.controls['nickname'].touched}"
                                [formControl]="myForm.controls['nickname']" type="text" class="form-control"
                                placeholder="{{ 'manageAgent.inputNickname' | translate }}">
                            <div class="invalid-feedback">
                                <span *ngIf="myForm.controls['nickname'].hasError('required')">
                                    {{ 'common.required' | translate }}
                                </span>
                                <span *ngIf="myForm.controls['nickname'].hasError('maxlength')">
                                    {{ 'login.form.lengthLessThan' | translate: { length: 6 } }}
                                </span>
                            </div>
                        </div>
                    </div> -->

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">
                            {{ 'manageAgent.balance' | translate }}</label>
                        <div class="col-md-4 my-auto">
                            <input
                                [ngClass]="{'is-invalid': myForm.controls['credit'].errors && myForm.controls['credit'].touched}"
                                [formControl]="myForm.controls['credit']" type="text" class="form-control"
                                placeholder="{{ 'manageAgent.form.enterCredit' | translate }}">
                            <div class="invalid-feedback">
                                {{ getFormCtrlErrDesc(myForm.get('credit')) }}
                            </div>
                            <span style="color: #eebf16">
                                {{ 'manageAgent.form.remainingBalance' | translate }}{{ userWallet }}
                            </span>
                        </div>

                    </div>

                    <!-- <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right" for="date-input">
                            {{ 'manageAgent.balance' | translate }}</label>
                        <div class="col-md-4">
                            <input
                                [ngClass]="{'is-invalid': myForm.controls['wallet'].errors && myForm.controls['wallet'].touched}"
                                [formControl]="myForm.controls['wallet']" type="text" class="form-control"
                                placeholder="{{ 'manageAgent.form.enterBalance' | translate }}">

                            <div class="invalid-feedback">
                                <span *ngIf="myForm.controls['wallet'].hasError('required')">
                                    {{ 'common.required' | translate }}</span>
                            </div>
                        </div>
                    </div> -->

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">
                            洗碼(%)</label>
                        <div class="col-md-4">
                            <select class="form-control" formControlName="wash_code_commission_percent">
                                <option value="0" selected>0</option>
                                <option [value]="item" *ngFor="let item of washCodeRange"
                                    [hidden]="item > parentWashCodePercent">{{ item }}</option>
                            </select>
                            <div class="row col-md-12">
                                <div class="text-danger my-auto ml-3"
                                    *ngIf="myForm.controls['wash_code_commission_percent'].hasError('max') || myForm.controls['wash_code_commission_percent'].hasError('min')">
                                    {{ 'manageAgent.form.rangeMustBe' | translate }} 0.1 ~ 1</div>
                            </div>
                        </div>
                        <div class="invalid-feedback">
                            {{ 'common.required' | translate }}
                        </div>
                    </div>

                    <!-- <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">{{ 'manageAgent.form.remark' | translate
                            }}</label>
                        <div class="col-md-4 my-auto">
                            <textarea name="" id="" cols="30" rows="10"
                                [ngClass]="{'is-invalid': myForm.controls['remark'].hasError('required') && myForm.controls['remark'].touched}"
                                [formControl]="myForm.controls['remark']" type="number" class="form-control">
                                </textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">{{ 'manageAgent.form.bank' | translate
                            }}</label>
                        <div class="col-md-4 my-auto">
                            <textarea name="" id="" cols="30" rows="10"
                                [ngClass]="{'is-invalid': myForm.controls['bank_account'].hasError('required') && myForm.controls['bank_account'].touched}"
                                [formControl]="myForm.controls['bank_account']" type="number" class="form-control">
                                </textarea>
                        </div>
                    </div> -->

                    <!-- <div class="form-group row mt-3">
                        <label class="col-md-4 col-form-label text-md-right" for="date-input">
                            {{ 'manageAgent.accountStatus' | translate }}({{ 'common.inActive' | translate }}/{{
                            'common.active' | translate }})
                        </label>
                        <div class="col-md-4">
                            <label class="switch switch-3d switch-primary">
                                <input [formControl]="myForm.controls['status']" class="switch-input" type="checkbox">
                                <span class="switch-slider"></span>
                            </label>
                        </div>
                    </div>

                    <div class="form-group row mt-3">
                        <label class="col-md-4 col-form-label text-md-right" for="date-input">
                            {{ 'manageAgent.memberStatus' | translate }}
                            ({{ 'common.inActive' | translate }}/{{ 'common.active' | translate }})
                        </label>
                        <div class="col-md-4">
                            <label class="switch switch-3d switch-primary">
                                <input [formControl]="myForm.controls['is_allow_play']" class="switch-input"
                                    type="checkbox">
                                <span class="switch-slider"></span>
                            </label>
                        </div>
                    </div> -->

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">
                            {{ 'walletLimit' | translate }}</label>
                        <div class="col-md-4 my-auto">
                            <input formControlName="dragon_tiger_win_total_amount_limit"
                                [ngClass]="{'is-invalid': myForm.controls['dragon_tiger_win_total_amount_limit'].errors && myForm.controls['dragon_tiger_win_total_amount_limit'].touched}"
                                type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">
                            單注限額
                        </label>
                        <div class="col-md-4 my-auto">
                            <app-single-bet-panel #singlePanel [isMember]="true" [isCreating]="true" [parent]="parent">
                            </app-single-bet-panel>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button appDebounceClick (debounceClick)="submitForm(myForm.getRawValue())" type="submit"
                    class="btn btn-sm btn-golden"><i class="fa fa-dot-circle-o"></i>
                    {{ 'common.confirm' | translate }}</button>
                <button (click)="cancel()" type="reset" class="btn btn-sm btn-danger ml-1"><i class="fa fa-ban"></i>
                    {{ 'common.cancel' | translate }}</button>
            </div>
        </div>
    </div>
</div>