<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> {{ 'nav.gameRecordList' | translate }}
                </div>
                <div class="card-body">

                    <div class="row px-3">
                        <mat-form-field class="col-md-3">
                            <mat-label>{{ 'searchGameNumber' | translate }}</mat-label>
                            <input matInput (keyup)="applyFilter($event)">
                        </mat-form-field>

                        <div class="col">
                            <div class="row">
                                <button class="btn btn-golden mr-1" (click)="showInvalidGame(true)">
                                    {{ 'invalidDrawResult' | translate }}
                                </button>
                                <button class="btn btn-success" (click)="showInvalidGame(false)">
                                    {{ 'common.all' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>


                    <!-- <div class="col my-1">
                        <select class="col-md-2 text-sm-right form-control" id="game-type"
                            (change)="gameTypeOnChange($event.target.value)" [(ngModel)]="gameTypesID">
                            <option *ngFor="let t of gameTypes" value={{t.id}} [disabled]="t.id!=2">
                                {{ getTranslatedGameName(t.en_name) }}
                            </option>
                        </select>
                    </div> -->

                    <div class="table-responsive col-md-12">
                        <table class="col-md-12 table-striped" mat-table matSort [dataSource]="dataSource"
                            matSortActive="game_number" matSortDirection="desc">

                            <ng-container matColumnDef="index">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'common.index' | translate }}
                                </th>
                                <td class="text-center" *matCellDef="let element;let i=index">{{ i+1 }}</td>
                            </ng-container>

                            <ng-container matColumnDef="game_type">
                                <th mat-header-cell *matHeaderCellDef> {{ 'gameType' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element"> {{ getGameTypeByID(element.game_types_id) }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="game_number">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'searching.gameNumber' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span
                                        [ngClass]="{'clickable': identity===UserRole.admin,'isRenew': element.is_renew,'red':isDrawResultDifferent(element?.play_game?.draw_result)}"
                                        (click)="openCalcItemRecord(element.game_number)">
                                        {{ element.game_number }}
                                    </span>
                                    <span *ngIf="identity===UserRole.admin && element.use_detect"
                                        style="cursor: pointer;" (click)="openAiResult(element.play_game)">
                                        <i class="icon-picture icons font-sm"></i>
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="play_game">
                                <th mat-header-cell *matHeaderCellDef> {{ 'drawResult' | translate }}
                                </th>
                                <td [ngClass]="changeResultByID(element)" mat-cell *matCellDef="let element">
                                    <ng-container [ngSwitch]="element.game_types_id">
                                        <span *ngSwitchCase="GameTypeEnum.GameTypeSicBo">
                                            {{ sortByNumber(element.play_game?.draw_result) }}
                                        </span>

                                        <span *ngSwitchCase="GameTypeEnum.GameTypeBaccarat">
                                            <app-baccarat-poker-result [showItemType]="true"
                                                [drawResult]="element.play_game?.draw_result">
                                            </app-baccarat-poker-result>
                                        </span>

                                        <span *ngSwitchCase="GameTypeEnum.GameTypeDragonTiger">
                                            <app-dragon-tiger-poker-result [showItemType]="true"
                                                [drawResult]="element.play_game?.draw_result">
                                            </app-dragon-tiger-poker-result>
                                        </span>
                                    </ng-container>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="item_type">
                                <th mat-header-cell *matHeaderCellDef> {{ 'itemType' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div [innerHTML]="element.item_types_ids"></div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="game_result_amount">
                                <th mat-header-cell *matHeaderCellDef> {{ 'report.gameResultAmount' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <span [ngClass]="changeColor(element.play_game?.game_result_amount)">
                                        {{ element.play_game?.game_result_amount }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="active_total_amount">
                                <th mat-header-cell *matHeaderCellDef> {{ 'memberBetTotalAmount' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.play_game?.total_amount }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="created_at">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'common.createdAt' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.created_at | date:'yyyy-MM-dd HH:mm'}}
                                </td>
                            </ng-container>

                            <!--
                            <ng-container matColumnDef="updated_at">
                                <th mat-header-cell *matHeaderCellDef > 修改日期 </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.updated_at | date:'yyyy-MM-dd HH:mm'}}
                                </td>
                            </ng-container>
                            -->

                            <!-- <ng-container matColumnDef="function">
                                <th mat-header-cell *matHeaderCellDef class="text-center"> 檢視 </th>
                                <td mat-cell *matCellDef="let element" class="text-center">

                                    <button class="btn btn-success" type="button"
                                        (click)="openModal(template,element.id)"><i
                                            class="cui-magnifying-glass icons font-l d-block"></i></button>
                                </td>
                            </ng-container> -->

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>

                    <mat-paginator [pageSize]="50" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

                    <div *ngIf="!data" class="text-center my-5">
                        <div class="lds-roller">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{ 'common.viewData' | translate }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">{{ 'gameType' | translate }}</label>
            <div class="col-md-9 my-auto">
                {{ getGameTypeByID(modal.game_types_id) }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">{{ 'itemType' | translate }}</label>
            <div class="col-md-9 my-auto">
                {{ getItemTypeByID(modal.item_types_id) }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">{{ 'searching.gameNumber' | translate
                }}</label>
            <div class="col-md-9 my-auto">
                {{ modal.game_number }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">累計次數</label>
            <div class="col-md-9 my-auto">
                {{ modal.count }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">{{ 'common.createdAt' | translate
                }}</label>
            <div class="col-md-9 my-auto">
                {{ modal.created_at | date:'yyyy-MM-dd HH:mm' }}
            </div>
        </div>
    </div>
</ng-template>