:host::ng-deep .mat-paginator-range-label {

    display: none !important;
}

.isRenew {
    text-decoration: line-through;
}

.same-result {
    font-weight: bolder;
    color: blue;
}

:host::ng-deep .blue {
    color: #1596e7;
}

:host::ng-deep .red {
    color: #e74445;
}

.red:hover {
    border-bottom: 1px solid #e74445 !important;
}

:host::ng-deep .green {
    color: #49c03a;
}

.mat-column-play_game {
    min-width: 200px;
}