<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>{{ 'nav.otherSettings' | translate }}</strong>
                </div>
                <div class="card-body">
                    <form [formGroup]="myForm" class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-2 text-sm-right col-form-label">{{ 'modifyTheWashCodeTime' | translate
                                }}</label>
                            <div class="col-md-3">
                                <select [formControl]="myForm.controls['week']" class="form-control">
                                    <option *ngFor="let type of (Week | keyvalue : compareFn)" [value]="type.key">
                                        {{ getTranslatedWeek(type.key) }}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 text-sm-right col-form-label"></label>
                            <div class="col-md-3 date">
                                <input
                                    [ngClass]="{'is-invalid': myForm.controls['start_time'].hasError('required') && myForm.controls['start_time'].touched}"
                                    [formControl]="myForm.controls['start_time']" type="time" class="form-control">
                            </div>
                            <span class="none d-flex align-items-center">&nbsp;&nbsp; ~ &nbsp;&nbsp;</span>
                            <div class="col-md-3 date">
                                <input
                                    [ngClass]="{'is-invalid': myForm.controls['end_time'].hasError('required') && myForm.controls['end_time'].touched}"
                                    [formControl]="myForm.controls['end_time']" type="time" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 text-sm-right col-form-label">
                                {{ 'systemRedirect' | translate }}</label>
                            <div class="col-md-8">
                                <input
                                    [ngClass]="{'is-invalid': myForm.controls['redirect_url'].hasError('required') && myForm.controls['redirect_url'].touched}"
                                    [formControl]="myForm.controls['redirect_url']" class="form-control"
                                    placeholder="URL">
                            </div>
                        </div>
                        <!-- <div class="form-group row">
                            <label class="col-md-2 text-sm-right col-form-label">
                                合作ID
                            </label>
                            <div class="col-md-8">
                                <input
                                    [ngClass]="{'is-invalid': myForm.controls['line_id'].hasError('required') && myForm.controls['line_id'].touched}"
                                    [formControl]="myForm.controls['line_id']" class="form-control" placeholder="請輸入ID">
                            </div>
                        </div> -->

                        <!-- <div class="form-group row">
                            <label class="col-md-2 text-sm-right col-form-label">
                                {{ 'appRedirect' | translate }}</label>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-6">
                                        <span>LINE</span>
                                        <input
                                            [ngClass]="{'is-invalid': myForm.controls['app_redirect_url_line'].hasError('required') && myForm.controls['app_redirect_url_line'].touched}"
                                            [formControl]="myForm.controls['app_redirect_url_line']"
                                            class="form-control" placeholder="URL">
                                    </div>
                                    <div class="col-md-6">
                                        <span>WeChat</span>
                                        <input
                                            [ngClass]="{'is-invalid': myForm.controls['app_redirect_url_wechat'].hasError('required') && myForm.controls['app_redirect_url_wechat'].touched}"
                                            [formControl]="myForm.controls['app_redirect_url_wechat']"
                                            class="form-control" placeholder="URL">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 text-sm-right col-form-label">
                                {{ 'defaultMemberAmount' | translate }}
                            </label>
                            <div class="col-md-8">
                                <input
                                    [ngClass]="{'is-invalid': myForm.controls['default_member_credit'].hasError('required') && myForm.controls['default_member_credit'].touched}"
                                    [formControl]="myForm.controls['default_member_credit']" type="number"
                                    class="form-control" placeholder="{{ 'singleItem.pleaseEnterAmount' | translate }}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 text-sm-right col-form-label">
                                {{ 'defaultBotDonateAmount' | translate }}
                            </label>
                            <div class="col-md-8">
                                <input
                                    [ngClass]="{'is-invalid': myForm.controls['auto_donate_amount'].hasError('required') && myForm.controls['auto_donate_amount'].touched}"
                                    [formControl]="myForm.controls['auto_donate_amount']" type="number"
                                    class="form-control" placeholder="{{ 'singleItem.pleaseEnterAmount' | translate }}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 text-sm-right col-form-label">{{ 'messageSecondsSetting' | translate
                                }}</label>
                            <div class="col-md-8">
                                <input
                                    [ngClass]="{'is-invalid': myForm.controls['sec_of_repeat_msg'].hasError('required') && myForm.controls['sec_of_repeat_msg'].touched}"
                                    [formControl]="myForm.controls['sec_of_repeat_msg']" type="number"
                                    class="form-control" placeholder="{{ 'inputMessageSeconds' | translate }}">
                            </div>
                        </div> -->

                        <div class="form-group row">
                            <label class="col-md-2 text-sm-right col-form-label">{{ 'stopBettingCountdownSeconds' |
                                translate }}</label>
                            <div class="col-md-8">
                                <input
                                    [ngClass]="{'is-invalid': myForm.controls['stop_bet_sec'].hasError('required') && myForm.controls['stop_bet_sec'].touched}"
                                    [formControl]="myForm.controls['stop_bet_sec']" type="number" class="form-control"
                                    placeholder="{{ 'inputSeconds' | translate }}">
                            </div>
                        </div>

                        <!-- <div class="form-group row">
                            <label class="col-md-2 text-sm-right col-form-label">
                                {{ 'foregroundIdleSec' | translate }}</label>
                            <div class="col-md-8">
                                <input
                                    [ngClass]="{'is-invalid': myForm.controls['app_foreground_idle_sec'].hasError('required') && myForm.controls['app_foreground_idle_sec'].touched}"
                                    [formControl]="myForm.controls['app_foreground_idle_sec']" type="number"
                                    class="form-control" placeholder="{{ 'inputSeconds' | translate }}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 text-sm-right col-form-label">
                                {{ 'backgroundIdleSec' | translate }}</label>
                            <div class="col-md-8">
                                <input
                                    [ngClass]="{'is-invalid': myForm.controls['app_background_idle_sec'].hasError('required') && myForm.controls['app_background_idle_sec'].touched}"
                                    [formControl]="myForm.controls['app_background_idle_sec']" type="number"
                                    class="form-control" placeholder="{{ 'inputSeconds' | translate }}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 text-sm-right col-form-label">
                                {{ 'closeGameTips' | translate }}</label>
                            <div class="col-md-8">
                                <input
                                    [ngClass]="{'is-invalid': myForm.controls['close_game_tips'].hasError('required') && myForm.controls['close_game_tips'].touched}"
                                    [formControl]="myForm.controls['close_game_tips']" type="text" class="form-control"
                                    placeholder="{{ 'form.inputTitle' | translate }}">
                            </div>
                        </div> -->

                        <!-- <div class="form-group row">
                            <label class="col-md-2 text-sm-right col-form-label">
                                {{ 'restGameTips' | translate }}</label>
                            <div class="col-md-8">
                                <input
                                    [ngClass]="{'is-invalid': myForm.controls['rest_game_tips'].hasError('required') && myForm.controls['rest_game_tips'].touched}"
                                    [formControl]="myForm.controls['rest_game_tips']" type="text" class="form-control"
                                    placeholder="{{ 'form.inputTitle' | translate }}">
                            </div>
                        </div> -->

                        <!-- <div class="form-group row">
                            <label class="col-md-2 text-sm-right col-form-label">{{ 'termsOfService' | translate
                                }}</label>
                            <div class="col-md-8">
                                <ckeditor [formControl]="myForm.controls['terms_of_service']" [config]="config"
                                    (fileUploadRequest)="fileUploadRequest($event)"></ckeditor>
                            </div>
                        </div> -->

                        <!-- <div class="form-group row mt-3">
                            <label class="col-md-2 col-form-label text-sm-right" for="date-input">
                                {{ 'picSetting' | translate }}
                            </label>
                            <div class="col-md-9">
                                <div class="form-group row mt-3" *ngFor="let item of gameTypes">
                                    <label class="col-md-3 col-form-label text-sm-right" for="date-input">
                                        {{ translateGame(item.en_name) }}
                                        {{ 'common.status' | translate }}({{ 'common.inActive' | translate }}/{{
                                        'common.active' | translate }})
                                    </label>
                                    <div class="col-md-8">
                                        <label class="switch switch-label switch-pill switch-primary">
                                            <input [checked]="item.show_status" class="switch-input" type="checkbox"
                                                (change)="updateGameTypeStatus(item, $event)">
                                            <span class="switch-slider" data-checked="開" data-unchecked="關"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <!-- <div class="form-group row mt-3">
                            <label class="col-md-2 col-form-label text-sm-right" for="date-input">
                                {{ 'openRegistration' | translate }}
                            </label>
                            <div class="col-md-8">
                                <label class="switch switch-label switch-pill switch-primary">
                                    <input formControlName="open_registration" class="switch-input" type="checkbox"
                                        (change)="updateOpenRegistration($event.target.checked)">
                                    <span class="switch-slider" data-checked="開" data-unchecked="關"></span>
                                </label>
                            </div>
                        </div>

                        <div class="form-group row mt-3">
                            <label class="col-md-2 col-form-label text-md-right" for="date-input">
                                登入狀態
                            </label>
                            <div class="col-md-8">
                                <label class="switch switch-label switch-pill switch-primary">
                                    <input formControlName="member_login_show_status" class="switch-input"
                                        type="checkbox" (change)="updateMemberLoginShowStatus($event.target.checked)">
                                    <span class="switch-slider" data-checked="開" data-unchecked="關"></span>
                                </label>
                            </div>
                        </div> -->

                        <!-- <div class="form-group row mt-3">
                            <label class="col-md-2 col-form-label text-md-right" for="date-input">
                                代理登入
                            </label>
                            <div class="col-md-8">
                                <label class="switch switch-label switch-pill switch-primary">
                                    <input formControlName="apple_login_show_status" class="switch-input"
                                        type="checkbox" (change)="updateAppleLoginShowStatus($event.target.checked)">
                                    <span class="switch-slider" data-checked="開" data-unchecked="關"></span>
                                </label>
                            </div>
                        </div> -->
                        <div class="form-group row mt-3">
                            <label class="col-md-2 col-form-label text-md-right" for="date-input">
                                APP版本號
                            </label>
                            <div class="col-md-8">
                                <input #version type="text" class="form-control w-auto mr-3 d-inline"
                                    [value]="AppReleaseVersion">
                                <button class="btn btn-sm btn-success" (click)="updateAppVersion(version.value)">
                                    更新
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button (click)="submit(myForm.value)" type="submit" class="btn btn-sm btn-golden"><i
                            class="fa fa-dot-circle-o"></i>
                        {{ 'common.confirm' | translate }}</button>
                    <!--
                    <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> 取消</button>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>