<div class="panel">
    <form [formGroup]="form">
        <div class="col-md-12">
            <div class="row text-center">
                <div class="col-4 box blue" [formGroup]="getCtrlByType(ItemType.ItemTypeDragon)">
                    <label class="col-form-label"> 龍 </label>
                    <div class="mt-2 yellow">
                        <label class="col-form-label" (click)="onItemClick(ItemType.ItemTypeDragon)">
                            {{ getValue(ItemType.ItemTypeDragon,'amount') }}
                        </label>
                    </div>
                </div>
                <div class="col-4 box green" [formGroup]="getCtrlByType(ItemType.ItemTypeDragonTigerTie)">
                    <label class="col-form-label"> 和 </label>
                    <div class="mt-2 yellow">
                        <label class="col-form-label" (click)="onItemClick(ItemType.ItemTypeDragonTigerTie)"> {{
                            getValue(ItemType.ItemTypeDragonTigerTie,'amount') }} </label>
                    </div>
                </div>
                <div class="col-4 box red" [formGroup]="getCtrlByType(ItemType.ItemTypeTiger)">
                    <label class="col-form-label"> 虎 </label>
                    <div class="mt-2 yellow">
                        <label class="col-form-label" (click)="onItemClick(ItemType.ItemTypeTiger)"> {{
                            getValue(ItemType.ItemTypeTiger,'amount') }} </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>