<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> {{ 'game.gamingMembers' | translate }}
                </div>
                <div class="card-body">
                    <mat-form-field class="col-md-3">
                        <mat-label>
                            {{ 'manageAgent.searchAccount' | translate }}/{{ 'manageAgent.name' | translate }}
                        </mat-label>
                        <input matInput (keyup)="applyFilter($event)">
                    </mat-form-field>
                    <div class="table-responsive">
                        <table class="col-md-12 table-striped" mat-table matSort [dataSource]="memberPlayDataSource"
                            matSortActive="index" matSortDirection="asc">

                            <ng-container matColumnDef="index">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'common.index' | translate }}
                                </th>
                                <td class="text-center" *matCellDef="let element">{{ element.index }}</td>
                            </ng-container>

                            <ng-container matColumnDef="account">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'manageAgent.account' | translate }} / {{ 'manageAgent.nickname' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element" (click)="emitMember(element)">
                                    <span>
                                        {{ element.account }} / {{ element.nickname }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="is_allow_play">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'manageAgent.memberStatus' | translate }} </th>
                                <td class="text-center align-bottom" mat-cell *matCellDef="let element">
                                    <label class="switch switch-sm switch-3d switch-primary">
                                        <input (change)="allowGameToggle(element.id, element.is_allow_play)"
                                            [checked]="element.is_allow_play==Status.Active" class="switch-input"
                                            type="checkbox">
                                        <span class="switch-slider"></span>
                                    </label>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="function">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'nav.timelyBet' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <button title="{{ getAllowGameStatus(element.is_allow_play) }}"
                                        [ngClass]="changeBtnColor(element.is_allow_play)"
                                        class="btn btn-sm ml-1 d-flex justify-content-center game-status" type="button"
                                        (click)="allowGameToggle(element.id, element.is_allow_play)">
                                        <span class="badge" *ngIf="element.is_allow_play==Status.Active">{{
                                            'common.inActive' | translate }}</span>
                                        <span class="badge" *ngIf="element.is_allow_play==Status.InActive">{{
                                            'common.active' | translate }}</span>
                                    </button>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="modal">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'nav.drawSettings' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <button type="button" class="btn btn-sm btn-golden"
                                        (click)="openModal(template, element)">
                                        <span class="badge">{{ 'common.view' | translate }}</span>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="memberDisplayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: memberDisplayedColumns;"></tr>
                        </table>

                        <div *ngIf="!memberPlayDataSource.data.length" class="text-center m-3">
                            {{ 'common.noData' | translate }}</div>
                        <mat-paginator [pageSize]="50" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{ 'memberTimelyBet' | translate }}
            <span class="ml-2" style="color:#e1b137;">{{ 'manageAgent.nickname' | translate }}{{ memberName }}</span>
            <button class="btn btn-sm btn-danger d-flex align-items-center"><i class="cui-circle-x icons font-l d-block"
                    (click)="kickMember()"></i>{{ 'game.kick' | translate }}</button>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body template-modal">
        <div class="table-responsive">
            <table #sortByAgent="matSort" class="col-md-12 table-striped" mat-table matSort
                [dataSource]="memberBetDataSource" matSortActive="created_at" matSortDirection="desc">

                <ng-container matColumnDef="game_types_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'gameType' | translate }} </th>
                    <td mat-cell *matCellDef="let element">
                        <span>
                            {{ getGameTypeName(element.game_types_id) }}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="game_number">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'searching.gameNumber' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <span>
                            {{ element.game_number }}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="item_types_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'itemType' | translate }} </th>
                    <td mat-cell *matCellDef="let element">
                        <span>
                            {{ getItemTypeName(element.item_types_id) }}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'searching.action' | translate }} </th>
                    <td mat-cell *matCellDef="let element">
                        <span>
                            {{ getGameActionTypeByID(element.action) }}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'betAmount' | translate }} </th>
                    <td mat-cell *matCellDef="let element">
                        <span>
                            {{ element.amount }}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="created_at">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'betTime' | translate }} </th>
                    <td mat-cell *matCellDef="let element">
                        <span>
                            {{ element.created_at | date:'yyyy-MM-dd HH:mm:ss'}}
                        </span>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="memberBetDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: memberBetDisplayedColumns;"></tr>
            </table>
            <div *ngIf="!memberBetDataSource.data.length" class="text-center m-3">{{ 'common.noData' | translate }}
            </div>
            <div *ngIf="!Member" class="text-center my-5">
                <div class="lds-roller">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</ng-template>