.mat-cell:nth-child(1) {
    color: #00f;
    cursor: pointer;
}

/* .mat-column-account:hover {
    color: #00f;
    cursor: pointer;
} */

.mat-column-account:hover span {
    border-bottom: 1px solid #00f;
    cursor: pointer;
}