<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> {{ 'nav.insiteProclamations' | translate }}
                    <div *ngIf="loginUserIdentity === UserRole.admin" class="btn-group float-right">
                        <a [routerLink]="['/system/insite-proclamations-form-add']" class="btn btn-golden ml-1"
                            role="button">{{ 'common.add' | translate }}</a>
                    </div>
                </div>
                <div class="card-body">
                    <mat-form-field class="col-md-3">
                        <mat-label>{{ 'common.search' | translate }}</mat-label>
                        <input matInput (keyup)="applyFilter($event)">
                    </mat-form-field>

                    <!-- <div>
                        <mat-form-field class="col-12 col-md-3">
                            <mat-label>{{ 'form.title' | translate }}</mat-label>
                            <input matInput type="text" #inputTitle />
                        </mat-form-field>
                    </div> -->

                    <!-- <div>
                        <mat-form-field class="col-12 col-md-10">
                            <mat-label>{{ 'form.content' | translate }}</mat-label>
                            <input matInput type="text" #inputBody />
                        </mat-form-field>

                        <button mat-button class="btn btn-golden col-12 col-md-1"
                            (click)="addProclamation(inputTitle.value, inputBody.value); inputTitle.value=''; inputBody.value='';">
                            {{ 'form.quicklyAdd' | translate }}</button>
                    </div> -->

                    <div class="table-responsive">
                        <table class="col-md-12 table-striped" mat-table matSort [dataSource]="dataSource"
                            matSortActive="id" matSortDirection="asc">

                            <ng-container matColumnDef="index">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'common.index' | translate }}
                                </th>
                                <td class="text-center" *matCellDef="let element">{{ element.index }}</td>
                            </ng-container>

                            <ng-container matColumnDef="message">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'message' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="badge" [ngClass]="changeColor(unRead(element.created_at))">
                                        {{ unRead(element.created_at) }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="title">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'form.title' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element"> {{ element.title }} </td>
                            </ng-container>

                            <ng-container matColumnDef="body">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'form.content' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element"> <span [innerHTML]="element.body"></span></td>
                            </ng-container>

                            <!-- <ng-container matColumnDef="pic">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 圖片 </th>
                                <td mat-cell *matCellDef="let element"> <img src="{{ element.pic }}" width="100" />
                                </td>
                            </ng-container> -->

                            <!-- <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 狀態 </th>
                                <td mat-cell *matCellDef="let element"> {{ getStatusName(element.status) }} </td>
                            </ng-container> -->

                            <ng-container matColumnDef="created_at">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'common.createdAt' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.created_at | date:'yyyy-MM-dd HH:mm:ss'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'common.status' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span *ngIf="element.status === Status.InActive" class="badge badge-danger">
                                        {{ 'common.inActive' | translate }}</span>
                                    <span *ngIf="element.status === Status.Active" class="badge badge-success">
                                        {{ 'common.active' | translate }}</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="function">
                                <th mat-header-cell *matHeaderCellDef class="text-center">
                                    {{ 'common.edit' | translate }}/{{ 'common.delete' | translate }} </th>
                                <td mat-cell *matCellDef="let element" class="text-center">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <a [routerLink]="['/system/insite-proclamations-form-edit',element.id]"
                                            class="btn btn-sm d-flex align-items-center btn-golden ml-1"
                                            role="button"><i class="cui-note icons font-l d-block"></i>
                                            {{ 'common.edit' | translate }}
                                        </a>
                                        <button class="btn btn-sm d-flex align-items-center btn-danger ml-1"
                                            type="button" (click)="delProclamation(element.id)"><i
                                                class="cui-trash icons font-l d-block"></i>
                                            {{ 'common.delete' | translate }}
                                        </button>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="views">
                                <th mat-header-cell *matHeaderCellDef class="text-center">
                                    {{ 'common.view' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element" class="text-center">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <button class="btn btn-sm d-flex align-items-center btn-success" type="button"
                                            (click)="openModal(template,element.id)"><i
                                                class="cui-magnifying-glass icons font-l d-block"></i>
                                            {{ 'common.view' | translate }}
                                        </button>
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>

                    <mat-paginator [pageSize]="50" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

                    <div *ngIf="!data" class="text-center my-5">
                        <div class="lds-roller">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{ modal.title }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" [innerHTML]="modal.body">
        <!-- <div class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">{{ 'gameType' | translate }}</label>
            <div class="col-md-9 my-auto">
                {{ getGameTypeByID(modal.game_types_id) }}
            </div>
        </div> -->
    </div>
</ng-template>