<div [hidden]="1" class="animated fadeIn">
  <div class="row">

    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-dark">
        <div class="card-body pb-0">
          <!-- <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="icon-location-pin"></i>
          </button> -->
          <div class="text-value text-warning">{{ countOfAgent }}<span class="h6"> {{ 'unitPeople' | translate }}</span>
          </div>
          <div class="text-warning">{{ 'agentTotal' | translate }}</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <!-- <canvas baseChart class="chart" [datasets]="lineChart2Data" [labels]="lineChart2Labels"
            [options]="lineChart2Options" [colors]="lineChart2Colours" [legend]="lineChart2Legend"
            [chartType]="lineChart2Type"></canvas> -->
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3" *ngIf="identityID === UserRole.admin || identityID === UserRole.management">
      <div class="card text-white bg-dark">
        <div class="card-body pb-0">
          <!-- <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="icon-location-pin"></i>
          </button> -->
          <div class="text-value text-warning">{{ countOfMember }}<span class="h6">
              {{ 'unitPeople' | translate }}</span></div>
          <div class="text-warning">{{ 'memberTotal' | translate }}</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <!-- <canvas baseChart class="chart" [datasets]="lineChart2Data" [labels]="lineChart2Labels"
            [options]="lineChart2Options" [colors]="lineChart2Colours" [legend]="lineChart2Legend"
            [chartType]="lineChart2Type"></canvas> -->
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3" *ngIf="identityID === UserRole.topAgent || identityID === UserRole.agent">
      <div class="card text-white bg-dark">
        <div class="card-body pb-0">
          <!-- <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="icon-location-pin"></i>
          </button> -->
          <div class="text-value text-warning">{{ countOfMember }}<span class="h6">
              {{ 'unitPeople' | translate }}</span></div>
          <div class="text-warning">{{ 'memberTotal' | translate }}</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <!-- <canvas baseChart class="chart" [datasets]="lineChart2Data" [labels]="lineChart2Labels"
            [options]="lineChart2Options" [colors]="lineChart2Colours" [legend]="lineChart2Legend"
            [chartType]="lineChart2Type"></canvas> -->
        </div>
      </div>
    </div>

    <!--/.col-->
    <div class="col-sm-6 col-lg-3" *ngIf="identityID === UserRole.admin">
      <div class="card text-white bg-dark">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <!-- <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button> -->
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="text-value text-warning">{{ countOfSystem }}<span class="h6"> {{ 'unitPeople' | translate
              }}</span>
          </div>
          <div class="text-warning">{{ 'accountTotal' | translate }}</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <!-- <canvas baseChart class="chart" [datasets]="barChart1Data" [labels]="barChart1Labels"
            [options]="barChart1Options" [colors]="barChart1Colours" [legend]="barChart1Legend"
            [chartType]="barChart1Type"></canvas> -->
        </div>
      </div>
    </div>

    <!--/.col-->
  </div>




  <!--/.row-->
  <!-- <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">銷售額</h4>
          <div class="small text-muted">November 2017</div>
        </div>
        
        <div class="col-sm-7 d-none d-md-block">
          <button type="button" class="btn btn-golden float-right"><i class="icon-cloud-download"></i></button>
          <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Day" id="option1">Day</label>
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Month"
              id="option2">Month</label>
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Year" id="option3">Year</label>
          </div>
        </div>
        
      </div>
      
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart" [datasets]="mainChartData" [labels]="mainChartLabels"
          [options]="mainChartOptions" [colors]="mainChartColours" [legend]="mainChartLegend"
          [chartType]="mainChartType"></canvas>
      </div>
    </div>
    <div class="card-footer">
      <div class="row text-center">
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Visits</div>
          <strong>29.703 Users (40%)</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-valuenow="40"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Unique</div>
          <strong>24.093 Users (20%)</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Pageviews</div>
          <strong>78.706 Views (60%)</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">New Users</div>
          <strong>22.123 Users (80%)</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Bounce Rate</div>
          <strong>40.15%</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ 'inSiteMessage' | translate }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <span class="text-danger">
      {{ 'unreadMessage' | translate: {length: Proclamation.length} }}
    </span>
  </div>
  <div class="modal-footer">
    <a [routerLink]="['/system/insite-proclamations']" (click)="modalRef.hide()" class="btn btn-sm btn-golden"><i
        class="fa fa-dot-circle-o"></i>{{ 'menu.goToCheck' | translate }}</a>
    <button type="reset" (click)="modalRef.hide()" class="btn btn-sm btn-danger ml-1">
      <i class="fa fa-ban"></i>{{ 'common.cancel' | translate }}
    </button>
  </div>
</ng-template>