<table class="col-md-12 table-striped" mat-table matSort [dataSource]="dataSource" matSortActive="name"
  matSortDirection="desc">

  <ng-container matColumnDef="account">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ 'manageAgent.account' | translate }} / {{ 'manageAgent.name' | translate }} </th>
    <td mat-cell *matCellDef="let element"> {{ element.name }} / {{ element.real_name }} </td>
  </ng-container>

  <ng-container matColumnDef="ip">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ 'manageAgent.lastLogin' | translate }}{{ 'manageAgent.date' | translate }}
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.last_login_at }}
    </td>
  </ng-container>

  <ng-container matColumnDef="updated_at">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ 'common.updatedAt' | translate }}
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.updated_at | date: 'yyyy-MM-dd HH:mm:ss' }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div *ngIf="!dataSource.data.length" class="text-center m-5">
  {{ 'common.noData' | translate }}
</div>
<mat-paginator [pageSize]="50" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
</mat-paginator>