label {
    font-size: x-large;
}

.input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.countDown {
    text-align: center;
}

.countDown h3 {
    margin-bottom: 0;
    font-size: xx-large;
}

.countDown div {
    color: red;
    font-size: 15rem;
    line-height: 100%;
}

.drawResult {
    color: red;
    font-weight: bold;
    font-size: 7rem !important;
}

.baccarat-result {
    color: red;
    text-align: right;
    font-weight: bold;
    font-size: xx-large !important;
}

.identify-pic {
    max-width: 280px;
}