<div class="animated fadeIn p-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-12">
                        <div class="d-flex justify-content-end">
                            <button appDebounceClick (debounceClick)="logout()" class="btn btn-secondary logout mr-3"
                                type="button">
                                {{ 'login.action.logout' | translate }}
                            </button>

                            <!-- <select class="form-control w-auto" (change)="useLanguage($event.target.value)"
                                [(ngModel)]="currentLanguage" [ngModelOptions]="{standalone: true}">
                                <option value="zh-tw">{{ 'menu.languageList.taiwanese' | translate }}
                                </option>
                                <option value="zh-cn">
                                    {{ 'menu.languageList.simplifiedchinese' | translate }}
                                </option>
                                <option value="en">{{ 'menu.languageList.english' | translate }}
                                </option>
                            </select> -->
                        </div>
                    </div>
                    <div class="col-md-12">
                        <mat-tab-group (selectedTabChange)="onTabChanged($event);">
                            <mat-tab label="{{ 'nav.croupierOperation' | translate }}">
                                <form class="col-md-12 form-horizontal mt-3">
                                    <div class="form-group row">
                                        <label class="col-md-2 text-md-right col-form-label" for="game-type">
                                            {{ 'gameType' | translate }}
                                        </label>
                                        <div class="col-md-8">
                                            <label class="text-md-right col-form-label" *ngIf="selectedGame">
                                                {{ getTranslatedGameName(selectedGame.en_name) }}
                                                {{ currentGameNumber }}
                                                <small *ngIf="isMaintenanceTime" class="text-danger">注意: 23:50 ~
                                                    00:10報表結算，請勿開局</small>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group row d-blocl">
                                        <label class="col-md-2 text-md-right col-form-label">
                                            {{ 'drawResult' | translate }}
                                        </label>
                                        <!-- <div class="col-md-5"
                                            [hidden]="selectedGame?.id!=GameTypeEnum.GameTypeDragonTiger">
                                            <input [formControl]="myForm.controls['draw_result']" type="text"
                                                maxlength="4" class="form-control input-lg" placeholder="請輸入4位數字">
                                        </div> -->
                                        <div class="col-md-5" [hidden]="selectedGame?.id!=GameTypeEnum.GameTypeSicBo">
                                            <input [formControl]="myForm.controls['draw_result']" type="text"
                                                maxlength="3" class="form-control input-lg"
                                                placeholder="{{ 'enterThe3DigitDrawResult' | translate }}"
                                                (keypress)="checkNumber($event, myForm.controls['draw_result'].value)">
                                        </div>
                                        <div class="col-md-6"
                                            [hidden]="selectedGame?.id!=GameTypeEnum.GameTypeBaccarat">
                                            <app-baccarat-croupier #baccaratCroupier [useAI]="useAI">
                                            </app-baccarat-croupier>
                                        </div>
                                        <div class="col-md-6"
                                            [hidden]="selectedGame?.id!=GameTypeEnum.GameTypeDragonTiger">
                                            <app-dragon-tiger-croupier #dragonTigerCroupier>
                                            </app-dragon-tiger-croupier>
                                        </div>
                                        <div class="col text-center mt-5 p-0"
                                            [hidden]="selectedGame?.id!=GameTypeEnum.GameTypeBaccarat">
                                            <app-ai-webcam #webcam (onPicCatch)="onPicCatch($event)"></app-ai-webcam>
                                            <div class="text-center">
                                                <label class="col-form-label">
                                                    {{ 'poker.ai' | translate }}
                                                </label>
                                                <label class="switch switch-3d switch-primary align-middle">
                                                    <input [(ngModel)]="useAI" [ngModelOptions]="{standalone: true}"
                                                        (change)="toggleWebcam()" class="switch-input" type="checkbox">
                                                    <span class="switch-slider"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-2"></label>
                                        <div class="col-md-10 d-flex">
                                            <button *ngIf="useAI && !detecting" class="btn btn-lg btn-secondary ml-1"
                                                appDebounceClick (debounceClick)="takeSnapShot()"
                                                [disabled]="!currentGameNumber">
                                                {{ 'poker.ai' | translate }}
                                            </button>
                                            <app-loading class="mx-4" *ngIf="detecting"></app-loading>
                                            <button [disabled]="currentCountTime || useAI && !hasDetected"
                                                appDebounceClick (debounceClick)="updateDrawResult(myForm.value)"
                                                class="btn btn-lg btn-golden ml-1">{{ 'draw' | translate }}
                                            </button>
                                            <app-loading class="ml-5 mx-3" *ngIf="isGameOpening">
                                            </app-loading>
                                            <button [disabled]="currentCountTime || isNewGame || isMaintenanceTime"
                                                *ngIf="!isGameOpening" appDebounceClick
                                                (debounceClick)="newGame(myForm.value)"
                                                class="btn btn-lg btn-success ml-5">
                                                {{ 'openNewGame' | translate }}
                                            </button>
                                            <button [disabled]="currentCountTime" appDebounceClick
                                                (debounceClick)="invalidDrawResult()"
                                                class="btn btn-lg btn-danger ml-1">
                                                {{ 'invalidDrawResult' | translate }}
                                            </button>
                                            <!-- <button [disabled]="currentCountTime" appDebounceClick
                                                (debounceClick)="resetGameTimes()" class="btn btn-lg btn-warning ml-1">
                                                {{ 'resetGameTimes' | translate }}
                                            </button> -->
                                        </div>
                                    </div>

                                    <div class="form-group row mt-3 d-flex align-items-end">
                                        <label class="col-md-2 col-form-label text-md-right" for="date-input">
                                            中場休息
                                        </label>
                                        <div class="col-md-6 row px-4 my-auto">
                                            <label class="switch switch-3d switch-primary mr-3 my-auto">
                                                <input [(ngModel)]="gameTypeBreakStatus" class="switch-input"
                                                    [disabled]="gameTypeRestStatus" type="checkbox"
                                                    [ngModelOptions]="{standalone: true}"
                                                    (change)="updateBreakGameStatus($event.target.checked)">
                                                <span class="switch-slider"></span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group row mt-3 d-flex align-items-end">
                                        <label class="col-md-2 col-form-label text-md-right" for="date-input">
                                            遊戲休息
                                        </label>
                                        <div class="col-md-6 row px-4 my-auto">
                                            <label class="switch switch-3d switch-primary mr-3 my-auto">
                                                <input [(ngModel)]="gameTypeRestStatus" class="switch-input"
                                                    [disabled]="gameTypeBreakStatus" type="checkbox"
                                                    [ngModelOptions]="{standalone: true}"
                                                    (change)="updateRestGameStatus($event.target.checked)">
                                                <span class="switch-slider"></span>
                                            </label>
                                            <ng-container *ngIf="selectedGame?.id==GameTypeEnum.GameTypeBaccarat">
                                                <div *ngIf="!isGameOpening && !currentCountTime && currentGameNumber"
                                                    class="col baccarat-result">
                                                    <ng-container *ngIf="!useAI || (useAI && hasDetected)">
                                                        <span *ngIf="!detectFailed">{{ BaccaratItemTypeStr }}</span>
                                                        <span *ngIf="detectFailed">辨識失敗</span>
                                                    </ng-container>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="selectedGame?.id==GameTypeEnum.GameTypeDragonTiger">
                                                <div *ngIf="!isGameOpening && !currentCountTime && currentGameNumber"
                                                    class="col baccarat-result">
                                                    <ng-container *ngIf="!useAI || (useAI && hasDetected)">
                                                        <span *ngIf="!detectFailed">{{ DragonTigerItemTypeStr }}</span>
                                                    </ng-container>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>

                                    <div class="form-group row mt-5">
                                        <label class="col-md-2 col-form-label text-md-right" for="date-input">
                                            <!-- {{ 'manageAgent.gameStatus' | translate }} -->
                                            <button class="btn  btn-lg" (click)="updateGameTypeStatus(!gameTypeStatus)"
                                                [ngClass]="gameTypeStatus ? 'btn-danger':'btn-success'">
                                                {{ gameTypeStatus ? '緊急狀態':'關閉緊急狀態' }}
                                            </button>
                                        </label>
                                        <div class="col-md-10 px-4 my-auto">
                                            <div class="row">
                                                <!-- <label class="switch switch-3d switch-primary mr-3 my-auto">
                                                    <input [(ngModel)]="gameTypeStatus" class="switch-input"
                                                        type="checkbox"
                                                        (change)="updateGameTypeStatus($event.target.checked)"
                                                        [ngModelOptions]="{standalone: true}">
                                                    <span class="switch-slider"></span>
                                                </label> -->
                                                <!-- <div class="mr-3">
                                                    <button class="btn btn-pill btn-secondary ml-1" appDebounceClick
                                                        (debounceClick)="restartLive(1)">
                                                        {{ 'restartStream' | translate: { index:1 } }}
                                                    </button>
                                                    <div class="text-center">{{ liveRemainingTime1 | async }}</div>
                                                </div>
                                                <div>
                                                    <button class="btn btn-pill btn-secondary ml-1" appDebounceClick
                                                        (debounceClick)="restartLive(2)">
                                                        {{ 'restartStream' | translate: { index:2 } }}
                                                    </button>
                                                    <div class="text-center">{{ liveRemainingTime2 | async }}</div>
                                                </div> -->
                                            </div>
                                            <!-- <div class="col text-danger">
                                                <h4>{{ 'restartStreamAttention' | translate }}</h4>
                                            </div> -->
                                        </div>
                                    </div>
                                </form>
                            </mat-tab>
                            <mat-tab label="{{ 'lotteryCorrection' | translate }}">
                                <app-game-type-renew #renew [onlyLastGame]="true"></app-game-type-renew>
                            </mat-tab>
                            <!-- <mat-tab label="{{ 'nav.proclamations' | translate }}">
                                <app-marquee></app-marquee>
                            </mat-tab> -->
                        </mat-tab-group>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-10 mx-auto countDown" *ngIf="countDownTimer && cancelCountDown">
    <h3>
        <span>{{ 'drawCountDown' | translate }}</span>
    </h3>
    <div>
        {{ countDownTimer | async }}
    </div>
    <div class="drawResult mx-auto" [hidden]="currentCountTime">
        <span [ngSwitch]="selectedGame?.id">
            <p *ngSwitchCase="GameTypeEnum.GameTypeSicBo">
                {{ itemTypeStr }}
            </p>
            <!-- <p *ngSwitchCase="GameTypeEnum.GameTypeBaccarat">
                {{ BaccaratItemTypeStr }}
            </p> -->
        </span>
    </div>
</div>