<div class="modal-header">
    <div class="modal-title pull-left">
        <h3>
            <span>
                {{ 'memberTimelyBet' | translate }}({{ member.name }})
            </span>
        </h3>
        <h3 *ngIf="lastGamePlay" class="mb-0">
            <span class="mr-1">
                {{ 'searching.gameNumber' | translate }} {{ lastGamePlay?.game_number }}
            </span>
            <span class="text-danger">
                {{ 'searching.donate' | translate }} {{ currentTotalDonate }}
            </span>
        </h3>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body template-modal">
    <select class="text-sm-right form-control w-auto" [(ngModel)]="gameTypeID">
        <option *ngFor="let item of gameTypes" [value]="item.id" [disabled]="item.id!=2">
            {{ getGameTypeName(item.id) }}
        </option>
    </select>
    <app-calc-item-record-panel [memberBetRecords]="dataSource.data" [gameTypesID]="gameTypeID"></app-calc-item-record-panel>
    <!-- <table class="col-md-12 table-striped" mat-table matSort [dataSource]="dataSource" matSortActive="created_at"
        matSortDirection="desc">

        <ng-container matColumnDef="game_types_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'gameType' | translate }} </th>
            <td mat-cell *matCellDef="let element">
                <span>
                    {{ getGameTypeName(element.game_types_id) }}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="game_number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'searching.gameNumber' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
                <span>
                    {{ element.game_number }}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="item_types_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'itemType' | translate }} </th>
            <td mat-cell *matCellDef="let element">
                <span>
                    {{ getItemTypeName(element.item_types_id) }}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'searching.action' | translate }} </th>
            <td mat-cell *matCellDef="let element">
                <span>
                    {{ getGameActionTypeName(element.action) }}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'betAmount' | translate }} </th>
            <td mat-cell *matCellDef="let element">
                <span>
                    {{ element.amount }}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'betTime' | translate }} </th>
            <td mat-cell *matCellDef="let element">
                <span>
                    {{ element.created_at | date:'yyyy-MM-dd HH:mm:ss'}}
                </span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div *ngIf="!dataSource.data.length" class="text-center m-5">
        {{ 'common.noData' | translate }}
    </div>
    <mat-paginator [pageSize]="50" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator> -->
</div>