<input type="file" (change)="fileChangeEvent($event)" accept="image/*" />

<div class="row py-5">
    <div class="col-md-8">
        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="maintainAspectRatio" [aspectRatio]="aspectRatio"
            [containWithinAspectRatio]="containWithinAspectRatio" [roundCropper]="roundCropper" format="png" (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
        </image-cropper>
    </div>
    <div class="col-md-4">
        <p *ngIf="croppedImage">結果:</p>
        <img [ngClass]="{'rounded-circle': roundCropper}" [ngStyle]="{'width': roundCropper?'80px':'200px'}" width="80"
            [src]="croppedImage" />
    </div>
</div>

<button *ngIf="croppedImage" class="float-right btn btn-golden" (click)="uploadImg()">確定</button>