.return {
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 10px;
}

.return i {
    vertical-align: bottom;
}

/* 
::ng-deep .highlight tbody td {
    background: #fff3d7 !important;
} */

::ng-deep .highlight .mat-sort-header-container {
    display: flex;
    justify-content: center;
}

::ng-deep .highlight {
    text-align: center;
}

img {
    width: 45px;
}

input[type=checkbox] {
    transform: scale(1.2);
}

:host::ng-deep .blue {
    color: #1596e7;
}

:host::ng-deep .red {
    color: #e74445;
}

:host::ng-deep .green {
    color: #49c03a;
}

table td {
    vertical-align: middle;
}