<div class="col-md-12 table-responsive">
    <div class="animated fadeIn" [hidden]="dataSourceOfBet.data.length">
        <!-- <h3>{{ 'report.closingDate' | translate }} {{ closingDate }}</h3> -->
        <div class="mt-3">
            <button class="btn btn-golden mr-1" (click)="onClose()">關閉</button>
        </div>
        <!-- <div class="d-flex justify-content-end py-1 mr-5">
            <button *ngIf="loginIdentity===UserRole.admin" class="btn btn-warning btn-md ml-1 mr-5" type="button"
                (click)="updateGameResultStatus()">
                {{ 'betRecord.abnormal' | translate }}
            </button>
        </div> -->
        <table #sortOfGame="matSort" class="col-md-12 table-striped" mat-table matSort [dataSource]="dataSourceOfGame"
            matSortActive="created_at" matSortDirection="desc">

            <ng-container matColumnDef="created_at">
                <th mat-header-cell *matHeaderCellDef style="width: 50px;">
                    {{ 'manageAgent.date' | translate }} </th>
                <td mat-cell *matCellDef="let element">
                    <span>{{ element.created_at | date:'yyyy-MM-dd HH:mm' }}</span>
                </td>
            </ng-container>


            <ng-container matColumnDef="game_number">
                <th mat-header-cell *matHeaderCellDef>
                    局號 </th>
                <td mat-cell *matCellDef="let element">
                    <span>{{ element.game_number }}</span>
                </td>
            </ng-container>


            <ng-container matColumnDef="draw_result">
                <th mat-header-cell *matHeaderCellDef>
                    {{ 'drawResult' | translate }}
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.draw_result | sort }}
                </td>
            </ng-container>

            <ng-container matColumnDef="item_type">
                <th mat-header-cell *matHeaderCellDef>
                    {{ 'itemType' | translate }}
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.item_types_ids }}
                </td>
            </ng-container>

            <ng-container matColumnDef="game_result_amount">
                <th mat-header-cell *matHeaderCellDef>
                    {{ 'report.gameResultAmount' | translate }}
                </th>
                <td mat-cell *matCellDef="let element">
                    <span [class]="changeColor(element.game_result_amount)">
                        {{ element.game_result_amount | fixed }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="total_donate">
                <th mat-header-cell *matHeaderCellDef>
                    {{ 'report.totalDonate' | translate }}
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.total_donate }}
                </td>
            </ng-container>

            <ng-container matColumnDef="self_profit">
                <th mat-header-cell *matHeaderCellDef>
                    {{ 'report.selfProfit' | translate }}
                </th>
                <td mat-cell *matCellDef="let element">
                    <span [class]="changeColor(element.self_profit)">
                        {{ element.self_profit | fixed }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="wash_code_commission">
                <th mat-header-cell *matHeaderCellDef>
                    {{ 'manageAgent.form.washCode' | translate }}
                </th>
                <td mat-cell *matCellDef="let element">
                    <span [class]="changeColor(element.wash_code_commission)">
                        {{ element.wash_code_commission | fixed }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef>
                    {{ 'common.view' | translate }}
                </th>
                <td mat-cell *matCellDef="let element">
                    <button class="btn btn-sm btn-golden" (click)="showBetReocrds(element, $event)">
                        {{ 'common.view' | translate }}
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="checkBox">
                <th mat-header-cell *matHeaderCellDef>
                    {{ 'common.tag' | translate }}
                </th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element.status===BetRecordStatus.Finish && !element.calc" class="form-check mx-2">
                        <input class="form-check-input" type="checkbox" [value]="element.game_number"
                            [checked]="checkedGameResult.includes(element.game_number)"
                            (change)="onGameNumberChecked(element,$event)">
                        <label class="form-check-label"></label>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsOfGame"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsOfGame;"></tr>
        </table>

        <div class="my-5 d-flex justify-content-center" *ngIf="!fetched">
            <app-loading></app-loading>
        </div>

        <div *ngIf="!dataSourceOfGame.data.length && fetched" class="text-center m-3">
            {{ 'common.noData' | translate }}
        </div>
    </div>

    <div class="animated fadeIn col-md-12 p-0" [hidden]="!dataSourceOfBet.data.length">

        <button class="btn btn-golden mb-3" (click)="clearBetRecords()">返回</button>
        <!-- <div (click)="clearBetRecords()" class="return">
            <i class="cui-arrow-left icons font-2xl"></i> {{ 'common.return' | translate }}
        </div> -->
        <div [hidden]="gameResult?.status===BetRecordStatus.Unusual && loginIdentity!==UserRole.admin">
            <table class="col-md-12 table table-striped game-result-table">
                <thead>
                    <tr>
                        <!-- <th>{{ 'searching.gameNumber' | translate }}</th> -->
                        <th>{{ 'drawResult' | translate }}</th>
                        <!-- <th>{{ 'itemType' | translate }}</th> -->
                        <th>{{ 'report.gameResultAmount' | translate }}</th>
                        <!-- <th>{{ 'common.status' | translate }}</th> -->
                        <!-- <th>{{ 'report.totalDonate' | translate }}</th> -->
                        <!-- <th>{{ 'report.selfProfit' | translate }}</th> -->
                        <!-- <th>{{ 'manageAgent.form.washCode' | translate }}</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- <td>{{ gameResult?.game_number }}</td> -->
                        <td>
                            <ng-container [ngSwitch]="gameResult?.game_types_id">
                                <span *ngSwitchCase="GameTypeEnum.GameTypeSicBo">
                                    {{ gameResult?.draw_result | sort }}
                                </span>
                                <span *ngSwitchCase="GameTypeEnum.GameTypeBaccarat">
                                    <app-baccarat-poker-result [showItemType]="true"
                                        [drawResult]="gameResult?.draw_result">
                                    </app-baccarat-poker-result>
                                </span>
                                <span *ngSwitchCase="GameTypeEnum.GameTypeDragonTiger">
                                    <app-dragon-tiger-poker-result [showItemType]="true"
                                        [drawResult]="gameResult?.draw_result">
                                    </app-dragon-tiger-poker-result>
                                </span>
                            </ng-container>
                        </td>
                        <!-- <td><span [innerHTML]="gameResult?.item_types_ids"></span></td> -->
                        <td [class]="changeColor(gameResult?.game_result_amount)">
                            {{ gameResult?.game_result_amount | fixed }}
                        </td>
                        <!-- <td>
                                <span class="badge badge-success" *ngIf="gameResult?.status === BetRecordStatus.Finish">
                                    {{ 'betRecord.normal' | translate }}
                                </span>
                                <span class="badge badge-warning"
                                    *ngIf="gameResult?.status === BetRecordStatus.Unusual">
                                    {{ 'betRecord.abnormalBet' | translate }}
                                </span>
                            </td> -->
                        <!-- <td>{{ gameResult?.total_donate }}</td>
                    <td [class]="changeColor(gameResult?.self_profit)">
                        {{ gameResult?.self_profit | fixed }}
                    </td>
                    <td [class]="changeColor(gameResult?.wash_code_commission)">
                        {{ gameResult?.wash_code_commission | fixed }}
                    </td> -->
                    </tr>
                </tbody>
            </table>

            <table #sortOfBet="matSort" class="col-md-12 table-striped highlight" mat-table matSort
                [dataSource]="dataSourceOfBet">

                <ng-container matColumnDef="game_types_id">
                    <th mat-header-cell *matHeaderCellDef> {{ 'gameType' | translate }} </th>
                    <td mat-cell *matCellDef="let element">
                        <span>
                            {{ getGameTypeName(element.game_types_id) }}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="game_number">
                    <th mat-header-cell *matHeaderCellDef> {{ 'searching.gameNumber' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <span>
                            {{ element.game_number }}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="item_types_id">
                    <th mat-header-cell *matHeaderCellDef> {{ 'memberBetItem' | translate }} </th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="!getBetPics(element.item_types_id);else pics">
                            {{ getItemTypeName(element.item_types_id) }}
                        </span>
                        <ng-template #pics>
                            <span>
                                <img *ngFor="let item of getBetPics(element.item_types_id)" [src]="PATH + item">
                            </span>
                        </ng-template>
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> {{ 'searching.action' | translate }} </th>
                    <td mat-cell *matCellDef="let element">
                        <span>
                            {{ getGameActionTypeName(element.action) }}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef> {{ 'memberBetAmount' | translate }} </th>
                    <td mat-cell *matCellDef="let element">
                        <span>
                            {{ element.amount }}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="game_result_amount">
                    <th mat-header-cell *matHeaderCellDef> {{ 'report.gameResultAmount' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <span [class]="changeColor(element.game_result_amount)">
                            {{ element.game_result_amount }}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="created_at">
                    <th mat-header-cell *matHeaderCellDef> {{ 'betTime' | translate }} </th>
                    <td mat-cell *matCellDef="let element">
                        <span>
                            {{ element.created_at | date:'yyyy-MM-dd HH:mm'}}
                        </span>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsOfBet"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsOfBet;"></tr>
            </table>
            <div *ngIf="!dataSourceOfBet.data.length" class="text-center m-3">
                {{ 'common.noData' | translate }}</div>
        </div>

        <div *ngIf="gameResult?.status===BetRecordStatus.Unusual && loginIdentity!==UserRole.admin" class="text-center">
            <hr>
            <h3 class="my-5" style="color: red;">{{ 'betRecord.abnormalGame' | translate }}</h3>
        </div>

    </div>
</div>