<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> {{ 'nav.betRecordList' | translate }}
                </div>
                <div class="card-body">
                    <mat-form-field class="col-md-3">
                        <mat-label>{{ 'common.search' | translate }}</mat-label>
                        <input matInput (keyup)="applyFilter($event)">
                    </mat-form-field>

                    <div>
                        <select class="col-md-2 text-sm-right form-control" id="game-type"
                            (change)="gameTypeOnChange($event.target.value)">
                            <option *ngFor="let t of gameTypes;let i=index" value={{t.id}} [disabled]="i">
                                {{ getTranslatedGameName(t.en_name) }}
                            </option>
                        </select>
                    </div>

                    <div class="table-responsive">
                        <table class="col-md-12 table-striped" mat-table matSort [dataSource]="dataSource"
                            matSortActive="game_number" matSortDirection="desc">

                            <ng-container matColumnDef="index">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'common.index' | translate }}
                                </th>
                                <td class="text-center" *matCellDef="let element">{{ element.index }}</td>
                            </ng-container>

                            <ng-container matColumnDef="game_type">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'gameType' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element"> {{ getGameTypeByID(element.game_types_id) }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="item_type">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'itemType' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element"> {{ getItemTypeByID(element.item_types_id) }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="game_number">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'searching.gameNumber' | translate }} </th>
                                <td mat-cell *matCellDef="let element"> {{ element.game_number }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'searching.action' | translate }} </th>
                                <td mat-cell *matCellDef="let element"> {{ getGameActionTypeByID(element.action) }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="amount">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'betAmount' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.amount }} </td>
                            </ng-container>

                            <ng-container matColumnDef="members_id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'manageAgent.account' | translate }} / {{ 'manageAgent.nickname' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.member.account}} /
                                    {{element.member.nickname}} </td>
                            </ng-container>

                            <ng-container matColumnDef="result">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'report.gameResultAmount' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span
                                        [ngClass]="{'text-danger': element.result==GameResultTypeEnum.Win,'text-success': element.result==GameResultTypeEnum.Loss}">
                                        {{ getGameResultTypeByID(element.result) }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="draw_result">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'drawResult' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.draw_result}} </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'searching.betStatus' | translate }}/{{ 'betRecord.statusOperation' | translate
                                    }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="bet-status">
                                        <span>{{ getGameStatusType(element.status) }}</span>
                                        <!-- <button title="{{ 'betRecord.betEdit' | translate }}"
                                            class="btn btn-golden btn-sm ml-1 status" type="button"
                                            (click)="updateStatusFinish(element.id, element.status)">
                                            <span class="badge">
                                                {{ 'betRecord.normal' | translate }}
                                            </span>
                                        </button> -->
                                        <div [hidden]="element.status!=BetRecordStatusEnum.Finish">
                                            /
                                            <button title="{{ 'betRecord.betEdit' | translate }}"
                                                class="btn btn-warning btn-sm px-1 mx-1" type="button"
                                                (click)="updateStatusUnusual(element.id, element.status)">
                                                <span class="badge">
                                                    {{ 'betRecord.abnormal' | translate }}
                                                </span>
                                            </button>
                                        </div>
                                        <!-- <button title="{{ 'betRecord.betEdit' | translate }}"
                                            class="btn btn-danger btn-sm ml-1 status" type="button"
                                            (click)="updateStatusDeleted(element.id, element.status)">
                                            <span class="badge">
                                                {{ 'common.delete' | translate }}
                                            </span>
                                        </button> -->
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="created_at">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'common.createdAt' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.created_at | date:'yyyy-MM-dd HH:mm:ss'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="function">

                                <th mat-header-cell *matHeaderCellDef class="text-center">
                                    {{ 'common.view' | translate }} </th>
                                <td mat-cell *matCellDef="let element" class="text-center">

                                    <button class="btn btn-sm d-flex align-items-center btn-success" type="button"
                                        (click)="openModal(template,element.id)"><i
                                            class="cui-magnifying-glass icons font-l d-block"></i>
                                        {{ 'common.view' | translate }}
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>

                    <mat-paginator [pageSize]="50" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

                    <div *ngIf="!data" class="text-center my-5">
                        <div class="lds-roller">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{ 'common.viewData' | translate }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">{{ 'gameType' | translate }}</label>
            <div class="col-md-9 my-auto">
                {{ getGameTypeByID(modal.game_types_id) }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">{{ 'itemType' | translate }}</label>
            <div class="col-md-9 my-auto">
                {{ getItemTypeByID(modal.item_types_id) }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">{{ 'searching.gameNumber' | translate
                }}</label>
            <div class="col-md-9 my-auto">
                {{ modal.game_number }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">{{ 'searching.action' | translate
                }}</label>
            <div class="col-md-9 my-auto">
                {{ getGameActionTypeByID(modal.action) }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">{{ 'betAmount' | translate }}</label>
            <div class="col-md-9 my-auto">
                {{ modal.amount }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">
                {{ 'manageAgent.account' | translate }} / {{ 'manageAgent.nickname' | translate }}
            </label>
            <div class="col-md-9 my-auto">
                {{ modal.member.account }} / {{ modal.member.nickname }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">{{ 'report.gameResultAmount' |
                translate }}</label>
            <div class="col-md-9 my-auto"
                [ngClass]="{'text-danger': modal.result==GameResultTypeEnum.Win,'text-success': modal.result==GameResultTypeEnum.Loss}">
                {{ getGameResultTypeByID(modal.result) }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">{{ 'drawResult' | translate }}</label>
            <div class="col-md-9 my-auto">
                {{ modal.draw_result }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">{{ 'common.status' | translate
                }}</label>
            <div class="col-md-9 my-auto">
                {{ getGameStatusType(modal.status) }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">{{ 'common.createdAt' | translate
                }}</label>
            <div class="col-md-9 my-auto">
                {{ modal.created_at | date:'yyyy-MM-dd HH:mm:ss' }}
            </div>
        </div>
    </div>
</ng-template>