<div class="modal-header">
    <div class="modal-title pull-left">
        <h2>
            {{ 'searching.gameNumber' | translate }} {{ playGame?.game_number }}
        </h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body template-modal">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>辨識結果</td>
                        <td>開獎結果</td>
                    </tr>
                    <tr>
                        <td>
                            <app-baccarat-poker-result [drawResult]="playGame?.draw_result" [aiDetect]="true">
                            </app-baccarat-poker-result>
                        </td>
                        <td>
                            <app-baccarat-poker-result [drawResult]="playGame?.draw_result"></app-baccarat-poker-result>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <img [src]="picName | imgFullPath:true" class="img-fluid img-thumbnail">
    </div>