<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <!-- <i class="fa fa-align-justify"></i> -->
                    <button *ngIf="breadcrumbs?.length" appDebounceClick (debounceClick)="back()"
                        class="btn btn-sm btn-golden ml-1 my-auto">
                        返回
                    </button>
                    {{ title }}
                    <!-- (<span class="bread" appDebounceClick (debounceClick)="back()">{{ showBreadcrumb() }}</span>) -->

                    <!-- <div *ngIf="breadcrumbs?.length" class="pull-right">
                        <button appDebounceClick (debounceClick)="back()" class="btn btn-sm btn-golden ml-1">
                            回上一頁</button>
                    </div> -->
                </div>
                <div class="card-body">
                    <div class="col-md-12">

                        <div class="selectMonth d-flex mb-3 col-12">
                            <input [(ngModel)]="startDate" type="date" class="form-control col-12 col-md-2 date">
                            <span class="none">&nbsp;&nbsp; ~ &nbsp;&nbsp;</span>
                            <input [(ngModel)]="endDate" type="date" class="form-control col-12 col-md-2 date">
                            <button [disabled]="!loaded" class="btn btn-sm btn-golden col-12 col-md-1 submit"
                                (click)="search()">
                                {{ 'common.submit' | translate }}
                            </button>

                        </div>

                        <div class="btn-group mb-3 col-12 col-md-5">
                            <button [disabled]="!loaded" class="btn btn-sm btn-golden ml-1" appDebounceClick
                                (debounceClick)="getToday()">
                                {{ 'report.tody' | translate }}
                            </button>
                            <button [disabled]="!loaded" class="btn btn-sm btn-golden ml-1" appDebounceClick
                                (debounceClick)="getYesterday()">
                                {{ 'report.yesterday' | translate }}
                            </button>
                            <button [disabled]="!loaded" class="btn btn-sm btn-golden ml-1" appDebounceClick
                                (debounceClick)="getThisWeek()">
                                {{ 'report.thisWeek' | translate }}
                            </button>
                            <button [disabled]="!loaded" class="btn btn-sm btn-golden ml-1" appDebounceClick
                                (debounceClick)="getLastWeek()">
                                {{ 'report.lastWeek' | translate }}
                            </button>
                            <!-- <button [disabled]="!loaded" class="btn btn-sm btn-golden ml-1" appDebounceClick
                                (debounceClick)="getThisMonth()">
                                {{ 'report.thisMonth' | translate }}
                            </button>
                            <button [disabled]="!loaded" class="btn btn-sm btn-golden ml-1" appDebounceClick
                                (debounceClick)="getLastMonth()">
                                {{ 'report.lastMonth' | translate }}
                            </button> -->
                        </div>
                        <div class="table-responsive col-md-12" style="max-height: 100%;">
                            <table class="agent-detail table table-striped">
                                <thead>
                                    <tr>
                                        <!-- 骰寶 -->
                                        <ng-container *ngIf="currentUser?.id!=loginUserID">
                                            <th>帳號</th>
                                            <th>名稱</th>
                                        </ng-container>
                                        <th>{{ 'report.totalAmount' | translate }}</th>
                                        <th>{{ 'report.numberOfGame' | translate }}</th>
                                        <th *ngIf="!isCurrentAgent">
                                            結果
                                        </th>
                                        <ng-container *ngIf="isCurrentAgent">
                                            <th>結果</th>
                                            <th>洗碼%</th>
                                            <th>退佣</th>
                                            <th>佔成%</th>
                                            <th>交收</th>
                                            <!-- <th>{{ 'report.selfProfit' | translate }}</th> -->
                                        </ng-container>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="self-row">
                                        <!-- 骰寶 -->
                                        <ng-container *ngIf="currentUser?.id!=loginUserID">
                                            <td>{{ showBreadcrumb('name') }}</td>
                                            <td>{{ showBreadcrumb('real_name') }}</td>
                                        </ng-container>
                                        <td>{{ grandTotalReport?.total_amount }}</td>
                                        <td>{{ grandTotalReport?.number_of_game }}</td>
                                        <td *ngIf="!isCurrentAgent"
                                            [ngClass]="changeColor(grandTotalReport?.game_result_amount*-1)">
                                            {{ grandTotalReport?.game_result_amount*-1 | fixed }}
                                        </td>
                                        <ng-container *ngIf="isCurrentAgent">
                                            <td [ngClass]="changeColor(grandTotalReport?.game_result_amount)">
                                                {{ grandTotalReport?.game_result_amount | fixed }}
                                            </td>
                                            <td>
                                                {{ grandTotalReport?.wash_code_commission_percent }}
                                            </td>
                                            <td>
                                                {{ grandTotalReport?.wash_code_commission | fixed }}
                                            </td>
                                            <td>
                                                {{ grandTotalReport?.revenue_share }}
                                            </td>
                                            <td [ngClass]="changeColor(grandTotalReport?.settlement_amount)">
                                                {{ grandTotalReport?.settlement_amount | fixed }}
                                            </td>
                                            <!-- <td [ngClass]="changeColor(ownProfit)">
                                                {{ ownProfit | fixed }}
                                            </td> -->
                                        </ng-container>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-new-report-sicbo-table #reportSicbo [loaded]="loaded" [agentRecords]="agentRecords" [memberRecords]="memberRecords"
    [totalAgentSettlement]="totalAgentSettlement" [totalMemberSettlement]="totalMemberSettlement" [showMember]="true"
    [loginUserIsAgent]="loginUserIsAgent" [startDate]="startDate" [endDate]="endDate"
    (onAgentClick)="onAgentClick($event)">
</app-new-report-sicbo-table>