<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row px-3">
                        <strong>{{ 'nav.virtualOnlineMembers' | translate }}</strong>
                        <div class="ml-auto">
                            <button (click)="submit(myForm.value)" type="submit" class="btn btn-sm btn-golden">
                                <i class="fa fa-dot-circle-o"></i>{{ 'common.confirm' | translate }}
                            </button>
                            <button (click)="cancel()" type="reset" class="btn btn-sm btn-danger ml-1">
                                <i class="fa fa-ban"></i>{{ 'common.cancel' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-md-12 mx-auto">
                        <form [formGroup]="myForm" class="row">
                            <div class="col form-group">
                                <label class="col-form-label text-md-right">{{ 'gameType' | translate }}</label>
                                <div class="my-auto">
                                    <select formControlName="game_types_id" class="form-control w-auto">
                                        <option [value]="item.id" [disabled]="i!=0"
                                            *ngFor="let item of gameTypes;let i = index">
                                            {{ getTranslatedGameType(item.en_name) }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col form-group">
                                <label class="col-form-label text-md-right">
                                    {{ 'botSettings.period' | translate }}
                                </label>
                                <div class="row px-3">
                                    <select formControlName="start_time" class="form-control w-auto"
                                        [ngClass]="{'is-invalid': myForm.get('start_time').errors && myForm.get('start_time').touched}"
                                        (change)="onStartTimeChange()">
                                        <option value="" disabled hidden>{{ 'botSettings.pleaseSelect' | translate }}
                                        </option>
                                        <option [value]="item" *ngFor="let item of period">
                                            {{ item }}
                                        </option>
                                    </select>
                                    <span class="mx-1 my-auto">～</span>
                                    <select formControlName="end_time" class="form-control w-auto"
                                        [ngClass]="{'is-invalid': myForm.get('end_time').errors && myForm.get('end_time').touched}">
                                        <option value="" disabled hidden>{{ 'botSettings.pleaseSelect' | translate }}
                                        </option>
                                        <option [value]="item" *ngFor="let item of period">
                                            {{ item }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col form-group">
                                <label class="col-form-label text-md-right">
                                    {{ 'nav.virtualOnlineMembers' | translate }}
                                </label>
                                <input formControlName="number_of_member"
                                    [ngClass]="{'is-invalid': myForm.get('number_of_member').errors && myForm.get('number_of_member').touched}"
                                    type="text" class="form-control w-auto"
                                    placeholder="{{ 'botSettings.pleaseInputNumber' | translate }}">
                                <div class="invalid-feedback">
                                    {{ 'common.required' | translate }}
                                </div>
                            </div>

                            <!-- <div *ngIf="!id" class="col form-group">
                                <label class="col-form-label text-md-right">{{ 'botSettings.botNumber' | translate
                                    }}</label>
                                <input [(ngModel)]="botNumber" [ngModelOptions]="{standalone: true}" ngmo type="text"
                                    class="form-control w-auto"
                                    placeholder="{{ 'botSettings.pleaseInput' | translate }}">
                            </div> -->

                            <div class="col form-group">
                                <label class="col-form-label text-md-right">{{ 'common.status' | translate }}</label>
                                <div>
                                    <label class="switch switch-3d switch-primary">
                                        <input formControlName="status" class="switch-input" type="checkbox">
                                        <span class="switch-slider"></span>
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-footer">
                    <button (click)="submit(myForm.value)" type="submit" class="btn btn-sm btn-golden">
                        <i class="fa fa-dot-circle-o"></i>{{ 'common.confirm' | translate }}
                    </button>
                    <button (click)="cancel()" type="reset" class="btn btn-sm btn-danger ml-1">
                        <i class="fa fa-ban"></i>{{ 'common.cancel' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>