<div class="animated fadeIn">
    <div class="card">
        <div class="card-header my-auto">
            <label class="col-form-label">
                <i class="icon-menu"></i> VIP記錄
            </label>
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <div class="col row my-2">
                    <mat-form-field class="col-md-2">
                        <mat-label>{{ 'common.search' | translate }}</mat-label>
                        <input matInput (keyup)="applyFilter($event)">
                    </mat-form-field>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-10 col-sm-12 my-auto text-md-left">
                            <label class="mr-3 my-auto">搜尋日期</label>
                            <input class="form-control col-12 col-md-3 col-lg-3 d-inline mb-2 mr-1" type="date"
                                [(ngModel)]="startDate" (change)="onSearched()">
                            <input class="form-control col-12 col-md-3 col-lg-3 d-inline mb-2 mr-1" type="date"
                                [(ngModel)]="endDate" (change)="onSearched()">
                        </div>
                    </div>
                </div>
                <div class="my-2">
                    <div class="row my-auto">
                        <div class="col-md-10 text-center text-md-left mb-2">
                            <div class="btn-group">
                                <button class="btn btn-sm btn-success ml-md-1" (click)="getToday()">
                                    今日
                                </button>
                                <button class="btn btn-sm btn-primary ml-md-1" (click)="getYesterday()">
                                    昨日
                                </button>
                                <button class="btn btn-sm btn-secondary ml-md-1" (click)="getThisWeek()">
                                    本週
                                </button>
                                <!-- <button class="btn btn-sm btn-info ml-md-1" (click)="getLastWeek()">
                                    上週
                                </button> -->
                                <button class="btn btn-sm btn-warning ml-md-1" (click)="getThisMonth()">
                                    本月
                                </button>
                                <button class="btn btn-sm btn-dark ml-md-1" (click)="getLastMonth()">
                                    上月
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="my-2">
                    總輸贏金額 <span [ngClass]="changeColor(totalGameResult)">{{ totalGameResult }}</span>
                </div>
                <div class="table-responsive my-3">
                    <table mat-table [dataSource]="dataSource" class="col-md-12 table-striped" matSort
                        matSortActive="last_update" matSortDirection="desc">

                        <ng-container matColumnDef="last_update">
                            <th mat-header-cell *matHeaderCellDef> 最後操作 </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.last_update | date:'yyyy-MM-dd HH:mm'}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef>
                                {{ 'common.index' | translate }}
                            </th>
                            <td class="text-center" *matCellDef="let element;let i=index">{{ i+1 }}</td>
                        </ng-container>

                        <ng-container matColumnDef="account">
                            <th mat-header-cell *matHeaderCellDef>
                                帳號
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a [routerLink]="['/member-edit',element.id]">
                                    {{ element.account }}
                                </a>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="nickname">
                            <th mat-header-cell *matHeaderCellDef>
                                名稱
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.nickname }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="auto_bet">
                            <th mat-header-cell *matHeaderCellDef>
                                自動下注狀態
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <label class="switch switch-sm switch-label switch-pill switch-primary align-middle">
                                    <input [(ngModel)]="element.auto_bet" class="switch-input" type="checkbox"
                                        (change)="updateMemberAutoBet(element)">
                                    <span class="switch-slider" data-checked="開" data-unchecked="關"></span>
                                </label>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="is_allow_play">
                            <th mat-header-cell *matHeaderCellDef>
                                遊戲狀態
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <label class="switch switch-sm switch-label switch-pill switch-primary align-middle">
                                    <input [(ngModel)]="element.is_allow_play" class="switch-input" type="checkbox"
                                        (change)="changeMemberAllowGame(element)">
                                    <span class="switch-slider" data-checked="開" data-unchecked="關"></span>
                                </label>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="is_agent_online">
                            <th mat-header-cell *matHeaderCellDef>
                                上級在線
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <span *ngIf="element.is_agent_online" class="badge badge-success">是</span>
                                <span *ngIf="!element.is_agent_online" class="badge badge-secondary">否</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="auto_bet_result">
                            <th mat-header-cell *matHeaderCellDef>
                                最後設定金額
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.auto_bet_result }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="total_auto_bet_result">
                            <th mat-header-cell *matHeaderCellDef>
                                總輸贏金額
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <span [ngClass]="changeColor(element.total_auto_bet_result)">
                                    {{ element.total_auto_bet_result }}
                                </span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="number_of_game">
                            <th mat-header-cell *matHeaderCellDef>
                                局數
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.number_of_game }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="events">
                            <th mat-header-cell *matHeaderCellDef>
                                操作記錄
                            </th>
                            <td mat-cell *matCellDef="let element" class="text-center">
                                <button class="btn btn-primary" (click)="openModal(modal, element)">
                                    {{ 'common.view'|translate }}
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <div *ngIf="loaded && !dataSource.filteredData.length" class="text-center m-5">
                        {{ 'common.noData' | translate }}
                    </div>
                    <app-spinner *ngIf="!loaded"></app-spinner>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">操作紀錄({{ showData?.nickname }})</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-vip-operation-record [changeLogs]="showData?.logs" [membersID]="showData?.id"></app-vip-operation-record>
    </div>
</ng-template>