<div [hidden]="!loaded">
    <div class="col-md-8 mt-3 offset-md-1">
        <div class="form-group row">
            <label class="col-md-3 text-sm-right col-form-label">
                {{ 'gameType' | translate }}
            </label>
            <div class="col">
                <select class="form-control" [ngModel]="gameTypeID" (change)="onGameTypeChanged($event.target.value)">
                    <option *ngFor="let item of gameTypes" [value]="item.id" [disabled]="item.id!=2">
                        {{ getTranslatedGameName(item.en_name) }}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 text-sm-right col-form-label">
                {{ 'lotteryNumber' | translate }}
            </label>
            <div class="col my-auto">
                <span *ngIf="onlyLastGame">{{ currentPlayGame?.game_number }}</span>
                <select *ngIf="!onlyLastGame" class="form-control" [ngModel]="currentPlayGame?.game_number"
                    (change)="onGameNumberChanged($event.target.value)">
                    <option [value]="null" disabled selected>
                        --{{ 'pleaseSelectALotteryNumber' | translate }}--
                    </option>
                    <option *ngFor="let item of latestPlayGames" [value]='item.game_number'>
                        {{ item.game_number }}
                    </option>
                </select>
                <span style="color:#e1b137" *ngIf="currentPlayGame">
                    {{ 'currentDrawResult' | translate }}
                    <ng-container [ngSwitch]="currentPlayGame.game_types_id">
                        <span *ngSwitchCase="GameTypeEnum.GameTypeSicBo">
                            {{ currentPlayGame.draw_result }}
                        </span>
                        <span *ngSwitchCase="GameTypeEnum.GameTypeBaccarat">
                            <app-baccarat-poker-result [drawResult]="currentPlayGame.draw_result">
                            </app-baccarat-poker-result>
                        </span>
                        <span *ngSwitchCase="GameTypeEnum.GameTypeDragonTiger">
                            <app-dragon-tiger-poker-result [drawResult]="currentPlayGame.draw_result">
                            </app-dragon-tiger-poker-result>
                        </span>
                    </ng-container>
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 text-sm-right col-form-label">
                {{ 'renewDrawResult' | translate }}
            </label>
            <div class="col">
                <input #renewDrawResult type="text" maxlength="3" class="form-control"
                    placeholder="{{ 'inputNewDrawResult' | translate }}"
                    [hidden]="currentGameType?.id!=GameTypeEnum.GameTypeSicBo"
                    (keypress)="checkNumber($event, renewDrawResult.value)">

                <div [hidden]="currentGameType?.id!=GameTypeEnum.GameTypeBaccarat">
                    <button [disabled]="!currentPlayGame" (click)="updateWithInvalid()" class="btn btn-danger">
                        {{ 'invalidDrawResult' | translate}}
                    </button>
                    <app-baccarat-croupier #baccaratCroupier>
                    </app-baccarat-croupier>
                </div>
                <div [hidden]="currentGameType?.id!=GameTypeEnum.GameTypeDragonTiger">
                    <button [disabled]="!currentPlayGame" (click)="updateWithInvalid()" class="btn btn-danger">
                        {{ 'invalidDrawResult' | translate}}
                    </button>
                    <app-dragon-tiger-croupier #dragonTigerCroupier>
                    </app-dragon-tiger-croupier>
                </div>
                <!-- <h3 class="badge text-danger">{{ 'onlyTodayGameNumber' | translate }}</h3> -->
            </div>
        </div>
    </div>
    <div class="text-center my-2">
        <button appDebounceClick (debounceClick)="updateResultRenew(renewDrawResult.value);renewDrawResult.value=''"
            class="btn btn btn-warning" [disabled]="!currentPlayGame">
            {{ 'renewDrawResult' | translate }}
        </button>
    </div>
</div>

<div *ngIf="!loaded" class="text-center my-5">
    <app-spinner></app-spinner>
</div>