<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> 標籤管理
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>名稱</th>
                                <th>連結</th>
                                <th class="text-center">排序/編輯/刪除</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of data">
                                <td>{{ item.title }}</td>
                                <td>{{ item.url }}</td>

                                <td class="text-center">
                                    <button class="btn btn-outline-secondary" type="button"><i
                                            class="cui-chevron-top icons font-2xl d-block"></i></button>
                                    <button class="btn btn-outline-secondary" type="button"><i
                                            class="cui-chevron-bottom icons font-2xl d-block"></i></button>
                                    <button class="btn btn-golden " type="button" (click)="newsData=item"><i
                                            class="cui-note icons font-2xl d-block"></i></button>
                                    <button class="btn btn-danger ml-1" type="button" (click)="newsDel()"><i
                                            class="cui-trash icons font-2xl d-block"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>