<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>{{ 'common.edit' | translate }}</strong>
                </div>
                <div class="card-body">
                    <form [formGroup]="myForm" class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-2 text-sm-right col-form-label">{{ 'itemType' | translate }}</label>
                            <div class="col-md-2 d-flex align-items-center">
                                <!-- <input
                                    [ngClass]="{'is-invalid': myForm.controls['type'].hasError('required') && myForm.controls['type'].touched}"
                                    [formControl]="myForm.controls['type']" type="number"
                                    class="form-control"> -->
                                {{ myForm.controls['type'].value === 0 ? ('searching.bet'|translate) : ('searching.donate'|translate) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label
                                class="col-md-2 text-sm-right col-form-label">{{ 'betAmounts.defaultAmount' | translate }}</label>
                            <div class="col-md-8">
                                <input
                                    [ngClass]="{'is-invalid': myForm.controls['amount'].errors && myForm.controls['amount'].touched}"
                                    [formControl]="myForm.controls['amount']" type="number" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button (click)="submitForm(myForm.value)" type="submit" class="btn btn-sm btn-golden"><i
                            class="fa fa-dot-circle-o"></i>
                        {{ 'common.confirm' | translate }}</button>
                    <button (click)="cancel()" type="submit" class="btn btn-sm btn-danger"><i
                            class="fa fa-dot-circle-o ml-1"></i>
                        {{ 'common.cancel' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>