<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> {{ 'nav.reportRecordList' | translate }}
                    (<span class="cursorPointer" *ngIf="parrentUser" (click)="back()">
                        {{ parrentUser.real_name }}/
                    </span>
                    <span [ngClass]="{'cursorPointer': !parrentUser}" (click)="back()">
                        {{ currentUser?.real_name }}
                    </span>)
                </div>
                <div class="card-body">

                    <!-- <mat-form-field class="col-md-3">
                        <mat-label>{{ 'common.search' | translate }}</mat-label>
                        <input matInput (keyup)="applyFilter($event)">
                    </mat-form-field> -->

                    <div class="select-group d-flex mb-2 col-12">
                        <select class="form-control col-12 col-md-2" [(ngModel)]="gameTypeID"
                            (change)="selectGameType($event.target.value)">
                            <option *ngFor="let item of GameType" [value]="item.id" [disabled]="item.id!=2">
                                {{ getTranslatedGameName(item.en_name) }}
                            </option>
                        </select>
                    </div>

                    <div class="selectMonth d-flex mb-3 col-12">
                        <input type="date" class="form-control col-12 col-md-2 date" [(ngModel)]="startDateValue"
                            #startDate>
                        <span class="none">&nbsp;&nbsp; ~ &nbsp;&nbsp;</span>
                        <input type="date" class="form-control col-12 col-md-2 date" [(ngModel)]="endDateValue"
                            #endDate>
                        <button [disabled]="submitted" class="btn btn-sm btn-golden col-12 col-md-1 submit"
                            appDebounceClick (debounceClick)="btnOK()">{{
                            'common.submit' | translate }}</button>
                    </div>

                    <div class="btn-group mb-3 col-12 col-md-5">
                        <button [disabled]="submitted" class="btn btn-sm btn-golden ml-1"
                            [ngClass]="{'active': active === true}" appDebounceClick (debounceClick)="today()">
                            {{ 'report.tody' | translate }}
                        </button>
                        <button [disabled]="submitted" class="btn btn-sm btn-golden ml-1" appDebounceClick
                            (debounceClick)="yesterday()">
                            {{ 'report.yesterday' | translate }}
                        </button>
                        <button [disabled]="submitted" class="btn btn-sm btn-golden ml-1" appDebounceClick
                            (debounceClick)="week()">
                            {{ 'report.thisWeek' | translate }}
                        </button>
                        <button [disabled]="submitted" class="btn btn-sm btn-golden ml-1" appDebounceClick
                            (debounceClick)="lastWeek()">
                            {{ 'report.lastWeek' | translate }}
                        </button>
                        <button [disabled]="submitted" class="btn btn-sm btn-golden ml-1" appDebounceClick
                            (debounceClick)="month()">
                            {{ 'report.thisMonth' | translate }}
                        </button>
                        <button [disabled]="submitted" class="btn btn-sm btn-golden ml-1" appDebounceClick
                            (debounceClick)="lastMonth()">
                            {{ 'report.lastMonth' | translate }}
                        </button>
                        <!-- <button [disabled]="submitted"  class="btn btn-sm btn-light ml-1">全部</button> -->
                    </div>

                    <div class="table-responsive col-md-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>{{ 'report.totalAmount' | translate }}</th>
                                    <!-- <th>{{ 'report.activeTotalAmount' | translate }}</th> -->
                                    <th>{{ 'report.numberOfGame' | translate }}</th>
                                    <th>{{ 'report.gameResultAmount' | translate }}</th>
                                    <!-- <th>{{ 'manageAgent.washCode' | translate }}%</th> -->
                                    <!-- <th>{{ 'manageAgent.form.washCode' | translate }}</th> -->
                                    <th>{{ 'manageAgent.revenueShare' | translate }}</th>
                                    <!-- <th>{{ 'report.totalDonate' | translate }}</th> -->
                                    <!-- <th>{{ 'report.memberSA' | translate }}</th> -->
                                    <!-- <th>{{ 'report.agentSA' | translate }}</th> -->
                                    <th>{{ 'report.parentSA' | translate }}</th>
                                    <th>{{ 'report.selfProfit' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ currentUser?.total_amount }}</td>
                                    <!-- <td>{{ currentUser?.active_total_amount }}</td> -->
                                    <td>{{ currentUser?.number_of_game }}</td>
                                    <td [class]="changeColor(currentUser?.game_result_amount)">
                                        {{ currentUser?.game_result_amount }}
                                    </td>
                                    <!-- <td>{{ currentUser?.wash_code_commission_percent }}</td> -->
                                    <!-- <td class="text-success">{{ currentUser?.wash_code_commission | fixed }}</td> -->
                                    <td>{{ currentUser?.revenue_share }}</td>
                                    <!-- <td class="text-danger">{{ currentUser?.total_donate }}</td> -->
                                    <!-- <td [class]="changeColor(totalMemberSettlementAmount)">
                                        {{ totalMemberSettlementAmount | fixed }}
                                    </td>
                                    <td [class]="changeColor(totalAgentSettlementAmount)">
                                        {{ totalAgentSettlementAmount | fixed }}
                                    </td> -->
                                    <td [class]="changeColor(currentUser?.settlement_amount)">
                                        {{ currentUser?.settlement_amount | fixed }}
                                    </td>
                                    <td [class]="changeColor(calcOwnProfit())">
                                        {{ calcOwnProfit() | fixed }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> {{ 'manageAgent.agent' | translate }}
                </div>
                <div class="card-body">

                    <div class="table-responsive col-md-12">

                        <table #sortByAgent="matSort" class="col-md-12 table-striped" mat-table matSort
                            [dataSource]="dataSourceOfAgent" matSortActive="closing_date" matSortDirection="desc">

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'manageAgent.name' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span>
                                        {{ element.real_name }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="account">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'manageAgent.account' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span>
                                        {{ element.name }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="total_amount">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'report.totalAmount' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span>
                                        {{ element.total_amount }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="active_total_amount">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'report.activeTotalAmount' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span>
                                        {{ element.active_total_amount }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="number_of_game">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'report.numberOfGame' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span>
                                        {{ element.number_of_game }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="game_result_amount">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'report.gameResultAmount' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span [class]="changeColor(element.game_result_amount)">
                                        {{ element.game_result_amount }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="wash_code_commission_percent">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'manageAgent.washCode' | translate }}% </th>
                                <td mat-cell *matCellDef="let element">
                                    <span>
                                        {{ element.wash_code_commission_percent }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="wash_code_commission">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'manageAgent.form.washCode' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="text-success">
                                        {{ element.wash_code_commission | fixed }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="revenue_share">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'manageAgent.revenueShare' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span>
                                        {{ element.revenue_share }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="total_donate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'report.totalDonate' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="text-danger">
                                        {{ element.total_donate }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="settlement_amount">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'report.settlementAmount' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span [class]="changeColor(element.settlement_amount)">
                                        {{ element.settlement_amount | fixed }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="settlement_amount_from_child">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'report.childSA' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span [class]="changeColor(element.settlement_amount_from_child)">
                                        {{ element.settlement_amount_from_child | fixed }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="is_allow_play">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'manageAgent.memberStatus' | translate }} </th>
                                <td class="text-center align-bottom" mat-cell *matCellDef="let element">
                                    <label class="switch switch-sm switch-3d switch-primary">
                                        <input (change)="changeAgentAllowGame(element)"
                                            [checked]="element.is_allow_play==Status.Active" class="switch-input"
                                            [disabled]="isAdminClone" type="checkbox">
                                        <span class="switch-slider"></span>
                                    </label>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'manageAgent.accountStatus' | translate }} </th>
                                <td class="text-center align-bottom" mat-cell *matCellDef="let element">
                                    <label class="switch switch-sm switch-3d switch-primary">
                                        <input (change)="changeAgentStatus(element)"
                                            [disabled]="identity!==UserRole.admin || isAdminClone"
                                            [checked]="element.status==Status.Active" class="switch-input"
                                            type="checkbox">
                                        <span class="switch-slider"></span>
                                    </label>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="function">
                                <th mat-header-cell *matHeaderCellDef class="text-center">
                                    {{ 'common.searchRecord' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <a [routerLink]="['/system/report-record-member-list', element.agents_id, startDate.value, endDate.value]"
                                            class="btn btn-sm d-flex align-items-center btn-success ml-1"
                                            role="button"><i class="cui-people icons font-l d-block"></i>
                                            {{ 'common.searchRecord' | translate }}
                                        </a>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="records">
                                <th mat-header-cell *matHeaderCellDef class="text-center">
                                    {{ 'report.history' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <button class="btn btn-sm d-flex align-items-center btn-success ml-1"
                                            (click)="openReocrdModal(element)">
                                            <i class="cui-magnifying-glass icons font-l d-block"></i>
                                            {{ 'common.view' | translate }}
                                        </button>
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumnsByAgent"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsByAgent;"></tr>
                        </table>
                        <div *ngIf="dataAgent && !dataSourceOfAgent.data.length" class="text-center m-3">
                            {{ 'common.noData' | translate }}</div>
                        <mat-paginator #paginatorOfAgent [pageSize]="50" [pageSizeOptions]="[5, 10, 20]"
                            showFirstLastButtons>
                        </mat-paginator>
                        <div *ngIf="!dataAgent" class="text-center my-5">
                            <div class="lds-roller">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> {{ 'manageAgent.member' | translate }}
                </div>
                <div class="card-body">

                    <div class="table-responsive col-md-12">

                        <table #sortByMember="matSort" class="col-md-12 table-striped" mat-table matSort
                            [dataSource]="dataSourceOfMember" matSortActive="closing_date" matSortDirection="desc">

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'manageAgent.name' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span>
                                        {{ element.name }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="members_id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'manageAgent.nickname' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span *ngIf="memberChild">
                                        {{ element.nickname }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="account">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'manageAgent.account' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span>
                                        {{ element.account }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="total_amount">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'report.totalAmount' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span>
                                        {{ element.total_amount }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="active_total_amount">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'report.activeTotalAmount' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span>
                                        {{ element.active_total_amount }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="number_of_game">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'report.numberOfGame' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span>
                                        {{ element.number_of_game }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="game_result_amount">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'report.gameResultAmount' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span [class]="changeColor(element.game_result_amount)">
                                        {{ element.game_result_amount }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="wash_code_commission_percent">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'manageAgent.washCode' | translate }}% </th>
                                <td mat-cell *matCellDef="let element">
                                    <span>
                                        {{ element.wash_code_commission_percent }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="wash_code_commission">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'manageAgent.form.washCode' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="text-success">
                                        {{ element.wash_code_commission | fixed}}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="total_donate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'report.totalDonate' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="text-danger">
                                        {{ element.total_donate | fixed }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="settlement_amount">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'report.settlementAmount' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span [class]="changeColor(element.settlement_amount)">
                                        {{ element.settlement_amount | fixed }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="is_allow_play">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'manageAgent.memberStatus' | translate }} </th>
                                <td class="text-center align-bottom" mat-cell *matCellDef="let element">
                                    <label class="switch switch-sm switch-3d switch-primary">
                                        <input (change)="changeMemberAllowGame(element)"
                                            [checked]="element.is_allow_play==Status.Active"
                                            [disabled]="identity!==UserRole.admin || isAdminClone" class="switch-input"
                                            type="checkbox">
                                        <span class="switch-slider"></span>
                                    </label>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'manageAgent.accountStatus' | translate }} </th>
                                <td class="text-center align-bottom" mat-cell *matCellDef="let element">
                                    <label class="switch switch-sm switch-3d switch-primary">
                                        <!-- {{ element.members_id }} -->
                                        <input [checked]="getMemberStatusByID(element.members_id)"
                                            [disabled]="identity!==UserRole.admin || isAdminClone" class="switch-input"
                                            type="checkbox" (change)="changeMemberStatus(element)">
                                        <span class="switch-slider"></span>
                                    </label>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="function">
                                <th mat-header-cell *matHeaderCellDef class="text-center">
                                    {{ 'common.searchRecord' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <button title="{{ 'common.view' | translate }}"
                                            class="btn btn-sm d-flex align-items-center btn-success" type="button"
                                            (click)="openModal(template,element.members_id)"><i
                                                class="cui-people icons font-l d-block"></i>
                                            {{ 'common.searchRecord' | translate }}
                                        </button>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="records">
                                <th mat-header-cell *matHeaderCellDef class="text-center">
                                    {{ 'report.history' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <button class="btn btn-sm d-flex align-items-center btn-success ml-1"
                                            (click)="openMemberReocrdModal(element)">
                                            <i class="cui-magnifying-glass icons font-l d-block"></i>
                                            {{ 'common.view' | translate }}
                                        </button>
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumnsByMember"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsByMember;"></tr>
                        </table>
                        <div *ngIf="dataMember && !dataSourceOfMember.data.length" class="text-center m-3">
                            {{ 'common.noData' | translate }}</div>
                        <mat-paginator #paginatorOfMember [pageSize]="50" [pageSizeOptions]="[5, 10, 20]"
                            showFirstLastButtons>
                        </mat-paginator>
                        <div *ngIf="!dataMember" class="text-center my-5">
                            <div class="lds-roller">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{ 'common.searchRecord' | translate }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-mat-table [GameType]="GameType" [CalcItemResultRecord]="CalcItemResultRecord" [ItemTypes]="ItemTypes"
            [dataOfResultAmountTotal]="dataOfResultAmountTotal"
            [CalcItemResultRecordByDate]="CalcItemResultRecordByDate">
        </app-mat-table>
        <span *ngIf="!dataOfResultAmountTotal">目前沒有資料</span>
    </div>
</ng-template>