img {
    max-width: 45px;
    width: 42%;
}

table {
    background-color: #272727;
    color: white;
}

table td {
    font-weight: bolder;
    text-align: center;
}

table input {
    text-align: center;
    max-width: 100px;
    font-weight: bolder;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0) !important;
}

.table-striped tbody tr:hover {
    background-color: #ffe8a700 !important;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: #FFFF00;
}

small {
    font-size: 16px;
}