<div class="table-responsive col-md-12 px-3 my-3">
    <div class="form-group row py-1 ml-md-3">
        <!-- <label class="text-sm-right col-form-label mr-3">
            {{ 'gameType' | translate }}
        </label>
        <select class="text-sm-right form-control w-auto" [(ngModel)]="currentType">
            <option *ngFor="let item of gameTypes" [value]="item.id" [disabled]="item.id!=2">
                {{ getTranslatedGameName(item.en_name) }}
            </option>
        </select> -->
    </div>
    <div [hidden]="currentType!=GameType.GameTypeSicBo" class="col-md-12">
        <form [formGroup]="myForm">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <span class="title">{{ 'bet.Big' | translate }}</span>
                                <input [ngClass]="{'is-invalid': isFormControlInvalid(1)}" formControlName="1"
                                    class="form-control mx-auto mt-3">
                            </td>
                            <td colspan="2" rowspan="2">
                                <span class="title">{{ 'bet.AnyTriple' | translate }}</span>
                                <input [ngClass]="{'is-invalid': isFormControlInvalid(17)}" formControlName="17"
                                    class="form-control mx-auto mt-3">
                            </td>
                            <td colspan="2">
                                <span class="title">{{ 'bet.Small' | translate }}</span>
                                <input [ngClass]="{'is-invalid': isFormControlInvalid(2)}" formControlName="2"
                                    class="form-control mx-auto mt-3">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <span class="title">{{ 'bet.Odd' | translate }}</span>
                                <input [ngClass]="{'is-invalid': isFormControlInvalid(3)}" formControlName="3"
                                    class="form-control mx-auto mt-3">
                            </td>
                            <td colspan="2">
                                <span class="title">{{ 'bet.Even' | translate }}</span>
                                <input [ngClass]="{'is-invalid': isFormControlInvalid(4)}" formControlName="4"
                                    class="form-control mx-auto mt-3">
                            </td>
                        </tr>
                        <!-- <tr>
                            <td>
                                <p>
                                    <img src="./assets/img/brand/img_dice_one.png" alt="">
                                    <img src="./assets/img/brand/img_dice_one.png" alt="">
                                </p>
                                <input [ngClass]="{'is-invalid': isFormControlInvalid(5)}" formControlName="5"
                                    class="form-control mx-auto mt-3">
                            </td>
                            <td>
                                <p>
                                    <img src="./assets/img/brand/icon_full_screen (3).png" alt="">
                                    <img src="./assets/img/brand/icon_full_screen (3).png" alt="">
                                </p>
                                <input [ngClass]="{'is-invalid': isFormControlInvalid(6)}" formControlName="6"
                                    class="form-control mx-auto mt-3">
                            </td>
                            <td>
                                <p>
                                    <img src="./assets/img/brand/img_dice_three.png" alt="">
                                    <img src="./assets/img/brand/img_dice_three.png" alt="">
                                </p>
                                <input [ngClass]="{'is-invalid': isFormControlInvalid(7)}" formControlName="7"
                                    class="form-control mx-auto mt-3">
                            </td>
                            <td>
                                <p>
                                    <img src="./assets/img/brand/img_dice_four.png" alt="">
                                    <img src="./assets/img/brand/img_dice_four.png" alt="">
                                </p>
                                <input [ngClass]="{'is-invalid': isFormControlInvalid(8)}" formControlName="8"
                                    class="form-control mx-auto mt-3">
                            </td>
                            <td>
                                <p>
                                    <img src="./assets/img/brand/icon_full_screen (2).png" alt="">
                                    <img src="./assets/img/brand/icon_full_screen (2).png" alt="">
                                </p>
                                <input [ngClass]="{'is-invalid': isFormControlInvalid(9)}" formControlName="9"
                                    class="form-control mx-auto mt-3">
                            </td>
                            <td>
                                <p>
                                    <img src="./assets/img/brand/img_dice_six.png" alt="">
                                    <img src="./assets/img/brand/img_dice_six.png" alt="">
                                </p>
                                <input [ngClass]="{'is-invalid': isFormControlInvalid(10)}" formControlName="10"
                                    class="form-control mx-auto mt-3">
                            </td>
                        </tr> -->
                        <tr>
                            <td>
                                <p>
                                    <img src="./assets/img/brand/img_dice_one.png" alt="">
                                </p>
                                <input [ngClass]="{'is-invalid': isFormControlInvalid(11)}" formControlName="11"
                                    class="form-control mx-auto mt-3">
                            </td>
                            <td>
                                <p>
                                    <img src="./assets/img/brand/icon_full_screen (3).png" alt="">
                                </p>
                                <input [ngClass]="{'is-invalid': isFormControlInvalid(12)}" formControlName="12"
                                    class="form-control mx-auto mt-3">
                            </td>
                            <td>
                                <p>
                                    <img src="./assets/img/brand/img_dice_three.png" alt="">
                                </p>
                                <input [ngClass]="{'is-invalid': isFormControlInvalid(13)}" formControlName="13"
                                    class="form-control mx-auto mt-3">
                            </td>
                            <td>
                                <p>
                                    <img src="./assets/img/brand/img_dice_four.png" alt="">
                                </p>
                                <input [ngClass]="{'is-invalid': isFormControlInvalid(14)}" formControlName="14"
                                    class="form-control mx-auto mt-3">
                            </td>
                            <td>
                                <p>
                                    <img src="./assets/img/brand/icon_full_screen (2).png" alt="">
                                </p>
                                <input [ngClass]="{'is-invalid': isFormControlInvalid(15)}" formControlName="15"
                                    class="form-control mx-auto mt-3">
                            </td>
                            <td>
                                <p>
                                    <img src="./assets/img/brand/img_dice_six.png" alt="">
                                </p>
                                <input [ngClass]="{'is-invalid': isFormControlInvalid(16)}" formControlName="16"
                                    class="form-control mx-auto mt-3">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>

    </div>
    <div [hidden]="currentType!=GameType.GameTypeBaccarat" class="col-md-12">
        <app-baccarat-odds-setting #baccaratOdds></app-baccarat-odds-setting>
    </div>
    <div class="text-center py-3">
        <button class="btn btn-pill btn-lg btn-danger" (click)="submitForm(myForm.value)">
            {{ 'oddsUpdate' | translate }}
        </button>
    </div>
</div>