<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> 會員管理
                </div>
                <div class="card-body">
                    <mat-form-field class="col-md-3">
                        <mat-label>搜尋</mat-label>
                        <input matInput (keyup)="applyFilter($event)">
                    </mat-form-field>

                    <div class="table-responsive">
                        <table class="col-md-12 table-striped" mat-table matSort [dataSource]="dataSource"
                            matSortActive="created_at" matSortDirection="desc">

                            <ng-container matColumnDef="account">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 會員帳號 </th>
                                <td mat-cell *matCellDef="let element"> {{element.account}} </td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 姓名 </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="gender">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 性別 </th>
                                <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                            </ng-container>

                            <ng-container matColumnDef="car_license_number">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 汽車/機車 </th>
                                <td mat-cell *matCellDef="let element">
                                    <ng-container>
                                        {{element.car_license_number}}
                                        <ng-container *ngIf="element.moto_license_number">
                                            /{{element.moto_license_number}}
                                        </ng-container>
                                    </ng-container>
                                </td>
                            </ng-container>

                            <!-- <ng-container matColumnDef="moto_license_number">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 機車 </th>
                                <td mat-cell *matCellDef="let element"> {{element.moto_license_number}} </td>
                            </ng-container> -->


                            <!-- <ng-container matColumnDef="roles">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> 身分級別 </th>
                            <td mat-cell *matCellDef="let element"> {{element.roles}} </td>
                        </ng-container> -->

                            <ng-container matColumnDef="created_at">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 建立日期 </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.created_at | date:'yyyy-MM-dd HH:mm:ss'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="updated_at">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 修改日期 </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.updated_at | date:'yyyy-MM-dd HH:mm:ss'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 狀態 </th>
                                <td mat-cell *matCellDef="let element">
                                    <span *ngIf="element.status == Status.Active" class="badge badge-success">啟用</span>
                                    <span *ngIf="element.status == Status.InActive" class="badge badge-danger">停用</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="function">
                                <th mat-header-cell *matHeaderCellDef class="text-center"> 檢視/編輯/刪除 </th>
                                <td mat-cell *matCellDef="let element" class="text-center">

                                    <button class="btn btn-success" type="button"
                                        (click)="openModal(template,element.id)"><i
                                            class="cui-magnifying-glass icons font-l d-block"></i></button>
                                    <a [routerLink]="['/member-edit',element.id]" class="btn btn-golden ml-1"
                                        role="button"><i class="cui-note icons font-l d-block"></i></a>
                                    <button class="btn btn-danger ml-1" type="button" (click)="delete(element.id)"><i
                                            class="cui-trash icons font-l d-block"></i></button>


                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>

                    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

                    <div *ngIf="!data" class="text-center my-5">
                        <div class="lds-roller">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">檢視資料</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">會員帳號</label>
            <div class="col-md-9 my-auto">
                {{ modal.account }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">名稱</label>
            <div class="col-md-9 my-auto">
                {{ modal.name }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">性別</label>
            <div class="col-md-9 my-auto">
                {{ modal.gender }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">建立日期</label>
            <div class="col-md-9 my-auto">
                {{ modal.created_at | date:'yyyy-MM-dd HH:mm:ss' }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">修改日期</label>
            <div class="col-md-9 my-auto">
                {{ modal.updated_at | date:'yyyy-MM-dd HH:mm:ss' }}
            </div>
        </div>
        <div *ngIf="modal.moto_license_number" class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">機車車牌號碼</label>
            <div class="col-md-9 my-auto">
                {{ modal.moto_license_number }}
            </div>
        </div>
        <div *ngIf="modal.car_license_number" class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">汽車車牌號碼</label>
            <div class="col-md-9 my-auto">
                {{ modal.car_license_number }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label text-center font-weight-bolder">狀態</label>
            <div class="col-md-9 my-auto">
                <span *ngIf="modal.status==Status.Active" class="badge badge-success">啟用</span>
                <span *ngIf="modal.status==Status.InActive" class="badge badge-danger">停用</span>
            </div>
        </div>

    </div>
</ng-template>

<ng-template #Nodetemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">檢視階層</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="overflow: auto;">
        <div id="d3"></div>
    </div>
</ng-template>