<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header baccarat">
                    <svg-icon src="./assets/img/svg/icon_proxy_login.svg"></svg-icon>
                    代理報表
                    <!-- <b class="settlement">
                        {{ !showMember ? '總代理交收' : ('report.agentSA' | translate) }}
                        <span [class]="changeColor(totalAgentSettlement)">
                            {{ totalAgentSettlement | fixed }}
                        </span>
                    </b> -->
                </div>
                <div class="card-body">
                    <div class="table-responsive col-md-12">

                        <table class="col-md-12 table-striped" mat-table [dataSource]="dataSourceOfAgent"
                            matSortActive="closing_date" matSortDirection="desc">

                            <ng-container matColumnDef="index">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'common.index' | translate }}
                                </th>
                                <td class="text-center" *matCellDef="let element;let i=index">{{ i+1 }}</td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'manageAgent.name' | translate }} </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'h-bg': element?.show_header}">
                                    <span *ngIf="!element.show_header">
                                        {{ element?.user.real_name }}
                                    </span>
                                    <span *ngIf="element.show_header">
                                        {{ 'manageAgent.name' | translate }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="account">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'manageAgent.account' | translate }} </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'h-bg': element?.show_header}">
                                    <ng-container *ngIf="!element.show_header">
                                        <span *ngIf="loginUserIsAgent||isSpecify">{{ element?.user.name }}</span>
                                        <a *ngIf="!loginUserIsAgent&&!isSpecify"
                                            [routerLink]="['/top-agent-edit', element?.user.id, element?.user.parent_id]">
                                            {{ element?.user.name }}
                                        </a>
                                    </ng-container>

                                    <span *ngIf="element.show_header">
                                        {{ 'manageAgent.account' | translate }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="total_amount">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'report.totalAmount' | translate }} </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'h-bg': element?.show_header}">
                                    <span *ngIf="!element.show_header">
                                        {{ element.total_amount }}
                                    </span>
                                    <span *ngIf="element.show_header">
                                        {{ 'report.totalAmount' | translate }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="active_total_amount">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'report.activeTotalAmount' | translate }} </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'h-bg': element?.show_header}">
                                    <span *ngIf="!element.show_header">
                                        {{ element.active_total_amount }}
                                    </span>
                                    <span *ngIf="element.show_header">
                                        {{ 'report.activeTotalAmount' | translate }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="number_of_game">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'report.numberOfGame' | translate }} </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'h-bg': element?.show_header}">
                                    <span *ngIf="!element.show_header">
                                        {{ element.number_of_game }}
                                    </span>
                                    <span *ngIf="element.show_header">
                                        {{ 'report.numberOfGame' | translate }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="game_result_amount">
                                <th mat-header-cell *matHeaderCellDef>
                                    結果 </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'h-bg': element?.show_header}">
                                    <span *ngIf="!element.show_header"
                                        [class]="changeColor(element.game_result_amount)">
                                        {{ element.game_result_amount }}
                                    </span>

                                    <span *ngIf="element.show_header">
                                        結果
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="revenue_share_game_result">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'autoBetResult' | translate }} </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'h-bg': element?.show_header}">
                                    <span *ngIf="!element.show_header"
                                        [class]="changeColor(element.revenue_share_game_result)">
                                        {{ element.revenue_share_game_result }}
                                    </span>

                                    <span *ngIf="element.show_header">
                                        {{ 'autoBetResult' | translate }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="wash_code_commission_percent">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'manageAgent.washCode' | translate }}% </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'h-bg': element?.show_header}">
                                    <span *ngIf="!element.show_header">
                                        {{ element.wash_code_commission_percent }}
                                    </span>

                                    <span *ngIf="element.show_header">
                                        {{ 'manageAgent.washCode' | translate }}%
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="total_wash_code_commission">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'washCodeAmount' | translate }} </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'h-bg': element?.show_header}">
                                    <span *ngIf="!element.show_header">
                                        {{ element.total_wash_code_commission | fixed }}
                                    </span>

                                    <span *ngIf="element.show_header">
                                        {{ 'washCodeAmount' | translate }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="wash_code_commission">
                                <th mat-header-cell *matHeaderCellDef>
                                    退佣 </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'h-bg': element?.show_header}">
                                    <span *ngIf="!element.show_header"
                                        [class]="changeColor(element.wash_code_commission)">
                                        {{ element.wash_code_commission | fixed }}
                                    </span>

                                    <span *ngIf="element.show_header">
                                        退佣
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="revenue_share">
                                <th mat-header-cell *matHeaderCellDef>
                                    佔成% </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'h-bg': element?.show_header}">
                                    <span *ngIf="!element.show_header">
                                        {{ element.revenue_share }}
                                    </span>

                                    <span *ngIf="element.show_header">
                                        {{ 'manageAgent.revenueShareWinLose' | translate }}%
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="total_donate">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'report.totalDonate' | translate }} </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'h-bg': element?.show_header}">
                                    <span *ngIf="!element.show_header" [class]="changeColor(element.total_donate*-1)">
                                        {{ element.total_donate }}
                                    </span>
                                    <span *ngIf="element.show_header">
                                        {{ 'report.totalDonate' | translate }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="tables_stored_value_card">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'tableSetting.storedValueCard' | translate }} </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'h-bg': element?.show_header}">
                                    <span *ngIf="!element.show_header" class="text-success">
                                        {{ element.total_stored_value_card }}
                                    </span>
                                    <span *ngIf="element.show_header">
                                        {{ 'tableSetting.storedValueCard' | translate }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="stored_value_card_commission">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'manageAgent.storedValueCardCommission' | translate }}% </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'h-bg': element?.show_header}">
                                    <span *ngIf="!element.show_header">{{ element.stored_value_card_percent }}</span>
                                    <span *ngIf="element.show_header">
                                        {{ 'manageAgent.storedValueCardCommission' | translate }}%
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="member_settlement_amount">
                                <th mat-header-cell *matHeaderCellDef>
                                    遊戲結果 </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'h-bg': element?.show_header}">
                                    <span *ngIf="!element.show_header"
                                        [class]="changeColor(element.member_settlement_amount)">
                                        {{ element.member_settlement_amount | fixed }}
                                    </span>
                                    <span *ngIf="element.show_header">
                                        遊戲結果
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="system_commission">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'systemCommission' | translate }} </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'h-bg': element?.show_header}">
                                    <span *ngIf="!element.show_header">
                                        {{ element.total_member_platform_commission | fixed }}
                                    </span>
                                    <span *ngIf="element.show_header">
                                        {{ 'systemCommission' | translate }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="commission_percent">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'manageAgent.playAgainstCommission' | translate }}% </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'h-bg': element?.show_header}">
                                    <span *ngIf="!element.show_header">
                                        {{ element.commission_percent }}%
                                    </span>
                                    <span *ngIf="element.show_header">
                                        {{ 'manageAgent.playAgainstCommission' | translate }}%
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="total_commission">
                                <th mat-header-cell *matHeaderCellDef>
                                    退佣獲利
                                    <!-- <i *ngIf="IsPokerGame" class="fa fa-info-circle text-primary"
                                        (click)="openInstructionModal(instruction)"></i> -->
                                </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'h-bg': element?.show_header}">
                                    <span *ngIf="!element.show_header" [class]="changeColor(element.total_commission)">
                                        {{ element.total_commission | fixed }}
                                    </span>
                                    <span *ngIf="element.show_header">
                                        退佣獲利
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="settlement_amount">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'report.settlementAmount' | translate }} </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'h-bg': element?.show_header}">
                                    <span *ngIf="!element.show_header" [class]="changeColor(element.settlement_amount)">
                                        {{ element.settlement_amount | fixed }}
                                    </span>
                                    <span *ngIf="element.show_header">
                                        {{ 'report.settlementAmount' | translate }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="settlement_amount_from_child">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'report.childSA' | translate }} </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'h-bg': element?.show_header}">
                                    <span *ngIf="!element.show_header"
                                        [class]="changeColor(element.settlement_amount_from_child)">
                                        {{ element.settlement_amount_from_child | fixed }}
                                    </span>
                                    <span *ngIf="element.show_header">
                                        {{ 'report.childSA' | translate }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="is_allow_play">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'manageAgent.memberStatus' | translate }} </th>
                                <td class="text-center align-bottom" mat-cell *matCellDef="let element"
                                    [ngClass]="{'h-bg': element?.show_header}">
                                    <label *ngIf="!element.show_header"
                                        class="switch switch-sm switch-label switch-pill switch-primary">
                                        <input (change)="changeAgentAllowGame(element)"
                                            [checked]="element.is_allow_play==Status.Active" class="switch-input"
                                            [disabled]="isAdminClone" type="checkbox">
                                        <span class="switch-slider" data-checked="開" data-unchecked="關"></span>
                                    </label>
                                    <span *ngIf="element.show_header">
                                        {{ 'manageAgent.memberStatus' | translate }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'manageAgent.accountStatus' | translate }} </th>
                                <td class="text-center align-bottom" mat-cell *matCellDef="let element"
                                    [ngClass]="{'h-bg': element?.show_header}">
                                    <label *ngIf="!element.show_header"
                                        class="switch switch-sm switch-label switch-pill switch-primary">
                                        <input (change)="changeAgentStatus(element)"
                                            [checked]="element.status==Status.Active" class="switch-input"
                                            [disabled]="isAdminClone" type="checkbox">
                                        <span class="switch-slider" data-checked="開" data-unchecked="關"></span>
                                    </label>
                                    <span *ngIf="element.show_header">
                                        {{ 'manageAgent.accountStatus' | translate }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef class="text-center">
                                    記錄 </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'h-bg': element?.show_header}">
                                    <button class="btn btn-sm btn-golden mr-2" (click)="view(element)"> 查詢 </button>
                                    <!-- <button class="btn btn-sm btn-golden mr-2" (click)="view(element)"> 代理 </button>
                                    <button class="btn btn-sm btn-golden" (click)="view(element, true)"> 會員 </button> -->
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="records">
                                <th mat-header-cell *matHeaderCellDef class="text-center">
                                    {{ 'report.history' | translate }} </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'h-bg': element?.show_header}">
                                    <div *ngIf="!element.show_header"
                                        class="d-flex align-items-center justify-content-center">
                                        <button class="btn btn-sm d-flex align-items-center btn-golden ml-1"
                                            (click)="openReocrdModal(element)">
                                            {{ 'common.detail' | translate }}
                                        </button>
                                    </div>

                                    <span *ngIf="element.show_header">
                                        {{ 'report.history' | translate }}
                                    </span>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showHeader(row)"></tr>
                        </table>
                        <div *ngIf="loaded&&!dataSourceOfAgent.data.length" class="text-center m-3">
                            {{ 'common.noData' | translate }}</div>
                        <div *ngIf="!loaded" class="text-center my-5">
                            <app-spinner></app-spinner>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div [hidden]="!showMember" class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header baccarat">
                    <svg-icon src="./assets/img/svg/icon_member.svg"></svg-icon>
                    會員報表
                    <!-- <b class="settlement">
                        {{ 'report.memberSA' | translate }}
                        <span [class]="changeColor(totalMemberSettlement)">
                            {{ totalMemberSettlement | fixed }}
                        </span>
                    </b> -->
                </div>
                <div class="card-body">
                    <div class="table-responsive col-md-12">
                        <table class="col-md-12 table-striped" mat-table [dataSource]="dataSourceOfMember">

                            <ng-container matColumnDef="index">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'common.index' | translate }}
                                </th>
                                <td class="text-center" *matCellDef="let element;let i=index">{{ i+1 }}</td>
                            </ng-container>

                            <ng-container matColumnDef="members_id">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'manageAgent.nickname' | translate }} </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'h-bg': element?.show_header}">
                                    <span *ngIf="!element.show_header">
                                        {{ element.member.nickname }}
                                    </span>

                                    <span *ngIf="element.show_header">
                                        {{ 'manageAgent.nickname' | translate }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'manageAgent.name' | translate }} </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'h-bg': element?.show_header}">
                                    <span *ngIf="!element.show_header">
                                        {{ element.member.name }}
                                    </span>

                                    <span *ngIf="element.show_header">
                                        {{ 'manageAgent.name' | translate }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="account">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'manageAgent.account' | translate }} </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'h-bg': element?.show_header}">
                                    <ng-container *ngIf="!element.show_header">
                                        <span *ngIf="loginUserIsAgent||isSpecify">{{ element.member.account }}</span>
                                        <a *ngIf="!loginUserIsAgent&&!isSpecify"
                                            [routerLink]="['/member-edit', element.member.id]">
                                            {{ element.member.account }}
                                        </a>
                                    </ng-container>

                                    <span *ngIf="element.show_header">
                                        {{ 'manageAgent.account' | translate }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="total_amount">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'report.totalAmount' | translate }} </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'h-bg': element?.show_header}">
                                    <span *ngIf="!element.show_header">
                                        {{ element.total_amount }}
                                    </span>

                                    <span *ngIf="element.show_header">
                                        {{ 'report.totalAmount' | translate }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="active_total_amount">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'report.activeTotalAmount' | translate }} </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'h-bg': element?.show_header}">
                                    <span *ngIf="!element.show_header">
                                        {{ element.active_total_amount }}
                                    </span>

                                    <span *ngIf="element.show_header">
                                        {{ 'report.activeTotalAmount' | translate }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="number_of_game">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'report.numberOfGame' | translate }} </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'h-bg': element?.show_header}">
                                    <span *ngIf="!element.show_header">
                                        {{ element.number_of_game }}
                                    </span>
                                    <span *ngIf="element.show_header">
                                        {{ 'report.numberOfGame' | translate }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="game_result_amount">
                                <th mat-header-cell *matHeaderCellDef>
                                    結果 </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'h-bg': element?.show_header}">
                                    <span *ngIf="!element.show_header"
                                        [class]="changeColor(element.game_result_amount)">
                                        {{ element.game_result_amount }}
                                    </span>

                                    <span *ngIf="element.show_header">
                                        結果
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="wash_code_commission_percent">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'manageAgent.washCode' | translate }}% </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'h-bg': element?.show_header}">
                                    <span *ngIf="!element.show_header">
                                        {{ element.wash_code_commission_percent }}
                                    </span>

                                    <span *ngIf="element.show_header">
                                        {{ 'manageAgent.washCode' | translate }}%
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="wash_code_commission">
                                <th mat-header-cell *matHeaderCellDef>
                                    退佣 </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'h-bg': element?.show_header}">
                                    <span *ngIf="!element.show_header">
                                        {{ element.wash_code_commission | fixed }}
                                    </span>

                                    <span *ngIf="element.show_header">
                                        退佣
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="total_donate">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'report.totalDonate' | translate }} </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'h-bg': element?.show_header}">
                                    <span *ngIf="!element.show_header">
                                        {{ element.total_donate }}
                                    </span>

                                    <span *ngIf="element.show_header">
                                        {{ 'report.totalDonate' | translate }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="settlement_amount">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'report.settlementAmount' | translate }} </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'h-bg': element?.show_header}">
                                    <span *ngIf="!element.show_header" [class]="changeColor(element.settlement_amount)">
                                        {{ element.settlement_amount | fixed }}
                                    </span>
                                    <span *ngIf="element.show_header">
                                        {{ 'report.settlementAmount' | translate }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="views">
                                <th mat-header-cell *matHeaderCellDef>
                                    記錄
                                </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'h-bg': element?.show_header}">
                                    <button class="btn btn-sm btn-golden" *ngIf="!element.show_header"
                                        (click)="openMemberReocrdModal(element)">
                                        記錄
                                    </button>
                                    <span *ngIf="element.show_header">
                                        記錄
                                    </span>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumnsByMember;"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsByMember;"
                                (click)="showHeader(row, true)"></tr>
                        </table>
                        <div *ngIf="loaded&&!dataSourceOfMember.data.length" class="text-center m-3">
                            {{ 'common.noData' | translate }}</div>
                        <div *ngIf="!loaded" class="text-center my-5">
                            <app-spinner></app-spinner>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>