th.mat-header-cell,
.mat-table tr td {
    text-align: center;
}

.settlement {
    color: #474747;
    font-size: 16px;

    .text-success {
        color: #267842 !important;
    }

    &.baccarat {
        .text-success {
            color: #65e791 !important;
        }

        .text-danger {
            color: #124f83 !important;
        }
    }
}

svg {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}