<div class="alert-box">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{ message }}
    </div>
    <div class="modal-footer">
        <button *ngIf="showCancel" type="button" class="btn" (click)="onCancel()">取消</button>
        <button type="button" class="btn btn-secondary" (click)="onConfirm()">確定</button>
    </div>
</div>