<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> {{ 'nav.renewDrawRecord' | translate }}
                </div>
                <div class="card-body">
                    <app-renew-draw-result-record></app-renew-draw-result-record>
                </div>
            </div>
        </div>
    </div>
</div>