<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i>{{ 'gameSetting'|translate }}
                </div>
                <div class="card-body">
                    <mat-tab-group [(selectedIndex)]="tabIndex">
                        <mat-tab label="{{ 'gameSetting'|translate }}">
                            <div *ngIf="currentGameType && currentSysSetting" class="col-md-12 mt-3">

                                <ng-container *ngIf="loginIdentity === UserRole.admin">
                                    <div class="form-group row">
                                        <label class="col-md-2 text-sm-right col-form-label" for="game-type">
                                            {{ 'gameType'|translate }}
                                        </label>
                                        <div class="col-md-5">
                                            <select class="form-control" [(ngModel)]="defaultGameTypeID"
                                                (change)="onGameTypeChanged($event.target.value)">
                                                <option *ngFor="let t of gameTypes" [value]="t.id" [disabled]="t.id==3">
                                                    {{ getTranslatedGameName(t.en_name) }}
                                                </option>
                                            </select>
                                        </div>
                                        <div *ngIf="currentGameType.id!=GameTypeEnum.GameTypeBaccarat"
                                            class="col-md-5 d-flex align-items-center">
                                            <!-- <span class="mr-1">
                                                {{ 'currentGameMode'|translate }}:
                                                {{ currentGameType.mode === 0 ? ('manual'|translate) :
                                                ('auto'|translate)}}
                                            </span> -->
                                            <!-- <button appDebounceClick (debounceClick)="setGameAuto()"
                                                class="btn btn-sm btn-info mr-1">
                                                {{ 'autoMode' | translate }}
                                            </button> -->
                                            <!-- <button appDebounceClick (debounceClick)="setGameManual()"
                                                class="btn btn-sm btn-dark mr-1">
                                                {{ 'manualMode' | translate }}
                                            </button> -->
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-2 text-sm-right col-form-label">
                                            {{ 'drawSeconds'|translate }}
                                        </label>
                                        <div class="col-md-5">
                                            <input #drawSeconds [(ngModel)]="currentSysSetting.draw_seconds" type="text"
                                                class="form-control"
                                                placeholder="{{ 'pleaseInputNumber' | translate }}">
                                        </div>
                                        <div class="col-md-5 d-flex align-items-center">
                                            <app-loading *ngIf="gameCreating"></app-loading>
                                            <button [disabled]="!currentGameType.status" *ngIf="!gameCreating"
                                                appDebounceClick (debounceClick)="newGame()"
                                                class="btn btn-sm btn-success mr-1">
                                                {{ 'openNewGame'|translate }}
                                            </button>
                                            <button [disabled]="!currentGameType.status" appDebounceClick
                                                (debounceClick)="invalidDrawResult()"
                                                class="btn btn-sm btn-danger mr-1">
                                                {{ 'invalidDrawResult'|translate }}
                                            </button>
                                            <button appDebounceClick
                                                (debounceClick)="updateDrawSeconds(drawSeconds.value)"
                                                class="btn btn-sm btn-golden mr-1">
                                                {{ 'updateDrawSeconds'|translate }}
                                            </button>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-2 text-sm-right col-form-label">
                                            {{ 'drawResult'|translate }}
                                        </label>
                                        <div class="col-md-5">
                                            <input #drawResult class="form-control" type="text" maxlength="4"
                                                [hidden]="1" placeholder="請輸入4位數字">

                                            <app-baccarat-croupier #baccaratCroupier
                                                [hidden]="currentGameType.id!=GameTypeEnum.GameTypeBaccarat">
                                            </app-baccarat-croupier>

                                            <app-dragon-tiger-croupier #dragonTigerCroupier
                                                [hidden]="currentGameType.id!=GameTypeEnum.GameTypeDragonTiger">
                                            </app-dragon-tiger-croupier>
                                        </div>
                                        <div class="col-md-5 d-flex align-items-center">
                                            <button [disabled]="!currentGameType.status" appDebounceClick
                                                (debounceClick)="updateDrawResult(drawResult.value)"
                                                class="btn btn-sm btn-golden mr-1">
                                                {{ 'updateDrawResult'|translate }}
                                            </button>
                                        </div>
                                    </div>

                                    <!-- <div class="form-group row">
                                        <label class="col-md-2 text-sm-right col-form-label">
                                            {{ 'gameTime' | translate }}
                                        </label>
                                        <div class="col-md-5">
                                            <input cols="30" [(ngModel)]="currentGameType.time_to_open" type="time"
                                                class="form-control"
                                                placeholder="{{ 'enterTimeToMarket' | translate }}" />
                                        </div>
                                        <div class="col-md-5 d-flex align-items-center">
                                            <button class="btn btn-sm bg-primary" appDebounceClick
                                                (debounceClick)="updateGameTypeTime()">
                                                {{ 'updateGameTime' | translate }}
                                            </button>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-2 text-sm-right col-form-label">
                                            {{ 'closeTime' | translate }}
                                        </label>
                                        <div class="col-md-5">
                                            <input cols="30" [(ngModel)]="currentGameType.time_to_close" type="time"
                                                class="form-control"
                                                placeholder="{{ 'enterTimeToMarket' | translate }}" />
                                        </div>
                                        <div class="col-md-5 d-flex align-items-center">
                                            <button class="btn btn-sm bg-primary" appDebounceClick
                                                (debounceClick)="updateGameTypeTime()">
                                                {{ 'updateCloseTime' | translate }}
                                            </button>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-2 text-sm-right col-form-label">
                                            {{ 'openWeek' | translate }}
                                        </label>
                                        <div class="col-md-5">
                                            <span class="mr-3 d-inline-block" *ngFor="let item of Weeks">
                                                <input [id]="item" [value]="item" type="checkbox"
                                                    [checked]="isOpenWeekChecked(item)"
                                                    (change)="onDayClick($event.target.checked, item)">
                                                <label [for]="item" class="col-form-label">
                                                    {{ getTranslatedWeek(item) }}
                                                </label>
                                            </span>
                                        </div>
                                        <div class="col-md-5 d-flex align-items-center">
                                            <button class="btn btn-sm bg-primary" appDebounceClick
                                                (debounceClick)="updateOpenWeek()">
                                                {{ 'updateOpenWeek' | translate }}
                                            </button>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-2 text-sm-right col-form-label">
                                            {{ 'restGameMin'|translate }}
                                        </label>
                                        <div class="col-md-5">
                                            <input #restGameMin [(ngModel)]="currentGameType.rest_min" type="text"
                                                class="form-control"
                                                placeholder="{{ 'pleaseInputNumber' | translate }}">
                                        </div>
                                        <div class="col-md-5 d-flex align-items-center">
                                            <button class="btn btn-sm bg-primary" appDebounceClick
                                                (debounceClick)="updateGameTypeTime()">
                                                {{ 'updateRestGameMin' | translate }}
                                            </button>
                                        </div>
                                    </div> -->
                                    <form [formGroup]="form">
                                        <div class="form-group row mt-3">
                                            <label class="col-md-2 col-form-label text-sm-right" for="date-input">
                                                中場休息
                                            </label>
                                            <div class="col-md-5 row px-4">
                                                <label class="switch switch-3d switch-primary mr-3 my-auto">
                                                    <input [(ngModel)]="currentGameType.break_status"
                                                        [ngModelOptions]="{standalone: true}" class="switch-input"
                                                        type="checkbox" [disabled]="currentGameType.rest_status"
                                                        (change)="updateBreakGameStatus($event.target.checked)">
                                                    <span class="switch-slider"></span>
                                                </label>

                                                <div class="col row pr-0">
                                                    <label class="text-md-right col-form-label">
                                                        休息提示
                                                    </label>
                                                    <div class="col pr-0">
                                                        <input formControlName="break_game_tips"
                                                            [ngClass]="{'is-invalid': isFormCtrlInvalid(form.get('break_game_tips'))}"
                                                            type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row mt-3">
                                            <label class="col-md-2 col-form-label text-sm-right" for="date-input">
                                                遊戲休息
                                            </label>
                                            <div class="col-md-5 row px-4">
                                                <label class="switch switch-3d switch-primary mr-3 my-auto">
                                                    <input [(ngModel)]="currentGameType.rest_status"
                                                        [ngModelOptions]="{standalone: true}" class="switch-input"
                                                        type="checkbox" [disabled]="currentGameType.break_status"
                                                        (change)="updateRestGameStatus($event.target.checked)">
                                                    <span class="switch-slider"></span>
                                                </label>

                                                <div class="col row pr-0">
                                                    <label class="text-md-right col-form-label">
                                                        休息提示
                                                    </label>
                                                    <div class="col pr-0">
                                                        <input formControlName="rest_game_tips"
                                                            [ngClass]="{'is-invalid': isFormCtrlInvalid(form.get('rest_game_tips'))}"
                                                            type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </ng-container>

                                <div class="form-group mt-3">
                                    <div class="row">
                                        <label class="col-md-2 col-form-label text-sm-right" for="date-input">
                                            {{ 'manageAgent.gameStatus' | translate }}
                                        </label>
                                        <div class="col-md-5 row px-4">
                                            <label class="switch switch-3d switch-primary mr-3 my-auto">
                                                <input [(ngModel)]="currentGameType.status"
                                                    (change)="updateGameTypeStatus($event.target.checked)"
                                                    type="checkbox" class="switch-input">
                                                <span class="switch-slider"></span>
                                            </label>
                                            <!-- <ng-container *ngIf="loginIdentity === UserRole.admin">
                                                <div class="mr-3">
                                                    <button class="btn btn-pill btn-secondary ml-1" appDebounceClick
                                                        (debounceClick)="restartLive(1)">
                                                        {{ 'restartStream' | translate: { index:1 } }}
                                                    </button>
                                                    <div class="text-center">{{ liveRemainingTime1 | async }}</div>
                                                </div>
                                                <div>
                                                    <button class="btn btn-pill btn-secondary ml-1" appDebounceClick
                                                        (debounceClick)="restartLive(2)">
                                                        {{ 'restartStream' | translate: { index:2 } }}
                                                    </button>
                                                    <div class="text-center">{{ liveRemainingTime2 | async }}</div>
                                                </div>
                                            </ng-container> -->
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-10 text-danger offset-md-2">
                                        <h4>{{ 'restartStreamAttention' | translate }}</h4>
                                    </div> -->

                                </div>

                                <div class="form-group text-center mt-5">
                                    <button class="btn bg-primary px-5" appDebounceClick
                                        (debounceClick)="updateSysSetting()">{{ 'common.update'|translate
                                        }}</button>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab *ngIf="loginIdentity === UserRole.admin"
                            label="{{ 'common.dataSetting' | translate }}">
                            <app-game-type-intro *ngIf="tabIndex==1"></app-game-type-intro>
                        </mat-tab>
                        <!-- <mat-tab label="{{ 'lotteryCorrection' | translate }}">
                            <app-game-type-renew></app-game-type-renew>
                        </mat-tab> -->
                        <!-- <mat-tab *ngIf="loginIdentity === UserRole.admin" label="{{ 'oddsSetting' | translate }}">
                            <app-odds-setting></app-odds-setting>
                        </mat-tab> -->
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>