<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i>
                    {{ 'report.totalAmount' | translate }}
                    <span>
                        {{ 'searching.gameNumber' | translate }}
                    </span>
                    <span style="color:#e1b137;">
                        {{ lastGamePlay?.game_number }}
                    </span>
                    <ng-container *ngIf="trackMember">
                        <span class="mx-3">{{ 'manageAgent.nickname' | translate }} {{ trackMember.nickname }}</span>
                        <button class="btn btn-sm btn-golden" (click)="cancelTrackMember()">
                            {{ 'common.allMember' | translate }}
                        </button>
                    </ng-container>
                </div>
                <div class="card-body">
                    <form [formGroup]="myForm" [hidden]="gameTypeID!=GameTypeEnum.GameTypeSicBo">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td colspan="2" [formGroup]="myForm.get('1')">
                                        <span>
                                            <small>11~17</small>
                                            <br>
                                            <br>
                                            <span class="title">{{ 'bet.Big' | translate }}</span>
                                        </span>
                                        <div class="row">
                                            <div class="mx-auto">
                                                <div class="highColor">
                                                    {{ getValue('1','amount') }}
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td colspan="2" rowspan="2" [formGroup]="myForm.get('17')">
                                        <span class="title">{{ 'bet.AnyTriple' | translate }}</span>
                                        <div class="row mt-md-5">
                                            <div class="mx-auto">
                                                <div class="highColor">
                                                    {{ getValue('17','amount') }}
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td colspan="2" [formGroup]="myForm.get('2')">
                                        <span>
                                            <small>4~10</small>
                                            <br>
                                            <br>
                                            <span class="title">{{ 'bet.Small' | translate }}</span>
                                        </span>
                                        <div class="row">
                                            <div class="mx-auto">
                                                <div class="highColor">
                                                    {{ getValue('2','amount') }}
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" [formGroup]="myForm.get('3')">
                                        <span class="title">{{ 'bet.Odd' | translate }}</span>
                                        <div class="row">
                                            <div class="mx-auto">
                                                <div class="highColor">
                                                    {{ getValue('3','amount') }}
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td colspan="2" [formGroup]="myForm.get('4')">
                                        <span class="title">{{ 'bet.Even' | translate }}</span>
                                        <div class="row">
                                            <div class="mx-auto">
                                                <div class="highColor">
                                                    {{ getValue('4','amount') }}
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td [formGroup]="myForm.get('5')">
                                        <p>
                                            <img src="../../../assets/img/brand/img_dice_one.png" alt="">
                                            <img src="../../../assets/img/brand/img_dice_one.png" alt="">
                                        </p>
                                        <div class="row">
                                            <div class="mx-auto">
                                                <div class="highColor">
                                                    {{ getValue('5','amount') }}
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td [formGroup]="myForm.get('6')">
                                        <p>
                                            <img src="../../../assets/img/brand/icon_full_screen (3).png" alt="">
                                            <img src="../../../assets/img/brand/icon_full_screen (3).png" alt="">
                                        </p>
                                        <div class="row">
                                            <div class="mx-auto">
                                                <div class="highColor">
                                                    {{ getValue('6','amount') }}
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td [formGroup]="myForm.get('7')">
                                        <p>
                                            <img src="../../../assets/img/brand/img_dice_three.png" alt="">
                                            <img src="../../../assets/img/brand/img_dice_three.png" alt="">
                                        </p>
                                        <div class="row">
                                            <div class="mx-auto">
                                                <div class="highColor">
                                                    {{ getValue('7','amount') }}
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td [formGroup]="myForm.get('8')">
                                        <p>
                                            <img src="../../../assets/img/brand/img_dice_four.png" alt="">
                                            <img src="../../../assets/img/brand/img_dice_four.png" alt="">
                                        </p>
                                        <div class="row">
                                            <div class="mx-auto">
                                                <div class="highColor">
                                                    {{ getValue('8','amount') }}
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td [formGroup]="myForm.get('9')">
                                        <p>
                                            <img src="../../../assets/img/brand/icon_full_screen (2).png" alt="">
                                            <img src="../../../assets/img/brand/icon_full_screen (2).png" alt="">
                                        </p>
                                        <div class="row">
                                            <div class="mx-auto">
                                                <div class="highColor">
                                                    {{ getValue('9','amount') }}
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td [formGroup]="myForm.get('10')">
                                        <p>
                                            <img src="../../../assets/img/brand/img_dice_six.png" alt="">
                                            <img src="../../../assets/img/brand/img_dice_six.png" alt="">
                                        </p>
                                        <div class="row">
                                            <div class="mx-auto">
                                                <div class="highColor">
                                                    {{ getValue('10','amount') }}
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr> -->
                                <tr>
                                    <td [formGroup]="myForm.get('11')">
                                        <p>
                                            <img src="../../../assets/img/brand/img_dice_one.png" alt="">
                                        </p>
                                        <div class="row">
                                            <div class="mx-auto">
                                                <div class="highColor">
                                                    {{ getValue('11','amount') }}
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td [formGroup]="myForm.get('12')">
                                        <p>
                                            <img src="../../../assets/img/brand/icon_full_screen (3).png" alt="">
                                        </p>
                                        <div class="row">
                                            <div class="mx-auto">
                                                <div class="highColor">
                                                    {{ getValue('12','amount') }}
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td [formGroup]="myForm.get('13')">
                                        <p>
                                            <img src="../../../assets/img/brand/img_dice_three.png" alt="">
                                        </p>
                                        <div class="row">
                                            <div class="mx-auto">
                                                <div class="highColor">
                                                    {{ getValue('13','amount') }}
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td [formGroup]="myForm.get('14')">
                                        <p>
                                            <img src="../../../assets/img/brand/img_dice_four.png" alt="">
                                        </p>
                                        <div class="row">
                                            <div class="mx-auto">
                                                <div class="highColor">
                                                    {{ getValue('14','amount') }}
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td [formGroup]="myForm.get('15')">
                                        <p>
                                            <img src="../../../assets/img/brand/icon_full_screen (2).png" alt="">
                                        </p>
                                        <div class="row">
                                            <div class="mx-auto">
                                                <div class="highColor">
                                                    {{ getValue('15','amount') }}
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td [formGroup]="myForm.get('16')">
                                        <p>
                                            <img src="../../../assets/img/brand/img_dice_six.png" alt="">
                                        </p>
                                        <div class="row">
                                            <div class="mx-auto">
                                                <div class="highColor">
                                                    {{ getValue('16','amount') }}
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                    <app-baccarat-panel #baccaratPanel [hidden]="gameTypeID!=GameTypeEnum.GameTypeBaccarat">
                    </app-baccarat-panel>
                </div>
            </div>
        </div>
    </div>
</div>