img {
    max-width: 45px;
    width: 42%;
}

form table {
    /* background-color: #ffe8a700; */
    background-color: #272727;
    color: white;
}

form table td {
    font-weight: bolder;
    text-align: center;
}

form table input {
    text-align: center;
    max-width: 100px;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
}

.highColor {
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0) !important;
}

.table-striped tbody tr:hover {
    background-color: #ffe8a700 !important;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: #FFFF00;
}

small {
    font-size: 16px;
}