.panel {
    background: linear-gradient(#5d5d5d, #616161, #2a2a2a);
}

.header {
    font-size: xx-large;
    font-weight: bold;
}

.box {
    text-shadow: 1px 3px 3px #3c3c3c;
    border: 1px solid #b1b1b1;
    font-size: x-large;
    font-weight: bold;
    height: 130px;
}

.box input {
    font-size: x-large;
    width: 100px;
}

.blue {
    color: #1596e7;
}

.red {
    color: #e74445;
}

.green {
    color: #49c03a;
}

.yellow {
    color: #ffe4a3;
}

.poker {
    width: 30px;
    height: 30px;
    opacity: 0.1;
    cursor: pointer;
    background-size: 65px;
    background-repeat: no-repeat;
    background-image: url("assets/img/brand/poker_suits.png");
}

.poker:hover {
    opacity: 0.5;
}

.poker.active {
    opacity: 1;
}

.spades {
    background-position: -2px -2px;
}

.heart {
    background-position: -30px 0;
}

.diamond {
    background-position: -2px -32px;
}

.club {
    background-position: -30px -30px;
}

.picker {
    width: 0;
    height: 0;
    cursor: pointer;
    margin: auto 0 auto 0;
    border-style: solid;
    border-width: 10px 17.3px 10px 0;
    border-color: transparent #f9c36c transparent transparent;
}

.picker-r {
    width: 0;
    height: 0;
    cursor: pointer;
    margin: auto 0 auto 0;
    border-style: solid;
    border-width: 10px 0 10px 17.3px;
    border-color: transparent transparent transparent #f9c36c;
}

.draw {
    right: 15px;
    position: absolute;
}

.draw-active {
    background: gray;
    border-color: gray;
    color: #fff;
}

.draw-disabled span,
.draw-disabled select {
    opacity: 0.1;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

select {
    font-size: x-large;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-align-last: center;
}