<div class="header col-md-12 my-3">
    <div class="row text-center">
        <div class="col-6 blue">{{ 'poker.player' | translate }}</div>
        <div class="col-6 red">{{ 'poker.banker' | translate }}</div>
    </div>
</div>
<div class="panel">
    <form [formGroup]="form">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6" formGroupName="player">
                    <div class="row text-center">
                        <div class="col-6 p-0 box" formArrayName="0">
                            <div class="mt-3">
                                <div class="form-group row d-flex justify-content-center">
                                    <ng-container *ngFor="let item of POKER_SUITS;let i=index">
                                        <span class="poker" [ngClass]="getSuitClass(form.get('player'), 0, i)"
                                            (click)="onSuitClick(form.get('player'), 0, i)"></span>
                                    </ng-container>
                                    <!-- <span class="picker" (click)="onPickerChanged(form.get('player'), 0, false)"></span>
                                    <span class="poker mx-3" [ngClass]="getSuitClass(form.get('player'), 0)"></span>
                                    <span class="picker-r" (click)="onPickerChanged(form.get('player'), 0)"></span> -->
                                </div>
                                <div class="form-group mt-1">
                                    <select class="form-control mx-auto w-auto" formControlName="number">
                                        <option *ngFor="let item of POKER_NUMS;let i=index" [value]="i">
                                            {{ item }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 p-0 box" formArrayName="1">
                            <div class="mt-3">
                                <div class="form-group row d-flex justify-content-center">
                                    <ng-container *ngFor="let item of POKER_SUITS;let i=index">
                                        <span class="poker" [ngClass]="getSuitClass(form.get('player'), 1, i)"
                                            (click)="onSuitClick(form.get('player'), 1, i)"></span>
                                    </ng-container>
                                    <!-- <span class="picker" (click)="onPickerChanged(form.get('player'), 1, false)"></span>
                                    <span class="poker mx-3" [ngClass]="getSuitClass(form.get('player'), 1)"></span>
                                    <span class="picker-r" (click)="onPickerChanged(form.get('player'), 1)"></span> -->
                                </div>
                                <div class="form-group mt-1">
                                    <select class="form-control mx-auto w-auto" formControlName="number">
                                        <option *ngFor="let item of POKER_NUMS;let i=index" [value]="i">
                                            {{ item }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-12 box" formArrayName="2">
                            <div class="mt-3" [ngClass]="{'draw-disabled': !playerDraw}">
                                <div class="form-group row d-flex justify-content-center">
                                    <ng-container *ngFor="let item of POKER_SUITS;let i=index">
                                        <span class="poker" [ngClass]="getSuitClass(form.get('player'), 2, i)"
                                            (click)="onSuitClick(form.get('player'), 2, i)"></span>
                                    </ng-container>
                                    <!-- <span class="picker" (click)="onPickerChanged(form.get('player'), 2, false)"></span>
                                    <span class="poker mx-3" [ngClass]="getSuitClass(form.get('player'), 2)"></span>
                                    <span class="picker-r" (click)="onPickerChanged(form.get('player'), 2)"></span> -->
                                    <button class="btn btn-golden draw" (click)="playerDraw=!playerDraw"
                                        [ngClass]="{'draw-active': playerDraw}">{{ 'poker.draw' | translate }}</button>
                                </div>
                                <div class="form-group mt-1">
                                    <select class="form-control mx-auto w-auto" formControlName="number">
                                        <option *ngFor="let item of POKER_NUMS;let i=index" [value]="i">
                                            {{ item }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" formGroupName="banker">
                    <div class="row text-center">
                        <div class="col-6 p-0 box" formArrayName="0">
                            <div class="mt-3">
                                <div class="form-group row d-flex justify-content-center">
                                    <ng-container *ngFor="let item of POKER_SUITS;let i=index">
                                        <span class="poker" [ngClass]="getSuitClass(form.get('banker'), 0, i)"
                                            (click)="onSuitClick(form.get('banker'), 0, i)"></span>
                                    </ng-container>
                                    <!-- <span class="picker" (click)="onPickerChanged(form.get('banker'), 0, false)"></span>
                                    <span class="poker mx-3" [ngClass]="getSuitClass(form.get('banker'), 0)"></span>
                                    <span class="picker-r" (click)="onPickerChanged(form.get('banker'), 0)"></span> -->
                                </div>
                                <div class="form-group mt-1">
                                    <select class="form-control mx-auto w-auto" formControlName="number">
                                        <option *ngFor="let item of POKER_NUMS;let i=index" [value]="i">
                                            {{ item }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 p-0 box" formArrayName="1">
                            <div class="mt-3">
                                <div class="form-group row d-flex justify-content-center">
                                    <ng-container *ngFor="let item of POKER_SUITS;let i=index">
                                        <span class="poker" [ngClass]="getSuitClass(form.get('banker'), 1, i)"
                                            (click)="onSuitClick(form.get('banker'), 1, i)"></span>
                                    </ng-container>
                                    <!-- <span class="picker" (click)="onPickerChanged(form.get('banker'), 1, false)"></span>
                                    <span class="poker mx-3" [ngClass]="getSuitClass(form.get('banker'), 1)"></span>
                                    <span class="picker-r" (click)="onPickerChanged(form.get('banker'), 1)"></span> -->
                                </div>
                                <div class="form-group mt-1">
                                    <select class="form-control mx-auto w-auto" formControlName="number">
                                        <option *ngFor="let item of POKER_NUMS;let i=index" [value]="i">
                                            {{ item }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-12 box" formArrayName="2">
                            <div class="mt-3" [ngClass]="{'draw-disabled': !bankerDraw}">
                                <div class="form-group row d-flex justify-content-center">
                                    <ng-container *ngFor="let item of POKER_SUITS;let i=index">
                                        <span class="poker" [ngClass]="getSuitClass(form.get('banker'), 2, i)"
                                            (click)="onSuitClick(form.get('banker'), 2, i)"></span>
                                    </ng-container>
                                    <!-- <span class="picker" (click)="onPickerChanged(form.get('banker'), 2, false)"></span>
                                    <span class="poker mx-3" [ngClass]="getSuitClass(form.get('banker'), 2)"></span>
                                    <span class="picker-r" (click)="onPickerChanged(form.get('banker'), 2)"></span> -->
                                    <button class="btn btn-golden draw" (click)="bankerDraw=!bankerDraw"
                                        [ngClass]="{'draw-active': bankerDraw}">{{ 'poker.draw' | translate }}</button>
                                </div>
                                <div class="form-group mt-1">
                                    <select class="form-control mx-auto w-auto" formControlName="number">
                                        <option *ngFor="let item of POKER_NUMS;let i=index" [value]="i">
                                            {{ item }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-baccarat-poker-result *ngIf="useAI" [drawResult]="AI_DETECT" [aiDetect]="true" [className]="'ai-detect'">
        </app-baccarat-poker-result>
    </form>
</div>