<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> 即時下注
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table #sortByAgent="matSort" class="col-md-12 table-striped" mat-table matSort
                            [dataSource]="dataSource" matSortActive="created_at" matSortDirection="desc">

                            <ng-container matColumnDef="game_number">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 遊戲局號 </th>
                                <td mat-cell *matCellDef="let element">
                                    <span>
                                        {{ element.game_number }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="game_types_id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 遊戲類型 </th>
                                <td mat-cell *matCellDef="let element">
                                    <span>
                                        {{ getGameTypeName(element.game_types_id) }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="item_types_id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 項目類型 </th>
                                <td mat-cell *matCellDef="let element">
                                    <span>
                                        {{ getItemTypeName(element.item_types_id) }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 動作 </th>
                                <td mat-cell *matCellDef="let element">
                                    <span>
                                        {{ getGameActionTypeByID(element.action) }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="amount">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 下注金額 </th>
                                <td mat-cell *matCellDef="let element">
                                    <span>
                                        {{ element.amount }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="members_id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 會員 </th>
                                <td mat-cell *matCellDef="let element">
                                    <span>
                                        {{ getMemberName(element.members_id) }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="members_account">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 帳號 </th>
                                <td mat-cell *matCellDef="let element">
                                    <span>
                                        {{ getMemberAccount(element.members_id) }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="created_at">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 下注時間 </th>
                                <td mat-cell *matCellDef="let element">
                                    <span>
                                        {{ element.created_at | date: 'yyyy-MM-dd HH:ss:mm'}}
                                    </span>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <div *ngIf="!dataSource.data.length" class="text-center m-3">目前沒有資料</div>
                        <div *ngIf="!data" class="text-center my-5">
                            <div class="lds-roller">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> 遊戲中會員
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table #sortByAgent="matSort" class="col-md-12 table-striped" mat-table matSort
                            [dataSource]="memberPlayDataSource" matSortActive="created_at" matSortDirection="desc">

                            <ng-container matColumnDef="account">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 帳戶 </th>
                                <td mat-cell *matCellDef="let element">
                                    <span>
                                        {{ element.account }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="is_allow_play">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 遊戲狀態 </th>
                                <td mat-cell *matCellDef="let element" class="text-center">
                                    <span *ngIf="element.is_allow_play === Status.Active"
                                        class="badge badge-success">啟用</span>
                                    <span *ngIf="element.is_allow_play === Status.InActive"
                                        class="badge badge-danger">停用</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="function">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 遊戲帳號設置 </th>
                                <td mat-cell *matCellDef="let element">
                                    <button title="{{ getAllowGameStatus(element.is_allow_play) }}"
                                        [ngClass]="changeBtnColor(element.is_allow_play)"
                                        class="btn btn-sm ml-1 d-flex justify-content-center game-status" type="button"
                                        (click)="allowGameToggle(element.id, element.is_allow_play)">
                                        <span class="badge"
                                            *ngIf="element.is_allow_play==Status.Active">停用</span>
                                        <span class="badge"
                                            *ngIf="element.is_allow_play==Status.InActive">啟用</span>
                                    </button>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="modal">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 查看 </th>
                                <td mat-cell *matCellDef="let element">
                                    <button type="button" class="btn btn-sm btn-golden" (click)="openModal(template, element)">
                                        <span class="badge">查看</span>
                                    </button>
                                </td>
                            </ng-container>
                            
                            <tr mat-header-row *matHeaderRowDef="memberDisplayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: memberDisplayedColumns;"></tr>
                        </table>
                        <div *ngIf="!memberPlayDataSource.data.length" class="text-center m-3">目前沒有資料</div>
                        <div *ngIf="!data" class="text-center my-5">
                            <div class="lds-roller">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>

<!-- <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">會員即時押注 <span class="ml-2" style="color:#e1b137;">會員暱稱{{ memberName }}</span> </h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table #sortByAgent="matSort" class="col-md-12 table-striped" mat-table matSort
                [dataSource]="memberBetDataSource" matSortActive="created_at" matSortDirection="desc">

                <ng-container matColumnDef="game_types_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> 遊戲類型 </th>
                    <td mat-cell *matCellDef="let element">
                        <span>
                            {{ getGameTypeName(element.game_types_id) }}
                        </span>
                    </td>
                </ng-container>   
                
                <ng-container matColumnDef="game_number">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> 遊戲局號 </th>
                    <td mat-cell *matCellDef="let element">
                        <span>
                            {{ element.game_number }}
                        </span>
                    </td>
                </ng-container>  

                <ng-container matColumnDef="item_types_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> 項目類型 </th>
                    <td mat-cell *matCellDef="let element">
                        <span>
                            {{ getItemTypeName(element.item_types_id) }}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> 動作 </th>
                    <td mat-cell *matCellDef="let element">
                        <span>
                            {{ getGameActionTypeByID(element.action) }}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> 下注金額 </th>
                    <td mat-cell *matCellDef="let element">
                        <span>
                            {{ element.amount }}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="created_at">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> 下注時間 </th>
                    <td mat-cell *matCellDef="let element">
                        <span>
                            {{ element.created_at | date:'yyyy-MM-dd HH:mm:ss'}}
                        </span>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="memberBetDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: memberBetDisplayedColumns;"></tr>
            </table>
            <div *ngIf="!memberBetDataSource.data.length" class="text-center m-3">目前沒有資料</div>
            <div *ngIf="!Member" class="text-center my-5">
                <div class="lds-roller">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-danger d-flex align-items-center"><i
            class="cui-circle-x icons font-l d-block" (click)="kickMember()"></i>踢出</button>
    </div>
</ng-template> -->