<div class="modal-header">
    <h4 class="modal-title pull-left mb-0">
        {{ 'common.searchRecord' | translate }} ({{ member.nickname }})
        <br>
        <span class="text-danger">注意:檢視資料保留24小時</span>
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div [hidden]="memberBetRecord?.dataSourceOfBet.data.length" class="table-responsive col-md-12">
        <table class="table-striped col-md-12" mat-table matSort [dataSource]="dataSource" matSortActive="closing_date"
            matSortDirection="desc">

            <ng-container matColumnDef="closing_date">
                <th mat-header-cell *matHeaderCellDef>
                    日期 </th>
                <td mat-cell *matCellDef="let element">
                    <span>
                        {{ element.closing_date | date: 'yyyy-MM-dd' }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="members_id">
                <th mat-header-cell *matHeaderCellDef>
                    {{ 'manageAgent.name' | translate }} </th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="member">
                        {{ member.name }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="account">
                <th mat-header-cell *matHeaderCellDef>
                    {{ 'manageAgent.account' | translate }} </th>
                <td mat-cell *matCellDef="let element">
                    <span>
                        {{ element.account }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="total_amount">
                <th mat-header-cell *matHeaderCellDef>
                    {{ 'report.totalAmount' | translate }} </th>
                <td mat-cell *matCellDef="let element">
                    <span>
                        {{ element.total_amount }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="active_total_amount">
                <th mat-header-cell *matHeaderCellDef>
                    {{ 'report.activeTotalAmount' | translate }} </th>
                <td mat-cell *matCellDef="let element">
                    <span>
                        {{ element.active_total_amount }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="number_of_game">
                <th mat-header-cell *matHeaderCellDef>
                    {{ 'report.numberOfGame' | translate }} </th>
                <td mat-cell *matCellDef="let element">
                    <span> {{ element.number_of_game }} </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="game_result_amount">
                <th mat-header-cell *matHeaderCellDef>
                    {{ 'report.gameResultAmount' | translate }} </th>
                <td mat-cell *matCellDef="let element">
                    <span [class]="changeColor(element.game_result_amount)">
                        {{ element.game_result_amount }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="wash_code_commission_percent">
                <th mat-header-cell *matHeaderCellDef>
                    {{ 'manageAgent.washCode' | translate }}% </th>
                <td mat-cell *matCellDef="let element">
                    <span>
                        {{ element.wash_code_commission_percent }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="wash_code_commission">
                <th mat-header-cell *matHeaderCellDef>
                    {{ 'manageAgent.form.washCode' | translate }} </th>
                <td mat-cell *matCellDef="let element">
                    <span class="text-success">
                        {{ element.wash_code_commission }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="total_donate">
                <th mat-header-cell *matHeaderCellDef>
                    {{ 'report.totalDonate' | translate }} </th>
                <td mat-cell *matCellDef="let element">
                    <span class="text-danger">
                        {{ element.total_donate }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="settlement_amount">
                <th mat-header-cell *matHeaderCellDef>
                    {{ 'report.settlementAmount' | translate }} </th>
                <td mat-cell *matCellDef="let element">
                    <span [class]="changeColor(element.settlement_amount)">
                        {{ element.settlement_amount }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="detail">
                <th mat-header-cell *matHeaderCellDef>
                    {{ 'common.view' | translate }} </th>
                <td mat-cell *matCellDef="let element">
                    <button *ngIf="checkTodayIsBeforeDays(element.closing_date)" class="btn btn-sm btn-golden"
                        (click)="openMemberBetRecord(element)">
                        {{ 'common.view' | translate }}
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div *ngIf="!dataSource.data.length" class="text-center m-3">
            {{ 'common.noData' | translate }}</div>
    </div>
    <!-- <button *ngIf="betRecord" class="btn btn-golden-outline pull-right mb-3" (click)="betRecord = null">
        <span style="font-size: 1.5rem;">&times;</span>
    </button> -->
    <app-member-bet-record #memberBetRecord [hidden]="!betRecord" [closingDate]="closingDate" [member]="member"
        [gameTypeID]="gameTypeID" [betRecord]="betRecord" (close)="betRecord = null">
    </app-member-bet-record>

</div>