// Here you can add other styles
$main:#aaa;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400&display=swap');

body {
  * {
    // font-family: 'Noto Sans TC','Microsoft JhengHei','PingFang','Arial','Helvetica', serif;
    font-family: 'Microsoft JhengHei', 'Noto Sans TC', 'PingFang', 'Arial', 'Helvetica', serif;
  }
}


// :host ::ng-deep {
.ng2-smart-pagination {

  .page-link-next,
  .page-link-prev {
    font-size: 14px !important;
  }
}

// }

.mat-cell,
.mat-header-cell {
  white-space: nowrap;
}

td.mat-cell,
td.mat-header-cell {
  padding: 0 5px !important;
  // text-align: center;
}

th.mat-header-cell {
  padding: 5px !important;
  font-size: 14px;
}

.card-header {

  .user-info {
    @media screen and (max-width:414px) {
      width: 50%;
      display: flex;
      flex-direction: column;
    }
  }

  .btn-group {
    @media screen and (max-width:414px) {}
  }

  .result {
    span {
      margin: 0 7px;
    }
  }
}

.pagination>li {
  cursor: pointer;
}

.ck-editor__editable_inline {
  min-height: 300px;
}

// .col-form-label{
//     text-align: right !important;
// }

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #20a8d8;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// sidebar menu indent
.sidebar .nav-dropdown {
  .nav-item {
    .nav-link {
      padding-left: 2.8rem !important;
    }
  }
}

//d3 tree
.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

// sidebar控制
.sidebar {
  background-color: #2B2B2B;

  .nav-title {
    padding: 0.3rem 1rem;
    font-weight: 500;
  }

  .sidebar-minimizer {
    background-color: rgba(0, 0, 0, 0);
  }


  .nav-link {
    padding: 0.3rem 1rem;

    &.active {
      background-color: #3a6ec1 !important;
      // color: #000;

      // i {
      //   color: #000 !important;
      // }
    }

    i {
      color: #fff !important;
    }

    &:hover {
      background-color: #3a6ec1b4;
      // color: #000;

      // i {
      //   color: #000 !important;
      // }

      // color: #B15BFF;
    }
  }
}

.sidebar-minimized .sidebar {
  .nav-item {
    &:hover {
      .nav-link {
        background-color: #6C6C6C;
      }
    }
  }
}

.navbar-toggler {
  &:last-of-type {
    display: none;
  }
}

.info {
  background-color: #000;
  padding: 10px 15px;

  li {
    text-align: center;

    svg {
      fill: #fff;
      padding-right: 3px;
    }

    .credit {
      color: #8F8F8F;
      padding-right: 3px;
    }

    .credit-number {
      color: #FF0000;
    }

    .balance {
      color: #8F8F8F;
      padding-right: 3px;
    }

    .balance-number {
      color: #00FF11;
    }
  }
}

.nav-item {
  margin: 0 5px !important;
}

.gaming {
  margin-right: 10px;
  display: flex;
  align-items: center;

  @media screen and (max-width:768px) {
    margin-right: 5px;
  }

  .in-game {
    margin: 0 5px;
    font-weight: bolder;
    color: #3333ff;

    @media screen and(max-width:768px) {
      margin: 2px;
    }
  }

  .in-hall {
    margin: 0 5px;
    font-weight: bolder;
    color: #ff3333;

    @media screen and(max-width:768px) {
      margin: 2px;
    }
  }
}

.text-muted {
  margin: 0 5px;

  @media screen and (max-width:768px) {
    margin-right: 3px;
  }
}

.main {
  margin-top: 25px;
}

.template-modal {
  overflow-x: scroll;
  height: 600px;
}

.logout {
  &:hover svg {
    fill: #000;
    transition: .3s;
  }

  svg {
    fill: #c8ced3;
  }
}

table {
  tbody {
    tr {
      td {
        border: 1px solid #ccc;
      }

      &:hover {
        background-color: #D4E1FE !important;
      }
    }
  }

  .mat-column-InGameAccount {
    color: #00f;
    cursor: pointer;

    &:hover {
      span {
        border-bottom: 1px solid #00f;
      }
    }
  }

  .mat-column-name {
    width: 7%;
  }

  .mat-column-draw_result {
    width: 7%;
  }
}

.default {
  overflow: hidden;
}

.card-body {
  padding: 0.5rem;

  .selectMonth {
    flex-wrap: wrap;
    align-items: baseline;

    .submit {
      margin-left: 10px;

      @media screen and (max-width:414px) {
        margin-left: 0;
      }
    }

    .date {
      &:last-of-type {
        @media screen and (max-width:414px) {
          margin-bottom: 10px;
        }
      }
    }

    .none {
      @media screen and (max-width:414px) {
        visibility: hidden;
      }
    }
  }

  td {
    .status-group {
      display: flex;
      align-items: center;

      .game-status {
        width: 25% !important;

        @media screen and (max-width:1600px) {
          width: 30% !important;
        }

        @media screen and (max-width:1300px) {
          width: 35% !important;
        }

        @media screen and (max-width:414px) {
          width: 40% !important;
        }
      }

      .status {
        width: 15% !important;

        @media screen and (max-width:1600px) {
          width: 20% !important;
        }

        @media screen and (max-width:1500px) {
          width: 25% !important;
        }

        @media screen and (max-width:1300px) {
          width: 25% !important;
        }

        @media screen and (max-width:1180px) {
          width: 28% !important;
        }

        @media screen and (max-width:768px) {
          width: 30% !important;
        }

        @media screen and (max-width:414px) {
          width: 40% !important;
        }

      }
    }

    .bet-status {
      display: flex;
      align-items: center;

      .status {
        width: 15%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width:414px) {
          width: 20%;
        }
      }
    }

    .result-status {
      display: flex;
      align-items: center;

      .status {
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width:1500px) {
          width: 12%;
        }

        @media screen and (max-width:1300px) {
          width: 15%;
        }

        @media screen and (max-width:1180px) {
          width: 15%;
        }

        @media screen and (max-width:414px) {
          width: 20%;
        }
      }
    }

    .betamount-status {
      display: flex;
      align-items: center;

      .status {
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width:1500px) {
          width: 12%;
        }

        @media screen and (max-width:1300px) {
          width: 15%;
        }

        @media screen and (max-width:1180px) {
          width: 15%;
        }

        @media screen and (max-width:768px) {
          width: 20%;
        }

        @media screen and (max-width:414px) {
          width: 35%;
        }
      }
    }
  }
}

.modal-body {
  .my-auto {
    text-align: center;
  }

  td {
    .status-group {
      display: flex;
      align-items: center;

      .status {
        display: flex;
        justify-content: center;
        width: 40% !important;

        @media screen and (max-width:1500px) {
          width: 35% !important;
        }

        @media screen and (max-width:1300px) {
          width: 35% !important;
        }

        @media screen and (max-width:414px) {
          width: 40% !important;
        }
      }
    }
  }
}

.card {
  margin-bottom: 1rem;
}

.navbar-brand {
  @media screen and (max-width: 768px) {
    z-index: -2;
  }
}

.app-header {
  background-color: #1b1b1b;
  border-bottom: none;

  @media screen and (max-width: 425px) {
    // height: 80px;

    .gaming {
      margin-bottom: 6px;
    }

    .navbar-nav {
      flex-direction: column;
    }
  }
}

.app-header .navbar-toggler-icon,
.app-header .navbar-toggler:hover .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23fff' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#mobilei18n {
  display: none;

  @media screen and (max-width: 500px) {
    display: block;
  }
}

#pci18n {
  @media screen and (max-width: 500px) {
    display: none;
  }
}

.mat-paginator-range-label {
  display: none !important;
}

select option:disabled {
  color: #ddd;
}

.cdk-overlay-container {
  z-index: 3000;
}

.mat-column-index {
  width: 50px;
}

.clickable {
  cursor: pointer;
  color: blue;
}

.clickable:hover {
  border-bottom: 1px solid blue;
}

.switch-label.switch-sm .switch-slider::after {
  font-size: 12px;
}

$golden:#3a6ec1;

.btn-golden {
  @include button-variant($golden, darken($golden, 7.5%), darken($golden, 10%), lighten($golden, 5%), lighten($golden, 10%), transparent);
  color: white;
}

.text-golden {
  color: #eebf16;
}

a {
  color: #2069d8;
}

.text-success {
  color: #21b64e !important;
}