<div class="animated fadeIn">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong>{{ 'common.add' | translate }}</strong>
                <!-- <ng-template #elseTmpl>
                    <strong>修改</strong>
                </ng-template> -->
            </div>
            <div class="card-body">
                <form [formGroup]="myForm" class="form-horizontal">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">{{ 'manageAgent.name' | translate
                            }}</label>
                        <div class="col-md-4">
                            <input
                                [ngClass]="{'is-invalid': myForm.controls['real_name'].errors && myForm.controls['real_name'].touched}"
                                [formControl]="myForm.controls['real_name']" type="text" class="form-control"
                                placeholder="{{ 'common.inputName' | translate }}">
                            <div class="invalid-feedback">
                                <span *ngIf="myForm.controls['real_name'].hasError('required')">
                                    {{ 'common.required' | translate }}
                                </span>
                                <span *ngIf="myForm.controls['real_name'].hasError('maxlength')">
                                    {{ 'login.form.lengthLessThan' | translate: { length: 10 } }}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">{{ 'manageAgent.account' | translate
                            }}</label>
                        <div class="col-md-4 my-auto">
                            <input
                                [ngClass]="{'is-invalid': myForm.controls['name'].errors && myForm.controls['name'].touched}"
                                [formControl]="myForm.controls['name']" type="text" class="form-control"
                                placeholder="請輸入6~12位英文及數字">
                            <div class="invalid-feedback">
                                <ng-container *ngIf="myForm.controls['name'].hasError('required')">
                                    {{ 'common.required' | translate }}
                                </ng-container>
                                <ng-container *ngIf="myForm.controls['name'].hasError('pattern')">
                                    {{ 'login.form.englishAndNumbers' | translate }}
                                </ng-container>
                                <ng-container *ngIf="myForm.controls['name'].hasError('minlength')">
                                    {{ 'login.form.lengthMustBe' | translate: { length: 6 } }}
                                </ng-container>
                                <ng-container *ngIf="myForm.controls['name'].hasError('maxlength')">
                                    {{ 'login.form.lengthLessThan' | translate: { length: 12 } }}
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">{{ 'manageAgent.password' | translate
                            }}</label>
                        <div class="form-group col-sm-4">
                            <input
                                [ngClass]="{'is-invalid': myForm.controls['password'].errors && myForm.controls['password'].touched}"
                                [formControl]="myForm.controls['password']" type="password" class="form-control"
                                placeholder="請輸入6~12位英文及數字">
                            <div class="invalid-feedback">
                                <span class="text-danger" *ngIf="myForm.controls['password'].hasError('pattern')">
                                    {{ 'login.form.englishAndNumbers' | translate }}
                                </span>
                                <span *ngIf="myForm.controls['password'].hasError('required')">
                                    {{ 'common.required' | translate }}
                                </span>
                                <span *ngIf="myForm.controls['password'].hasError('minlength')">
                                    {{ 'login.form.lengthMustBe' | translate: { length: 6 } }}
                                </span>
                                <span *ngIf="myForm.controls['password'].hasError('maxlength')">
                                    {{ 'login.form.lengthLessThan' | translate: { length: 12 } }}
                                </span>
                            </div>
                            <!-- <span class="text-danger">
                                {{ 'manageAgent.form.editWithin24Hours' | translate }}
                            </span> -->
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">{{ 'agentCredit' | translate
                            }}</label>
                        <div class="col-md-4">
                            <input
                                [ngClass]="{'is-invalid': myForm.controls['wallet'].errors && myForm.controls['wallet'].touched}"
                                [formControl]="myForm.controls['wallet']" type="number" class="form-control"
                                placeholder="{{ 'manageAgent.form.enterCredit' | translate }}">
                            <div class="invalid-feedback">
                                {{ getFormCtrlErrDesc(myForm.get('wallet')) }}
                            </div>
                            <span style="color:#eebf16">
                                {{ 'game.availableBalance' | translate }} {{ parentWallet }}
                            </span>
                        </div>
                    </div>

                    <!-- <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">退水%數</label>
                        <div class="col-md-4">
                            <input [formControl]="myForm.controls['rebate']" type="number" min="0" max="100"
                                class="form-control" placeholder="輸入退水%數">
                        </div>
                    </div> -->

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">
                            洗碼(%)
                        </label>
                        <div class="col-md-4">
                            <select class="form-control" formControlName="wash_code_commission_percent">
                                <option value="0" selected>0</option>
                                <option [value]="item" *ngFor="let item of washCodeRange"
                                    [hidden]="item > parentWashCodePercent">{{ item }}</option>
                            </select>
                            <div class="row col-md-12">
                                <div class="text-danger my-auto ml-3"
                                    *ngIf="myForm.controls['wash_code_commission_percent'].hasError('max') || myForm.controls['wash_code_commission_percent'].hasError('min')">
                                    {{ 'manageAgent.form.rangeMustBe' | translate }} 0.1 ~ 1</div>
                            </div>
                        </div>
                        <div class="invalid-feedback">
                            {{ 'common.required' | translate }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">
                            {{ 'manageAgent.form.revenueShare' | translate }}(%)
                        </label>
                        <div class="col-md-4">
                            <input #revenue
                                [ngClass]="{'is-invalid': myForm.controls['revenue_share'].errors && myForm.controls['revenue_share'].touched}"
                                list="revenueShare" class="form-control" type="text" formControlName="revenue_share"
                                placeholder="{{ 'pleaseInputNumber' | translate }}" (mousedown)="revenue.value=''"
                                (blur)="revenue.value = myForm.controls['revenue_share'].value">
                            <datalist id="revenueShare">
                                <option value="0" selected>0</option>
                                <option [value]="item" *ngFor="let item of revenueShareRange"
                                    [disabled]="item>parentRevenueShare">
                                    {{ item }}
                                </option>
                            </datalist>
                            <!-- <span class="badge text-danger">佔成數不可超過{{parentRevenueShare}}</span> -->
                            <div class="text-danger my-auto ml-3"
                                *ngIf="myForm.controls['revenue_share'].hasError('max') || myForm.controls['revenue_share'].hasError('min')">
                                {{ 'manageAgent.form.rangeMustBe' | translate }} 0% ~ 100%</div>
                        </div>
                    </div>

                    <!-- <div class="form-group row">
                        <label class="col-md-4 text-md-right col-form-label" for="date-input">
                            {{ 'manageAgent.form.searchingAuthority' | translate }}
                        </label>
                        <div class="col-md-4 my-auto">
                            <label *ngIf="isParentOperationEmpty()">{{ 'noPermissionsAvailable' | translate }}</label>
                       
                            <label *ngIf="isExistOperation(AgentAuthority.OperationItemDonateList)"
                                class="radio-inline mx-1">
                                <input [checked]="getChecked(AgentAuthority.OperationItemDonateList)"
                                    [value]="AgentAuthority.OperationItemDonateList" type="checkbox"
                                    (change)="onCheckboxChange($event)"> {{ 'nav.donateRecordList' | translate }}
                            </label>
                            <label *ngIf="isExistOperation(AgentAuthority.OperationItemcalcItemResultList)"
                                class="radio-inline mx-1">
                                <input [checked]="getChecked(AgentAuthority.OperationItemcalcItemResultList)"
                                    [value]="AgentAuthority.OperationItemcalcItemResultList" type="checkbox"
                                    (change)="onCheckboxChange($event)"> {{ 'nav.gameRecordList' | translate }}
                            </label>
                            
                            <label *ngIf="isExistOperation(AgentAuthority.OperationItemReportRecordList)"
                                class="radio-inline mx-1">
                                <input [checked]="getChecked(AgentAuthority.OperationItemReportRecordList)"
                                    [value]="AgentAuthority.OperationItemReportRecordList" type="checkbox"
                                    (change)="onCheckboxChange($event)"> {{ 'nav.reportRecordList' | translate }}
                            </label>
                        </div>
                    </div> -->

                    <!-- <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">{{ 'manageAgent.form.remark' | translate
                            }}</label>
                        <div class="col-md-4 my-auto">
                            <textarea rows="5"
                                [ngClass]="{'is-invalid': myForm.controls['remark'].hasError('required') && myForm.controls['remark'].touched}"
                                [formControl]="myForm.controls['remark']" type="number" class="form-control">
                                </textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">{{ 'manageAgent.form.bank' | translate
                            }}</label>
                        <div class="col-md-4 my-auto">
                            <textarea rows="5"
                                [ngClass]="{'is-invalid': myForm.controls['bank_account'].hasError('required') && myForm.controls['bank_account'].touched}"
                                [formControl]="myForm.controls['bank_account']" type="number" class="form-control">
                                </textarea>
                        </div>
                    </div> -->

                    <!-- <div class="form-group row mt-3">
                        <label class="col-md-4 col-form-label text-md-right" for="date-input">
                            {{ 'manageAgent.accountStatus' | translate }}({{ 'common.inActive' | translate }}/{{
                            'common.active' | translate }})
                        </label>
                        <div class="col-md-4">
                            <label class="switch switch-3d switch-primary">
                                <input [formControl]="myForm.controls['status']" class="switch-input" type="checkbox">
                                <span class="switch-slider"></span>
                            </label>
                        </div>
                    </div> -->

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">
                            單注限額
                        </label>
                        <div class="col-md-4">
                            <app-single-bet-panel #singlePanel [isCreating]="true" [parent]="parent">
                            </app-single-bet-panel>
                        </div>
                    </div>



                </form>
            </div>
            <div class="card-footer">
                <button appDebounceClick (debounceClick)="submitForm(myForm.getRawValue())" type="submit"
                    class="btn btn-sm btn-golden"><i class="fa fa-dot-circle-o"></i>
                    {{ 'common.confirm' | translate }}</button>
                <button (click)="cancel()" type="reset" class="btn btn-sm btn-danger ml-1"><i class="fa fa-ban"></i>
                    {{ 'common.cancel' | translate }}</button>
            </div>
        </div>
    </div>
</div>

<app-allow-game [hidden]="true" #allowGame></app-allow-game>
<app-commission-setting [hidden]="true" #commissionSetting></app-commission-setting>