<div class="panel">
  <form [formGroup]="form">
    <div class="col-md-12">
      <div class="row text-center">
        <!-- <div class="col-3 box blue" [formGroup]="form.get('30')">
          <label class="col-form-label"> 小 </label>
          <div class="mt-2 yellow">
            <label class="col-form-label" (click)="onItemClick()"> {{ getValue('30','amount') }} </label>
          </div>
        </div> -->
        <div class="col-6 box blue" [formGroup]="form.get('27')">
          <label class="col-form-label"> {{ 'bet.PlayerPair' | translate }} </label>
          <div class="mt-2 yellow">
            <label class="col-form-label" (click)="onItemClick(27)"> {{ getValue('27','amount') }} </label>
          </div>
        </div>
        <div class="col-6 box red" [formGroup]="form.get('28')">
          <label class="col-form-label"> {{ 'bet.BankerPair' | translate }} </label>
          <div class="mt-2 yellow">
            <label class="col-form-label" (click)="onItemClick(28)"> {{ getValue('28','amount') }} </label>
          </div>
        </div>
        <!-- <div class="col-3 box red" [formGroup]="form.get('29')">
          <label class="col-form-label"> 大 </label>
          <div class="mt-2 yellow">
            <label class="col-form-label" (click)="onItemClick()"> {{ getValue('29','amount') }} </label>
          </div>
        </div> -->
      </div>
    </div>
    <div class="col-md-12">
      <div class="row text-center">
        <div class="col-4 box blue" [formGroup]="form.get('24')">
          <label class="col-form-label"> {{ 'bet.PlayerShort' | translate }} </label>
          <div class="mt-2 yellow">
            <label class="col-form-label" (click)="onItemClick(24)"> {{ getValue('24','amount') }} </label>
          </div>
        </div>
        <div class="col-4 box green" [formGroup]="form.get('26')">
          <label class="col-form-label"> {{ 'bet.Tie' | translate }} </label>
          <div class="mt-2 yellow">
            <label class="col-form-label" (click)="onItemClick(26)"> {{ getValue('26','amount') }} </label>
          </div>
        </div>
        <div class="col-4 box red" [formGroup]="form.get('25')">
          <label class="col-form-label"> {{ 'bet.BankerShort' | translate }} </label>
          <div class="mt-2 yellow">
            <label class="col-form-label" (click)="onItemClick(25)"> {{ getValue('25','amount') }} </label>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>