<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>遊戲設置</strong>
                </div>
                <div class="card-body">
                    <form [formGroup]="myForm" class="form-horizontal">

                        <div class="form-group row">
                            <label class="col-md-2 text-sm-right col-form-label">遊戲類型</label>
                            <div class="col-md-8">
                                <input
                                    [ngClass]="{'is-invalid': myForm.controls['game_type'].hasError('required') && myForm.controls['game_type'].touched}"
                                    [formControl]="myForm.controls['game_type']" type="text" class="form-control"
                                    placeholder="輸入名稱">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 text-sm-right col-form-label">項目類型</label>
                            <div class="col-md-8">
                                <input
                                    [ngClass]="{'is-invalid': myForm.controls['item_type'].hasError('required') && myForm.controls['item_type'].touched}"
                                    [formControl]="myForm.controls['item_type']" type="text" class="form-control"
                                    placeholder="輸入名稱">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 text-sm-right col-form-label">限制類型</label>
                            <div class="col-md-8">
                                <input
                                    [ngClass]="{'is-invalid': myForm.controls['limit_type'].hasError('required') && myForm.controls['limit_type'].touched}"
                                    [formControl]="myForm.controls['limit_type']" type="text" class="form-control"
                                    placeholder="輸入名稱">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 text-sm-right col-form-label">數值</label>
                            <div class="col-md-8">
                                <input
                                    [ngClass]="{'is-invalid': myForm.controls['amount'].hasError('required') && myForm.controls['amount'].touched}"
                                    [formControl]="myForm.controls['amount']" type="text" class="form-control"
                                    placeholder="輸入名稱">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="card-footer">
                    <button (click)="submit(myForm.value)" type="submit" class="btn btn-sm btn-golden">
                        <i class="fa fa-dot-circle-o"></i>確定
                    </button>
                    <button (click)="cancel()" type="reset" class="btn btn-sm btn-danger ml-1">
                        <i class="fa fa-ban"></i>取消
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
