<div class="modal-header">
    <h4 class="modal-title pull-left">{{ 'common.searchRecord' | translate }} ({{ member?.nickname }})</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="table-responsive">
        <table class="col-md-12 table-striped" mat-table matSort [dataSource]="dataSource" matSortActive="created_at"
            matSortDirection="desc">

            <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'common.index' | translate }}
                </th>
                <td class="text-center" *matCellDef="let element">{{ element.index }}</td>
            </ng-container>

            <ng-container matColumnDef="game_number">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'searching.gameNumber' | translate }} </th>
                <td mat-cell *matCellDef="let element"> {{ element.game_number }}
                </td>
            </ng-container>

            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'report.totalDonate' | translate }} </th>
                <td mat-cell *matCellDef="let element"> {{element.amount }} </td>
            </ng-container>

            <ng-container matColumnDef="members_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'manageAgent.account' | translate }} / {{ 'manageAgent.nickname' | translate }}
                </th>
                <td mat-cell *matCellDef="let element"> {{element.member.account}} /
                    {{element.member.nickname}} </td>
            </ng-container>

            <ng-container matColumnDef="created_at">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'common.createdAt' | translate }} </th>
                <td mat-cell *matCellDef="let element">
                    {{element.created_at | date:'yyyy-MM-dd HH:mm:ss'}}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <div *ngIf="!dataSource.data.length" class="text-center m-3">
        {{ 'common.noData' | translate }}
    </div>

</div>
<mat-paginator [pageSize]="50" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
</mat-paginator>