.suit {
    font-weight: bolder;
    font-size: small;
}

.blue {
    color: #1596e7;
}

.red {
    color: #e74445;
}

.poker {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    background-size: 35px;
    background-repeat: no-repeat;
    background-image: url("assets/img/brand/poker_suits.png");
}

.spades {
    background-position: -2px -2px;
}

.hearts {
    background-position: -17px -2px;
}

.diamonds {
    background-position: -2px -17px;
}

.hearts+span,
.diamonds+span {
    color: #e74445;
}

.clubs {
    background-position: -17px -17px;
}

.ai-detect {
    color: black;
}

.card {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin: 0 3px;
    padding: 0 2px;
    background: #fff;
    width: 26px;
    height: 35px;
}

.card:nth-child(3) {
    transform: rotateZ(270deg);
}

.card div {
    position: absolute;
    bottom: 3px;
    right: 0;
}

.card span {
    font-family: sans-serif;
    font-size: 14px;
}