<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <!-- <i class="fa fa-align-justify"></i> -->
                    <button *ngIf="nodes.length" class="btn btn-sm btn-golden back" (click)="pop()">
                        返回
                    </button>
                    代理
                    <span *ngIf="current">
                        - <svg-icon src="./assets/img/svg/icon_proxy_login.svg" class="fillBlack"></svg-icon>
                        <h3 class="d-inline">{{ current.name }} {{ current.real_name }}</h3>
                    </span>

                    <div *ngIf="!nodes.length" class="float-right">
                        <a [routerLink]="['/top-agent']" class="btn btn-golden">
                            <svg-icon src="./assets/img/svg/icon_proxy_login.svg"></svg-icon>
                            {{ 'common.add' | translate }}
                        </a>
                        <!-- <a [routerLink]="['/agant-add-member', 0]" class="btn btn-golden">
                            <svg-icon src="./assets/img/svg/icon_member.svg"></svg-icon>
                            {{ 'common.add' | translate }}
                        </a> -->
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive col-md-12 mb-5 mt-3">


                        <!-- <button *ngIf="nodes.length" class="btn btn-golden">
                            <svg-icon src="./assets/img/svg/icon_proxy_login.svg"></svg-icon>代理
                        </button> -->

                        <table class="col-md-12 table-striped" mat-table [dataSource]="dataSource">

                            <ng-container matColumnDef="index">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'common.index' | translate }}
                                </th>
                                <td class="text-center" *matCellDef="let element;let i=index">{{ i+1 }}</td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'manageAgent.account' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <a *ngIf="!current"
                                        [routerLink]="['/top-agent-edit',element.id, element.parent_id]">
                                        {{ element.name }}
                                    </a>
                                    <span *ngIf="current">{{ element.name }}</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="real_name">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'manageAgent.name' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.real_name }} </td>
                            </ng-container>

                            <ng-container matColumnDef="wallet">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'manageAgent.balance' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.user_wallet?.dragon_tiger_wallet }} </td>
                            </ng-container>

                            <ng-container matColumnDef="wash_code_commission_percent">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'manageAgent.washCode' | translate }}(%) </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.wash_code_commission_percent }}% </td>
                            </ng-container>

                            <ng-container matColumnDef="revenue_share">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'manageAgent.revenueShare' | translate }}(%) </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.revenue_share }}% </td>
                            </ng-container>

                            <ng-container matColumnDef="function">
                                <th mat-header-cell *matHeaderCellDef>
                                    查看
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <button class="btn btn-sm btn-golden mr-2" (click)="view(element)">
                                            <svg-icon src="./assets/img/svg/icon_proxy_login.svg"></svg-icon>
                                            <span class="mr-2">{{ getChildCount(element.id) }}</span>
                                            <svg-icon src="./assets/img/svg/icon_member.svg"></svg-icon> {{
                                            getChildCount(element.id, true) }}
                                        </button>
                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator [hidden]="1" [pageSize]="50" [pageSizeOptions]="[5, 10, 20]"
                            showFirstLastButtons>
                        </mat-paginator>
                        <div *ngIf="loaded && !dataSource.data.length" class="text-center m-3">
                            {{ 'common.noData' | translate }}</div>

                        <div *ngIf="!loaded" class="text-center my-5">
                            <div class="lds-roller">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-my-member #myMember [showMember]="true" [addMember]="!nodes.length" [agentID]="current? current.id : loginID">
</app-my-member>