<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> 系統紀錄
                </div>
                <div class="card-body">
                    <mat-form-field class="col-md-3">
                        <mat-label>搜尋</mat-label>
                        <input matInput (keyup)="applyFilter($event)">
                    </mat-form-field>


                    <button mat-button class="btn btn-golden" (click)="searchByMember()"><i
                            class="fa fa-dot-circle-o"></i>會員</button>
                    <button mat-button class="btn btn-danger ml-1" (click)="searchByUser()"><i
                            class="fa fa-dot-circle-o"></i>成員</button>
                    <button mat-button class="btn btn-warning ml-1" (click)="clearAll()"><i
                            class="fa fa-dot-circle-o"></i>清除全部</button>

                    <div class="table-responsive">
                        <table class="col-md-12 table-striped" mat-table matSort [dataSource]="dataSource"
                            matSortActive="created_at" matSortDirection="desc">

                            <ng-container matColumnDef="driverID">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 名稱 </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ getRoleName(getRole(element.message.role), element.message.role_id) }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="role">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 身分 </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.message.role }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 類型 </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.message.type }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="IP">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 登入IP </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.ip }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="created_at">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> 建立時間 </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.created_at | date: 'yyyy-MM-dd HH:mm:ss' }} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>

                        </table>
                    </div>



                    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                    </mat-paginator>

                </div>
            </div>
        </div>
    </div>
</div>