<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> {{ 'nav.advancedSearching' | translate }}
                    <div class="result">
                        <span>{{ 'report.totalAmount' | translate }}:{{ betTotal  }}</span>
                        <span>{{ 'searching.totalCancelBet' | translate }}:{{ cancelBetTotal  }}</span>
                        <span>{{ 'searching.totalDonate' | translate }}:{{ donateTotal  }}</span>
                    </div>
                </div>
                <div class="card-body">

                    <mat-form-field class="col-md-3">
                        <mat-label>{{ 'common.search' | translate }}</mat-label>
                        <input matInput (keyup)="applyFilter($event)">
                    </mat-form-field>

                    <div class="select-group d-flex mb-2 col-12">
                        <select class="form-control col-6 col-md-2" (change)="selectGameType($event.target.value)">
                            <option [value]="null">{{ 'searching.allGames' | translate }}</option>
                            <option *ngFor="let item of GameType;let i = index" [value]="item.id" [disabled]="i!=0">
                                {{ getTranslatedGameName(item.en_name) }}
                            </option>
                        </select>

                        <select class="form-control ml-1 col-6 col-md-2" (change)="selectAction($event.target.value)"
                            [value]="3">
                            <!-- <option [value]="3" selected></option> -->
                            <option *ngFor="let item of action | keyvalue : compareFn" [value]="item.key">
                                {{ getTranslatedAction(item.key) }}
                            </option>
                        </select>
                    </div>

                    <div class="selectMonth d-flex mb-3 col-12">
                        <input type="date" class="form-control col-12 col-md-2 date" [(ngModel)]="startDateValue"
                            (change)="startDate($event.target.value)">
                        <span class="d-flex align-items-center none">&nbsp;&nbsp;~&nbsp;&nbsp;</span>
                        <input type="date" class="form-control col-12 col-md-2 date" [(ngModel)]="endDateValue"
                            (change)="endDate($event.target.value)">
                        <button type="submit" class="btn btn-sm btn-warning col-12 col-md-1 submit"
                            (click)="btnOK()">{{ 'common.submit' | translate }}</button>
                    </div>

                    <div class="btn-group mb-3 col-12 col-md-5">
                        <button type="submit" class="btn btn-sm btn-success ml-1"
                            (click)="searchToday()">{{ 'report.tody' | translate }}</button>
                        <button type="submit" class="btn btn-sm btn-golden ml-1"
                            (click)="searchYesterday()">{{ 'report.yesterday' | translate }}</button>
                        <button type="submit" class="btn btn-sm btn-secondary ml-1"
                            (click)="week()">{{ 'report.thisWeek' | translate }}</button>
                        <button type="submit" class="btn btn-sm btn-info ml-1"
                            (click)="lastWeek()">{{ 'report.lastWeek' | translate }}</button>
                        <button type="submit" class="btn btn-sm btn-warning ml-1"
                            (click)="month()">{{ 'report.thisMonth' | translate }}</button>
                        <button type="submit" class="btn btn-sm btn-dark ml-1"
                            (click)="lastMonth()">{{ 'report.lastMonth' | translate }}</button>
                        <!-- <button type="submit" class="btn btn-sm btn-light ml-1" (click)="searchAll()">全部</button> -->
                    </div>

                    <div class="table-responsive">

                        <table #sortByAgent="matSort" class="col-md-12 table-striped" mat-table matSort
                            [dataSource]="dataSource" matSortActive="created_at" matSortDirection="desc">

                            <ng-container matColumnDef="game_type">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'gameType' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <span *ngIf="GameType">
                                        {{ getGameTypeName(element.game_types_id) }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="game_number">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'searching.gameNumber' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.game_number }} </td>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'searching.action' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ getGameActionTypeByID(element.action) }} </td>
                            </ng-container>

                            <ng-container matColumnDef="amount">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'betAmount' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.amount }} </td>
                            </ng-container>

                            <ng-container matColumnDef="members_id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'manageAgent.member' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span *ngIf="Member">
                                        {{ getMemberName(element.members_id) }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="result">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'report.gameResultAmount' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span
                                        [ngClass]="{'text-danger': element.result==GameResultTypeEnum.Win,'text-success': element.result==GameResultTypeEnum.Loss}">
                                        {{ getGameResultTypeByID(element.result) }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="draw_result">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'drawResult' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.draw_result }} </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'searching.betStatus' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="result-status">
                                        {{ getGameStatusType(element.status) }}
                                        <!-- <span>{{ getGameStatusType(element.status) }}/</span>
                                        <button title="修改投注狀態" class="btn btn-golden btn-sm ml-1 status" type="button"
                                            (click)="updateStatusFinish(element.id, element.status)">
                                            <span class="badge">
                                                正常
                                            </span>
                                        </button>
                                        <button title="修改投注狀態" class="btn btn-warning btn-sm ml-1 status" type="button"
                                            (click)="updateStatusUnusual(element.id, element.status)">
                                            <span class="badge">
                                                異常
                                            </span>
                                        </button>
                                        <button title="修改投注狀態" class="btn btn-danger btn-sm ml-1 status" type="button"
                                            (click)="updateStatusDeleted(element.id, element.status)">
                                            <span class="badge">
                                                刪除
                                            </span>
                                        </button> -->
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="created_at">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'common.createdAt' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.created_at | date: 'yyyy-MM-dd HH:mm:ss'}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <div *ngIf="!dataSource.data.length" class="text-center m-3">{{ 'common.noData' | translate }}
                        </div>
                        <mat-paginator #paginatorOfAgent [pageSize]="50" [pageSizeOptions]="[5, 10, 20]"
                            showFirstLastButtons>
                        </mat-paginator>
                        <div *ngIf="!data" class="text-center my-5">
                            <div class="lds-roller">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>