<mat-form-field class="col-md-3">
    <mat-label>
        {{ 'manageAgent.searchAccount' | translate }}/{{ 'manageAgent.name' | translate }}
    </mat-label>
    <input matInput (keyup)="applyFilter($event)">
</mat-form-field>

<table #sortOfMember="matSort" class="col-md-12 table-striped" mat-table matSort [dataSource]="dataSourceOfMember"
    matSortActive="account" matSortDirection="desc">

    <ng-container matColumnDef="account">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'manageAgent.account' | translate }} / {{ 'manageAgent.name' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
            <span class="clickable" (click)="openMemberTimelyBet(element)">
                {{element.account}} / {{element.name}}
            </span>
        </td>
    </ng-container>

    <ng-container matColumnDef="ip">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'manageAgent.lastLogin' | translate }}{{ 'manageAgent.date' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
            {{ element.last_login_at }}
        </td>
    </ng-container>

    <ng-container matColumnDef="updated_at">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'common.updatedAt' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.updated_at | date: 'yyyy-MM-dd HH:mm:ss' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="is_allow_play">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'manageAgent.memberStatus' | translate }} </th>
        <td class="text-center align-bottom" mat-cell *matCellDef="let element">
            <label class="switch switch-sm switch-3d switch-primary">
                <input (change)="changeMemberAllowGame(element)" [checked]="element.is_allow_play==Status.Active"
                    class="switch-input" type="checkbox" [disabled]="!checkAllowChange(element)">
                <span class="switch-slider"></span>
            </label>
        </td>
    </ng-container>

    <ng-container matColumnDef="modal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'nav.drawSettings' | translate }} </th>
        <td mat-cell *matCellDef="let element">
            <button type="button" class="btn btn-sm btn-golden" (click)="openMemberTimelyBet(element)">
                <span class="badge">{{ 'common.view' | translate }}</span>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsOfMember"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsOfMember;"></tr>
</table>
<div *ngIf="!dataSourceOfMember.data.length" class="text-center m-5">
    {{ 'common.noData' | translate }}
</div>
<mat-paginator #paginatorOfMember [pageSize]="50" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
</mat-paginator>