<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> {{ 'nav.manageMember' | translate }}
                </div>
                <div class="card-body">
                    <mat-form-field class="col-md-3">
                        <mat-label>
                            {{ 'manageAgent.searchAccount' | translate }}/{{ 'manageAgent.name' | translate }}
                        </mat-label>
                        <input matInput (keyup)="applyFilter($event)">
                    </mat-form-field>

                    <div class="table-responsive">
                        <table class="col-md-12 table-striped" mat-table matSort [dataSource]="dataSource"
                            matSortActive="id" matSortDirection="asc">

                            <ng-container matColumnDef="index">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'common.index' | translate }}
                                </th>
                                <td class="text-center" *matCellDef="let element">{{ element.index }}</td>
                            </ng-container>

                            <ng-container matColumnDef="account">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'manageAgent.account' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.account }} </td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'manageAgent.name' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.name }} </td>
                            </ng-container>

                            <ng-container matColumnDef="nickname">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'manageAgent.nickname' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.nickname }} </td>
                            </ng-container>

                            <ng-container matColumnDef="wallet">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'manageAgent.balance' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.wallet }} </td>
                            </ng-container>

                            <ng-container matColumnDef="wash_code_commission_percent">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'manageAgent.washCode' | translate }}(%) </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.wash_code_commission_percent }}% </td>
                            </ng-container>

                            <ng-container matColumnDef="is_online">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'manageAgent.online' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span *ngIf="element.is_online == Status.Active" class="badge badge-success">{{
                                        'manageAgent.yes' | translate }}</span>
                                    <span *ngIf="element.is_online == Status.InActive" class="badge badge-danger">{{
                                        'manageAgent.no' | translate }}</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="is_play_game">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'game.gaming' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span *ngIf="element.is_play_game==Status.Active" class="badge badge-success">{{
                                        'manageAgent.yes' | translate }}</span>
                                    <span *ngIf="element.is_play_game==Status.InActive" class="badge badge-danger">{{
                                        'manageAgent.no' | translate }}</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="is_allow_play">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'manageAgent.memberStatus' | translate }} </th>
                                <td class="text-center align-bottom" mat-cell *matCellDef="let element">
                                    <label class="switch switch-sm switch-3d switch-primary">
                                        <input (change)="changeMemberAllowGame(element)"
                                            [checked]="element.is_allow_play==Status.Active" class="switch-input"
                                            type="checkbox">
                                        <span class="switch-slider"></span>
                                    </label>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'manageAgent.accountStatus' | translate }} </th>
                                <td class="text-center align-bottom" mat-cell *matCellDef="let element">
                                    <label class="switch switch-sm switch-3d switch-primary">
                                        <input (change)="changeMemberStatus(element)"
                                            [checked]="element.status==Status.Active" class="switch-input"
                                            type="checkbox">
                                        <span class="switch-slider"></span>
                                    </label>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="ip">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'manageAgent.lastLogin' | translate }}{{ 'manageAgent.date' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <!-- {{ element.ip_address }} -->
                                    <span>
                                        {{ element.last_login_at }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="function">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'common.edit' | translate }}/{{ 'common.delete' | translate }} </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="d-flex align-items-center">
                                        <a title="{{ 'manageAgent.editAccount' | translate }}"
                                            [routerLink]="['/member-edit',element.id]"
                                            class="btn btn-sm d-flex align-items-center btn-golden ml-1"
                                            role="button"><i class="cui-note icons font-l d-block"></i>
                                            {{ 'common.edit' | translate }}
                                        </a>
                                        <button title="{{ 'manageAgent.deleteAccount' | translate }}"
                                            class="btn btn-sm d-flex align-items-center btn-danger ml-1" type="button"
                                            (click)="deleteMember(element.id)"><i
                                                class="cui-trash icons font-l d-block"></i>
                                            {{ 'common.delete' | translate }}
                                        </button>
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                    <mat-paginator [pageSize]="50" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>